In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import json
import datetime
import warnings

warnings.filterwarnings(action="ignore")
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import bs4
import requests
import time
import math
import random

pd.set_option('display.max_columns', None)

In [12]:
intersectioned_columns = ['longitude',
 'eta',
 'time_position_data_received',
 'timestamp',
 'remained_distance',
 'heading',
 'vessel_name',
 'speed',
 'time_difference',
 'navigation_info',
 'mmsi',
 'isnottoday',
 'CAPACITY',
 'imo',
 'estimated_fuel_consumption',
 'latitude',
 'destination',
 'time_voyage_data_received']

['longitude',
 'eta',
 'time_position_data_received',
 'timestamp',
 'remained_distance',
 'heading',
 'vessel_name',
 'speed',
 'time_difference',
 'navigation_info',
 'mmsi',
 'isnottoday',
 'CAPACITY',
 'imo',
 'estimated_fuel_consumption',
 'latitude',
 'destination',
 'time_voyage_data_received']

In [2]:
df1= pd.read_excel("확인용/busan_arriving_vessels 0830까지_4300.xlsx")
df1

,vessel_name,mmsi,imo,eta,destination,navigation_info,longitude,latitude,heading,speed,time_position_data_received,time_voyage_data_received,CAPACITY,time_difference,isnottoday,timestamp,remained_distance,fuel_class,estimated_fuel_consumption,predicted_ETA
0,MSC DAVAO III,370928000,9243241,7201130,KRPUS,under way using engine,123.3155,37.4732,NaN,11.8,2022-07-18 23:00:14,2022-07-19 01:35:45,2524,-1 days +21:24:29,0 days 14:20:21.767341,2022-07-19 13:20:35.767,566.662951,1,588.325627,NaT
1,MSC GIANNINA II,373579000,9289051,7211200,BUSAN SOUTH KOREA,moored,131.8791,43.0908,20.0,0.0,2022-07-19 04:17:31,2022-07-19 04:17:53,1736,-1 days +23:59:38,0 days 09:03:04.767341,2022-07-19 13:20:35.767,940.728114,1,NaN,NaT
2,HEUNG-A ULSAN,440120000,9128996,7190400,KRPUS,under way using engine,129.6435,34.6441,334.0,13.4,2022-07-19 04:19:06,2022-07-19 04:06:15,364,0 days 00:12:51,0 days 09:01:29.767341,2022-07-19 13:20:35.767,83.488785,1,94.813870,NaT
3,SINOKOR NIIGATA,441772000,9209908,7180230,KR PUS,under way using engine,128.9559,35.0011,64.0,12.9,2022-07-19 04:13:20,2022-07-19 04:04:17,550,0 days 00:09:03,0 days 09:07:15.767341,2022-07-19 13:20:35.767,12.914910,1,14.225581,NaT
4,COSCO PRINCE RUPERT,477351400,9448803,7190800,PUSAN,under way using engine,124.5745,34.1111,118.0,20.0,2022-07-19 02:31:48,2022-07-19 12:15:57,8158,-1 days +14:15:51,0 days 10:48:47.767341,2022-07-19 13:20:35.767,400.324577,4,1566.695740,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4391,YM WELLBEING,355563000,9820908,8290140,PUSAN NEW PORT,moored,128.8219,35.0773,91.0,0.1,2022-08-30 21:34:03,2022-08-30 09:34:13,14000,0 days 11:59:50,0 days 09:02:59.026232,2022-08-31 06:37:02.026,11.977788,0,2085.992444,NaT
4392,MSC AURIGA,255806338,9857183,8310400,BUSAN,under way using engine,128.7513,34.0172,24.0,13.9,2022-08-30 21:56:25,2022-08-30 10:00:15,15000,0 days 11:56:10,0 days 09:10:39.228691,2022-08-31 07:07:04.229,106.086197,0,332.130888,2022-08-31 02:03:25
4393,MSC VIRGO,255806340,9857171,8281200,KRPUS - USLAX,moored,-118.2743,33.7528,331.0,0.0,2022-08-30 22:05:33,2022-08-30 10:02:57,14300,0 days 12:02:36,0 days 09:01:31.228691,2022-08-31 07:07:04.229,9668.120011,0,NaN,NaT
4394,MSC SARA ELENA,255806499,9702261,8300445,KRPUS>CNSHA,moored,122.0323,30.6500,286.0,0.0,2022-08-30 21:59:26,2022-08-30 09:59:29,8800,0 days 11:59:57,0 days 09:07:38.228691,2022-08-31 07:07:04.229,795.286245,0,NaN,NaT
4395,YM WELLBEING,355563000,9820908,8290140,PUSAN NEW PORT,moored,128.8219,35.0772,91.0,0.1,2022-08-30 22:04:07,2022-08-30 09:58:12,14000,0 days 12:05:55,0 days 09:02:57.228691,2022-08-31 07:07:04.229,11.966670,0,2084.056262,NaT

In [3]:
df2= pd.read_csv("확인용/시간빠진것들/busan_arriving_vessel_시간정보 x, 9월 1일 이후_532, .csv")
df2

,vessel_name,tos_vessel_name,mmsi,imo,eta,destination,navigation_info,longitude,latitude,heading,speed,time_position_data_received,time_voyage_data_received,CAPACITY,time_difference,isnottoday,timestamp,remained_distance,fuel_class,estimated_fuel_consumption,predicted_ETA
0,RIODEJANEIRO EXPRESS,RIO DE JANEIRO EXPRESS,211111000,9508902,9150500,MX LZC > KR PUS,under way using engine,-146.5312,43.0744,294.0,18.2,18:59.0,36:18.0,0,0 days 02:42:41,0 days 09:07:17.608432,26:16.6,7053.435380,0,11355.52572,9/14/2022 23:33
1,UMM SALAL,UMM SALAL,215237000,9525857,9071200,CNTAO,at anchor,121.0677,35.7335,97.0,0.0,26:53.0,53:55.0,13296,-1 days +23:32:58,0 days 09:59:23.608432,26:16.6,707.948148,0,NaN,NaN
2,KUALA LUMPUR EXPRESS,KUALA LUMPUR EXPRESS,218284000,9343730,9040500,CL IQQ,moored,-70.1563,-20.2053,209.0,0.0,20:19.0,11:00.0,8606,0 days 00:09:19,0 days 09:05:57.608432,26:16.6,17535.142120,0,NaN,NaN
3,MSC LA SPEZIA,MSC LA SPEZIA,218400000,9461403,9100500,CAVAN,under way using engine,-126.0830,48.1475,253.0,0.6,23:44.0,19:36.0,14736,0 days 00:04:08,0 days 09:02:32.608432,26:16.6,8169.591585,0,237157.74440,7/9/2023 14:25
4,NAVIGARE COLLECTOR,NAVIGARE COLLECTOR,219059000,9779771,9060400,CLVAP,under way using engine,-72.9862,-34.8304,18.0,18.4,04:36.0,16:55.0,10100,0 days 00:47:41,0 days 09:21:40.608432,26:16.6,18030.413480,0,63858.99679,9/28/2022 7:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,COCHRANE,COCHRANE,636092793,9687540,9120900,MXZLO,under way using engine,-150.1199,43.2091,108.0,19.6,37:44.0,54:27.0,9326,0 days 16:43:17,0 days 09:06:09.457367,43:53.5,6779.926287,0,23727.85425,9/14/2022 19:23
527,CISNES,CISNES,636092799,9687576,9070200,KRPUS,under way using engine,128.9404,34.7586,340.0,10.2,42:44.0,36:11.0,9326,-1 days +12:06:33,0 days 09:01:09.457367,43:53.5,25.927700,0,62.69343,9/7/2022 2:04
528,COYHAIQUE,COYHAIQUE,636092814,9687588,9091201,MXLZC>PECLL,under way using engine,-86.9640,0.2779,137.0,17.3,04:47.0,29:04.0,9300,0 days 14:35:43,0 days 09:39:06.457367,43:53.5,14616.727980,0,44411.36508,9/26/2022 0:16
529,CONTI ANNAPURNA,CONTI ANNAPURNA,636092883,9286255,9061000,OPEN SEA => CNNGB,at anchor,122.8005,29.7885,86.0,0.1,10:40.0,50:18.0,8238,0 days 14:20:22,0 days 11:33:13.457367,43:53.5,806.731517,0,141675.31630,NaN
530,CONTI CHIVALRY,CONTI CHIVALRY,636093093,9293791,9061000,CN TAO > KR PUS,moored,128.8248,35.0774,90.0,0.0,43:30.0,31:33.0,8084,-1 days +12:11:57,0 days 09:00:23.457367,43:53.5,11.996725,0,NaN,NaN

In [4]:
df3= pd.read_csv("확인용/시간빠진것들/busan_arriving_vessels_2800_시간정보x.csv")
df3

,vessel_name,mmsi,imo,eta,destination,navigation_info,longitude,latitude,heading,speed,time_position_data_received,time_voyage_data_received,CAPACITY,time_difference,isnottoday,timestamp,remained_distance,fuel_class,estimated_fuel_consumption
0,MSC DAVAO III,370928000,9243241,7201130,KRPUS,under way using engine,123.3155,37.4732,NaN,11.8,00:14.0,35:45.0,2524,-1 days +21:24:29,0 days 14:20:21.767341,20:35.8,566.662951,1,588.325627
1,MSC GIANNINA II,373579000,9289051,7211200,BUSAN SOUTH KOREA,moored,131.8791,43.0908,20.0,0.0,17:31.0,17:53.0,1736,-1 days +23:59:38,0 days 09:03:04.767341,20:35.8,940.728114,1,NaN
2,HEUNG-A ULSAN,440120000,9128996,7190400,KRPUS,under way using engine,129.6435,34.6441,334.0,13.4,19:06.0,06:15.0,364,0 days 00:12:51,0 days 09:01:29.767341,20:35.8,83.488785,1,94.813870
3,SINOKOR NIIGATA,441772000,9209908,7180230,KR PUS,under way using engine,128.9559,35.0011,64.0,12.9,13:20.0,04:17.0,550,0 days 00:09:03,0 days 09:07:15.767341,20:35.8,12.914910,1,14.225581
4,COSCO PRINCE RUPERT,477351400,9448803,7190800,PUSAN,under way using engine,124.5745,34.1111,118.0,20.0,31:48.0,15:57.0,8158,-1 days +14:15:51,0 days 10:48:47.767341,20:35.8,400.324577,4,1566.695740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2803,VALUE,229467000,9628166,8200900,BUSAN NEW PORT KR,moored,120.2299,36.0113,233.0,0.0,47:30.0,42:22.0,516,0 days 12:05:08,0 days 09:03:24.235608,50:54.2,785.976203,0,NaN
2804,MSC PARIS,255803201,9301483,8200300,KRPUS>>MXZLO,under way using engine,-120.6365,28.4285,129.0,19.4,44:45.0,26:39.0,8204,0 days 12:18:06,0 days 09:06:09.235608,50:54.2,9880.392022,0,34726.425430
2805,MSC VIRGO,255806340,9857171,8250630,KRPUS - USLGB,under way using engine,173.9804,46.7946,86.0,19.5,30:48.0,32:53.0,14300,0 days 02:57:55,0 days 09:20:06.235608,50:54.2,3955.867457,0,18152.829920
2806,MSC ELA,353934000,9282259,8190100,CNTAO - KRPUS,under way using engine,121.4933,35.6567,NaN,12.0,43:54.0,59:14.0,4900,0 days 01:44:40,0 days 18:07:00.235608,50:54.2,668.959438,0,1206.748645
2807,VALUE,229467000,9628166,8200900,BUSAN NEW PORT KR,moored,120.2314,36.0115,232.0,0.1,36:02.0,37:09.0,516,0 days 11:58:53,0 days 09:15:01.567407,51:03.6,785.844324,0,46078.004010

In [5]:
df4= pd.read_csv("확인용/시간빠진것들/busan_arriving_vessels_new_256행부터 날짜 데이터 있음. 총 929개 행.csv")
df4

,vessel_name,tos_vessel_name,mmsi,imo,eta,destination,navigation_info,longitude,latitude,heading,speed,time_position_data_received,time_voyage_data_received,CAPACITY,tos_ETA,time_difference,isnottoday,timestamp,remained_distance,estimated_fuel_consumption,predicted_ETA
0,ZHUCHENGXINZHOU,ZHU CHENG XIN ZHOU,413556780,9252993,9080100,JPHKT,under way using engine,132.1057,33.1909,324.0,11.2,52:17.0,41:10.0,2524,00:00.0,-1 days +12:11:07,0 days 09:03:55.006420,56:12.0,361.515391,4.454449e+02,9/7/2022 18:17
1,MSC CHANNE,MSC CHANNE,255805864,9710438,9080200,CNSHA,under way using engine,119.5491,24.4544,51.0,10.7,48:50.0,03:33.0,8819,00:00.0,0 days 15:45:17,0 days 09:07:22.006420,56:12.0,1470.979767,3.493514e+03,9/10/2022 3:01
2,CONTI CHIVALRY,CONTI CHIVALRY,636093093,9293791,9061000,CN TAO > KR PUS,moored,128.8248,35.0775,90.0,0.0,52:33.0,55:35.0,8084,00:00.0,-1 days +11:56:58,0 days 09:03:39.006420,56:12.0,12.007836,NaN,NaN
3,AL DHAIL,AL DHAIL,538005843,9732307,9181100,EGSCN>>SGSIN,under way using engine,33.1165,28.4354,148.0,17.3,13:50.0,58:29.0,13586,00:00.0,0 days 17:15:21,0 days 13:42:22.006420,56:12.0,8716.213903,3.412870e+04,9/18/2022 4:15
4,CISNES,CISNES,636092799,9687576,9070200,KRPUS,under way using engine,128.9216,34.7948,338.0,11.8,55:05.0,54:13.0,9326,00:00.0,-1 days +12:00:52,0 days 09:01:07.006420,56:12.0,21.554904,5.227112e+01,9/7/2022 1:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,MSC ORION,MSC ORION,255806339,9857157,9041200,NINGBO,under way using engine,123.1066,29.6409,47.0,3.6,45:30.0,58:30.0,15000,00:00.0,0 days 00:47:00,0 days 09:07:39.825558,53:09.8,799.272749,3.967270e+03,9/12/2022 5:37
251,MSC LUCIANA,MSC LUCIANA,355283000,9398383,9080600,CNSHA,under way using engine,122.4653,28.1998,29.0,7.1,16:27.0,23:01.0,11668,00:00.0,0 days 00:53:26,0 days 09:36:42.825558,53:09.8,963.289033,2.777615e+03,9/10/2022 6:31
252,AMALTHEA,AMALTHEA,255805781,9397913,9061030,SGSIN AEW,at anchor,103.8043,1.2534,280.0,0.0,52:21.0,49:32.0,4178,00:00.0,0 days 00:02:49,0 days 09:00:48.825558,53:09.8,4556.688973,NaN,NaN
253,ZIM CHARLESTON,ZIM CHARLESTON,477714100,9461506,8290230,LKCMB ANCHORAGE,at anchor,79.7243,6.9353,278.0,0.1,47:35.0,46:02.0,8586,00:00.0,0 days 00:01:33,0 days 09:05:34.825558,53:09.8,5892.950510,1.017544e+06,NaN
254,MSC NATASHA,MSC NATASHA,636018385,9463035,9171100,JPYOK,under way using engine,-123.2331,30.8555,301.0,19.5,50:31.0,43:22.0,13092,00:00.0,0 days 01:07:09,0 days 09:02:38.825558,53:09.8,9515.363576,3.895037e+04,9/18/2022 5:18

In [6]:
df5 = pd.read_csv("확인용/busan_arriving_vessels_new_final 0908. 약 600개행.csv")
df5

,vessel_name,tos_vessel_name,mmsi,imo,eta,destination,navigation_info,longitude,latitude,heading,speed,time_position_data_received,time_voyage_data_received,CAPACITY,tos_ETA,tos_ETD,VOYAGE,DIS_QTY,LOAD_QTY,time_difference,isnottoday,timestamp,remained_distance,estimated_fuel_consumption,predicted_ETA
0,MSC VITA,MSC VITA,255806493,9702089,9070500,BUSAN,under way using engine,129.0034,34.7647,330.0,10.5,2022-09-07 16:07:56.000000,2022-09-07 04:07:33.000000,9000,2022-09-08 02:00:00.000000,2022-09-10 05:00:00.000000,MSVT001,274,2861,0 days 12:00:23,0 days 09:04:59.522076,2022-09-08 01:12:55.522076,28.297560,6.762456e+01,2022-09-07 17:34:56
1,UMM SALAL,UMM SALAL,215237000,9525857,9081200,CNTAO,under way using engine,124.9795,33.9184,101.0,13.7,2022-09-07 16:12:30.000000,2022-09-07 03:56:21.000000,13296,2022-09-09 00:00:00.000000,2022-09-09 22:00:00.000000,SLAX001,0,1290,0 days 12:16:09,0 days 09:00:25.522076,2022-09-08 01:12:55.522076,370.986949,1.065700e+03,2022-09-08 06:49:30
2,NAVIOS UTMOST,NAVIOS UTMOST,636012808,9302621,9111100,KRPUS,under way using engine,119.1112,24.2674,60.0,11.1,2022-09-07 16:12:28.000000,2022-09-07 03:46:51.000000,8204,2022-09-09 00:00:00.000000,2022-09-10 01:00:00.000000,MNUT004,500,800,0 days 12:25:37,0 days 09:00:27.522076,2022-09-08 01:12:55.522076,1513.705853,3.687014e+03,2022-09-10 17:50:28
3,XIN OU ZHOU,XIN OU ZHOU,413159000,9337913,9080900,KRPUS,under way using engine,127.9987,33.9627,61.0,14.8,2022-09-07 15:58:19.000000,2022-09-07 02:15:11.000000,8533,2022-09-09 11:00:00.000000,2022-09-10 05:00:00.000000,XIOZ003,405,645,0 days 13:43:08,0 days 09:14:36.522076,2022-09-08 01:12:55.522076,134.895133,3.490789e+02,2022-09-07 20:53:19
4,COSCO FOS,COSCO FOS,477947700,9484302,9101100,KRPUS,under way using engine,122.0905,38.0018,124.0,13.7,2022-09-07 16:05:39.000000,2022-09-07 03:55:08.000000,4253,2022-09-10 20:00:00.000000,2022-09-12 16:00:00.000000,CFOS018,1700,900,0 days 12:10:31,0 days 09:07:16.522076,2022-09-08 01:12:55.522076,689.352041,9.885374e+02,2022-09-08 19:15:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,ZIM CHARLESTON,ZIM CHARLESTON,477714100,9461506,8290230,LKCMB ANCHORAGE,at anchor,79.7244,6.9355,269.0,0.1,2022-09-08 00:17:33.000000,2022-09-07 11:58:01.000000,8586,2022-09-20 16:00:00.000000,2022-09-21 17:00:00.000000,ZMB9002,600,500,0 days 12:19:32,0 days 09:00:31.935884,2022-09-08 09:18:04.935884,5892.927910,1.017540e+06,NaN
863,MSC NATASHA,MSC NATASHA,636018385,9463035,9170500,JPYOK,under way using engine,-129.3898,33.9936,302.0,19.5,2022-09-08 00:13:08.000000,2022-09-08 12:01:22.000000,13092,2022-09-20 19:00:00.000000,2022-09-22 14:00:00.000000,MNTH005,2000,500,-1 days +12:11:46,0 days 09:04:56.935884,2022-09-08 09:18:04.935884,8844.034714,3.620234e+04,2022-09-18 05:06:08
864,HMM RAON,HMM RAON,636020746,9869215,9071030,MYPKG,moored,101.2814,2.9125,30.0,0.0,2022-09-08 00:17:35.000000,2022-09-08 12:01:29.000000,16000,2022-09-21 10:00:00.000000,2022-09-22 17:00:00.000000,HORA002,1700,2000,-1 days +12:16:06,0 days 09:00:29.935884,2022-09-08 09:18:04.935884,4558.136015,NaN,NaN
865,VALIANT,VALIANT,229541000,9628178,9160800,JP YOK,under way using engine,-141.3253,39.1394,294.0,18.4,2022-09-08 00:11:43.000000,2022-09-07 10:03:29.000000,8827,2022-09-21 18:00:00.000000,2022-09-22 14:00:00.000000,VLIX007,1200,400,0 days 14:08:14,0 days 09:06:21.935884,2022-09-08 09:18:04.935884,7638.234411,2.426909e+04,2022-09-17 08:19:43
866,MSC MADELEINE,MSC MADELEINE,353728000,9305702,9110330,CNDCB,under way using engine,140.0112,30.9858,256.0,19.4,2022-09-07 10:35:06.000000,2022-09-04 01:37:13.000000,9133,2022-09-21 23:00:00.000000,2022-09-23 00:00:00.000000,MMDL003,1000,500,3 days 08:57:53,0 days 22:42:58.935884,2022-09-08 09:18:04.935884,1133.165302,3.882145e+03,2022-09-08 18:07:06

In [7]:
df6 = pd.read_csv("확인용/busan_arriving_vessels_new_final.csv")
df6

,vessel_name,tos_vessel_name,mmsi,imo,eta,destination,navigation_info,longitude,latitude,heading,speed,time_position_data_received,time_voyage_data_received,CAPACITY,tos_ETA,tos_ETD,VOYAGE,DIS_QTY,LOAD_QTY,time_difference,isnottoday,timestamp,remained_distance,estimated_fuel_consumption,predicted_ETA
0,MSC VITA,MSC VITA,255806493,9702089,9070500,BUSAN,under way using engine,129.0034,34.7647,330.0,10.5,2022-09-07 16:07:56.000000,2022-09-07 04:07:33.000000,9000,2022-09-08 02:00:00.000000,2022-09-10 05:00:00.000000,MSVT001,274,2861,0 days 12:00:23,0 days 09:04:59.522076,2022-09-08 01:12:55.522076,28.297560,67.624564,2022-09-07 17:34:56
1,UMM SALAL,UMM SALAL,215237000,9525857,9081200,CNTAO,under way using engine,124.9795,33.9184,101.0,13.7,2022-09-07 16:12:30.000000,2022-09-07 03:56:21.000000,13296,2022-09-09 00:00:00.000000,2022-09-09 22:00:00.000000,SLAX001,0,1290,0 days 12:16:09,0 days 09:00:25.522076,2022-09-08 01:12:55.522076,370.986949,1065.700405,2022-09-08 06:49:30
2,NAVIOS UTMOST,NAVIOS UTMOST,636012808,9302621,9111100,KRPUS,under way using engine,119.1112,24.2674,60.0,11.1,2022-09-07 16:12:28.000000,2022-09-07 03:46:51.000000,8204,2022-09-09 00:00:00.000000,2022-09-10 01:00:00.000000,MNUT004,500,800,0 days 12:25:37,0 days 09:00:27.522076,2022-09-08 01:12:55.522076,1513.705853,3687.013838,2022-09-10 17:50:28
3,XIN OU ZHOU,XIN OU ZHOU,413159000,9337913,9080900,KRPUS,under way using engine,127.9987,33.9627,61.0,14.8,2022-09-07 15:58:19.000000,2022-09-07 02:15:11.000000,8533,2022-09-09 11:00:00.000000,2022-09-10 05:00:00.000000,XIOZ003,405,645,0 days 13:43:08,0 days 09:14:36.522076,2022-09-08 01:12:55.522076,134.895133,349.078922,2022-09-07 20:53:19
4,COSCO FOS,COSCO FOS,477947700,9484302,9101100,KRPUS,under way using engine,122.0905,38.0018,124.0,13.7,2022-09-07 16:05:39.000000,2022-09-07 03:55:08.000000,4253,2022-09-10 20:00:00.000000,2022-09-12 16:00:00.000000,CFOS018,1700,900,0 days 12:10:31,0 days 09:07:16.522076,2022-09-08 01:12:55.522076,689.352041,988.537429,2022-09-08 19:15:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21752,MSC AGRIGENTO,MSC AGRIGENTO,357096000,9618276,9250400,SGSIN PEBGA,under way using engine,67.6494,-12.5608,50.0,15.8,2022-09-20 04:14:30.000000,2022-09-20 12:37:23.000000,8800,2022-10-01 17:00:00.000000,2022-10-02 18:00:00.000000,MAGI003,1700,1600,-1 days +15:37:07,0 days 09:06:46.420065,2022-09-20 13:21:16.420065,8324.915232,22828.278129,2022-10-02 00:43:30
21753,MSC JEWEL,MSC JEWEL,636019207,9842073,9190300,MANZANILLO SSA,under way using engine,-104.3429,18.6808,145.0,1.6,2022-09-20 04:20:30.000000,2022-09-19 06:33:40.000000,14336,2022-10-01 19:00:00.000000,2022-10-03 14:00:00.000000,MJEW005,2000,500,0 days 21:46:50,0 days 09:00:46.420065,2022-09-20 13:21:16.420065,11827.872164,129036.960115,2023-03-05 11:55:30
21754,SOUTHAMPTON EXPRESS,SOUTHAMPTON EXPRESS,219259000,9447885,9190100,SGSIN WPBGA,moored,103.7847,1.2739,121.0,0.0,2022-09-20 04:18:16.000000,2022-09-20 04:15:48.000000,13371,2022-10-01 21:00:00.000000,2022-10-03 22:00:00.000000,SPXX004,1700,2000,0 days 00:02:28,0 days 09:03:00.420065,2022-09-20 13:21:16.420065,4555.905828,NaN,NaN
21755,MSC SONIA,MSC SONIA,353160000,9404663,9270800,XINGANG,under way using engine,98.9314,4.5526,125.0,15.3,2022-09-19 23:40:53.000000,2022-09-19 06:39:01.000000,14036,2022-10-01 21:00:00.000000,2022-10-02 16:00:00.000000,MONA004,1200,1300,0 days 17:01:52,0 days 13:40:23.420065,2022-09-20 13:21:16.420065,4568.597441,15594.635753,2022-09-26 16:53:53
21756,MSC ANDREA F,MSC ANDREA F,636019887,9306275,9261200,RUPKC,under way using engine,156.9370,50.7534,48.0,10.7,2022-09-20 04:03:41.000000,2022-09-17 11:46:38.000000,1100,2022-10-03 14:00:00.000000,2022-10-04 08:00:00.000000,MNDR004,500,500,2 days 16:17:03,0 days 09:17:35.420065,2022-09-20 13:21:16.420065,2857.223649,2837.486134,2022-09-26 04:14:41

In [8]:
df7 = pd.read_csv("확인용/busan_arriving_vessels_new_final_1.csv")
df7

,vessel_name,tos_vessel_name,mmsi,imo,eta,destination,navigation_info,longitude,latitude,heading,speed,max_draught,time_position_data_received,time_voyage_data_received,CAPACITY,tos_ETA,tos_ETD,VOYAGE,DIS_QTY,LOAD_QTY,time_difference,isnottoday,timestamp,remained_distance,estimated_fuel_consumption,predicted_ETA
0,ZHUCHENGXINZHOU,ZHU CHENG XIN ZHOU,413556780,9252993.0,9231200,JPOSA,under way using engine,127.4252,33.9390,85.0,12.4,8.0,2022-09-20 04:50:36.000000,2022-09-17 10:51:37.000000,2524,2022-09-21 00:00:00.000000,2022-09-21 15:00:00.000000,MZXZ031,500,500,2 days 17:58:59,0 days 09:04:55.449643,2022-09-20 13:55:31.449643,171.679039,221.755791,2022-09-20 12:18:36
1,MSC KANOKO,MSC KANOKO,636019214,9842102.0,9200600,KRPUS,under way using engine,125.4184,32.9038,207.0,11.5,13.0,2022-09-19 21:59:10.000000,2022-09-18 12:52:34.000000,14336,2022-09-21 01:00:00.000000,2022-09-22 02:00:00.000000,MKAO005,1199,86,1 days 09:06:36,0 days 15:56:21.449643,2022-09-20 13:55:31.449643,388.813185,1088.582901,2022-09-20 16:14:10
2,OOCL NEW YORK,OOCL NEW YORK,477274700,9198109.0,9200900,KP PUS,under way using engine,127.9110,33.7376,149.0,1.8,10.0,2022-09-20 00:35:34.000000,2022-09-19 03:19:52.000000,5770,2022-09-21 06:00:00.000000,2022-09-21 17:00:00.000000,OONW001,766,241,0 days 21:15:42,0 days 13:19:57.449643,2022-09-20 13:55:31.449643,160.377572,981.103686,2022-09-22 00:41:34
3,MSC BERYL,MSC BERYL,357926000,9467392.0,9200900,BUSAN,under way using engine,125.5706,34.0615,116.0,13.2,14.0,2022-09-20 04:28:09.000000,2022-09-18 02:40:28.000000,12967,2022-09-21 06:00:00.000000,2022-09-22 00:00:00.000000,MBER006,1126,825,2 days 01:47:41,0 days 09:27:22.449643,2022-09-20 13:55:31.449643,314.306545,870.920244,2022-09-20 17:19:09
4,VALIANT,VALIANT,229541000,9628178.0,9200900,CN NBO,under way using engine,128.4482,28.5231,277.0,17.6,10.0,2022-09-20 03:15:38.000000,2022-09-20 01:33:31.000000,8827,2022-09-21 18:00:00.000000,2022-09-22 14:00:00.000000,VLIX007,1200,400,0 days 01:42:07,0 days 10:39:53.449643,2022-09-20 13:55:31.449643,717.676222,2174.527932,2022-09-21 01:16:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542108,MSC LISA,MSC LISA,353968000,9281279.0,12200400,CNYTN,under way using engine,-160.6666,15.3083,277.0,15.7,10.0,2022-11-25 00:24:50.000000,2022-11-24 10:28:55.000000,5059,2022-12-27 10:00:00.000000,2022-12-28 11:00:00.000000,MLLS005,1000,500,0 days 13:55:55,0 days 09:14:55.966633,2022-11-25 09:39:45.966633,7281.339759,15923.302512,2022-12-05 10:49:50
542109,SEASPAN BREEZE,SEASPAN BREEZE,477127900,9685358.0,11250905,BUENAVENTURA,under way using engine,-80.2886,1.0715,22.0,11.9,11.0,2022-11-25 00:03:04.000000,2022-11-23 11:42:41.000000,10100,2022-12-28 18:00:00.000000,2022-12-29 14:00:00.000000,OZRE009,1200,400,1 days 12:20:23,0 days 09:36:41.966633,2022-11-25 09:39:45.966633,14993.452015,38172.513096,2022-12-23 08:22:04
542110,MSC ELSA3,MSC ELSA 3,636016814,9123221.0,11201200,SHEKOU,at anchor,114.1077,22.1624,94.0,0.0,8.0,2022-11-25 00:30:41.000000,2022-11-25 12:15:15.000000,1730,2022-12-29 21:00:00.000000,2022-12-30 14:00:00.000000,MLSA002,200,200,-1 days +12:15:26,0 days 09:09:04.966633,2022-11-25 09:39:45.966633,2018.256148,NaN,NaN
542111,OOCL NEW YORK,OOCL NEW YORK,477274700,9198109.0,11251201,AESPA,under way using engine,103.8699,1.2112,55.0,9.3,13.0,2022-11-25 00:39:04.000000,2022-11-25 12:37:51.000000,5770,2022-12-30 16:00:00.000000,2022-12-31 12:00:00.000000,OONW003,600,500,-1 days +12:01:13,0 days 09:00:41.966633,2022-11-25 09:39:45.966633,4556.826099,7532.380713,2022-12-06 01:13:04
542112,SEASPAN OCEANIA,SEASPAN OCEANIA,477020300,9286009.0,11240800,CLLQN,moored,-72.9903,-36.7083,350.0,0.0,11.0,2022-11-25 00:38:14.000000,2022-11-25 12:38:09.000000,8468,2023-01-01 23:00:00.000000,2023-01-02 20:00:00.000000,SEOC005,600,600,-1 days +12:00:05,0 days 09:01:31.966633,2022-11-25 09:39:45.966633,18043.933998,NaN,NaN

In [9]:
df8 = pd.read_excel("확인용/vessel_busan_arriving_0907_500.xlsx")
df8

,vessel_name,tos_vessel_name,mmsi,imo,eta,destination,navigation_info,longitude,latitude,heading,speed,time_position_data_received,time_voyage_data_received,CAPACITY,tos_ETA,time_difference,isnottoday,timestamp,remained_distance,estimated_fuel_consumption,predicted_ETA
0,ZHUCHENGXINZHOU,ZHU CHENG XIN ZHOU,413556780,9252993,9080100,JPHKT,under way using engine,131.9043,33.6274,33.0,0.5,2022-09-07 07:00:59,2022-09-07 06:50:57,2524,2022-09-07 00:00:00,0 days 00:10:02,0 days 09:03:19.655286,2022-09-07 16:04:18.655,320.249767,4863.371058,2022-09-21 16:50:59
1,MSC CHANNE,MSC CHANNE,255805864,9710438,9080300,CNSHA,under way using engine,120.4326,25.3470,38.0,11.7,2022-09-07 06:56:10,2022-09-07 06:33:39,8819,2022-09-07 01:00:00,0 days 00:22:31,0 days 09:08:08.655286,2022-09-07 16:04:18.655,1338.538178,3191.604197,2022-09-09 20:42:10
2,CONTI CHIVALRY,CONTI CHIVALRY,636093093,9293791,9190100,KR PUS > US SEA,moored,128.8247,35.0774,89.0,0.0,2022-09-07 07:01:32,2022-09-07 06:55:25,8084,2022-09-07 07:00:00,0 days 00:06:07,0 days 09:02:46.655286,2022-09-07 16:04:18.655,11.996359,NaN,NaT
3,AL DHAIL,AL DHAIL,538005843,9732307,9181100,EGSCN>>SGSIN,under way using engine,35.2549,25.9237,145.0,16.7,2022-09-07 06:59:19,2022-09-07 06:02:07,13586,2022-09-07 10:00:00,0 days 00:57:12,0 days 09:04:59.655286,2022-09-07 16:04:18.655,8693.860591,32631.867315,2022-09-19 00:04:19
4,CISNES,CISNES,636092799,9687576,9070200,KRPUS,moored,128.8304,35.0775,90.0,0.0,2022-09-07 06:54:21,2022-09-07 06:57:20,9326,2022-09-07 11:00:00,-1 days +23:57:01,0 days 09:09:57.655286,2022-09-07 16:04:18.655,12.039310,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,MSC ORION,MSC ORION,255806339,9857157,9041200,NINGBO,under way using engine,123.0806,29.6539,337.0,1.3,2022-09-07 09:43:59,2022-09-07 07:16:30,15000,2022-09-19 16:00:00,0 days 02:27:29,0 days 13:36:52.444999,2022-09-07 23:20:51.445,799.819318,10727.945688,2022-09-21 05:55:59
669,MSC LUCIANA,MSC LUCIANA,355283000,9398383,9080600,CNSHA,under way using engine,122.9533,28.9129,331.0,0.3,2022-09-07 14:05:51,2022-09-07 01:10:53,11668,2022-09-19 17:00:00,0 days 12:54:58,0 days 09:15:00.444999,2022-09-07 23:20:51.445,871.358312,50506.400705,2022-11-11 22:24:51
670,AMALTHEA,AMALTHEA,255805781,9397913,9061030,SGSIN AEW,at anchor,103.8042,1.2542,264.0,0.1,2022-09-07 14:19:22,2022-09-07 02:16:58,4178,2022-09-19 19:00:00,0 days 12:02:24,0 days 09:01:29.444999,2022-09-07 23:20:51.445,4556.619324,357811.914697,NaT
671,ZIM CHARLESTON,ZIM CHARLESTON,477714100,9461506,8290230,LKCMB ANCHORAGE,at anchor,79.7244,6.9352,281.0,0.3,2022-09-07 14:17:35,2022-09-07 02:16:01,8586,2022-09-20 16:00:00,0 days 12:01:34,0 days 09:03:16.444999,2022-09-07 23:20:51.445,5892.948969,339184.436506,NaT
672,MSC NATASHA,MSC NATASHA,636018385,9463035,9171100,JPYOK,under way using engine,-125.9415,32.2391,302.0,19.8,2022-09-07 14:01:54,2022-09-07 01:21:04,13092,2022-09-20 19:00:00,0 days 12:40:50,0 days 09:18:57.444999,2022-09-07 23:20:51.445,9218.337792,38525.197313,2022-09-18 01:24:54

In [10]:
df1_columns = df1.columns
df2_columns = df2.columns
df3_columns = df3.columns
df4_columns = df4.columns
df5_columns = df5.columns
df6_columns = df6.columns
df7_columns = df7.columns
df8_columns = df8.columns
intersectioned_columns = list(
    (set(df1_columns)).intersection(
        set(df2_columns)).intersection(
            set(df3_columns)).intersection(set(df4_columns)).intersection(
                set(df5_columns)).intersection(set(df6_columns)).intersection(
                    set(df7_columns)).intersection(set(df8_columns)))

In [11]:
intersectioned_columns = list(
    (set(df1_columns)).intersection(
        set(df2_columns)).intersection(
            set(df3_columns)).intersection(set(df4_columns)).intersection(
                set(df5_columns)).intersection(set(df6_columns)).intersection(
                    set(df7_columns)).intersection(set(df8_columns)))

In [13]:
df_temp = df1[intersectioned_columns].append(
    
            df5[intersectioned_columns]).append(
                df6[intersectioned_columns]).append(
                    df7[intersectioned_columns]).append(
                        df8[intersectioned_columns])
df_temp.reset_index(drop=True, inplace=True)

In [14]:
df_temp

,longitude,eta,time_position_data_received,timestamp,remained_distance,heading,vessel_name,speed,time_difference,navigation_info,mmsi,isnottoday,CAPACITY,imo,estimated_fuel_consumption,latitude,destination,time_voyage_data_received
0,123.3155,7201130,2022-07-18 23:00:14,2022-07-19 13:20:35.767000,566.662951,NaN,MSC DAVAO III,11.8,-1 days +21:24:29,under way using engine,370928000,0 days 14:20:21.767341,2524,9243241.0,588.325627,37.4732,KRPUS,2022-07-19 01:35:45
1,131.8791,7211200,2022-07-19 04:17:31,2022-07-19 13:20:35.767000,940.728114,20.0,MSC GIANNINA II,0.0,-1 days +23:59:38,moored,373579000,0 days 09:03:04.767341,1736,9289051.0,NaN,43.0908,BUSAN SOUTH KOREA,2022-07-19 04:17:53
2,129.6435,7190400,2022-07-19 04:19:06,2022-07-19 13:20:35.767000,83.488785,334.0,HEUNG-A ULSAN,13.4,0 days 00:12:51,under way using engine,440120000,0 days 09:01:29.767341,364,9128996.0,94.813870,34.6441,KRPUS,2022-07-19 04:06:15
3,128.9559,7180230,2022-07-19 04:13:20,2022-07-19 13:20:35.767000,12.914910,64.0,SINOKOR NIIGATA,12.9,0 days 00:09:03,under way using engine,441772000,0 days 09:07:15.767341,550,9209908.0,14.225581,35.0011,KR PUS,2022-07-19 04:04:17
4,124.5745,7190800,2022-07-19 02:31:48,2022-07-19 13:20:35.767000,400.324577,118.0,COSCO PRINCE RUPERT,20.0,-1 days +14:15:51,under way using engine,477351400,0 days 10:48:47.767341,8158,9448803.0,1566.695740,34.1111,PUSAN,2022-07-19 12:15:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569801,123.0806,9041200,2022-09-07 09:43:59,2022-09-07 23:20:51.445000,799.819318,337.0,MSC ORION,1.3,0 days 02:27:29,under way using engine,255806339,0 days 13:36:52.444999,15000,9857157.0,10727.945688,29.6539,NINGBO,2022-09-07 07:16:30
569802,122.9533,9080600,2022-09-07 14:05:51,2022-09-07 23:20:51.445000,871.358312,331.0,MSC LUCIANA,0.3,0 days 12:54:58,under way using engine,355283000,0 days 09:15:00.444999,11668,9398383.0,50506.400705,28.9129,CNSHA,2022-09-07 01:10:53
569803,103.8042,9061030,2022-09-07 14:19:22,2022-09-07 23:20:51.445000,4556.619324,264.0,AMALTHEA,0.1,0 days 12:02:24,at anchor,255805781,0 days 09:01:29.444999,4178,9397913.0,357811.914697,1.2542,SGSIN AEW,2022-09-07 02:16:58
569804,79.7244,8290230,2022-09-07 14:17:35,2022-09-07 23:20:51.445000,5892.948969,281.0,ZIM CHARLESTON,0.3,0 days 12:01:34,at anchor,477714100,0 days 09:03:16.444999,8586,9461506.0,339184.436506,6.9352,LKCMB ANCHORAGE,2022-09-07 02:16:01
569805,-125.9415,9171100,2022-09-07 14:01:54,2022-09-07 23:20:51.445000,9218.337792,302.0,MSC NATASHA,19.8,0 days 12:40:50,under way using engine,636018385,0 days 09:18:57.444999,13092,9463035.0,38525.197313,32.2391,JPYOK,2022-09-07 01:21:04

In [69]:
df_temp_no_time = df2[intersectioned_columns].append(df3[intersectioned_columns]).append(
        df4[intersectioned_columns])
df_temp_no_time.reset_index(drop=True, inplace=True)

In [70]:
df_temp_no_time

,remained_distance,speed,time_voyage_data_received,destination,estimated_fuel_consumption,vessel_name,mmsi,navigation_info,isnottoday,timestamp,latitude,time_position_data_received,imo,heading,eta,CAPACITY,longitude,time_difference
0,0.000000,18.2,36:18.0,MX LZC > KR PUS,1.135553e+04,RIODEJANEIRO EXPRESS,211111000,under way using engine,0 days 09:07:17.608432,26:16.6,43.0744,18:59.0,9508902,294.0,9150500,0,-146.5312,0 days 02:42:41
1,0.000000,0.0,53:55.0,CNTAO,NaN,UMM SALAL,215237000,at anchor,0 days 09:59:23.608432,26:16.6,35.7335,26:53.0,9525857,97.0,9071200,13296,121.0677,-1 days +23:32:58
2,0.000000,0.0,11:00.0,CL IQQ,NaN,KUALA LUMPUR EXPRESS,218284000,moored,0 days 09:05:57.608432,26:16.6,-20.2053,20:19.0,9343730,209.0,9040500,8606,-70.1563,0 days 00:09:19
3,0.000000,0.6,19:36.0,CAVAN,2.371577e+05,MSC LA SPEZIA,218400000,under way using engine,0 days 09:02:32.608432,26:16.6,48.1475,23:44.0,9461403,253.0,9100500,14736,-126.0830,0 days 00:04:08
4,0.000000,18.4,16:55.0,CLVAP,6.385900e+04,NAVIGARE COLLECTOR,219059000,under way using engine,0 days 09:21:40.608432,26:16.6,-34.8304,04:36.0,9779771,18.0,9060400,10100,-72.9862,0 days 00:47:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3589,799.272749,3.6,58:30.0,NINGBO,3.967270e+03,MSC ORION,255806339,under way using engine,0 days 09:07:39.825558,53:09.8,29.6409,45:30.0,9857157,47.0,9041200,15000,123.1066,0 days 00:47:00
3590,963.289033,7.1,23:01.0,CNSHA,2.777615e+03,MSC LUCIANA,355283000,under way using engine,0 days 09:36:42.825558,53:09.8,28.1998,16:27.0,9398383,29.0,9080600,11668,122.4653,0 days 00:53:26
3591,4556.688973,0.0,49:32.0,SGSIN AEW,NaN,AMALTHEA,255805781,at anchor,0 days 09:00:48.825558,53:09.8,1.2534,52:21.0,9397913,280.0,9061030,4178,103.8043,0 days 00:02:49
3592,5892.950510,0.1,46:02.0,LKCMB ANCHORAGE,1.017544e+06,ZIM CHARLESTON,477714100,at anchor,0 days 09:05:34.825558,53:09.8,6.9353,47:35.0,9461506,278.0,8290230,8586,79.7243,0 days 00:01:33
3593,9515.363576,19.5,43:22.0,JPYOK,3.895037e+04,MSC NATASHA,636018385,under way using engine,0 days 09:02:38.825558,53:09.8,30.8555,50:31.0,9463035,301.0,9171100,13092,-123.2331,0 days 01:07:09

In [76]:
df_temp["timestamp"] = pd.to_datetime(df_temp["timestamp"])
df_temp["time_voyage_data_received"] = pd.to_datetime(df_temp["time_voyage_data_received"])
df_temp["time_position_data_received"] = pd.to_datetime(df_temp["time_position_data_received"])

In [78]:
df_temp.sort_values(by="timestamp").reset_index(inplace=True,drop=True)

In [83]:
df_temp = df_temp.loc[df_temp[["mmsi", "latitude", "longitude"]].drop_duplicates().index,:]
df_temp.reset_index(inplace=True,drop=True)

In [85]:
df_temp_no_time

,remained_distance,speed,time_voyage_data_received,destination,estimated_fuel_consumption,vessel_name,mmsi,navigation_info,isnottoday,timestamp,latitude,time_position_data_received,imo,heading,eta,CAPACITY,longitude,time_difference
0,0.000000,18.2,36:18.0,MX LZC > KR PUS,1.135553e+04,RIODEJANEIRO EXPRESS,211111000,under way using engine,0 days 09:07:17.608432,26:16.6,43.0744,18:59.0,9508902,294.0,9150500,0,-146.5312,0 days 02:42:41
1,0.000000,0.0,53:55.0,CNTAO,NaN,UMM SALAL,215237000,at anchor,0 days 09:59:23.608432,26:16.6,35.7335,26:53.0,9525857,97.0,9071200,13296,121.0677,-1 days +23:32:58
2,0.000000,0.0,11:00.0,CL IQQ,NaN,KUALA LUMPUR EXPRESS,218284000,moored,0 days 09:05:57.608432,26:16.6,-20.2053,20:19.0,9343730,209.0,9040500,8606,-70.1563,0 days 00:09:19
3,0.000000,0.6,19:36.0,CAVAN,2.371577e+05,MSC LA SPEZIA,218400000,under way using engine,0 days 09:02:32.608432,26:16.6,48.1475,23:44.0,9461403,253.0,9100500,14736,-126.0830,0 days 00:04:08
4,0.000000,18.4,16:55.0,CLVAP,6.385900e+04,NAVIGARE COLLECTOR,219059000,under way using engine,0 days 09:21:40.608432,26:16.6,-34.8304,04:36.0,9779771,18.0,9060400,10100,-72.9862,0 days 00:47:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3589,799.272749,3.6,58:30.0,NINGBO,3.967270e+03,MSC ORION,255806339,under way using engine,0 days 09:07:39.825558,53:09.8,29.6409,45:30.0,9857157,47.0,9041200,15000,123.1066,0 days 00:47:00
3590,963.289033,7.1,23:01.0,CNSHA,2.777615e+03,MSC LUCIANA,355283000,under way using engine,0 days 09:36:42.825558,53:09.8,28.1998,16:27.0,9398383,29.0,9080600,11668,122.4653,0 days 00:53:26
3591,4556.688973,0.0,49:32.0,SGSIN AEW,NaN,AMALTHEA,255805781,at anchor,0 days 09:00:48.825558,53:09.8,1.2534,52:21.0,9397913,280.0,9061030,4178,103.8043,0 days 00:02:49
3592,5892.950510,0.1,46:02.0,LKCMB ANCHORAGE,1.017544e+06,ZIM CHARLESTON,477714100,at anchor,0 days 09:05:34.825558,53:09.8,6.9353,47:35.0,9461506,278.0,8290230,8586,79.7243,0 days 00:01:33
3593,9515.363576,19.5,43:22.0,JPYOK,3.895037e+04,MSC NATASHA,636018385,under way using engine,0 days 09:02:38.825558,53:09.8,30.8555,50:31.0,9463035,301.0,9171100,13092,-123.2331,0 days 01:07:09

In [89]:
df_final = df_temp_no_time.append(df_temp)
df_final.reset_index(inplace=True, drop=True)

In [90]:
df_final = df_final.loc[df_final[["mmsi", "latitude", "longitude"]].drop_duplicates().index,:]
df_final.reset_index(inplace=True, drop=True)

In [93]:
df_final.drop(columns=["isnottoday","time_difference"], inplace=True)

In [95]:
df_final.to_csv("AIS_data_preprocessed_drop_dupl_1125.csv", encoding="utf-8 sig", header=True, index=False)

In [96]:
df_final

,remained_distance,speed,time_voyage_data_received,destination,estimated_fuel_consumption,vessel_name,mmsi,navigation_info,timestamp,latitude,time_position_data_received,imo,heading,eta,CAPACITY,longitude
0,0.000000,18.2,36:18.0,MX LZC > KR PUS,11355.525720,RIODEJANEIRO EXPRESS,211111000,under way using engine,26:16.6,43.0744,18:59.0,9508902.0,294.0,9150500,0,-146.5312
1,0.000000,0.0,53:55.0,CNTAO,NaN,UMM SALAL,215237000,at anchor,26:16.6,35.7335,26:53.0,9525857.0,97.0,9071200,13296,121.0677
2,0.000000,0.0,11:00.0,CL IQQ,NaN,KUALA LUMPUR EXPRESS,218284000,moored,26:16.6,-20.2053,20:19.0,9343730.0,209.0,9040500,8606,-70.1563
3,0.000000,0.6,19:36.0,CAVAN,237157.744400,MSC LA SPEZIA,218400000,under way using engine,26:16.6,48.1475,23:44.0,9461403.0,253.0,9100500,14736,-126.0830
4,0.000000,18.4,16:55.0,CLVAP,63858.996790,NAVIGARE COLLECTOR,219059000,under way using engine,26:16.6,-34.8304,04:36.0,9779771.0,18.0,9060400,10100,-72.9862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127710,672.321619,12.7,2022-09-07 08:51:32,CNSHA,1747.198305,CSCL WINTER,477117400,under way using engine,2022-09-07 23:20:51.445000,29.6953,2022-09-07 14:16:08,9645877.0,230.0,9070900,10036,125.3178
127711,871.358312,0.3,2022-09-07 01:10:53,CNSHA,50506.400705,MSC LUCIANA,355283000,under way using engine,2022-09-07 23:20:51.445000,28.9129,2022-09-07 14:05:51,9398383.0,331.0,9080600,11668,122.9533
127712,4556.619324,0.1,2022-09-07 02:16:58,SGSIN AEW,357811.914697,AMALTHEA,255805781,at anchor,2022-09-07 23:20:51.445000,1.2542,2022-09-07 14:19:22,9397913.0,264.0,9061030,4178,103.8042
127713,5892.948969,0.3,2022-09-07 02:16:01,LKCMB ANCHORAGE,339184.436506,ZIM CHARLESTON,477714100,at anchor,2022-09-07 23:20:51.445000,6.9352,2022-09-07 14:17:35,9461506.0,281.0,8290230,8586,79.7244
127714,9218.337792,19.8,2022-09-07 01:21:04,JPYOK,38525.197313,MSC NATASHA,636018385,under way using engine,2022-09-07 23:20:51.445000,32.2391,2022-09-07 14:01:54,9463035.0,302.0,9171100,13092,-125.9415