In [156]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import json
import datetime
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings(action="ignore")
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import bs4
import requests
import time
import math
import random
from shapely.geometry import Point, Polygon
import time as timesys
from pyproj import Geod
from haversine import haversine
pd.set_option('display.max_columns', None)

In [112]:
import os
 
path_dir = 'voy_path'
 
file_list = os.listdir(path_dir)
file_new_list = []
for i in file_list:
    if "portmis" in i:
        file_new_list.append(i)

In [127]:
pnit_berth_history = pd.read_excel('pnit_berth_history_2.xlsx')
pnit_berth_history

,선석,선사,모선항차,선사항차,Head (Bridge) Stern,선명,ROUTE,반입마감시한,접안(예정)일시,출항(예정)일시,양하,적하,Shift,상태
0,T3(P),HMM,HHST006,0033E/0033E,41 (49) 61,HYUNDAI SATURN,AN3E,2022-07-08 22:00:00,2022-07-09 10:40:00,2022-07-11 12:00:00,1805,2999,4,DEPARTED
1,T2(P),HLC,CAUX003,2215W/2226E,23 (31) 42,CAUTIN,AN1,2022-07-09 13:00:00,2022-07-10 00:40:00,2022-07-12 05:00:00,1279,2134,896,DEPARTED
2,T1(S),MSC,MGHE003,UK221R/FI227A,21 (08) 03,MSC ALGHERO,AS2,2022-07-10 02:00:00,2022-07-10 19:25:00,2022-07-12 18:00:00,1615,1510,12,DEPARTED
3,T3(P),HLC,TAYX003,022W/022W,41 (50) 63,TAYMA EXPRESS,AG3,2022-07-11 04:00:00,2022-07-11 14:15:00,2022-07-13 11:00:00,134,2731,52,DEPARTED
4,T2(P),ONE,OAKD002,2227E/2227E,23 (36) 42,AKADIMOS,AN1,2022-07-11 19:00:00,2022-07-12 07:00:00,2022-07-13 20:00:00,1253,2032,344,DEPARTED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,T3(P),MSC,MJSS001,FA303A/FA303A,-55,MSC JOSSELINE,ASPA2E,2023-01-29 08:00:00,2023-01-29 18:00:00,2023-01-30 16:00:00,1000,2400,0,PLANNED
431,OT(P),SKR,PCSG004,/,-66,PACIFIC SINGAPORE,SETO3,2023-01-29 11:00:00,2023-01-29 21:00:00,2023-01-30 08:00:00,80,80,0,PLANNED
432,T2(P),COS,XIOZ001,059E/059E,21 (35) 41,XIN OU ZHOU,WSA3,2023-01-29 14:00:00,2023-01-30 00:00:00,2023-01-30 20:00:00,600,600,100,PLANNED
433,T1(P),COH,CFOS005,2305E/2305W,-15,COSCO FOS,AK3,2023-01-30 02:00:00,2023-01-30 12:00:00,2023-02-01 03:00:00,1700,900,0,PLANNED
434,T3(P),MSC,MRUB001,FA250R/FA250R,-55,MSC RUBY,ASPA2W,2023-01-30 10:00:00,2023-01-30 20:00:00,2023-01-31 14:00:00,2000,500,0,PLANNED

In [128]:
pnit_berth_history = pnit_berth_history[pnit_berth_history["상태"] == "DEPARTED"]
pnit_berth_history

,선석,선사,모선항차,선사항차,Head (Bridge) Stern,선명,ROUTE,반입마감시한,접안(예정)일시,출항(예정)일시,양하,적하,Shift,상태
0,T3(P),HMM,HHST006,0033E/0033E,41 (49) 61,HYUNDAI SATURN,AN3E,2022-07-08 22:00:00,2022-07-09 10:40:00,2022-07-11 12:00:00,1805,2999,4,DEPARTED
1,T2(P),HLC,CAUX003,2215W/2226E,23 (31) 42,CAUTIN,AN1,2022-07-09 13:00:00,2022-07-10 00:40:00,2022-07-12 05:00:00,1279,2134,896,DEPARTED
2,T1(S),MSC,MGHE003,UK221R/FI227A,21 (08) 03,MSC ALGHERO,AS2,2022-07-10 02:00:00,2022-07-10 19:25:00,2022-07-12 18:00:00,1615,1510,12,DEPARTED
3,T3(P),HLC,TAYX003,022W/022W,41 (50) 63,TAYMA EXPRESS,AG3,2022-07-11 04:00:00,2022-07-11 14:15:00,2022-07-13 11:00:00,134,2731,52,DEPARTED
4,T2(P),ONE,OAKD002,2227E/2227E,23 (36) 42,AKADIMOS,AN1,2022-07-11 19:00:00,2022-07-12 07:00:00,2022-07-13 20:00:00,1253,2032,344,DEPARTED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,T1(P),MSC,MNIV001,HI301A/HI301A,01 (13) 18,MSC NISHA V,ORIGMA,2023-01-11 01:00:00,2023-01-11 11:00:00,2023-01-11 20:00:00,383,53,0,DEPARTED
376,T3(P),ONE,OZRE001,2301E/2301E,42 (57) 63,SEASPAN BREEZE,AN3E,2023-01-11 07:00:00,2023-01-11 17:15:00,2023-01-13 03:00:00,1407,2229,160,DEPARTED
377,T1(P),MSC,MSEN001,UX252A/UX252A,01 (14) 19,MSC ELENI,SANTA,2023-01-11 12:00:00,2023-01-11 22:25:00,2023-01-12 19:00:00,64,1567,12,DEPARTED
378,T2(P),MSC,MRGO002,FY301A/FY301A,18 (25) 40,MSC VIRGO,AFRICA,2023-01-12 01:00:00,2023-01-12 11:30:00,2023-01-13 13:00:00,1627,1247,0,DEPARTED
380,T2(S),MSC,MGNI001,HX252R/HX302A,51 (41) 39,MSC GIANNINA II,GHRS,2023-01-12 18:00:00,2023-01-13 04:50:00,2023-01-13 19:00:00,494,310,0,DEPARTED

In [120]:
port_mis_df = pd.read_csv("port_mis_processed.csv")
port_mis_df

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
0,부산,VRAD2,OSG ALPHA,2015,8,최종,외항,출항,"7,167",2015-09-24 16:00,2022-08-10 00:00,2015-09-24 19:00,2015-10-06 11:27,기타,15ANJSM0229,WAM,08,M박지 M8 묘지,DALIAN,MAIZURU,풀컨테이너선,NaN,17.0,NaN,N,N,NaN,NaN
1,부산,140025,한림,2015,23,최종,내항,출항,432,2015-09-25 11:40,2022-07-31 00:00,NaN,2015-10-08 10:25,기타,NaN,WAN,01,남외항 N-1박지,온산,제주,석유제품 운반선,5.0,2.0,NaN,N,N,NaN,NaN
2,부산,030968,삼원골드,2017,93,변경,내항,출항,790,2017-11-01 04:50,2023-01-11 23:00,NaN,NaN,기타,NaN,MW5,01,5물량장 1선석,기타항,기타항,석유제품 운반선,4.0,4.0,0.0,N,N,NaN,NaN
3,부산,D9JC,성신티3호,2019,7,최종,내항,출항,106.21,2019-03-21 12:50,2022-11-01 13:35,NaN,2022-11-02 09:45,기타,NaN,*LP,01,대평동호안,기타항,기타항,기타 예선,4.0,0.0,0.0,N,N,NaN,NaN
4,부산,UCXC,CAESAR,2019,2,변경,외항,출항,685,2019-12-29 15:17,2022-12-31 18:00,2022-12-31 18:00,NaN,기타,21TNICD005E,MYQ,01,기타 북항사설조선소,OCEAN DISTRICT,속초,냉동.냉장선,NaN,2.0,NaN,Y,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42633,부산,220031,말리,2023,1,최초,내항,입항,"2,692",2023-01-13 21:00,2023-01-14 05:00,NaN,NaN,기타,NaN,MBE,Q1,감만부두 동측안벽 1 선석,울산,대산,석유제품 운반선,8.0,8.0,0.0,Y,N,NaN,NaN
42634,부산,9HA4999,CMA CGM J ADAMS,2023,1,최종,외항,입항,"141,950",2023-01-13 21:00,2023-01-14 19:00,2023-01-13 21:00,NaN,기타,23CMAL0004I,MS5,04,신항 5부두 4선석,SHEKOU PT,YOKOHAMA,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
42635,부산,A8SI7,ZIM SAN DIEGO,2023,1,최종,외항,입항,"91,158",2023-01-13 21:00,2023-01-14 19:00,2023-01-13 21:00,NaN,기타,23ZIMU0020I,MSN,05,신항 2부두 2선석,"HOUSTON, TX",YANTIAN PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
42636,부산,3FNR5,DONG YU,2023,1,변경,외항,입항,"2,962",2023-01-13 23:00,2023-01-14 12:00,2023-01-13 23:30,NaN,기타,23SHSBM011I,WAN,03,남외항 N-3박지,SAKAISENBOKU,RIZHAO PT,일반화물선,NaN,13.0,NaN,N,N,NaN,NaN
42637,부산,9V6220,CAROLINE MAERSK,2023,1,변경,외항,입항,"92,198",2023-01-13 23:00,2023-01-14 21:00,2023-01-13 23:00,NaN,기타,23MAEU0035I,MSN,06,신항 2부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

In [132]:
pnit_berth_history[pnit_berth_history["선명"] == 'SEASPAN BRIGHTNESS']

,선석,선사,모선항차,선사항차,Head (Bridge) Stern,선명,ROUTE,반입마감시한,접안(예정)일시,출항(예정)일시,양하,적하,Shift,상태
20,T1(P),ONE,ORGS004,2228E/2228E,01 (16) 22,SEASPAN BRIGHTNESS,AN1,2022-07-20 01:00:00,2022-07-20 11:00:00,2022-07-22 05:00:00,1624,2396,6,DEPARTED
165,T3(P),ONE,ORGS005,2239E/2239E,42 (57) 63,SEASPAN BRIGHTNESS,AN1,2022-10-04 16:00:00,2022-10-05 02:25:00,2022-10-06 12:00:00,1263,1470,16,DEPARTED
335,T3(P),ONE,ORGS006,2251E/2251E,42 (57) 63,SEASPAN BRIGHTNESS,AN1,2022-12-25 14:00:00,2022-12-26 00:20:00,2022-12-27 02:00:00,515,2335,2,DEPARTED

In [125]:
for name in set(pnit_berth_history["선명"]):
    display(port_mis_df[port_mis_df["선명"] == name])

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
9134,부산,5LCL2,MSC NASSAU,2022,8,최종,외항,입항,"40,993",2022-08-24 18:20,2022-08-25 19:00,2022-08-24 18:00,2022-08-25 10:20,기타,22MSCU2124I,MSN,01,신항 1부두 1선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
9135,부산,5LCL2,MSC NASSAU,2022,8,최종,외항,출항,"40,993",2022-08-24 18:20,2022-08-25 19:00,2022-08-25 19:00,2022-08-26 10:04,기타,22MSCU0974E,MSN,01,신항 1부두 1선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
755,부산,VRNL9,SEASPAN BRIGHTNESS,2022,3,최종,외항,입항,"113,042",2022-07-20 10:50,2022-07-22 05:22,2022-07-20 11:00,2022-07-22 13:10,기타,22ONEY0865I,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
756,부산,VRNL9,SEASPAN BRIGHTNESS,2022,3,최종,외항,출항,"113,042",2022-07-20 10:50,2022-07-22 05:22,2022-07-22 05:00,2022-07-25 09:09,기타,22ONEY0866E,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
18312,부산,VRNL9,SEASPAN BRIGHTNESS,2022,4,최종,외항,입항,"113,042",2022-10-05 02:13,2022-10-06 12:03,2022-10-05 02:00,2022-10-06 09:04,기타,22ONEY1179I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
18313,부산,VRNL9,SEASPAN BRIGHTNESS,2022,4,최종,외항,출항,"113,042",2022-10-05 02:13,2022-10-06 12:03,2022-10-06 11:00,2022-10-07 08:34,기타,22ONEY1180E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
38205,부산,VRNL9,SEASPAN BRIGHTNESS,2022,5,최종,외항,입항,"113,042",2022-12-26 00:00,2022-12-27 02:03,2022-12-26 00:01,2022-12-27 09:41,기타,22ONEY1519I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
38206,부산,VRNL9,SEASPAN BRIGHTNESS,2022,5,최종,외항,출항,"113,042",2022-12-26 00:00,2022-12-27 02:03,2022-12-27 02:00,2022-12-27 14:18,기타,22ONEY1520E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
3037,부산,D5WP9,MSC ANDREA F,2022,2,최종,외항,입항,"9,957",2022-07-29 19:55,2022-07-30 14:54,2022-07-29 20:00,2022-08-01 08:21,기타,22MSCU4242I,MSN,01,신항 1부두 1선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,15.0,NaN,Y,Y,NaN,NaN
3038,부산,D5WP9,MSC ANDREA F,2022,2,최종,외항,출항,"9,957",2022-07-29 19:55,2022-07-30 14:54,2022-07-30 15:00,2022-08-01 08:29,기타,22MSCU0698E,MSN,01,신항 1부두 1선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,15.0,NaN,Y,Y,NaN,NaN
7800,부산,D5WP9,MSC ANDREA F,2022,3,최종,외항,입항,"9,957",2022-08-19 02:35,2022-08-19 11:50,2022-08-19 02:00,2022-08-22 08:20,기타,22MSCU4261I,MSN,02,신항 1부두 2선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,15.0,NaN,Y,Y,NaN,NaN
7801,부산,D5WP9,MSC ANDREA F,2022,3,최종,외항,출항,"9,957",2022-08-19 02:35,2022-08-19 11:50,2022-08-19 12:00,2022-08-22 09:26,기타,22MSCU0928E,MSN,02,신항 1부두 2선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
13590,부산,D5WP9,MSC ANDREA F,2022,4,최종,외항,출항,"9,957",2022-09-15 04:07,2022-09-15 18:01,2022-09-15 17:00,2022-09-16 10:54,기타,22MSCU1026E,MSN,01,신항 1부두 1선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
13591,부산,D5WP9,MSC ANDREA F,2022,4,최종,외항,입항,"9,957",2022-09-15 04:07,2022-09-15 18:01,2022-09-15 04:00,2022-09-15 09:08,기타,22MSCU4283I,MSN,01,신항 1부두 1선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
18298,부산,D5WP9,MSC ANDREA F,2022,5,최종,외항,입항,"9,957",2022-10-05 00:01,2022-10-05 08:15,2022-10-05 00:00,2022-10-05 08:57,기타,22MSCU4289I,MSN,01,신항 1부두 1선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
18299,부산,D5WP9,MSC ANDREA F,2022,5,최종,외항,출항,"9,957",2022-10-05 00:01,2022-10-05 08:15,2022-10-05 08:00,2022-10-05 10:24,기타,22MSCU1102E,MSN,01,신항 1부두 1선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
23338,부산,D5WP9,MSC ANDREA F,2022,6,최종,외항,입항,"9,957",2022-10-26 00:00,2022-10-26 12:00,2022-10-26 00:00,2022-10-26 10:43,기타,22MSCU4315I,MSN,03,신항 1부두 3선석,PETROPAVLOVSK-KAMCHATSKIY,VLADIVOSTOK,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
23339,부산,D5WP9,MSC ANDREA F,2022,6,최종,외항,출항,"9,957",2022-10-26 00:00,2022-10-26 12:00,2022-10-26 12:00,2022-10-26 13:28,기타,22MSCU1147E,MSN,03,신항 1부두 3선석,PETROPAVLOVSK-KAMCHATSKIY,VLADIVOSTOK,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
27277,부산,D5WP9,MSC ANDREA F,2022,7,최종,외항,입항,"9,957",2022-11-10 11:10,2022-11-10 19:31,2022-11-10 11:00,2022-11-10 12:45,기타,22MSCU4359I,MSN,01,신항 1부두 1선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
27278,부산,D5WP9,MSC ANDREA F,2022,7,최종,외항,출항,"9,957",2022-11-10 11:10,2022-11-10 19:31,2022-11-10 20:00,2022-11-11 08:51,기타,22MSCU2014E,MSN,01,신항 1부두 1선석,PETROPAVLOVSK-KAMCHATSKIY,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
34377,부산,D5WP9,MSC ANDREA F,2022,8,최종,외항,입항,"9,957",2022-12-08 13:45,2022-12-09 15:12,2022-12-08 14:00,2022-12-08 16:30,기타,22MSCU4374I,MSN,02,신항 1부두 2선석,HAKATA/FUKUOKA,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
34378,부산,D5WP9,MSC ANDREA F,2022,8,최종,외항,출항,"9,957",2022-12-08 13:45,2022-12-09 15:12,2022-12-09 16:00,2022-12-12 09:52,기타,22MSCU3011E,WAN,04,남외항 N-4박지,HAKATA/FUKUOKA,PETROPAVLOVSK-KAMCHATSKIY,풀컨테이너선,NaN,17.0,NaN,N,N,NaN,NaN
35259,부산,D5WP9,MSC ANDREA F,2022,9,최종,외항,출항,"9,957",2022-12-12 05:00,2022-12-12 19:50,2022-12-12 20:00,2022-12-13 09:08,기타,22MSCU3030E,MSN,02,신항 1부두 2선석,광양,HAKATA/FUKUOKA,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
35260,부산,D5WP9,MSC ANDREA F,2022,9,최종,외항,입항,"9,957",2022-12-12 05:00,2022-12-12 19:50,2022-12-12 05:00,2022-12-12 09:56,기타,22MSCU4404I,MSN,02,신항 1부두 2선석,광양,HAKATA/FUKUOKA,풀컨테이너선,NaN,17.0,NaN,Y,Y,NaN,NaN
42570,부산,D5WP9,MSC ANDREA F,2023,1,최종,외항,입항,"9,957",2023-01-13 04:54,2023-01-13 23:00,2023-01-13 05:00,2023-01-13 09:27,기타,23MSCU4027I,MSN,03,신항 1부두 3선석,HAKATA/FUKUOKA,HONG KONG,풀컨테이너선,NaN,18.0,NaN,Y,Y,NaN,NaN
42571,부산,D5WP9,MSC ANDREA F,2023,1,최종,외항,출항,"9,957",2023-01-13 04:54,2023-01-13 23:00,2023-01-13 23:00,NaN,기타,23MSCU0027E,MSN,03,신항 1부두 3선석,HAKATA/FUKUOKA,HONG KONG,풀컨테이너선,NaN,18.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
14550,부산,VRJS2,OOCL NEW YORK,2022,1,최종,외항,입항,"66,289",2022-09-21 06:04,2022-09-21 16:38,2022-09-21 06:04,2022-09-22 10:10,기타,22OOLU0161I,MSN,03,신항 1부두 3선석,KAOHSIUNG,TIANJIN XINGANG PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
14551,부산,VRJS2,OOCL NEW YORK,2022,1,최종,외항,출항,"66,289",2022-09-21 06:04,2022-09-21 16:38,2022-09-21 16:38,2022-09-22 10:32,기타,22OOLU0162E,MSN,03,신항 1부두 3선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
27568,부산,VRJS2,OOCL NEW YORK,2022,2,최종,외항,출항,"66,289",2022-11-11 14:10,2022-11-12 03:08,2022-11-12 03:08,2022-11-14 13:17,기타,22OOLU0204E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
27569,부산,VRJS2,OOCL NEW YORK,2022,2,최종,외항,입항,"66,289",2022-11-11 14:10,2022-11-12 03:08,2022-11-11 14:10,2022-11-14 11:02,기타,22OOLU0203I,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
39759,부산,VRJS2,OOCL NEW YORK,2022,3,최종,외항,출항,"66,289",2022-12-31 19:40,2023-01-01 10:52,2023-01-01 10:52,2023-01-02 10:21,기타,23OOLU9906E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
39760,부산,VRJS2,OOCL NEW YORK,2022,3,최종,외항,입항,"66,289",2022-12-31 19:40,2023-01-01 10:52,2022-12-31 19:40,2023-01-02 10:02,기타,22OOLU0249I,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
6796,부산,5LAK7,MSC ABY,2022,1,최종,외항,입항,"92,198",2022-08-14 14:10,2022-08-15 23:00,2022-08-14 14:00,2022-08-16 08:45,기타,22MSCU4222I,MSN,03,신항 1부두 3선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
6797,부산,5LAK7,MSC ABY,2022,1,최종,외항,출항,"92,198",2022-08-14 14:10,2022-08-15 23:00,2022-08-15 22:00,2022-08-16 08:54,기타,22MSCU0694E,MSN,03,신항 1부두 3선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
8146,부산,V7EP2,SEAMAX STRATFORD,2022,5,최종,외항,입항,"91,649",2022-08-20 11:05,2022-08-21 08:06,2022-08-20 11:05,2022-08-22 10:35,기타,22OOLU0145I,MSN,01,신항 1부두 1선석,SHANGHAI PT,TIANJIN PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
8147,부산,V7EP2,SEAMAX STRATFORD,2022,5,최종,외항,출항,"91,649",2022-08-20 11:05,2022-08-21 08:06,2022-08-21 08:06,2022-08-22 10:35,기타,22OOLU0146E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
20728,부산,V7EP2,SEAMAX STRATFORD,2022,6,최종,외항,출항,"91,649",2022-10-15 03:47,2022-10-15 20:03,2022-10-15 20:03,2022-10-17 09:47,기타,22OOLU0184E,MSN,02,신항 1부두 2선석,SHANGHAI PT,TIANJIN PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
20729,부산,V7EP2,SEAMAX STRATFORD,2022,6,최종,외항,입항,"91,649",2022-10-15 03:47,2022-10-15 20:03,2022-10-15 03:47,2022-10-17 09:38,기타,22OOLU0183I,MSN,02,신항 1부두 2선석,SHANGHAI PT,TIANJIN PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
33494,부산,V7EP2,SEAMAX STRATFORD,2022,7,최종,외항,출항,"91,649",2022-12-05 02:10,2022-12-05 19:00,2022-12-05 19:00,2022-12-06 10:28,기타,22OOLU0226E,MSN,01,신항 1부두 1선석,SHANGHAI PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
33495,부산,V7EP2,SEAMAX STRATFORD,2022,7,최종,외항,입항,"91,649",2022-12-05 02:10,2022-12-05 19:00,2022-12-05 02:10,2022-12-06 10:15,기타,22OOLU0225I,MSN,01,신항 1부두 1선석,SHANGHAI PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
36327,부산,BPBT,XIN NAN SHA,2022,1,최종,외항,출항,"41,482",2022-12-16 18:47,2022-12-17 11:55,2022-12-17 11:55,2022-12-19 11:04,기타,22COSU0197E,MSN,03,신항 1부두 3선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
36328,부산,BPBT,XIN NAN SHA,2022,1,최종,외항,입항,"41,482",2022-12-16 18:47,2022-12-17 11:55,2022-12-16 18:47,2022-12-19 10:53,기타,22COSU0197I,MSN,03,신항 1부두 3선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
17139,부산,5LCO2,MSC SOTIRIA III,2022,1,최종,외항,출항,"29,558",2022-09-30 09:12,2022-09-30 22:00,2022-09-30 22:00,2022-10-04 08:55,기타,22MSCU1059E,MSN,01,신항 1부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
17140,부산,5LCO2,MSC SOTIRIA III,2022,1,최종,외항,입항,"29,558",2022-09-30 09:12,2022-09-30 22:00,2022-09-30 09:00,2022-09-30 09:25,기타,22MSCU4298I,MSN,01,신항 1부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
7580,부산,D5NJ4,MSC RUBY,2022,5,최종,외항,입항,"141,754",2022-08-18 08:24,2022-08-20 11:00,2022-08-18 08:00,2022-08-22 08:14,기타,22MSCU3008I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
7581,부산,D5NJ4,MSC RUBY,2022,5,최종,외항,출항,"141,754",2022-08-18 08:24,2022-08-20 11:00,2022-08-20 10:00,2022-08-22 09:27,기타,22MSCU0923E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
25069,부산,D5NJ4,MSC RUBY,2022,6,최종,외항,출항,"141,754",2022-11-01 13:58,2022-11-03 06:18,2022-11-03 06:00,2022-11-03 08:53,기타,22MSCU1159E,WAN,05,남외항 N-5박지,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,28.0,NaN,N,N,NaN,NaN
25070,부산,D5NJ4,MSC RUBY,2022,6,최종,외항,입항,"141,754",2022-11-01 13:58,2022-11-03 06:18,2022-11-01 14:00,2022-11-02 09:08,기타,22MSCU3033I,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN
29436,부산,D5NJ4,MSC RUBY,2022,7,최종,외항,입항,"141,754",2022-11-18 17:00,2022-11-20 13:00,2022-11-18 17:00,2022-11-21 09:47,기타,22MSCU3044I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
29437,부산,D5NJ4,MSC RUBY,2022,7,최종,외항,출항,"141,754",2022-11-18 17:00,2022-11-20 13:00,2022-11-20 13:00,2022-11-21 09:47,기타,22MSCU2029E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
14178,부산,VRUN3,ONE ORINOCO,2022,1,최종,외항,출항,"114,643",2022-09-17 08:12,2022-09-21 10:05,2022-09-21 08:00,2022-09-21 15:14,기타,22ONEY1102E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
14179,부산,VRUN3,ONE ORINOCO,2022,1,최종,외항,입항,"114,643",2022-09-17 08:12,2022-09-21 10:05,2022-09-17 08:00,2022-09-21 08:57,기타,22ONEY1101I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
34174,부산,VRUN3,ONE ORINOCO,2022,2,최종,외항,입항,"114,643",2022-12-07 20:50,2022-12-09 10:00,2022-12-07 21:00,2022-12-08 16:30,기타,22ONEY1439I,MSN,03,신항 1부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
34175,부산,VRUN3,ONE ORINOCO,2022,2,최종,외항,출항,"114,643",2022-12-07 20:50,2022-12-09 10:00,2022-12-09 09:00,2022-12-12 09:49,기타,22ONEY1440E,MSN,03,신항 1부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
877,부산,3EBK6,MSC DAVAO III,2022,9,최종,외항,입항,"25,703",2022-07-20 22:00,2022-07-22 07:00,2022-07-20 22:00,2022-07-22 16:36,기타,22MSCU1138I,MSN,03,신항 1부두 3선석,QINGDAO,DALIAN,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
878,부산,3EBK6,MSC DAVAO III,2022,9,최종,외항,출항,"25,703",2022-07-20 22:00,2022-07-22 07:00,2022-07-22 07:00,2022-07-22 16:36,기타,22MSCU0651E,MSN,03,신항 1부두 3선석,QINGDAO,DALIAN,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
12991,부산,3EBK6,MSC DAVAO III,2022,10,최종,외항,출항,"25,703",2022-09-12 08:22,2022-09-13 08:55,2022-09-13 09:00,2022-09-13 15:46,기타,22MSCU1002E,MSN,01,신항 1부두 1선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
12992,부산,3EBK6,MSC DAVAO III,2022,10,최종,외항,입항,"25,703",2022-09-12 08:22,2022-09-13 08:55,2022-09-12 08:00,2022-09-13 09:57,기타,22MSCU4293I,MSN,01,신항 1부두 1선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
24940,부산,3EBK6,MSC DAVAO III,2022,11,최종,외항,입항,"25,703",2022-11-01 04:50,2022-11-01 19:00,2022-11-01 05:00,2022-11-01 09:15,기타,22MSCU4319I,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
24941,부산,3EBK6,MSC DAVAO III,2022,11,최종,외항,출항,"25,703",2022-11-01 04:50,2022-11-01 19:00,2022-11-01 19:00,2022-11-02 09:11,기타,22MSCU1156E,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
3533,부산,VRNL2,SEASPAN BRILLIANCE,2022,3,최종,외항,입항,"113,042",2022-07-31 20:00,2022-08-02 11:00,2022-07-31 20:00,2022-08-01 12:40,기타,22ONEY0925I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
3534,부산,VRNL2,SEASPAN BRILLIANCE,2022,3,최종,외항,출항,"113,042",2022-07-31 20:00,2022-08-02 11:00,2022-08-02 10:00,2022-08-02 14:03,기타,22ONEY0926E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
19882,부산,VRNL2,SEASPAN BRILLIANCE,2022,4,최종,외항,출항,"113,042",2022-10-12 02:10,2022-10-13 02:06,2022-10-13 01:00,2022-10-13 11:22,기타,22ONEY1220E,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
19883,부산,VRNL2,SEASPAN BRILLIANCE,2022,4,최종,외항,입항,"113,042",2022-10-12 02:10,2022-10-13 02:06,2022-10-12 02:00,2022-10-12 10:22,기타,22ONEY1219I,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
23145,부산,VRNL2,SEASPAN BRILLIANCE,2022,5,최종,외항,출항,"113,042",2022-10-25 07:00,2022-10-26 15:00,2022-10-26 14:00,2022-10-26 18:01,기타,22ONEY1256E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
23146,부산,VRNL2,SEASPAN BRILLIANCE,2022,5,최종,외항,입항,"113,042",2022-10-25 07:00,2022-10-26 15:00,2022-10-25 07:00,2022-10-26 10:46,기타,22ONEY1255I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
40507,부산,VRNL2,SEASPAN BRILLIANCE,2023,1,최종,외항,입항,"113,042",2023-01-04 04:20,2023-01-05 03:00,2023-01-04 01:00,2023-01-04 11:07,기타,23ONEY0019I,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
40508,부산,VRNL2,SEASPAN BRILLIANCE,2023,1,최종,외항,출항,"113,042",2023-01-04 04:20,2023-01-05 03:00,2023-01-05 01:00,2023-01-05 13:10,기타,23ONEY0020E,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
11557,부산,VROG7,SEASPAN BEAUTY,2022,4,최종,외항,출항,"113,042",2022-09-04 02:05,2022-09-04 20:02,2022-09-04 20:00,2022-09-05 15:15,기타,22ONEY1048E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
11558,부산,VROG7,SEASPAN BEAUTY,2022,4,최종,외항,입항,"113,042",2022-09-04 02:05,2022-09-04 20:02,2022-09-04 03:00,2022-09-05 11:35,기타,22ONEY1047I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
29671,부산,VROG7,SEASPAN BEAUTY,2022,5,최종,외항,출항,"113,042",2022-11-19 16:05,2022-11-20 13:24,2022-11-20 13:00,2022-11-21 13:09,기타,22ONEY1352E,MSN,02,신항 1부두 2선석,YANGSHAN,YOKOHAMA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
29672,부산,VROG7,SEASPAN BEAUTY,2022,5,최종,외항,입항,"113,042",2022-11-19 16:05,2022-11-20 13:24,2022-11-19 16:00,2022-11-21 13:09,기타,22ONEY1351I,MSN,02,신항 1부두 2선석,YANGSHAN,YOKOHAMA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
34415,부산,VROG7,SEASPAN BEAUTY,2022,6,최종,외항,입항,"113,042",2022-12-08 16:25,2022-12-09 23:10,2022-12-08 16:00,2022-12-12 09:06,기타,22ONEY1441I,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
34416,부산,VROG7,SEASPAN BEAUTY,2022,6,최종,외항,출항,"113,042",2022-12-08 16:25,2022-12-09 23:10,2022-12-09 21:00,2022-12-12 09:50,기타,22ONEY1442E,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
12431,부산,9HA2682,UMM SALAL,2022,2,최종,외항,입항,"141,077",2022-09-09 05:27,2022-09-09 22:44,2022-09-09 05:27,2022-09-13 09:50,기타,22HLCU5003I,MSN,03,신항 1부두 3선석,QINGDAO,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
12432,부산,9HA2682,UMM SALAL,2022,2,최종,외항,출항,"141,077",2022-09-09 05:27,2022-09-09 22:44,2022-09-09 22:44,2022-09-13 10:16,기타,22HLCU5003E,MSN,03,신항 1부두 3선석,QINGDAO,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
26960,부산,9HA2682,UMM SALAL,2022,3,최종,외항,입항,"141,077",2022-11-09 05:02,2022-11-10 13:54,2022-11-09 05:02,2022-11-09 09:25,기타,22HLCU5204I,MS4,01,신항 4부두 1선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
26961,부산,9HA2682,UMM SALAL,2022,3,최종,외항,출항,"141,077",2022-11-09 05:02,2022-11-10 13:54,2022-11-10 13:54,2022-11-11 09:06,기타,22HLCU5204E,MS4,02,신항 4부두 2선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
41221,부산,9HA2682,UMM SALAL,2023,1,최종,외항,입항,"141,077",2023-01-07 06:10,2023-01-08 08:58,2023-01-07 06:10,2023-01-09 09:11,기타,23HLCU5407I,MS4,01,신항 4부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
41222,부산,9HA2682,UMM SALAL,2023,1,최종,외항,출항,"141,077",2023-01-07 06:10,2023-01-08 08:58,2023-01-08 08:58,2023-01-09 09:17,기타,23HLCU5407E,MS4,01,신항 4부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
13252,부산,VRUN4,ONE AMAZON,2022,1,최종,외항,출항,"114,643",2022-09-13 11:35,2022-09-14 08:16,2022-09-14 12:00,2022-09-14 16:14,기타,22ONEY1100E,MSN,02,신항 1부두 2선석,YANGSHAN,TAICANG,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
13253,부산,VRUN4,ONE AMAZON,2022,1,최종,외항,입항,"114,643",2022-09-13 11:35,2022-09-14 08:16,2022-09-13 11:00,2022-09-14 09:05,기타,22ONEY1099I,MSN,02,신항 1부두 2선석,YANGSHAN,TAICANG,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
35255,부산,VRUN4,ONE AMAZON,2022,2,최종,외항,출항,"114,643",2022-12-12 04:10,2022-12-13 12:00,2022-12-13 11:00,2022-12-13 13:49,기타,22ONEY1466E,MSN,01,신항 1부두 1선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
35256,부산,VRUN4,ONE AMAZON,2022,2,최종,외항,입항,"114,643",2022-12-12 04:10,2022-12-13 12:00,2022-12-12 04:00,2022-12-13 13:47,기타,22ONEY1465I,MSN,01,신항 1부두 1선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
5250,부산,H9XU,MSC LUISA,2022,4,최종,외항,입항,"75,590",2022-08-08 00:30,2022-08-08 22:05,2022-08-08 01:00,2022-08-08 08:53,기타,22MSCU1156I,MSN,06,신항 2부두 3선석,YOKOHAMA,SHANGHAI,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
5251,부산,H9XU,MSC LUISA,2022,4,최종,외항,출항,"75,590",2022-08-08 00:30,2022-08-08 22:05,2022-08-08 22:00,2022-08-09 09:50,기타,22MSCU0911E,MSN,06,신항 2부두 3선석,YOKOHAMA,SHANGHAI,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
25750,부산,H9XU,MSC LUISA,2022,5,최종,외항,출항,"75,590",2022-11-04 01:00,2022-11-08 04:06,2022-11-08 03:00,2022-11-08 09:02,기타,22MSCU1165E,WAN,05,남외항 N-5박지,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,2.0,N,N,NaN,NaN
25751,부산,H9XU,MSC LUISA,2022,5,최종,외항,입항,"75,590",2022-11-04 01:00,2022-11-08 04:06,2022-11-04 01:00,2022-11-04 12:55,기타,22MSCU2175I,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
26419,부산,5LGH6,MSC NISHA,2022,8,최종,외항,입항,"41,899",2022-11-06 21:50,2022-11-07 14:51,2022-11-06 22:00,2022-11-07 15:09,기타,22MSCU3047I,MSN,01,신항 1부두 1선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
26420,부산,5LGH6,MSC NISHA,2022,8,최종,외항,출항,"41,899",2022-11-06 21:50,2022-11-07 14:51,2022-11-07 15:00,2022-11-08 09:01,기타,22MSCU2081E,MSN,01,신항 1부두 1선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
7082,부산,VRPF8,YM WELCOME,2022,4,최종,외항,출항,"145,136",2022-08-16 01:10,2022-08-18 03:00,2022-08-18 02:00,2022-08-18 10:10,기타,22YMLU0125E,MSN,03,신항 1부두 3선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
7083,부산,VRPF8,YM WELCOME,2022,4,최종,외항,입항,"145,136",2022-08-16 01:10,2022-08-18 03:00,2022-08-16 00:00,2022-08-16 08:47,기타,22YMLU0126I,MSN,03,신항 1부두 3선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
20458,부산,VRPF8,YM WELCOME,2022,5,최종,외항,입항,"145,136",2022-10-14 06:46,2022-10-16 04:05,2022-10-14 07:00,2022-10-14 10:14,기타,22YMLU0162I,MS4,02,신항 4부두 2선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
20459,부산,VRPF8,YM WELCOME,2022,5,최종,외항,출항,"145,136",2022-10-14 06:46,2022-10-16 04:05,2022-10-16 03:00,2022-10-17 09:49,기타,22YMLU0161E,MS4,02,신항 4부두 2선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
35559,부산,VRPF8,YM WELCOME,2022,6,최종,외항,출항,"145,136",2022-12-13 11:00,2022-12-14 19:13,2022-12-14 18:00,2022-12-15 09:40,기타,22YMLU0201E,MS4,01,신항 4부두 1선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
35560,부산,VRPF8,YM WELCOME,2022,6,최종,외항,입항,"145,136",2022-12-13 11:00,2022-12-14 19:13,2022-12-13 11:00,2022-12-13 13:09,기타,22YMLU0202I,MS4,01,신항 4부두 1선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
8052,부산,H3MJ,MSC ELA,2022,3,최종,외항,출항,"54,304",2022-08-20 04:00,2022-08-21 04:52,2022-08-21 05:00,2022-08-22 09:28,기타,22MSCU0966E,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
8053,부산,H3MJ,MSC ELA,2022,3,최종,외항,입항,"54,304",2022-08-20 04:00,2022-08-21 04:52,2022-08-20 04:00,2022-08-22 08:11,기타,22MSCU2126I,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
40429,부산,H3MJ,MSC ELA,2023,1,최종,외항,입항,"54,304",2023-01-03 18:12,2023-01-04 19:32,2023-01-03 18:00,2023-01-04 10:20,기타,23MSCU2021I,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
40430,부산,H3MJ,MSC ELA,2023,1,최종,외항,출항,"54,304",2023-01-03 18:12,2023-01-04 19:32,2023-01-04 19:00,2023-01-05 09:02,기타,23MSCU9001E,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
303,부산,9HA4529,CAPE ARTEMISIO,2022,4,최종,외항,출항,"112,836",2022-07-17 11:00,2022-07-19 00:48,2022-07-19 00:48,2022-07-19 09:00,기타,22HLCU4811E,MSN,02,신항 1부두 2선석,SHANGHAI,ENSENADA,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
27805,부산,5LBJ2,MSC ANAHITA,2022,1,최종,외항,출항,"68,570",2022-11-12 07:58,2022-11-13 13:09,2022-11-13 13:00,2022-11-14 08:55,기타,22MSCU2004E,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
27806,부산,5LBJ2,MSC ANAHITA,2022,1,최종,외항,입항,"68,570",2022-11-12 07:58,2022-11-13 13:09,2022-11-12 08:00,2022-11-14 08:49,기타,22MSCU4341I,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
7874,부산,D5QT6,MSC NOA,2022,2,최종,외항,입항,"76,486",2022-08-19 10:40,2022-08-20 08:04,2022-08-19 11:00,2022-08-22 08:20,기타,22MSCU2117I,MSN,07,신항 2부두 4선석,YANTIAN PT,BALBOA,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
7875,부산,D5QT6,MSC NOA,2022,2,최종,외항,출항,"76,486",2022-08-19 10:40,2022-08-20 08:04,2022-08-20 08:00,2022-08-22 09:27,기타,22MSCU0945E,MSN,07,신항 2부두 4선석,SHANGHAI,BALBOA,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
11209,부산,D5QT6,MSC NOA,2022,3,최종,외항,입항,"76,486",2022-09-02 04:13,2022-09-04 02:05,2022-09-02 04:00,2022-09-02 08:49,기타,22MSCU2129I,MSN,01,신항 1부두 1선석,VANCOUVER,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
11210,부산,D5QT6,MSC NOA,2022,3,최종,외항,출항,"76,486",2022-09-02 04:13,2022-09-04 02:05,2022-09-04 02:00,2022-09-05 15:19,기타,22MSCU0980E,MSN,01,신항 1부두 1선석,VANCOUVER,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
28676,부산,D5QT6,MSC NOA,2022,4,최종,외항,입항,"76,486",2022-11-16 05:30,2022-11-17 06:00,2022-11-16 06:00,2022-11-16 08:55,기타,22MSCU4342I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
28677,부산,D5QT6,MSC NOA,2022,4,최종,외항,출항,"76,486",2022-11-16 05:30,2022-11-17 06:00,2022-11-17 06:00,2022-11-17 10:02,기타,22MSCU2023E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
1694,부산,VRNJ2,SEASPAN BRAVO,2022,4,최종,외항,출항,"113,042",2022-07-24 13:45,2022-07-25 23:00,2022-07-25 23:00,2022-07-26 13:47,기타,22ONEY0896E,MSN,02,신항 1부두 2선석,MANZANILLO,HONG KONG,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
1695,부산,VRNJ2,SEASPAN BRAVO,2022,4,최종,외항,입항,"113,042",2022-07-24 13:45,2022-07-25 23:00,2022-07-24 12:00,2022-07-25 16:06,기타,22ONEY0895I,MSN,02,신항 1부두 2선석,MANZANILLO,HONG KONG,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
20384,부산,VRNJ2,SEASPAN BRAVO,2022,5,최종,외항,입항,"113,042",2022-10-13 22:05,2022-10-14 15:08,2022-10-13 22:00,2022-10-17 09:28,기타,22ONEY1213I,MSN,01,신항 1부두 1선석,YANGSHAN,YOKOHAMA,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
20385,부산,VRNJ2,SEASPAN BRAVO,2022,5,최종,외항,출항,"113,042",2022-10-13 22:05,2022-10-14 15:08,2022-10-14 15:00,2022-10-17 09:46,기타,22ONEY1214E,MSN,01,신항 1부두 1선석,YANGSHAN,YOKOHAMA,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
25503,부산,VRNJ2,SEASPAN BRAVO,2022,6,최종,외항,출항,"113,042",2022-11-03 05:09,2022-11-04 16:02,2022-11-04 14:00,2022-11-07 09:19,기타,22ONEY1284E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
25504,부산,VRNJ2,SEASPAN BRAVO,2022,6,최종,외항,입항,"113,042",2022-11-03 05:09,2022-11-04 16:02,2022-11-03 05:00,2022-11-04 12:55,기타,22ONEY1283I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
10020,부산,D5HE9,COCHRANE,2022,3,최종,외항,출항,"93,685",2022-08-28 12:00,2022-08-30 06:05,2022-08-30 06:05,2022-08-30 13:53,기타,22HLCU4925E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
10021,부산,D5HE9,COCHRANE,2022,3,최종,외항,입항,"93,685",2022-08-28 12:00,2022-08-30 06:05,2022-08-28 12:00,2022-08-29 16:00,기타,22HLCU4925I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
29902,부산,D5HE9,COCHRANE,2022,4,최종,외항,출항,"93,685",2022-11-20 17:00,2022-11-21 22:02,2022-11-21 22:02,2022-11-22 11:08,기타,22HLCU5218E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
29903,부산,D5HE9,COCHRANE,2022,4,최종,외항,입항,"93,685",2022-11-20 17:00,2022-11-21 22:02,2022-11-20 17:00,2022-11-22 11:08,기타,22HLCU5218I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
19703,부산,A8PS7,SONGA TIGER,2022,4,최종,외항,입항,"18,327",2022-10-11 10:18,2022-10-16 10:51,2022-10-11 10:30,2022-10-11 14:11,기타,22CCAS0282I,WAU,01,신항 U-1 정박지,광양,HONG KONG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
19704,부산,A8PS7,SONGA TIGER,2022,4,최종,외항,출항,"18,327",2022-10-11 10:18,2022-10-16 10:51,2022-10-16 10:00,2022-10-17 09:49,기타,22CCAS0282E,MS5,01,신항 5부두 1선석,광양,HONG KONG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
24044,부산,A8PS7,SONGA TIGER,2022,5,최종,외항,입항,"18,327",2022-10-28 11:22,2022-10-28 22:22,2022-10-28 11:00,2022-10-28 14:09,기타,22CCAS0285I,MSN,02,신항 1부두 2선석,KOBE,QUI NHON,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
24045,부산,A8PS7,SONGA TIGER,2022,5,최종,외항,출항,"18,327",2022-10-28 11:22,2022-10-28 22:22,2022-10-28 20:00,2022-10-31 14:18,기타,22CCAS0285E,MSN,02,신항 1부두 2선석,KOBE,QUI NHON,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
25008,부산,A8PS7,SONGA TIGER,2022,6,최종,외항,입항,"18,327",2022-11-01 08:40,2022-11-02 10:18,2022-11-01 09:00,2022-11-01 17:53,기타,22CCAS0311I,MS4,01,신항 4부두 1선석,광양,KOBE,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
25009,부산,A8PS7,SONGA TIGER,2022,6,최종,외항,출항,"18,327",2022-11-01 08:40,2022-11-02 10:18,2022-11-02 10:00,2022-11-03 12:56,기타,22CCAS0311E,WAN,04,남외항 N-4박지,광양,KOBE,풀컨테이너선,NaN,23.0,NaN,N,N,NaN,NaN
39743,부산,A8PS7,SONGA TIGER,2022,7,최종,외항,출항,"18,327",2022-12-31 17:46,2023-01-01 13:38,2023-01-01 13:00,2023-01-02 10:25,기타,23CCAS0028E,MS5,03,신항 5부두 3선석,광양,KOBE,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
39744,부산,A8PS7,SONGA TIGER,2022,7,최종,외항,입항,"18,327",2022-12-31 17:46,2023-01-01 13:38,2022-12-31 17:00,2023-01-02 09:14,기타,22CCAS0361I,MS5,03,신항 5부두 3선석,광양,KOBE,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
31295,부산,H3OB,MSC JASMINE,2022,1,최종,외항,출항,"31,430",2022-11-26 00:36,2022-11-27 00:00,2022-11-27 00:00,2022-11-28 17:28,기타,22MSCU2040E,MSN,03,신항 1부두 3선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
31296,부산,H3OB,MSC JASMINE,2022,1,최종,외항,입항,"31,430",2022-11-26 00:36,2022-11-27 00:00,2022-11-26 00:00,2022-11-28 09:04,기타,22MSCU4364I,MSN,03,신항 1부두 3선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
19503,부산,3FDW4,MSC VANDYA,2022,1,최종,외항,출항,"143,521",2022-10-10 08:08,2022-10-11 01:56,2022-10-11 02:00,2022-10-11 09:03,기타,22MSCU1105E,MSN,08,신항 2부두 5선석,SEATTLE,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
19504,부산,3FDW4,MSC VANDYA,2022,1,최종,외항,입항,"143,521",2022-10-10 08:08,2022-10-11 01:56,2022-10-10 08:00,2022-10-11 08:56,기타,22MSCU4308I,MSN,08,신항 2부두 5선석,SEATTLE,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
35791,부산,3FDW4,MSC VANDYA,2022,2,최종,외항,입항,"143,521",2022-12-14 12:50,2022-12-15 12:00,2022-12-14 12:00,2022-12-14 13:45,기타,22MSCU1263I,MSN,02,신항 1부두 2선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
35792,부산,3FDW4,MSC VANDYA,2022,2,최종,외항,출항,"143,521",2022-12-14 12:50,2022-12-15 12:00,2022-12-15 12:00,2022-12-15 14:38,기타,22MSCU3044E,MSN,02,신항 1부두 2선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
39613,부산,5LGH6,MSC NISHA V,2022,9,최종,외항,출항,"41,899",2022-12-31 06:43,2023-01-01 02:55,2023-01-01 03:00,2023-01-02 10:25,기타,23MSCU9018E,MSN,03,신항 1부두 3선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
39614,부산,5LGH6,MSC NISHA V,2022,9,최종,외항,입항,"41,899",2022-12-31 06:43,2023-01-01 02:55,2022-12-31 06:00,2023-01-02 09:13,기타,22MSCU3081I,MSN,03,신항 1부두 3선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
42230,부산,5LGH6,MSC NISHA V,2023,1,최종,외항,출항,"41,899",2023-01-11 10:48,2023-01-11 19:53,2023-01-11 20:00,2023-01-12 09:06,기타,23MSCU0013E,MSN,01,신항 1부두 1선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
42231,부산,5LGH6,MSC NISHA V,2023,1,최종,외항,입항,"41,899",2023-01-11 10:48,2023-01-11 19:53,2023-01-11 11:00,2023-01-11 13:51,기타,23MSCU3014I,MSN,01,신항 1부두 1선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
1174,부산,VRKR6,COSCO FOS,2022,12,최종,외항,입항,"40,447",2022-07-22 06:48,2022-07-23 17:56,2022-07-22 06:48,2022-07-25 09:02,기타,22COHEF229I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
1175,부산,VRKR6,COSCO FOS,2022,12,최종,외항,출항,"40,447",2022-07-22 06:48,2022-07-23 17:56,2022-07-23 17:56,2022-07-25 09:11,기타,22COHEF229E,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
3557,부산,VRKR6,COSCO FOS,2022,13,최종,외항,출항,"40,447",2022-08-01 01:03,2022-08-02 17:56,2022-08-02 17:56,2022-08-03 08:42,기타,22COHEF230E,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
3558,부산,VRKR6,COSCO FOS,2022,13,최종,외항,입항,"40,447",2022-08-01 01:03,2022-08-02 17:56,2022-08-01 01:03,2022-08-01 10:26,기타,22COHEF230I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
5700,부산,VRKR6,COSCO FOS,2022,14,최종,외항,출항,"40,447",2022-08-10 01:54,2022-08-11 14:54,2022-08-11 14:54,2022-08-12 09:03,기타,22COHEF231E,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
5701,부산,VRKR6,COSCO FOS,2022,14,최종,외항,입항,"40,447",2022-08-10 01:54,2022-08-11 14:54,2022-08-10 01:54,2022-08-11 08:59,기타,22COHEF231I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
7480,부산,VRKR6,COSCO FOS,2022,15,최종,외항,출항,"40,447",2022-08-17 19:55,2022-08-18 23:55,2022-08-18 23:55,2022-08-19 13:10,기타,22COHEF232E,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
7481,부산,VRKR6,COSCO FOS,2022,15,최종,외항,입항,"40,447",2022-08-17 19:55,2022-08-18 23:55,2022-08-17 19:55,2022-08-19 13:09,기타,22COHEF232I,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
9142,부산,VRKR6,COSCO FOS,2022,16,최종,외항,출항,"40,447",2022-08-24 18:42,2022-08-26 03:00,2022-08-26 03:00,2022-08-26 13:34,기타,22COHEF234E,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
9143,부산,VRKR6,COSCO FOS,2022,16,최종,외항,입항,"40,447",2022-08-24 18:42,2022-08-26 03:00,2022-08-24 18:42,2022-08-25 13:07,기타,22COHEF234I,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
10557,부산,VRKR6,COSCO FOS,2022,17,최종,외항,출항,"40,447",2022-08-30 19:35,2022-09-04 11:48,2022-09-04 11:48,2022-09-06 10:57,기타,22COHEF235E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
10558,부산,VRKR6,COSCO FOS,2022,17,최종,외항,입항,"40,447",2022-08-30 19:35,2022-09-04 11:48,2022-08-30 19:35,2022-08-31 12:25,기타,22COHEF235I,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
12817,부산,VRKR6,COSCO FOS,2022,18,최종,외항,출항,"40,447",2022-09-11 08:23,2022-09-15 03:52,2022-09-15 03:52,2022-09-15 13:09,기타,22COHEF236E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
12818,부산,VRKR6,COSCO FOS,2022,18,최종,외항,입항,"40,447",2022-09-11 08:23,2022-09-15 03:52,2022-09-11 08:23,2022-09-13 09:51,기타,22COHEF236I,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
15650,부산,VRKR6,COSCO FOS,2022,19,최종,외항,입항,"40,447",2022-09-24 14:15,2022-09-27 16:40,2022-09-24 14:15,2022-09-26 14:02,기타,22COHEF237I,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
15651,부산,VRKR6,COSCO FOS,2022,19,최종,외항,출항,"40,447",2022-09-24 14:15,2022-09-27 16:40,2022-09-27 16:40,2022-09-28 16:37,기타,22COHEF237E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
18278,부산,VRKR6,COSCO FOS,2022,20,최종,외항,입항,"40,447",2022-10-04 21:00,2022-10-06 19:50,2022-10-04 21:00,2022-10-05 15:51,기타,22COHEF239I,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
18279,부산,VRKR6,COSCO FOS,2022,20,최종,외항,출항,"40,447",2022-10-04 21:00,2022-10-06 19:50,2022-10-06 19:50,2022-10-07 08:34,기타,22COHEF239E,MBR,E1,신감만부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
19878,부산,VRKR6,COSCO FOS,2022,21,최종,외항,출항,"40,447",2022-10-12 00:50,2022-10-13 20:42,2022-10-13 20:42,2022-10-14 13:11,기타,22COHEF240E,MBR,E1,신감만부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
19879,부산,VRKR6,COSCO FOS,2022,21,최종,외항,입항,"40,447",2022-10-12 00:50,2022-10-13 20:42,2022-10-12 00:50,2022-10-12 11:19,기타,22COHEF240I,MSN,03,신항 1부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
21839,부산,VRKR6,COSCO FOS,2022,22,최종,외항,입항,"40,447",2022-10-19 20:05,2022-10-23 11:32,2022-10-19 20:05,2022-10-20 09:28,기타,22COHEF241I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
21840,부산,VRKR6,COSCO FOS,2022,22,최종,외항,출항,"40,447",2022-10-19 20:05,2022-10-23 11:32,2022-10-23 11:32,2022-10-24 11:18,기타,22COHEF241E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
24048,부산,VRKR6,COSCO FOS,2022,23,최종,외항,출항,"40,447",2022-10-28 11:42,2022-10-30 16:40,2022-10-30 16:40,2022-10-31 09:34,기타,22COHEF243E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
24049,부산,VRKR6,COSCO FOS,2022,23,최종,외항,입항,"40,447",2022-10-28 11:42,2022-10-30 16:40,2022-10-28 12:00,2022-10-28 14:10,기타,22COHEF243I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
25936,부산,VRKR6,COSCO FOS,2022,24,최종,외항,입항,"40,447",2022-11-04 17:50,2022-11-08 09:54,2022-11-04 17:50,2022-11-07 09:12,기타,22COHEF244I,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
25937,부산,VRKR6,COSCO FOS,2022,24,최종,외항,출항,"40,447",2022-11-04 17:50,2022-11-08 09:54,2022-11-08 09:54,2022-11-08 17:12,기타,22COHEF244E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
28312,부산,VRKR6,COSCO FOS,2022,25,최종,외항,출항,"40,447",2022-11-14 16:20,2022-11-16 07:55,2022-11-16 07:55,2022-11-16 09:20,기타,22COHEF245E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
28313,부산,VRKR6,COSCO FOS,2022,25,최종,외항,입항,"40,447",2022-11-14 16:20,2022-11-16 07:55,2022-11-14 16:20,2022-11-15 08:49,기타,22COHEF245I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
30182,부산,VRKR6,COSCO FOS,2022,26,최종,외항,출항,"40,447",2022-11-21 17:51,2022-11-24 02:08,2022-11-24 02:08,2022-11-24 13:48,기타,22COHEF246E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
30183,부산,VRKR6,COSCO FOS,2022,26,최종,외항,입항,"40,447",2022-11-21 17:51,2022-11-24 02:08,2022-11-21 17:51,2022-11-23 09:36,기타,22COHEF246I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
32215,부산,VRKR6,COSCO FOS,2022,27,최종,외항,입항,"40,447",2022-11-29 20:50,2022-12-01 04:42,2022-11-29 20:50,2022-11-30 12:59,기타,22COHEF248I,MSN,03,신항 1부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
32216,부산,VRKR6,COSCO FOS,2022,27,최종,외항,출항,"40,447",2022-11-29 20:50,2022-12-01 04:42,2022-12-01 04:42,2022-12-01 14:20,기타,22COHEF248E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
34527,부산,VRKR6,COSCO FOS,2022,28,최종,외항,출항,"40,447",2022-12-09 06:45,2022-12-10 16:20,2022-12-10 16:20,2022-12-12 09:52,기타,22COHEF249E,MBR,E2,신감만부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
34528,부산,VRKR6,COSCO FOS,2022,28,최종,외항,입항,"40,447",2022-12-09 06:45,2022-12-10 16:20,2022-12-09 06:45,2022-12-09 09:24,기타,22COHEF249I,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
36301,부산,VRKR6,COSCO FOS,2022,29,최종,외항,입항,"40,447",2022-12-16 16:50,2022-12-18 12:45,2022-12-16 16:50,2022-12-19 09:14,기타,22COHEF250I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
36302,부산,VRKR6,COSCO FOS,2022,29,최종,외항,출항,"40,447",2022-12-16 16:50,2022-12-18 12:45,2022-12-18 12:45,2022-12-19 09:36,기타,22COHEF250E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
38348,부산,VRKR6,COSCO FOS,2022,30,최종,외항,입항,"40,447",2022-12-26 12:48,2022-12-28 01:50,2022-12-26 12:48,2022-12-26 13:38,기타,22COHEF251I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
38349,부산,VRKR6,COSCO FOS,2022,30,최종,외항,출항,"40,447",2022-12-26 12:48,2022-12-28 01:50,2022-12-28 01:50,2022-12-28 09:24,기타,22COHEF251E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
40241,부산,VRKR6,COSCO FOS,2023,1,최종,외항,입항,"40,447",2023-01-02 22:05,2023-01-04 16:41,2023-01-02 22:05,2023-01-03 09:06,기타,23COHEF252I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
40242,부산,VRKR6,COSCO FOS,2023,1,최종,외항,출항,"40,447",2023-01-02 22:05,2023-01-04 16:41,2023-01-04 16:41,2023-01-05 09:58,기타,23COHEF252E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
42034,부산,VRKR6,COSCO FOS,2023,2,최종,외항,출항,"40,447",2023-01-10 13:54,2023-01-12 12:45,2023-01-12 12:45,2023-01-12 17:19,기타,23COHEF301E,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
42035,부산,VRKR6,COSCO FOS,2023,2,최종,외항,입항,"40,447",2023-01-10 13:54,2023-01-12 12:45,2023-01-10 13:54,2023-01-11 09:03,기타,23COHEF301I,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
12975,부산,VRPN8,SEASPAN BEYOND,2022,4,최종,외항,출항,"113,042",2022-09-12 07:00,2022-09-13 22:20,2022-09-13 22:00,2022-09-14 16:15,기타,22ONEY1080E,MSN,03,신항 1부두 3선석,ENSENADA,YOKOHAMA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
12976,부산,VRPN8,SEASPAN BEYOND,2022,4,최종,외항,입항,"113,042",2022-09-12 07:00,2022-09-13 22:20,2022-09-12 07:00,2022-09-13 15:41,기타,22ONEY1079I,MSN,03,신항 1부두 3선석,ENSENADA,YOKOHAMA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
28886,부산,VRPN8,SEASPAN BEYOND,2022,5,최종,외항,출항,"113,042",2022-11-16 18:11,2022-11-17 15:57,2022-11-17 16:00,2022-11-18 12:57,기타,22ONEY1368E,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
28887,부산,VRPN8,SEASPAN BEYOND,2022,5,최종,외항,입항,"113,042",2022-11-16 18:11,2022-11-17 15:57,2022-11-16 18:00,2022-11-17 14:24,기타,22ONEY1367I,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
31800,부산,VRPN8,SEASPAN BEYOND,2022,6,최종,외항,출항,"113,042",2022-11-28 00:45,2022-11-29 04:58,2022-11-29 03:00,2022-11-29 13:01,기타,22ONEY1410E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
31801,부산,VRPN8,SEASPAN BEYOND,2022,6,최종,외항,입항,"113,042",2022-11-28 00:45,2022-11-29 04:58,2022-11-28 01:00,2022-11-29 13:01,기타,22ONEY1409I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
13666,부산,5LFP2,TAYMA EXPRESS,2022,4,최종,외항,출항,"141,077",2022-09-15 12:00,2022-09-16 21:57,2022-09-16 21:57,2022-09-19 09:27,기타,22HLCU5010E,MSN,03,신항 1부두 3선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
13667,부산,5LFP2,TAYMA EXPRESS,2022,4,최종,외항,입항,"141,077",2022-09-15 12:00,2022-09-16 21:57,2022-09-15 12:00,2022-09-16 10:47,기타,22HLCU5010I,MSN,03,신항 1부두 3선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
28614,부산,5LFP2,TAYMA EXPRESS,2022,5,최종,외항,입항,"141,077",2022-11-15 21:20,2022-11-17 11:05,2022-11-15 21:20,2022-11-16 13:41,기타,22HLCU5213I,MS4,01,신항 4부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
28615,부산,5LFP2,TAYMA EXPRESS,2022,5,최종,외항,출항,"141,077",2022-11-15 21:20,2022-11-17 11:05,2022-11-17 11:05,2022-11-17 14:49,기타,22HLCU5213E,MS4,01,신항 4부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
42447,부산,5LFP2,TAYMA EXPRESS,2023,1,최초,외항,출항,"141,077",2023-01-12 11:05,2023-01-13 15:00,2023-01-13 15:00,NaN,기타,23HLCU5418E,MS4,01,신항 4부두 1선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
42448,부산,5LFP2,TAYMA EXPRESS,2023,1,최종,외항,입항,"141,077",2023-01-12 11:05,2023-01-13 15:00,2023-01-12 11:05,2023-01-13 10:57,기타,23HLCU5418I,MS4,01,신항 4부두 1선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
2797,부산,A8IX9,MSC MARGARITA,2022,1,최종,외항,입항,"67,466",2022-07-28 22:27,2022-07-29 15:00,2022-07-28 22:00,2022-07-29 08:53,기타,22MSCU4253I,MSN,01,신항 1부두 1선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
2798,부산,A8IX9,MSC MARGARITA,2022,1,최종,외항,출항,"67,466",2022-07-28 22:27,2022-07-29 15:00,2022-07-29 15:00,2022-07-29 17:12,기타,22MSCU0693E,MSN,01,신항 1부두 1선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
5478,부산,A8IX9,MSC MARGARITA,2022,2,최종,외항,입항,"67,466",2022-08-08 23:38,2022-08-10 03:02,2022-08-08 23:00,2022-08-09 09:38,기타,22MSCU2105I,MSN,02,신항 1부두 2선석,CRISTOBAL,SHANGHAI,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
5479,부산,A8IX9,MSC MARGARITA,2022,2,최종,외항,출항,"67,466",2022-08-08 23:38,2022-08-10 03:02,2022-08-10 03:00,2022-08-10 10:31,기타,22MSCU0914E,MSN,02,신항 1부두 2선석,CRISTOBAL,SHANGHAI,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
18430,부산,3EUP7,MSC SONIA,2022,2,최종,외항,출항,"153,092",2022-10-05 13:20,2022-10-07 14:50,2022-10-07 15:00,2022-10-11 09:00,기타,22MSCU1100E,MSN,03,신항 1부두 3선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
18431,부산,3EUP7,MSC SONIA,2022,2,최종,외항,입항,"153,092",2022-10-05 13:20,2022-10-07 14:50,2022-10-05 13:00,2022-10-05 15:52,기타,22MSCU1204I,MS6,03,신항 6부두 3선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
36796,부산,9HA5144,AKADIMOS,2022,3,최종,외항,입항,"96,424",2022-12-18 21:10,2022-12-19 22:00,2022-12-18 21:00,2022-12-19 10:54,기타,22ONEY1491I,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
36797,부산,9HA5144,AKADIMOS,2022,3,최종,외항,출항,"96,424",2022-12-18 21:10,2022-12-19 22:00,2022-12-19 21:00,2022-12-20 14:55,기타,22ONEY1492E,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
9808,부산,VROG8,SEASPAN BELLWETHER,2022,4,최종,외항,입항,"113,042",2022-08-27 11:55,2022-08-29 05:58,2022-08-27 12:00,2022-08-29 16:01,기타,22ONEY1031I,MSN,03,신항 1부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
9809,부산,VROG8,SEASPAN BELLWETHER,2022,4,최종,외항,출항,"113,042",2022-08-27 11:55,2022-08-29 05:58,2022-08-29 06:00,2022-08-29 16:27,기타,22ONEY1032E,MSN,03,신항 1부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
27022,부산,VROG8,SEASPAN BELLWETHER,2022,5,최종,외항,입항,"113,042",2022-11-09 08:55,2022-11-10 09:05,2022-11-09 06:00,2022-11-09 15:42,기타,22ONEY1333I,MSN,03,신항 1부두 3선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
27023,부산,VROG8,SEASPAN BELLWETHER,2022,5,최종,외항,출항,"113,042",2022-11-09 08:55,2022-11-10 09:05,2022-11-10 07:00,2022-11-10 12:46,기타,22ONEY1334E,MSN,03,신항 1부두 3선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
29731,부산,VROG8,SEASPAN BELLWETHER,2022,6,최종,외항,출항,"113,042",2022-11-19 23:08,2022-11-21 06:15,2022-11-21 04:00,2022-11-21 13:10,기타,22ONEY1378E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
29732,부산,VROG8,SEASPAN BELLWETHER,2022,6,최종,외항,입항,"113,042",2022-11-19 23:08,2022-11-21 06:15,2022-11-19 23:00,2022-11-21 13:10,기타,22ONEY1377I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
13444,부산,BQVX,HENG HUI 6,2022,2,최종,외항,출항,"54,214",2022-09-14 09:55,2022-09-15 01:00,2022-09-15 01:00,2022-09-15 13:45,기타,22COSU0153E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
13445,부산,BQVX,HENG HUI 6,2022,2,최종,외항,입항,"54,214",2022-09-14 09:55,2022-09-15 01:00,2022-09-14 09:55,2022-09-15 13:45,기타,22COSU0153I,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
32142,부산,BQVX,HENG HUI 6,2022,3,최종,외항,출항,"54,214",2022-11-29 14:00,2022-11-30 02:17,2022-11-30 02:17,2022-11-30 13:04,기타,22COSU0186E,MSN,01,신항 1부두 1선석,LAZARO CARDENAS,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
32143,부산,BQVX,HENG HUI 6,2022,3,최종,외항,입항,"54,214",2022-11-29 14:00,2022-11-30 02:17,2022-11-29 14:00,2022-11-30 09:25,기타,22COSU0186I,MSN,01,신항 1부두 1선석,LAZARO CARDENAS,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
13708,부산,3EXV8,MSC BERYL,2022,4,최종,외항,출항,"140,096",2022-09-15 16:00,2022-09-22 01:25,2022-09-22 01:00,2022-09-22 09:41,기타,22MSCU1025E,MSN,02,신항 1부두 2선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
13709,부산,3EXV8,MSC BERYL,2022,4,최종,외항,입항,"140,096",2022-09-15 16:00,2022-09-22 01:25,2022-09-15 16:00,2022-09-16 10:47,기타,22MSCU1172I,MSN,08,신항 2부두 5선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

Empty DataFrame
Columns: [항명, 호출부호, 선명, 입항횟수, 입항횟수.1, 구분, 외내, 입출, 총톤수, 입항일시, 출항일시, CIQ수속일자, 수리일시, 항해구분, MRN 번호, 계선장소, 계선장소.1, 계선장소.2, 차항지, 전출항지, 선박용도, 외항:한국인선원수
내항:해기사선원수, 외항:외국인선원수
내항:보통선원수, 승객, 예선, 도선, 부선호출부호1, 부선호출부호2]
Index: []

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
36537,부산,5LBQ9,MSC TRADER II,2022,1,최종,외항,입항,"16,803",2022-12-17 13:02,2022-12-17 19:40,2022-12-17 13:00,2022-12-19 09:18,기타,22MSCU2209I,MSN,01,신항 1부두 1선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,24.0,1.0,Y,Y,NaN,NaN
36538,부산,5LBQ9,MSC TRADER II,2022,1,최종,외항,출항,"16,803",2022-12-17 13:02,2022-12-17 19:40,2022-12-17 19:00,2022-12-19 09:30,기타,22MSCU3026E,MSN,01,신항 1부두 1선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,24.0,1.0,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
10168,부산,VRNA7,CSCL AUTUMN,2022,1,최종,외항,입항,"116,568",2022-08-29 07:10,2022-08-30 04:03,2022-08-29 07:10,2022-08-29 16:01,기타,22COSU0151I,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
10169,부산,VRNA7,CSCL AUTUMN,2022,1,최종,외항,출항,"116,568",2022-08-29 07:10,2022-08-30 04:03,2022-08-30 04:03,2022-08-30 13:52,기타,22COSU0151E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
28646,부산,VRNA7,CSCL AUTUMN,2022,2,최종,외항,출항,"116,568",2022-11-16 01:53,2022-11-17 01:12,2022-11-17 01:12,2022-11-17 10:28,기타,22COSU0184E,MSN,01,신항 1부두 1선석,LAZARO CARDENAS,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
28647,부산,VRNA7,CSCL AUTUMN,2022,2,최종,외항,입항,"116,568",2022-11-16 01:53,2022-11-17 01:12,2022-11-16 01:53,2022-11-16 13:41,기타,22COSU0184I,MSN,01,신항 1부두 1선석,LAZARO CARDENAS,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
570,부산,5LAM9,HMM RAON,2022,1,최종,외항,출항,"152,003",2022-07-19 14:35,2022-07-21 04:00,2022-07-21 04:00,2022-07-21 10:01,기타,22HDMUA404E,MS4,02,신항 4부두 2선석,QINGDAO,KAOHSIUNG,풀컨테이너선,10.0,12.0,NaN,Y,Y,NaN,NaN
571,부산,5LAM9,HMM RAON,2022,1,최종,외항,입항,"152,003",2022-07-19 14:35,2022-07-21 04:00,2022-07-19 14:35,2022-07-20 08:54,기타,22HDMUA385I,MS4,02,신항 4부두 2선석,QINGDAO,KAOHSIUNG,풀컨테이너선,10.0,12.0,NaN,Y,Y,NaN,NaN
15186,부산,5LAM9,HMM RAON,2022,2,최종,외항,출항,"152,003",2022-09-23 03:28,2022-09-24 21:00,2022-09-24 21:00,2022-09-26 09:06,기타,22HDMUA486E,MSN,03,신항 1부두 3선석,QINGDAO,SINGAPORE,풀컨테이너선,12.0,12.0,NaN,Y,Y,NaN,NaN
15187,부산,5LAM9,HMM RAON,2022,2,최종,외항,입항,"152,003",2022-09-23 03:28,2022-09-24 21:00,2022-09-23 03:28,2022-09-23 08:53,기타,22HDMUA466I,MSN,03,신항 1부두 3선석,QINGDAO,SINGAPORE,풀컨테이너선,12.0,12.0,NaN,Y,Y,NaN,NaN
30654,부산,5LAM9,HMM RAON,2022,3,최종,외항,입항,"152,003",2022-11-23 15:10,2022-11-24 23:55,2022-11-23 15:10,2022-11-24 09:53,기타,22HDMUA567I,MS4,02,신항 4부두 2선석,QINGDAO,HONG KONG,풀컨테이너선,14.0,12.0,NaN,Y,Y,NaN,NaN
30655,부산,5LAM9,HMM RAON,2022,3,최종,외항,출항,"152,003",2022-11-23 15:10,2022-11-24 23:55,2022-11-24 23:55,2022-11-25 09:32,기타,22HDMUA588E,MS4,02,신항 4부두 2선석,QINGDAO,HONG KONG,풀컨테이너선,14.0,12.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
14797,부산,3EEI3,MSC SILVANA,2022,4,최종,외항,출항,"94,489",2022-09-21 21:40,2022-09-23 07:05,2022-09-23 07:00,2022-09-23 08:56,기타,22MSCU1010E,MSN,01,신항 1부두 1선석,"HOUSTON, TX",SHANGHAI,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
14798,부산,3EEI3,MSC SILVANA,2022,4,최종,외항,입항,"94,489",2022-09-21 21:40,2022-09-23 07:05,2022-09-21 21:00,2022-09-22 09:28,기타,22MSCU4285I,MSN,01,신항 1부두 1선석,"HOUSTON, TX",SHANGHAI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
19545,부산,3FIA2,MSC DANIELA,2022,2,최종,외항,출항,"151,559",2022-10-10 13:00,2022-10-11 04:55,2022-10-11 05:00,2022-10-11 09:04,기타,22MSCU1116E,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
19546,부산,3FIA2,MSC DANIELA,2022,2,최종,외항,입항,"151,559",2022-10-10 13:00,2022-10-11 04:55,2022-10-10 13:00,2022-10-11 08:51,기타,22MSCU1205I,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
9289,부산,CQEG5,MSC BEIJING,2022,2,최종,외항,입항,"91,023",2022-08-25 11:05,2022-08-26 22:02,2022-08-25 11:00,2022-08-29 16:04,기타,22MSCU4270I,MSN,02,신항 1부두 2선석,여수,SHANGHAI,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
9290,부산,CQEG5,MSC BEIJING,2022,2,최종,외항,출항,"91,023",2022-08-25 11:05,2022-08-26 22:02,2022-08-26 22:00,2022-08-29 16:12,기타,22MSCU0976E,MSN,02,신항 1부두 2선석,여수,SHANGHAI,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
2755,부산,VRNL8,SEASPAN BREEZE,2022,5,최종,외항,입항,"113,042",2022-07-28 18:00,2022-07-30 10:20,2022-07-28 18:00,2022-07-29 10:09,기타,22ONEY0899I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
2756,부산,VRNL8,SEASPAN BREEZE,2022,5,최종,외항,출항,"113,042",2022-07-28 18:00,2022-07-30 10:20,2022-07-30 05:00,2022-08-01 10:07,기타,22ONEY0900E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
21447,부산,VRNL8,SEASPAN BREEZE,2022,6,최종,외항,출항,"113,042",2022-10-18 06:08,2022-10-19 17:54,2022-10-19 16:00,2022-10-20 13:49,기타,22ONEY1232E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
21448,부산,VRNL8,SEASPAN BREEZE,2022,6,최종,외항,입항,"113,042",2022-10-18 06:08,2022-10-19 17:54,2022-10-18 06:00,2022-10-18 14:35,기타,22ONEY1231I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
42274,부산,VRNL8,SEASPAN BREEZE,2023,1,최종,외항,출항,"113,042",2023-01-11 16:55,2023-01-13 03:00,2023-01-13 01:00,NaN,기타,23ONEY0036E,MSN,03,신항 1부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
42275,부산,VRNL8,SEASPAN BREEZE,2023,1,최종,외항,입항,"113,042",2023-01-11 16:55,2023-01-13 03:00,2023-01-11 17:00,2023-01-12 13:25,기타,23ONEY0035I,MSN,03,신항 1부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
16745,부산,9HA3435,VANTAGE,2022,6,최종,외항,입항,"95,390",2022-09-28 22:50,2022-09-30 05:15,2022-09-28 22:50,2022-09-29 09:07,기타,22HLCU5019I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
16746,부산,9HA3435,VANTAGE,2022,6,최종,외항,출항,"95,390",2022-09-28 22:50,2022-09-30 05:15,2022-09-30 05:15,2022-09-30 11:22,기타,22HLCU5019E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
35627,부산,9HA3435,VANTAGE,2022,7,최종,외항,입항,"95,390",2022-12-13 16:05,2022-12-15 09:15,2022-12-13 16:05,2022-12-14 09:38,기타,22HLCU5305I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
35628,부산,9HA3435,VANTAGE,2022,7,최종,외항,출항,"95,390",2022-12-13 16:05,2022-12-15 09:15,2022-12-15 09:15,2022-12-15 14:39,기타,22HLCU5305E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
33254,부산,3EER9,MSC FELIXSTOWE,2022,2,최종,외항,출항,"54,809",2022-12-04 00:18,2022-12-04 23:00,2022-12-04 23:00,2022-12-05 09:10,기타,22MSCU3000E,MSN,01,신항 1부두 1선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
33255,부산,3EER9,MSC FELIXSTOWE,2022,2,최종,외항,입항,"54,809",2022-12-04 00:18,2022-12-04 23:00,2022-12-04 00:00,2022-12-05 09:05,기타,22MSCU4400I,MSN,01,신항 1부두 1선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
35437,부산,3EER9,MSC FELIXSTOWE,2022,3,최종,외항,출항,"54,809",2022-12-12 19:00,2022-12-13 09:54,2022-12-13 10:00,2022-12-13 11:28,기타,22MSCU3023E,MSN,03,신항 1부두 3선석,VUNG TAU,YOKKAICHI,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
35438,부산,3EER9,MSC FELIXSTOWE,2022,3,최종,외항,입항,"54,809",2022-12-12 19:00,2022-12-13 09:54,2022-12-12 18:00,2022-12-13 09:07,기타,22MSCU3073I,MSN,03,신항 1부두 3선석,VUNG TAU,YOKKAICHI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
41414,부산,3EER9,MSC FELIXSTOWE,2023,1,최종,외항,입항,"54,809",2023-01-07 22:17,2023-01-08 20:11,2023-01-07 22:00,2023-01-09 09:13,기타,23MSCU3009I,MSN,02,신항 1부두 2선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
41415,부산,3EER9,MSC FELIXSTOWE,2023,1,최종,외항,출항,"54,809",2023-01-07 22:17,2023-01-08 20:11,2023-01-08 20:00,2023-01-09 09:21,기타,23MSCU0006E,MSN,02,신항 1부두 2선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
37955,부산,5LAK5,MSC VILDA X,2022,1,최종,외항,입항,"92,198",2022-12-24 11:57,2022-12-25 09:09,2022-12-24 12:00,2022-12-26 09:55,기타,22MSCU2204I,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
37956,부산,5LAK5,MSC VILDA X,2022,1,최종,외항,출항,"92,198",2022-12-24 11:57,2022-12-25 09:09,2022-12-25 09:00,2022-12-26 10:36,기타,22MSCU3014E,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
32983,부산,3EHC4,MSC HEIDI,2022,1,최종,외항,출항,"94,489",2022-12-03 01:00,2022-12-04 00:20,2022-12-04 00:00,2022-12-05 09:12,기타,22MSCU3020E,MSN,03,신항 1부두 3선석,SHANGHAI,OCEAN DISTRICT,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
32984,부산,3EHC4,MSC HEIDI,2022,1,최종,외항,입항,"94,489",2022-12-03 01:00,2022-12-04 00:20,2022-12-03 01:00,2022-12-05 09:01,기타,22MSCU4401I,MSN,03,신항 1부두 3선석,SHANGHAI,OCEAN DISTRICT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
18821,부산,9HA3391,VALIANT,2022,5,최종,외항,입항,"95,390",2022-10-07 06:15,2022-10-09 00:02,2022-10-07 06:15,2022-10-07 10:19,기타,22HLCU5022I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
18822,부산,9HA3391,VALIANT,2022,5,최종,외항,출항,"95,390",2022-10-07 06:15,2022-10-09 00:02,2022-10-09 00:02,2022-10-11 08:58,기타,22HLCU5022E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
35977,부산,9HA3391,VALIANT,2022,6,최종,외항,출항,"95,390",2022-12-15 11:00,2022-12-16 14:00,2022-12-16 14:00,2022-12-19 09:33,기타,22HLCU5307E,MSN,01,신항 1부두 1선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
35978,부산,9HA3391,VALIANT,2022,6,최종,외항,입항,"95,390",2022-12-15 11:00,2022-12-16 14:00,2022-12-15 11:00,2022-12-19 09:09,기타,22HLCU5307I,MSN,01,신항 1부두 1선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
39414,부산,9HA3391,VALIANT,2022,7,최종,외항,입항,"95,390",2022-12-30 12:10,2022-12-31 18:05,2022-12-30 12:10,2023-01-02 09:55,기타,22HLCU5313I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
39415,부산,9HA3391,VALIANT,2022,7,최종,외항,출항,"95,390",2022-12-30 12:10,2022-12-31 18:05,2022-12-31 18:05,2023-01-03 13:58,기타,22HLCU5313E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
16426,부산,CQEB8,MSC ORION,2022,1,최종,외항,출항,"149,525",2022-09-27 16:35,2022-09-29 07:55,2022-09-29 08:00,2022-09-29 10:51,기타,22MSCU1048E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
16427,부산,CQEB8,MSC ORION,2022,1,최종,외항,입항,"149,525",2022-09-27 16:35,2022-09-29 07:55,2022-09-27 16:00,2022-09-27 17:32,기타,22MSCU3028I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
35000,부산,CQEB8,MSC ORION,2022,2,최종,외항,입항,"149,525",2022-12-11 02:35,2022-12-12 16:26,2022-12-11 02:00,2022-12-12 09:43,기타,22MSCU3059I,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
35001,부산,CQEB8,MSC ORION,2022,2,최종,외항,출항,"149,525",2022-12-11 02:35,2022-12-12 16:26,2022-12-12 16:00,2022-12-12 16:48,기타,22MSCU3018E,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
39011,부산,CQEB8,MSC ORION,2022,3,최종,외항,출항,"149,525",2022-12-29 03:07,2022-12-31 04:18,2022-12-31 04:00,2023-01-02 10:23,기타,22MSCU3073E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
39012,부산,CQEB8,MSC ORION,2022,3,최종,외항,입항,"149,525",2022-12-29 03:07,2022-12-31 04:18,2022-12-29 03:00,2022-12-29 09:01,기타,22MSCU3078I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
333,부산,D5FL8,MSC ALINA,2022,2,최종,외항,출항,"94,930",2022-07-18 01:00,2022-07-19 19:30,2022-07-19 19:00,2022-07-20 08:57,기타,22MSCU0680E,MSN,01,신항 1부두 1선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
25744,부산,D5FL8,MSC ALINA,2022,3,최종,외항,입항,"94,930",2022-11-04 00:00,2022-11-05 19:51,2022-11-04 00:00,2022-11-04 12:56,기타,22MSCU2160I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
25745,부산,D5FL8,MSC ALINA,2022,3,최종,외항,출항,"94,930",2022-11-04 00:00,2022-11-05 19:51,2022-11-05 20:00,2022-11-07 09:26,기타,22MSCU1155E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
11803,부산,D5HF4,CISNES,2022,3,최종,외항,출항,"93,685",2022-09-07 12:35,2022-09-09 11:05,2022-09-09 11:05,2022-09-13 10:17,기타,22HLCU5001E,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,2.0,Y,Y,NaN,NaN
11804,부산,D5HF4,CISNES,2022,3,최종,외항,입항,"93,685",2022-09-07 12:35,2022-09-09 11:05,2022-09-07 12:35,2022-09-08 15:47,기타,22HLCU5001I,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
31586,부산,D5HF4,CISNES,2022,4,최종,외항,입항,"93,685",2022-11-27 02:05,2022-11-28 08:00,2022-11-27 02:05,2022-11-28 09:00,기타,22HLCU5225I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
31587,부산,D5HF4,CISNES,2022,4,최종,외항,출항,"93,685",2022-11-27 02:05,2022-11-28 08:00,2022-11-28 08:00,2022-11-28 10:17,기타,22HLCU5225E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,2.0,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
11439,부산,CQMD,MSC TAMPICO,2022,2,최종,외항,입항,"54,150",2022-09-03 02:04,2022-09-03 23:57,2022-09-03 02:00,2022-09-05 08:32,기타,22MSCU4301I,MSN,02,신항 1부두 2선석,SHANGHAI,LAZARO CARDENAS,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
11440,부산,CQMD,MSC TAMPICO,2022,2,최종,외항,출항,"54,150",2022-09-03 02:04,2022-09-03 23:57,2022-09-04 00:00,2022-09-05 11:37,기타,22MSCU1023E,MSN,02,신항 1부두 2선석,SHANGHAI,LAZARO CARDENAS,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
13718,부산,CQMD,MSC TAMPICO,2022,3,최종,외항,입항,"54,150",2022-09-15 16:36,2022-09-17 05:12,2022-09-15 15:00,2022-09-16 10:49,기타,22MSCU1190I,MSN,02,신항 1부두 2선석,LAZARO CARDENAS,NINGBO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
13719,부산,CQMD,MSC TAMPICO,2022,3,최종,외항,출항,"54,150",2022-09-15 16:36,2022-09-17 05:12,2022-09-17 05:00,2022-09-17 23:00,기타,22MSCU0180E,MSN,02,신항 1부두 2선석,LAZARO CARDENAS,NINGBO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
4252,부산,CQZF,MSC ANTONELLA,2022,3,최종,외항,출항,"96,331",2022-08-04 00:05,2022-08-05 00:00,2022-08-05 00:00,2022-08-05 09:00,기타,22MSCU0909E,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
4253,부산,CQZF,MSC ANTONELLA,2022,3,최종,외항,입항,"96,331",2022-08-04 00:05,2022-08-05 00:00,2022-08-04 00:00,2022-08-04 08:43,기타,22MSCU2119I,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
6846,부산,CQZF,MSC ANTONELLA,2022,4,최종,외항,출항,"96,331",2022-08-14 21:05,2022-08-16 17:05,2022-08-16 17:00,2022-08-17 08:58,기타,22MSCU0925E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
6847,부산,CQZF,MSC ANTONELLA,2022,4,최종,외항,입항,"96,331",2022-08-14 21:05,2022-08-16 17:05,2022-08-14 21:00,2022-08-16 08:46,기타,22MSCU2120I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
23149,부산,CQZF,MSC ANTONELLA,2022,5,최종,외항,출항,"96,331",2022-10-25 07:20,2022-10-26 11:00,2022-10-26 11:00,2022-10-26 13:28,기타,22MSCU1152E,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
23150,부산,CQZF,MSC ANTONELLA,2022,5,최종,외항,입항,"96,331",2022-10-25 07:20,2022-10-26 11:00,2022-10-25 07:00,2022-10-25 11:12,기타,22MSCU2159I,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
26642,부산,CQZF,MSC ANTONELLA,2022,6,최종,외항,출항,"96,331",2022-11-07 20:46,2022-11-09 05:56,2022-11-09 06:00,2022-11-09 09:28,기타,22MSCU2009E,MSN,03,신항 1부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
26643,부산,CQZF,MSC ANTONELLA,2022,6,최종,외항,입항,"96,331",2022-11-07 20:46,2022-11-09 05:56,2022-11-07 21:00,2022-11-08 08:59,기타,22MSCU2174I,MSN,03,신항 1부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
19229,부산,3EFZ3,MSC INES,2022,2,최종,외항,입항,"107,551",2022-10-09 02:35,2022-10-10 19:02,2022-10-09 02:00,2022-10-11 08:55,기타,22MSCU2155I,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
19230,부산,3EFZ3,MSC INES,2022,2,최종,외항,출항,"107,551",2022-10-09 02:35,2022-10-10 19:02,2022-10-10 19:00,2022-10-11 09:03,기타,22MSCU1110E,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
15550,부산,D5HE8,CAUTIN,2022,4,최종,외항,입항,"93,685",2022-09-24 07:10,2022-09-25 21:03,2022-09-24 07:10,2022-09-26 08:59,기타,22HLCU5018I,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
15551,부산,D5HE8,CAUTIN,2022,4,최종,외항,출항,"93,685",2022-09-24 07:10,2022-09-25 21:03,2022-09-25 21:03,2022-09-26 14:46,기타,22HLCU5018E,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
33500,부산,D5HE8,CAUTIN,2022,5,최종,외항,출항,"93,685",2022-12-05 03:05,2022-12-06 13:12,2022-12-06 13:12,2022-12-06 15:54,기타,22HLCU5234E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
33501,부산,D5HE8,CAUTIN,2022,5,최종,외항,입항,"93,685",2022-12-05 03:05,2022-12-06 13:12,2022-12-05 03:05,2022-12-05 09:52,기타,22HLCU5234I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
3301,부산,5LBP2,MSC ANA CAMILA III,2022,1,최종,외항,출항,"25,703",2022-07-30 17:00,2022-07-31 23:07,2022-07-31 23:00,2022-08-01 08:30,기타,22MSCU0962E,MSN,01,신항 1부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
3302,부산,5LBP2,MSC ANA CAMILA III,2022,1,최종,외항,입항,"25,703",2022-07-30 17:00,2022-07-31 23:07,2022-07-30 17:00,2022-08-01 08:27,기타,22MSCU3012I,MSN,01,신항 1부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
12983,부산,5LBP2,MSC ANA CAMILA III,2022,2,최종,외항,입항,"25,703",2022-09-12 08:03,2022-09-13 07:52,2022-09-12 08:00,2022-09-13 09:57,기타,22MSCU4295I,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
12984,부산,5LBP2,MSC ANA CAMILA III,2022,2,최종,외항,출항,"25,703",2022-09-12 08:03,2022-09-13 07:52,2022-09-13 08:00,2022-09-14 16:21,기타,22MSCU1019E,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
26481,부산,5LBP2,MSC ANA CAMILA III,2022,3,최종,외항,입항,"25,703",2022-11-07 06:45,2022-11-07 18:52,2022-11-07 07:00,2022-11-07 09:18,기타,22MSCU4348I,MSN,03,신항 1부두 3선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
26482,부산,5LBP2,MSC ANA CAMILA III,2022,3,최종,외항,출항,"25,703",2022-11-07 06:45,2022-11-07 18:52,2022-11-07 19:00,2022-11-08 09:01,기타,22MSCU2005E,MSN,03,신항 1부두 3선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
38199,부산,5LBP2,MSC ANA CAMILA III,2022,4,최종,외항,출항,"25,703",2022-12-25 23:45,2022-12-26 19:52,2022-12-26 20:00,2022-12-27 09:43,기타,22MSCU3054E,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
38200,부산,5LBP2,MSC ANA CAMILA III,2022,4,최종,외항,입항,"25,703",2022-12-25 23:45,2022-12-26 19:52,2022-12-26 00:00,2022-12-26 10:33,기타,22MSCU4381I,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
4572,부산,VRRN7,SALVADOR EXPRESS,2022,3,최종,외항,출항,"113,828",2022-08-05 05:10,2022-08-06 20:07,2022-08-06 20:07,2022-08-08 09:07,기타,22HLCU4903E,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
4573,부산,VRRN7,SALVADOR EXPRESS,2022,3,최종,외항,입항,"113,828",2022-08-05 05:10,2022-08-06 20:07,2022-08-05 05:10,2022-08-05 09:59,기타,22HLCU4903I,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
26369,부산,VRRN7,SALVADOR EXPRESS,2022,4,최종,외항,입항,"113,828",2022-11-06 16:00,2022-11-07 19:25,2022-11-06 16:00,2022-11-07 11:24,기타,22HLCU5202I,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
26370,부산,VRRN7,SALVADOR EXPRESS,2022,4,최종,외항,출항,"113,828",2022-11-06 16:00,2022-11-07 19:25,2022-11-07 19:25,2022-11-08 09:23,기타,22HLCU5202E,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
1332,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,22,최종,외항,출항,"25,703",2022-07-22 23:40,2022-07-23 21:54,2022-07-23 22:00,2022-07-25 09:13,기타,22MSCU0648E,MSN,06,신항 2부두 3선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
1333,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,22,최종,외항,입항,"25,703",2022-07-22 23:40,2022-07-23 21:54,2022-07-23 00:00,2022-07-25 09:06,기타,22MSCU1121I,MSN,06,신항 2부두 3선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
2955,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,23,최종,외항,입항,"25,703",2022-07-29 11:55,2022-07-30 12:50,2022-07-29 12:00,2022-07-29 12:49,기타,22MSCU1122I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
2956,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,23,최종,외항,출항,"25,703",2022-07-29 11:55,2022-07-30 12:50,2022-07-30 13:00,2022-08-01 08:29,기타,22MSCU0660E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
4776,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,24,최종,외항,입항,"25,703",2022-08-06 00:02,2022-08-06 22:00,2022-08-06 00:00,2022-08-08 08:51,기타,22MSCU1151I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
4777,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,24,최종,외항,출항,"25,703",2022-08-06 00:02,2022-08-06 22:00,2022-08-06 22:00,2022-08-08 09:05,기타,22MSCU0908E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
6229,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,25,최종,외항,출항,"25,703",2022-08-12 07:55,2022-08-13 07:00,2022-08-13 07:00,2022-08-16 08:57,기타,22MSCU0930E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
6230,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,25,최종,외항,입항,"25,703",2022-08-12 07:55,2022-08-13 07:00,2022-08-12 08:00,2022-08-12 09:04,기타,22MSCU1152I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
7514,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,26,최종,외항,출항,"25,703",2022-08-18 01:00,2022-08-18 23:00,2022-08-18 23:00,2022-08-19 11:12,기타,22MSCU0933E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
7515,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,26,최종,외항,입항,"25,703",2022-08-18 01:00,2022-08-18 23:00,2022-08-18 01:00,2022-08-19 11:12,기타,22MSCU1153I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
9548,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,27,최종,외항,출항,"25,703",2022-08-26 08:30,2022-08-27 00:03,2022-08-27 00:00,2022-08-29 16:12,기타,22MSCU0946E,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
9549,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,27,최종,외항,입항,"25,703",2022-08-26 08:30,2022-08-27 00:03,2022-08-26 09:00,2022-08-29 16:05,기타,22MSCU1154I,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
10952,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,28,최종,외항,입항,"25,703",2022-09-01 05:11,2022-09-02 00:53,2022-09-01 05:00,2022-09-01 08:43,기타,22MSCU1155I,MSN,06,신항 2부두 3선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
10953,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,28,최종,외항,출항,"25,703",2022-09-01 05:11,2022-09-02 00:53,2022-09-02 01:00,2022-09-02 08:51,기타,22MSCU0973E,MSN,06,신항 2부두 3선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
12795,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,29,최종,외항,출항,"25,703",2022-09-11 07:05,2022-09-12 03:05,2022-09-12 03:00,2022-09-13 10:04,기타,22MSCU1078E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
12796,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,29,최종,외항,입항,"25,703",2022-09-11 07:05,2022-09-12 03:05,2022-09-11 07:00,2022-09-13 09:56,기타,22MSCU1186I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
14076,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,30,최종,외항,출항,"25,703",2022-09-16 22:53,2022-09-17 22:52,2022-09-17 23:00,2022-09-19 09:27,기타,22MSCU1032E,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
14077,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,30,최종,외항,입항,"25,703",2022-09-16 22:53,2022-09-17 22:52,2022-09-16 23:00,2022-09-18 20:00,기타,22MSCU1187I,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
16224,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,31,최종,외항,출항,"25,703",2022-09-26 22:40,2022-09-28 04:50,2022-09-28 05:00,2022-09-28 08:46,기타,22MSCU1051E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
16225,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,31,최종,외항,입항,"25,703",2022-09-26 22:40,2022-09-28 04:50,2022-09-26 23:00,2022-09-27 08:48,기타,22MSCU1188I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
18142,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,32,최종,외항,입항,"25,703",2022-10-04 08:50,2022-10-05 08:52,2022-10-04 09:00,2022-10-04 10:45,기타,22MSCU1189I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
18143,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,32,최종,외항,출항,"25,703",2022-10-04 08:50,2022-10-05 08:52,2022-10-05 09:00,2022-10-05 10:24,기타,22MSCU1109E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
19869,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,33,최종,외항,입항,"25,703",2022-10-11 23:45,2022-10-13 00:12,2022-10-12 00:00,2022-10-12 10:23,기타,22MSCU1200I,MSN,07,신항 2부두 4선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
19870,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,33,최종,외항,출항,"25,703",2022-10-11 23:45,2022-10-13 00:12,2022-10-13 00:00,2022-10-13 08:57,기타,22MSCU1124E,MSN,07,신항 2부두 4선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
22128,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,34,최종,외항,출항,"25,703",2022-10-20 23:31,2022-10-22 05:50,2022-10-22 05:00,2022-10-24 11:23,기타,22MSCU1138E,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
22129,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,34,최종,외항,입항,"25,703",2022-10-20 23:31,2022-10-22 05:50,2022-10-21 00:00,2022-10-21 08:41,기타,22MSCU1201I,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
23902,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,35,최종,외항,출항,"25,703",2022-10-27 22:45,2022-10-28 19:03,2022-10-28 19:00,2022-10-31 09:38,기타,22MSCU1151E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
23903,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,35,최종,외항,입항,"25,703",2022-10-27 22:45,2022-10-28 19:03,2022-10-27 23:00,2022-10-28 10:09,기타,22MSCU1202I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
25882,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,36,최종,외항,입항,"25,703",2022-11-04 14:00,2022-11-05 17:55,2022-11-04 14:00,2022-11-07 08:51,기타,22MSCU1226I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
25883,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,36,최종,외항,출항,"25,703",2022-11-04 14:00,2022-11-05 17:55,2022-11-05 18:00,2022-11-07 09:27,기타,22MSCU2001E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
27473,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,37,최종,외항,입항,"25,703",2022-11-11 06:54,2022-11-12 09:50,2022-11-11 07:00,2022-11-11 08:49,기타,22MSCU1227I,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
27474,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,37,최종,외항,출항,"25,703",2022-11-11 06:54,2022-11-12 09:50,2022-11-12 10:00,2022-11-14 08:55,기타,22MSCU2018E,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
29224,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,38,최종,외항,출항,"25,703",2022-11-17 23:56,2022-11-19 13:00,2022-11-19 13:00,2022-11-25 09:27,기타,22MSCU2035E,MSN,02,신항 1부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
29225,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,38,최종,외항,입항,"25,703",2022-11-17 23:56,2022-11-19 13:00,2022-11-18 00:00,2022-11-25 09:27,기타,22MSCU1228I,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
31309,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,39,최종,외항,출항,"25,703",2022-11-26 01:57,2022-11-27 07:00,2022-11-27 07:00,2022-11-28 09:11,기타,22MSCU2051E,MSN,01,신항 1부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
31310,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,39,최종,외항,입항,"25,703",2022-11-26 01:57,2022-11-27 07:00,2022-11-26 02:00,2022-11-28 09:07,기타,22MSCU1229I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
33001,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,40,최종,외항,출항,"25,703",2022-12-03 02:45,2022-12-05 01:00,2022-12-05 01:00,2022-12-05 09:10,기타,22MSCU3003E,MSN,02,신항 1부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
33002,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,40,최종,외항,입항,"25,703",2022-12-03 02:45,2022-12-05 01:00,2022-12-03 03:00,2022-12-05 09:04,기타,22MSCU1230I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
34802,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,41,최종,외항,출항,"25,703",2022-12-10 07:35,2022-12-11 14:46,2022-12-11 15:00,2022-12-12 09:55,기타,22MSCU3016E,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
34803,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,41,최종,외항,입항,"25,703",2022-12-10 07:35,2022-12-11 14:46,2022-12-10 08:00,2022-12-12 09:42,기타,22MSCU1249I,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
36419,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,42,최종,외항,입항,"25,703",2022-12-17 04:05,2022-12-18 18:50,2022-12-17 04:00,2022-12-19 09:18,기타,22MSCU1250I,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
36420,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,42,최종,외항,출항,"25,703",2022-12-17 04:05,2022-12-18 18:50,2022-12-18 19:00,2022-12-19 09:31,기타,22MSCU3035E,MSN,01,신항 1부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
38473,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,43,최종,외항,출항,"25,703",2022-12-27 00:58,2022-12-28 06:11,2022-12-28 07:00,2022-12-28 09:35,기타,22MSCU3057E,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
38474,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,43,최종,외항,입항,"25,703",2022-12-27 00:58,2022-12-28 06:11,2022-12-27 01:00,2022-12-27 09:40,기타,22MSCU1251I,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
40516,부산,BTSJ,ZHU CHENG XIN ZHOU,2023,1,최종,외항,입항,"25,703",2023-01-04 04:52,2023-01-05 11:51,2023-01-04 05:00,2023-01-04 10:21,기타,23MSCU1014I,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
40517,부산,BTSJ,ZHU CHENG XIN ZHOU,2023,1,최종,외항,출항,"25,703",2023-01-04 04:52,2023-01-05 11:51,2023-01-05 12:00,2023-01-05 14:41,기타,23MSCU9008E,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
42130,부산,BTSJ,ZHU CHENG XIN ZHOU,2023,2,최종,외항,출항,"25,703",2023-01-10 23:47,2023-01-12 04:00,2023-01-12 04:00,2023-01-12 09:05,기타,23MSCU9028E,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
42131,부산,BTSJ,ZHU CHENG XIN ZHOU,2023,2,최종,외항,입항,"25,703",2023-01-10 23:47,2023-01-12 04:00,2023-01-11 00:00,2023-01-11 09:03,기타,23MSCU1009I,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
406,부산,5LDP4,MSC WASHINGTON,2022,3,최종,외항,입항,"138,121",2022-07-19 00:16,2022-07-20 01:08,2022-07-19 00:00,2022-07-19 08:58,기타,22MSCU1135I,MSN,03,신항 1부두 3선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
407,부산,5LDP4,MSC WASHINGTON,2022,3,최종,외항,출항,"138,121",2022-07-19 00:16,2022-07-20 01:08,2022-07-20 01:00,2022-07-20 08:57,기타,22MSCU0639E,MSN,03,신항 1부두 3선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
21245,부산,5LDP4,MSC WASHINGTON,2022,4,최종,외항,출항,"138,121",2022-10-17 04:30,2022-10-17 20:02,2022-10-17 20:00,2022-10-18 09:09,기타,22MSCU1131E,MSN,02,신항 1부두 2선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
21246,부산,5LDP4,MSC WASHINGTON,2022,4,최종,외항,입항,"138,121",2022-10-17 04:30,2022-10-17 20:02,2022-10-17 04:00,2022-10-17 09:43,기타,22MSCU1209I,MSN,02,신항 1부두 2선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
18971,부산,D5TM3,MSC KANOKO,2022,4,최종,외항,입항,"140,976",2022-10-07 17:00,2022-10-09 11:00,2022-10-07 17:00,2022-10-11 08:47,기타,22MSCU3023I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
18972,부산,D5TM3,MSC KANOKO,2022,4,최종,외항,출항,"140,976",2022-10-07 17:00,2022-10-09 11:00,2022-10-09 11:00,2022-10-11 08:58,기타,22MSCU1104E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
37476,부산,D5TM3,MSC KANOKO,2022,5,최종,외항,입항,"140,976",2022-12-21 20:27,2022-12-23 02:13,2022-12-21 20:00,2022-12-22 09:03,기타,22MSCU3061I,MSN,02,신항 1부두 2선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
37477,부산,D5TM3,MSC KANOKO,2022,5,최종,외항,출항,"140,976",2022-12-21 20:27,2022-12-23 02:13,2022-12-23 02:00,2022-12-23 10:43,기타,22MSCU3052E,MSN,02,신항 1부두 2선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
39949,부산,D5TM3,MSC KANOKO,2023,1,최종,외항,출항,"140,976",2023-01-01 13:02,2023-01-02 08:02,2023-01-02 08:00,2023-01-02 10:26,기타,23MSCU9017E,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
39950,부산,D5TM3,MSC KANOKO,2023,1,최종,외항,입항,"140,976",2023-01-01 13:02,2023-01-02 08:02,2023-01-01 13:00,2023-01-02 09:43,기타,23MSCU1016I,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
5923,부산,DIGX2,MSC LA SPEZIA,2022,1,최종,외항,입항,"153,733",2022-08-11 00:15,2022-08-14 11:55,2022-08-11 00:00,2022-08-11 09:01,기타,22MSCU2121I,MSN,03,신항 1부두 3선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
5924,부산,DIGX2,MSC LA SPEZIA,2022,1,최종,외항,출항,"153,733",2022-08-11 00:15,2022-08-14 11:55,2022-08-14 12:00,2022-08-16 08:52,기타,22MSCU0912E,MSN,03,신항 1부두 3선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
22878,부산,DIGX2,MSC LA SPEZIA,2022,2,최종,외항,출항,"153,733",2022-10-24 03:00,2022-10-25 02:00,2022-10-25 02:00,2022-10-25 11:03,기타,22MSCU1143E,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
22879,부산,DIGX2,MSC LA SPEZIA,2022,2,최종,외항,입항,"153,733",2022-10-24 03:00,2022-10-25 02:00,2022-10-24 03:00,2022-10-24 13:57,기타,22MSCU1208I,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
6804,부산,D5HF5,COYHAIQUE,2022,3,최종,외항,출항,"93,685",2022-08-14 15:25,2022-08-16 14:08,2022-08-16 14:08,2022-08-16 16:00,기타,22HLCU4911E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
6805,부산,D5HF5,COYHAIQUE,2022,3,최종,외항,입항,"93,685",2022-08-14 15:25,2022-08-16 14:08,2022-08-14 15:25,2022-08-16 08:50,기타,22HLCU4911I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
26033,부산,D5HF5,COYHAIQUE,2022,4,최종,외항,입항,"93,685",2022-11-05 04:25,2022-11-06 19:56,2022-11-05 04:25,2022-11-07 09:12,기타,22HLCU5117I,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
26034,부산,D5HF5,COYHAIQUE,2022,4,최종,외항,출항,"93,685",2022-11-05 04:25,2022-11-06 19:56,2022-11-06 19:56,2022-11-07 13:06,기타,22HLCU5117E,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
10237,부산,HPFB,YM WELLBEING,2022,4,최종,외항,출항,"151,451",2022-08-29 12:25,2022-08-31 17:14,2022-08-31 16:00,2022-09-01 08:44,기타,22YMLU0135E,MSN,03,신항 1부두 3선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
10238,부산,HPFB,YM WELLBEING,2022,4,최종,외항,입항,"151,451",2022-08-29 12:25,2022-08-31 17:14,2022-08-29 12:00,2022-08-29 16:07,기타,22YMLU0136I,MSN,03,신항 1부두 3선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
24352,부산,HPFB,YM WELLBEING,2022,5,최종,외항,출항,"151,451",2022-10-29 14:00,2022-10-31 06:55,2022-10-31 06:00,2022-10-31 14:18,기타,22YMLU0170E,MS4,02,신항 4부두 2선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
24353,부산,HPFB,YM WELLBEING,2022,5,최종,외항,입항,"151,451",2022-10-29 14:00,2022-10-31 06:55,2022-10-29 14:00,2022-10-31 09:14,기타,22YMLU0171I,MS4,02,신항 4부두 2선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
38223,부산,HPFB,YM WELLBEING,2022,6,최종,외항,출항,"151,451",2022-12-26 01:18,2022-12-28 08:00,2022-12-28 07:00,2022-12-28 10:25,기타,22YMLU0205E,MS4,02,신항 4부두 2선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
38224,부산,HPFB,YM WELLBEING,2022,6,최종,외항,입항,"151,451",2022-12-26 01:18,2022-12-28 08:00,2022-12-26 01:00,2022-12-26 10:34,기타,22YMLU0206I,MS4,02,신항 4부두 2선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
15238,부산,CQEU8,MSC BRUNELLA,2022,1,최종,외항,출항,"96,331",2022-09-23 08:03,2022-09-24 11:54,2022-09-24 12:00,2022-09-26 09:12,기타,22MSCU1028E,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
15239,부산,CQEU8,MSC BRUNELLA,2022,1,최종,외항,입항,"96,331",2022-09-23 08:03,2022-09-24 11:54,2022-09-23 08:00,2022-09-23 08:54,기타,22MSCU2134I,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
23642,부산,CQRO,MSC FAIRFIELD,2022,2,최종,외항,출항,"90,389",2022-10-27 02:53,2022-10-28 03:00,2022-10-28 03:00,2022-10-28 10:12,기타,22MSCU1144E,MSN,01,신항 1부두 1선석,CRISTOBAL,SHANGHAI,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
23643,부산,CQRO,MSC FAIRFIELD,2022,2,최종,외항,입항,"90,389",2022-10-27 02:53,2022-10-28 03:00,2022-10-27 03:00,2022-10-27 10:04,기타,22MSCU4337I,MSN,01,신항 1부두 1선석,CRISTOBAL,SHANGHAI,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
36776,부산,3EVM7,MSC EVA,2022,1,최종,외항,출항,"151,559",2022-12-18 16:30,2022-12-19 12:56,2022-12-19 13:00,2022-12-19 17:01,기타,22MSCU3045E,MSN,02,신항 1부두 2선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
36777,부산,3EVM7,MSC EVA,2022,1,최종,외항,입항,"151,559",2022-12-18 16:30,2022-12-19 12:56,2022-12-18 16:00,2022-12-19 09:20,기타,22MSCU1264I,MSN,02,신항 1부두 2선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
4114,부산,3FRZ3,OOCL BRAZIL,2022,4,최종,외항,입항,"87,697",2022-08-03 13:08,2022-08-03 22:18,2022-08-03 13:08,2022-08-04 14:04,기타,22OOLU0131I,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,SINGAPORE,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
4115,부산,3FRZ3,OOCL BRAZIL,2022,4,최종,외항,출항,"87,697",2022-08-03 13:08,2022-08-03 22:18,2022-08-03 22:18,2022-08-04 14:06,기타,22OOLU0132E,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,SINGAPORE,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
6181,부산,D5XH4,MSC TIANPING,2022,4,최종,외항,입항,"91,649",2022-08-12 02:57,2022-08-12 20:00,2022-08-12 03:00,2022-08-12 09:04,기타,22MSCU1161I,MSN,01,신항 1부두 1선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
6182,부산,D5XH4,MSC TIANPING,2022,4,최종,외항,출항,"91,649",2022-08-12 02:57,2022-08-12 20:00,2022-08-12 20:00,2022-08-16 08:57,기타,22MSCU0917E,MSN,01,신항 1부두 1선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
1732,부산,VRRN8,SEASPAN FALCON,2022,3,최종,외항,입항,"113,828",2022-07-24 17:27,2022-07-26 18:08,2022-07-24 17:00,2022-07-25 16:06,기타,22ONEY0889I,MSN,03,신항 1부두 3선석,YANGSHAN,HONG KONG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
1733,부산,VRRN8,SEASPAN FALCON,2022,3,최종,외항,출항,"113,828",2022-07-24 17:27,2022-07-26 18:08,2022-07-26 18:00,2022-07-27 15:56,기타,22ONEY0890E,MSN,03,신항 1부두 3선석,YANGSHAN,HONG KONG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
22778,부산,VRRN8,SEASPAN FALCON,2022,4,최종,외항,출항,"113,828",2022-10-23 14:10,2022-10-25 01:12,2022-10-25 01:00,2022-10-25 15:20,기타,22ONEY1260E,MSN,01,신항 1부두 1선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
22779,부산,VRRN8,SEASPAN FALCON,2022,4,최종,외항,입항,"113,828",2022-10-23 14:10,2022-10-25 01:12,2022-10-23 14:30,2022-10-25 15:20,기타,22ONEY1259I,MSN,01,신항 1부두 1선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
15914,부산,D5HF2,CAUQUENES,2022,3,최종,외항,입항,"93,685",2022-09-25 17:00,2022-09-27 22:55,2022-09-25 17:00,2022-09-26 10:22,기타,22HLCU5033I,MSN,02,신항 1부두 2선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
15915,부산,D5HF2,CAUQUENES,2022,3,최종,외항,출항,"93,685",2022-09-25 17:00,2022-09-27 22:55,2022-09-27 22:55,2022-09-28 09:30,기타,22HLCU5033E,MSN,02,신항 1부두 2선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,25.0,2.0,Y,Y,NaN,NaN
35463,부산,D5HF2,CAUQUENES,2022,4,최종,외항,입항,"93,685",2022-12-12 21:50,2022-12-14 08:56,2022-12-12 21:50,2022-12-13 10:30,기타,22HLCU5306I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
35464,부산,D5HF2,CAUQUENES,2022,4,최종,외항,출항,"93,685",2022-12-12 21:50,2022-12-14 08:56,2022-12-14 08:56,2022-12-14 10:37,기타,22HLCU5306E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
23626,부산,VRUC3,ZIM CHARLESTON,2022,6,최종,외항,출항,"91,761",2022-10-26 22:10,2022-10-27 13:18,2022-10-27 13:00,2022-10-27 16:54,기타,22ZIMU0236E,MSN,02,신항 1부두 2선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
23627,부산,VRUC3,ZIM CHARLESTON,2022,6,최종,외항,입항,"91,761",2022-10-26 22:10,2022-10-27 13:18,2022-10-26 22:00,2022-10-27 10:04,기타,22ZIMU0236I,MSN,02,신항 1부두 2선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
36235,부산,VRUC3,ZIM CHARLESTON,2022,7,최종,외항,입항,"91,761",2022-12-16 11:25,2022-12-17 02:38,2022-12-16 11:00,2022-12-19 09:16,기타,22ZIMU0328I,MSN,02,신항 1부두 2선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
36236,부산,VRUC3,ZIM CHARLESTON,2022,7,최종,외항,출항,"91,761",2022-12-16 11:25,2022-12-17 02:38,2022-12-17 02:00,2022-12-19 09:28,기타,22ZIMU0328E,MSN,02,신항 1부두 2선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
895,부산,9HA3398,VALENCE,2022,6,최종,외항,출항,"95,390",2022-07-20 23:55,2022-07-22 14:00,2022-07-22 14:00,2022-07-25 09:10,기타,22HLCU4817E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
896,부산,9HA3398,VALENCE,2022,6,최종,외항,입항,"95,390",2022-07-20 23:55,2022-07-22 14:00,2022-07-20 23:55,2022-07-22 13:10,기타,22HLCU4817I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
19432,부산,9HA3398,VALENCE,2022,7,최종,외항,입항,"95,390",2022-10-09 22:13,2022-10-11 16:55,2022-10-09 22:13,2022-10-11 08:52,기타,22HLCU5102I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
19433,부산,9HA3398,VALENCE,2022,7,최종,외항,출항,"95,390",2022-10-09 22:13,2022-10-11 16:55,2022-10-11 16:55,2022-10-12 10:24,기타,22HLCU5102E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
37370,부산,9HA3398,VALENCE,2022,8,최종,외항,출항,"95,390",2022-12-21 13:00,2022-12-22 07:51,2022-12-22 07:51,2022-12-22 15:21,기타,22HLCU5312E,MSN,01,신항 1부두 1선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
37371,부산,9HA3398,VALENCE,2022,8,최종,외항,입항,"95,390",2022-12-21 13:00,2022-12-22 07:51,2022-12-21 13:00,2022-12-22 09:04,기타,22HLCU5312I,MSN,01,신항 1부두 1선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
40742,부산,9HA3398,VALENCE,2023,1,최종,외항,입항,"95,390",2023-01-05 05:13,2023-01-06 18:00,2023-01-05 05:13,2023-01-05 10:12,기타,23HLCU5405I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
40743,부산,9HA3398,VALENCE,2023,1,최종,외항,출항,"95,390",2023-01-05 05:13,2023-01-06 18:00,2023-01-06 18:00,2023-01-09 09:17,기타,23HLCU5405E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
562,부산,DSRA2,SINOKOR NIIGATA,2022,28,최종,외항,입항,"6,490",2022-07-19 13:54,2022-07-21 23:54,2022-07-19 13:54,2022-07-20 09:19,기타,22SNKO2969I,WAN,04,남외항 N-4박지,SHIBUSHI,SHIBUSHI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
563,부산,DSRA2,SINOKOR NIIGATA,2022,28,최종,외항,출항,"6,490",2022-07-19 13:54,2022-07-21 23:54,2022-07-21 23:54,2022-07-22 14:31,기타,22SNKO2655E,MSL,01,신항 다목적부두,SHIBUSHI,SHIBUSHI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
2397,부산,DSRA2,SINOKOR NIIGATA,2022,29,최종,외항,입항,"6,490",2022-07-27 10:45,2022-07-30 15:24,2022-07-27 10:45,2022-07-27 20:31,기타,22SNKO3101I,WAN,03,남외항 N-3박지,SHIBUSHI,KUMAMOTO,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
2398,부산,DSRA2,SINOKOR NIIGATA,2022,29,최종,외항,출항,"6,490",2022-07-27 10:45,2022-07-30 15:24,2022-07-30 15:24,2022-08-01 09:27,기타,22SNKO2656E,MSL,01,신항 다목적부두,SHIBUSHI,KUMAMOTO,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
4634,부산,DSRA2,SINOKOR NIIGATA,2022,30,최종,외항,입항,"6,490",2022-08-05 11:42,2022-08-06 20:51,2022-08-05 11:42,2022-08-08 09:34,기타,22SNKO3230I,MBS,01,신선대부두 1선석,SHIBUSHI,YATSUSHIRO,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
4635,부산,DSRA2,SINOKOR NIIGATA,2022,30,최종,외항,출항,"6,490",2022-08-05 11:42,2022-08-06 20:51,2022-08-06 20:51,2022-08-08 12:29,기타,22SNKO2657E,MS6,01,신항 6부두 1선석,SHIBUSHI,YATSUSHIRO,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
6503,부산,DSRA2,SINOKOR NIIGATA,2022,31,최종,외항,출항,"6,490",2022-08-13 12:54,2022-08-14 12:42,2022-08-14 12:42,2022-08-17 08:58,기타,22SNKO2965E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
6504,부산,DSRA2,SINOKOR NIIGATA,2022,31,최종,외항,입항,"6,490",2022-08-13 12:54,2022-08-14 12:42,2022-08-13 12:54,2022-08-16 08:30,기타,22SNKO3322I,MBS,01,신선대부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
8240,부산,DSRA2,SINOKOR NIIGATA,2022,32,최종,외항,입항,"6,490",2022-08-20 19:42,2022-08-23 12:54,2022-08-20 19:42,2022-08-23 09:21,기타,22SNKO3491I,WAN,03,남외항 N-3박지,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
8241,부산,DSRA2,SINOKOR NIIGATA,2022,32,최종,외항,출항,"6,490",2022-08-20 19:42,2022-08-23 12:54,2022-08-23 12:54,2022-08-24 08:54,기타,22SNKO2966E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
10559,부산,DSRA2,SINOKOR NIIGATA,2022,33,최종,외항,출항,"6,490",2022-08-30 19:42,2022-08-31 19:48,2022-08-31 19:48,2022-09-01 10:52,기타,22SNKO2967E,MS6,01,신항 6부두 1선석,SHIBUSHI,YATSUSHIRO,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
10560,부산,DSRA2,SINOKOR NIIGATA,2022,33,최종,외항,입항,"6,490",2022-08-30 19:42,2022-08-31 19:48,2022-08-30 19:42,2022-08-31 11:31,기타,22SNKO3596I,MBS,01,신선대부두 1선석,SHIBUSHI,YATSUSHIRO,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
12485,부산,DSRA2,SINOKOR NIIGATA,2022,34,최종,외항,출항,"6,490",2022-09-09 08:06,2022-09-13 23:28,2022-09-13 23:28,2022-09-14 10:19,기타,22SNKO3302E,MS6,02,신항 6부두 2선석,SHIBUSHI,SATSUMASENDAI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
12486,부산,DSRA2,SINOKOR NIIGATA,2022,34,최종,외항,입항,"6,490",2022-09-09 08:06,2022-09-13 23:28,2022-09-09 08:06,2022-09-13 10:04,기타,22SNKO3618I,WAM,08,M박지 M8 묘지,SHIBUSHI,SATSUMASENDAI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
15452,부산,DSRA2,SINOKOR NIIGATA,2022,35,최종,외항,입항,"6,490",2022-09-23 21:36,2022-09-26 12:12,2022-09-23 21:36,2022-09-26 09:10,기타,22SNKO3722I,WAN,03,남외항 N-3박지,SHIBUSHI,YATSUSHIRO,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
15453,부산,DSRA2,SINOKOR NIIGATA,2022,35,최종,외항,출항,"6,490",2022-09-23 21:36,2022-09-26 12:12,2022-09-26 12:12,2022-09-26 14:23,기타,22SNKO3304E,MSL,01,신항 다목적부두,SHIBUSHI,YATSUSHIRO,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
17565,부산,DSRA2,SINOKOR NIIGATA,2022,36,최종,외항,입항,"6,490",2022-10-01 23:06,2022-10-03 12:18,2022-10-01 23:06,2022-10-04 09:13,기타,22SNKO4009I,WAM,08,M박지 M8 묘지,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
17566,부산,DSRA2,SINOKOR NIIGATA,2022,36,최종,외항,출항,"6,490",2022-10-01 23:06,2022-10-03 12:18,2022-10-03 12:18,2022-10-04 10:49,기타,22SNKO3937E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,9.0,NaN,N,N,NaN,NaN
19227,부산,DSRA2,SINOKOR NIIGATA,2022,37,최종,외항,입항,"6,490",2022-10-09 02:12,2022-10-10 04:30,2022-10-09 02:12,2022-10-11 15:16,기타,22SNKO4120I,MBS,03,신선대부두 3선석,SHIBUSHI,YATSUSHIRO,풀컨테이너선,9.0,9.0,NaN,N,N,NaN,NaN
19228,부산,DSRA2,SINOKOR NIIGATA,2022,37,최종,외항,출항,"6,490",2022-10-09 02:12,2022-10-10 04:30,2022-10-10 04:30,2022-10-11 15:17,기타,22SNKO3938E,MS6,01,신항 6부두 1선석,SHIBUSHI,YATSUSHIRO,풀컨테이너선,9.0,9.0,NaN,N,N,NaN,NaN
21325,부산,DSRA2,SINOKOR NIIGATA,2022,38,최종,외항,출항,"6,490",2022-10-17 11:36,2022-10-18 07:48,2022-10-18 07:48,2022-10-18 09:38,기타,22SNKO3939E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
21326,부산,DSRA2,SINOKOR NIIGATA,2022,38,최종,외항,입항,"6,490",2022-10-17 11:36,2022-10-18 07:48,2022-10-17 11:36,2022-10-18 09:20,기타,22SNKO4227I,MBS,03,신선대부두 3선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,9.0,NaN,N,N,NaN,NaN
22772,부산,DSRA2,SINOKOR NIIGATA,2022,39,최종,외항,출항,"6,490",2022-10-23 13:54,2022-10-24 12:24,2022-10-24 12:24,2022-10-24 16:34,기타,22SNKO3940E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
22773,부산,DSRA2,SINOKOR NIIGATA,2022,39,최종,외항,입항,"6,490",2022-10-23 13:54,2022-10-24 12:24,2022-10-23 13:54,2022-10-24 09:18,기타,22SNKO4376I,MBS,03,신선대부두 3선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
24549,부산,DSRA2,SINOKOR NIIGATA,2022,40,최종,외항,입항,"6,490",2022-10-30 12:36,2022-10-31 11:48,2022-10-30 12:36,2022-10-31 09:51,기타,22SNKO4435I,MBS,04,신선대부두 4선석,SHIBUSHI,SATSUMASENDAI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
24550,부산,DSRA2,SINOKOR NIIGATA,2022,40,최종,외항,출항,"6,490",2022-10-30 12:36,2022-10-31 11:48,2022-10-31 11:48,2022-10-31 15:08,기타,22SNKO4292E,MS6,02,신항 6부두 2선석,SHIBUSHI,SATSUMASENDAI,풀컨테이너선,9.0,9.0,NaN,N,N,NaN,NaN
25970,부산,DSRA2,SINOKOR NIIGATA,2022,41,최종,외항,출항,"6,490",2022-11-04 21:12,2022-11-05 19:06,2022-11-05 19:06,2022-11-07 09:06,기타,22SNKO4293E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
25971,부산,DSRA2,SINOKOR NIIGATA,2022,41,최종,외항,입항,"6,490",2022-11-04 21:12,2022-11-05 19:06,2022-11-04 21:12,2022-11-07 09:02,기타,22SNKO4556I,MBS,01,신선대부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,9.0,NaN,N,N,NaN,NaN
27797,부산,DSRA2,SINOKOR NIIGATA,2022,42,최종,외항,입항,"6,490",2022-11-12 07:42,2022-11-13 07:30,2022-11-12 07:42,2022-11-14 15:58,기타,22SNKO4642I,MBS,04,신선대부두 4선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
27798,부산,DSRA2,SINOKOR NIIGATA,2022,42,최종,외항,출항,"6,490",2022-11-12 07:42,2022-11-13 07:30,2022-11-13 07:30,2022-11-14 16:02,기타,22SNKO4294E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
29486,부산,DSRA2,SINOKOR NIIGATA,2022,43,최종,외항,입항,"6,490",2022-11-18 22:06,2022-11-19 23:54,2022-11-18 22:06,2022-11-22 08:56,기타,22SNKO4757I,MBS,03,신선대부두 3선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
29487,부산,DSRA2,SINOKOR NIIGATA,2022,43,최종,외항,출항,"6,490",2022-11-18 22:06,2022-11-19 23:54,2022-11-19 23:54,2022-11-22 09:37,기타,22SNKO4295E,MSL,01,신항 다목적부두,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
31245,부산,DSRA2,SINOKOR NIIGATA,2022,44,최종,외항,출항,"6,490",2022-11-25 20:12,2022-11-26 20:24,2022-11-26 20:24,2022-11-28 14:56,기타,22SNKO4296E,MSN,01,신항 1부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
31246,부산,DSRA2,SINOKOR NIIGATA,2022,44,최종,외항,입항,"6,490",2022-11-25 20:12,2022-11-26 20:24,2022-11-25 20:12,2022-11-28 09:05,기타,22SNKO4907I,MBS,01,신선대부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
32997,부산,DSRA2,SINOKOR NIIGATA,2022,45,최종,외항,출항,"6,490",2022-12-03 02:20,2022-12-04 01:42,2022-12-04 01:42,2022-12-05 09:37,기타,22SNKO4691E,MS6,02,신항 6부두 2선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
32998,부산,DSRA2,SINOKOR NIIGATA,2022,45,최종,외항,입항,"6,490",2022-12-03 02:20,2022-12-04 01:42,2022-12-03 02:20,2022-12-05 09:36,기타,22SNKO4999I,MBS,02,신선대부두 2선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
34704,부산,DSRA2,SINOKOR NIIGATA,2022,46,최종,외항,출항,"6,490",2022-12-09 20:35,2022-12-10 19:06,2022-12-10 19:06,2022-12-12 14:35,기타,22SNKO4692E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
34705,부산,DSRA2,SINOKOR NIIGATA,2022,46,최종,외항,입항,"6,490",2022-12-09 20:35,2022-12-10 19:06,2022-12-09 20:35,2022-12-12 09:47,기타,22SNKO5097I,MBS,02,신선대부두 2선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
36391,부산,DSRA2,SINOKOR NIIGATA,2022,47,최종,외항,입항,"6,490",2022-12-17 01:24,2022-12-18 00:42,2022-12-17 01:24,2022-12-20 09:13,기타,22SNKO5212I,MBS,05,신선대부두 5선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
36392,부산,DSRA2,SINOKOR NIIGATA,2022,47,최종,외항,출항,"6,490",2022-12-17 01:24,2022-12-18 00:42,2022-12-18 00:42,2022-12-20 09:22,기타,22SNKO4693E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
38127,부산,DSRA2,SINOKOR NIIGATA,2022,48,최종,외항,출항,"6,490",2022-12-25 15:00,2022-12-26 12:12,2022-12-26 12:12,2022-12-26 15:04,기타,22SNKO5283E,MS6,02,신항 6부두 2선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
38128,부산,DSRA2,SINOKOR NIIGATA,2022,48,최종,외항,입항,"6,490",2022-12-25 15:00,2022-12-26 12:12,2022-12-25 15:00,2022-12-26 09:33,기타,22SNKO5317I,MBS,01,신선대부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
39526,부산,DSRA2,SINOKOR NIIGATA,2022,49,최종,외항,입항,"6,490",2022-12-30 21:15,2023-01-07 23:05,2022-12-30 21:15,2023-01-04 11:07,기타,22SNKO5374I,MS6,03,신항 6부두 3선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN
39527,부산,DSRA2,SINOKOR NIIGATA,2022,49,최종,외항,출항,"6,490",2022-12-30 21:15,2023-01-07 23:05,2023-01-07 23:05,2023-01-09 09:18,기타,23SNKO0059E,MS6,01,신항 6부두 1선석,SHIBUSHI,IMARI,풀컨테이너선,9.0,10.0,NaN,N,N,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
36015,부산,H3LP,MSC NERISSA,2022,3,최종,외항,입항,"54,881",2022-12-15 14:06,2022-12-15 23:00,2022-12-15 14:00,2022-12-15 15:04,기타,22MSCU4392I,MSN,03,신항 1부두 3선석,CAUCEDO,NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
36016,부산,H3LP,MSC NERISSA,2022,3,최종,외항,출항,"54,881",2022-12-15 14:06,2022-12-15 23:00,2022-12-15 23:00,2022-12-16 10:42,기타,22MSCU3021E,MSN,03,신항 1부두 3선석,CAUCEDO,NINGBO,풀컨테이너선,NaN,31.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
686,부산,VRID6,COSCO PRINCE RUPERT,2022,3,최종,외항,출항,"91,051",2022-07-20 06:05,2022-07-20 20:10,2022-07-20 20:10,2022-07-21 10:00,기타,22COSU0120E,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
687,부산,VRID6,COSCO PRINCE RUPERT,2022,3,최종,외항,입항,"91,051",2022-07-20 06:05,2022-07-20 20:10,2022-07-20 06:05,2022-07-20 09:42,기타,22COSU0120I,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
19233,부산,VRID6,COSCO PRINCE RUPERT,2022,4,최종,외항,출항,"91,051",2022-10-09 03:30,2022-10-09 18:00,2022-10-09 18:00,2022-10-11 08:59,기타,22COSU0165E,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
19234,부산,VRID6,COSCO PRINCE RUPERT,2022,4,최종,외항,입항,"91,051",2022-10-09 03:30,2022-10-09 18:00,2022-10-09 03:30,2022-10-11 08:49,기타,22COSU0165I,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
38083,부산,VRID6,COSCO PRINCE RUPERT,2022,5,최종,외항,출항,"91,051",2022-12-25 11:03,2022-12-26 10:54,2022-12-26 10:54,2022-12-27 09:44,기타,22COSU0198E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
38084,부산,VRID6,COSCO PRINCE RUPERT,2022,5,최종,외항,입항,"91,051",2022-12-25 11:03,2022-12-26 10:54,2022-12-25 11:03,2022-12-26 09:54,기타,22COSU0198I,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
13802,부산,3FTY3,MSC LUCIANA,2022,3,최종,외항,입항,"131,771",2022-09-16 06:00,2022-09-25 21:51,2022-09-16 06:00,2022-09-16 10:48,기타,22MSCU2132I,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
13803,부산,3FTY3,MSC LUCIANA,2022,3,최종,외항,출항,"131,771",2022-09-16 06:00,2022-09-25 21:51,2022-09-25 22:00,2022-09-26 09:17,기타,22MSCU1014E,MS6,03,신항 6부두 3선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
30578,부산,3FTY3,MSC LUCIANA,2022,4,최종,외항,입항,"131,771",2022-11-23 08:54,2022-11-24 02:58,2022-11-23 09:00,2022-11-24 09:59,기타,22MSCU1239I,MSN,03,신항 1부두 3선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
30579,부산,3FTY3,MSC LUCIANA,2022,4,최종,외항,출항,"131,771",2022-11-23 08:54,2022-11-24 02:58,2022-11-24 03:00,2022-11-24 10:00,기타,22MSCU2036E,MSN,03,신항 1부두 3선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
30644,부산,D5PE6,MSC PAOLA,2022,1,최종,외항,출항,"37,968",2022-11-23 14:00,2022-11-24 00:51,2022-11-24 01:00,2022-11-24 10:00,기타,22MSCU2092E,MSN,01,신항 1부두 1선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
30645,부산,D5PE6,MSC PAOLA,2022,1,최종,외항,입항,"37,968",2022-11-23 14:00,2022-11-24 00:51,2022-11-23 14:00,2022-11-24 09:52,기타,22MSCU3049I,MSN,01,신항 1부두 1선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
36129,부산,D5PE6,MSC PAOLA,2022,2,최종,외항,출항,"37,968",2022-12-16 00:55,2022-12-16 16:58,2022-12-16 17:00,2022-12-19 09:29,기타,22MSCU3037E,MSN,03,신항 1부두 3선석,SHANGHAI,KAOHSIUNG,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
36130,부산,D5PE6,MSC PAOLA,2022,2,최종,외항,입항,"37,968",2022-12-16 00:55,2022-12-16 16:58,2022-12-16 01:00,2022-12-19 09:16,기타,22MSCU3075I,MSN,03,신항 1부두 3선석,OSAKA,KAOHSIUNG,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
13446,부산,D5BU7,MSC CRISTINA,2022,4,최종,외항,출항,"141,635",2022-09-14 10:18,2022-09-15 13:57,2022-09-15 13:00,2022-09-16 10:53,기타,22MSCU1082E,MSN,02,신항 1부두 2선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
13447,부산,D5BU7,MSC CRISTINA,2022,4,최종,외항,입항,"141,635",2022-09-14 10:18,2022-09-15 13:57,2022-09-14 10:00,2022-09-14 16:14,기타,22MSCU1183I,MSN,02,신항 1부두 2선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
36011,부산,D5BL4,MSC MONTEREY,2022,1,최종,외항,출항,"50,963",2022-12-15 13:40,2022-12-16 09:00,2022-12-16 09:00,2022-12-16 13:03,기타,22MSCU3007E,MSN,02,신항 1부두 2선석,TOKYO,SHANGHAI,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
36012,부산,D5BL4,MSC MONTEREY,2022,1,최종,외항,입항,"50,963",2022-12-15 13:40,2022-12-16 09:00,2022-12-15 14:00,2022-12-15 15:04,기타,22MSCU4402I,MSN,02,신항 1부두 2선석,VUNG TAU,SHANGHAI,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
38444,부산,D5BL4,MSC MONTEREY,2022,2,최종,외항,출항,"50,963",2022-12-26 22:02,2022-12-27 12:57,2022-12-27 13:00,2022-12-27 15:24,기타,22MSCU3064E,MSN,02,신항 1부두 2선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,23.0,2.0,Y,Y,NaN,NaN
38445,부산,D5BL4,MSC MONTEREY,2022,2,최종,외항,입항,"50,963",2022-12-26 22:02,2022-12-27 12:57,2022-12-26 22:00,2022-12-27 09:39,기타,22MSCU3079I,MSN,02,신항 1부두 2선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
1200,부산,D5TL4,MSC JEWEL,2022,4,최종,외항,출항,"140,976",2022-07-22 09:00,2022-07-24 15:13,2022-07-24 15:00,2022-07-25 09:15,기타,22MSCU0640E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
1201,부산,D5TL4,MSC JEWEL,2022,4,최종,외항,입항,"140,976",2022-07-22 09:00,2022-07-24 15:13,2022-07-22 09:00,2022-07-22 13:09,기타,22MSCU1130I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
19347,부산,D5TL4,MSC JEWEL,2022,5,최종,외항,출항,"140,976",2022-10-09 14:12,2022-10-10 11:15,2022-10-10 11:00,2022-10-11 09:02,기타,22MSCU1115E,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
19348,부산,D5TL4,MSC JEWEL,2022,5,최종,외항,입항,"140,976",2022-10-09 14:12,2022-10-10 11:15,2022-10-09 14:00,2022-10-11 08:55,기타,22MSCU3025I,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
24515,부산,D5TL4,MSC JEWEL,2022,6,최종,외항,입항,"140,976",2022-10-30 09:15,2022-11-01 10:00,2022-10-30 09:00,2022-10-31 09:18,기타,22MSCU3034I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
24516,부산,D5TL4,MSC JEWEL,2022,6,최종,외항,출항,"140,976",2022-10-30 09:15,2022-11-01 10:00,2022-11-01 10:00,2022-11-01 13:34,기타,22MSCU1146E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
8360,부산,9HA3355,VALUE,2022,4,최종,외항,출항,"95,390",2022-08-21 09:50,2022-08-22 20:00,2022-08-22 20:00,2022-08-23 10:17,기타,22HLCU4915E,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
8361,부산,9HA3355,VALUE,2022,4,최종,외항,입항,"95,390",2022-08-21 09:50,2022-08-22 20:00,2022-08-21 09:50,2022-08-22 08:12,기타,22HLCU4915I,MSN,01,신항 1부두 1선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
25355,부산,9HA3355,VALUE,2022,5,최종,외항,입항,"95,390",2022-11-02 16:18,2022-11-03 22:00,2022-11-02 16:18,2022-11-03 12:56,기타,22HLCU5122I,MSN,03,신항 1부두 3선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
25356,부산,9HA3355,VALUE,2022,5,최종,외항,출항,"95,390",2022-11-02 16:18,2022-11-03 22:00,2022-11-03 22:00,2022-11-04 09:45,기타,22HLCU5122E,MSN,03,신항 1부두 3선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
28578,부산,9HA3355,VALUE,2022,6,최종,외항,출항,"95,390",2022-11-15 18:05,2022-11-16 15:59,2022-11-16 15:59,2022-11-17 10:01,기타,22HLCU5212E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
28579,부산,9HA3355,VALUE,2022,6,최종,외항,입항,"95,390",2022-11-15 18:05,2022-11-16 15:59,2022-11-15 18:05,2022-11-16 13:41,기타,22HLCU5212I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
9448,부산,5LCN8,MSC MUNDRA,2022,4,최종,외항,출항,"94,483",2022-08-25 22:15,2022-08-26 19:55,2022-08-26 20:00,2022-08-29 16:12,기타,22MSCU0937E,MSN,01,신항 1부두 1선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
9449,부산,5LCN8,MSC MUNDRA,2022,4,최종,외항,입항,"94,483",2022-08-25 22:15,2022-08-26 19:55,2022-08-25 22:00,2022-08-29 16:04,기타,22MSCU1164I,MSN,01,신항 1부두 1선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
5684,부산,VRBI2,SEASPAN OCEANIA,2022,3,최종,외항,입항,"90,645",2022-08-09 23:42,2022-08-10 22:45,2022-08-09 23:42,2022-08-12 14:53,기타,22COSU0129I,MSN,03,신항 1부두 3선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
5685,부산,VRBI2,SEASPAN OCEANIA,2022,3,최종,외항,출항,"90,645",2022-08-09 23:42,2022-08-10 22:45,2022-08-10 22:45,2022-08-12 14:53,기타,22COSU0132E,MSN,03,신항 1부두 3선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
22820,부산,VRBI2,SEASPAN OCEANIA,2022,4,최종,외항,입항,"90,645",2022-10-23 19:10,2022-10-25 00:20,2022-10-23 19:10,2022-10-27 09:58,기타,22COSU0167I,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
22821,부산,VRBI2,SEASPAN OCEANIA,2022,4,최종,외항,출항,"90,645",2022-10-23 19:10,2022-10-25 00:20,2022-10-25 00:20,2022-10-27 10:05,기타,22COSU0167E,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,2.0,Y,Y,NaN,NaN
40683,부산,VRBI2,SEASPAN OCEANIA,2023,1,최종,외항,출항,"90,645",2023-01-04 21:06,2023-01-05 14:00,2023-01-05 14:00,2023-01-06 09:11,기타,23COSU0001E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,30.0,NaN,Y,Y,NaN,NaN
40684,부산,VRBI2,SEASPAN OCEANIA,2023,1,최종,외항,입항,"90,645",2023-01-04 21:06,2023-01-05 14:00,2023-01-04 21:06,2023-01-05 09:57,기타,23COSU0001I,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
7526,부산,VRQD6,NAVARINO,2022,1,최종,외항,출항,"91,354",2022-08-18 02:00,2022-08-18 17:00,2022-08-18 17:00,2022-08-19 13:08,기타,22MSCU0924E,MSN,01,신항 1부두 1선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
7527,부산,VRQD6,NAVARINO,2022,1,최종,외항,입항,"91,354",2022-08-18 02:00,2022-08-18 17:00,2022-08-18 02:00,2022-08-19 13:08,기타,22MSCU1163I,MSN,01,신항 1부두 1선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
28956,부산,VRQD6,NAVARINO,2022,2,최종,외항,출항,"91,354",2022-11-17 03:05,2022-11-17 23:02,2022-11-17 23:00,2022-11-18 08:47,기타,22MSCU2015E,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
28957,부산,VRQD6,NAVARINO,2022,2,최종,외항,입항,"91,354",2022-11-17 03:05,2022-11-17 23:02,2022-11-17 03:00,2022-11-17 09:59,기타,22MSCU2176I,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
41735,부산,VRQD6,NAVARINO,2023,1,최종,외항,입항,"91,354",2023-01-09 10:55,2023-01-10 07:55,2023-01-09 11:00,2023-01-09 15:02,기타,23MSCU2009I,MSN,03,신항 1부두 3선석,SEATTLE,SHANGHAI,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
41736,부산,VRQD6,NAVARINO,2023,1,최종,외항,출항,"91,354",2023-01-09 10:55,2023-01-10 07:55,2023-01-10 08:00,2023-01-10 10:30,기타,23MSCU0002E,MSN,03,신항 1부두 3선석,SEATTLE,SHANGHAI,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
12555,부산,BPKB,XIN OU ZHOU,2022,3,최종,외항,입항,"90,757",2022-09-09 13:00,2022-09-10 06:01,2022-09-09 13:00,2022-09-13 09:50,기타,22COSU0152I,MSN,03,신항 1부두 3선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
12556,부산,BPKB,XIN OU ZHOU,2022,3,최종,외항,출항,"90,757",2022-09-09 13:00,2022-09-10 06:01,2022-09-10 06:01,2022-09-13 10:17,기타,22COSU0152E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
30816,부산,BPKB,XIN OU ZHOU,2022,4,최종,외항,출항,"90,757",2022-11-24 08:00,2022-11-25 01:55,2022-11-25 01:55,2022-11-28 09:12,기타,22COSU0185E,MSN,03,신항 1부두 3선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
30817,부산,BPKB,XIN OU ZHOU,2022,4,최종,외항,입항,"90,757",2022-11-24 08:00,2022-11-25 01:55,2022-11-24 08:00,2022-11-28 09:00,기타,22COSU0185I,MSN,03,신항 1부두 3선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
5738,부산,BPKA,XIN YA ZHOU,2022,2,최종,외항,입항,"90,757",2022-08-10 05:15,2022-08-11 10:00,2022-08-10 05:15,2022-08-10 10:26,기타,22COSU0139I,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
5739,부산,BPKA,XIN YA ZHOU,2022,2,최종,외항,출항,"90,757",2022-08-10 05:15,2022-08-11 10:00,2022-08-11 10:00,2022-08-11 15:13,기타,22COSU0139E,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
25016,부산,BPKA,XIN YA ZHOU,2022,3,최종,외항,출항,"90,757",2022-11-01 09:00,2022-11-02 14:50,2022-11-02 14:50,2022-11-03 15:44,기타,22COSU0168E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
25017,부산,BPKA,XIN YA ZHOU,2022,3,최종,외항,입항,"90,757",2022-11-01 09:00,2022-11-02 14:50,2022-11-01 09:00,2022-11-01 15:03,기타,22COSU0168I,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
41866,부산,BPKA,XIN YA ZHOU,2023,1,최종,외항,출항,"90,757",2023-01-09 23:10,2023-01-10 12:00,2023-01-10 12:00,2023-01-11 09:05,기타,23COSU0002E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
41867,부산,BPKA,XIN YA ZHOU,2023,1,최종,외항,입항,"90,757",2023-01-09 23:10,2023-01-10 12:00,2023-01-09 23:10,2023-01-10 10:08,기타,23COSU0002I,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
5931,부산,CQEB9,MSC VIRGO,2022,2,최종,외항,출항,"149,525",2022-08-11 01:09,2022-08-13 02:33,2022-08-13 02:00,2022-08-16 08:51,기타,22MSCU0907E,MSN,03,신항 1부두 3선석,LONGBEACH,YANTIAN PT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
5932,부산,CQEB9,MSC VIRGO,2022,2,최종,외항,입항,"149,525",2022-08-11 01:09,2022-08-13 02:33,2022-08-11 01:00,2022-08-11 09:01,기타,22MSCU4268I,MSN,07,신항 2부두 4선석,LONGBEACH,YANTIAN PT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
20740,부산,CQEB9,MSC VIRGO,2022,3,최종,외항,입항,"149,525",2022-10-15 05:50,2022-10-17 05:00,2022-10-15 06:00,2022-10-17 09:40,기타,22MSCU3030I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
20741,부산,CQEB9,MSC VIRGO,2022,3,최종,외항,출항,"149,525",2022-10-15 05:50,2022-10-17 05:00,2022-10-17 05:00,2022-10-17 09:47,기타,22MSCU1119E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
22082,부산,CQEB9,MSC VIRGO,2022,4,최종,외항,입항,"149,525",2022-10-20 18:00,2022-10-21 01:40,2022-10-20 18:00,2022-10-21 08:35,기타,22MSCU3041I,MS6,01,신항 6부두 1선석,MANZANILLO,OCEAN DISTRICT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
22083,부산,CQEB9,MSC VIRGO,2022,4,최종,외항,출항,"149,525",2022-10-20 18:00,2022-10-21 01:40,2022-10-21 02:00,2022-10-21 08:42,기타,22MSCU1188E,MS6,01,신항 6부두 1선석,MANZANILLO,OCEAN DISTRICT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
40209,부산,CQEB9,MSC VIRGO,2023,1,최종,외항,입항,"149,525",2023-01-02 18:48,2023-01-04 02:14,2023-01-02 19:00,2023-01-03 09:06,기타,23MSCU3004I,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
40210,부산,CQEB9,MSC VIRGO,2023,1,최종,외항,출항,"149,525",2023-01-02 18:48,2023-01-04 02:14,2023-01-04 02:00,2023-01-04 10:22,기타,23MSCU9005E,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
42451,부산,CQEB9,MSC VIRGO,2023,2,최종,외항,입항,"149,525",2023-01-12 11:15,2023-01-13 10:00,2023-01-12 11:00,2023-01-12 12:59,기타,23MSCU1013I,MSN,02,신항 1부두 2선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
42452,부산,CQEB9,MSC VIRGO,2023,2,최종,외항,출항,"149,525",2023-01-12 11:15,2023-01-13 10:00,2023-01-13 10:00,NaN,기타,23MSCU0016E,MSN,02,신항 1부두 2선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
15264,부산,VRNA3,CSCL WINTER,2022,2,최종,외항,입항,"116,603",2022-09-23 09:25,2022-09-24 05:20,2022-09-23 09:25,2022-09-23 15:00,기타,22COSU0154I,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
15265,부산,VRNA3,CSCL WINTER,2022,2,최종,외항,출항,"116,603",2022-09-23 09:25,2022-09-24 05:20,2022-09-24 05:20,2022-09-26 09:04,기타,22COSU0154E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
34750,부산,VRNA3,CSCL WINTER,2022,3,최종,외항,출항,"116,603",2022-12-10 01:35,2022-12-10 21:58,2022-12-10 21:58,2022-12-12 09:51,기타,22COSU0196E,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
34751,부산,VRNA3,CSCL WINTER,2022,3,최종,외항,입항,"116,603",2022-12-10 01:35,2022-12-10 21:58,2022-12-10 01:35,2022-12-12 09:19,기타,22COSU0196I,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
6393,부산,VRGO3,OOCL LUXEMBOURG,2022,4,최종,외항,출항,"90,021",2022-08-13 00:00,2022-08-13 21:52,2022-08-13 21:52,2022-08-16 09:07,기타,22OOLU0140E,MSN,01,신항 1부두 1선석,SHANGHAI,XINGANG,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
6394,부산,VRGO3,OOCL LUXEMBOURG,2022,4,최종,외항,입항,"90,021",2022-08-13 00:00,2022-08-13 21:52,2022-08-13 00:00,2022-08-16 08:47,기타,22OOLU0139I,MSN,01,신항 1부두 1선석,SHANGHAI,XINGANG,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
17575,부산,VRGO3,OOCL LUXEMBOURG,2022,5,최종,외항,출항,"90,021",2022-10-02 00:14,2022-10-02 21:02,2022-10-02 21:02,2022-10-04 10:45,기타,22OOLU0176E,MSN,02,신항 1부두 2선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
17576,부산,VRGO3,OOCL LUXEMBOURG,2022,5,최종,외항,입항,"90,021",2022-10-02 00:14,2022-10-02 21:02,2022-10-02 00:14,2022-10-04 08:47,기타,22OOLU0175I,MSN,02,신항 1부두 2선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
31283,부산,VRGO3,OOCL LUXEMBOURG,2022,6,최종,외항,출항,"90,021",2022-11-26 00:10,2022-11-26 11:55,2022-11-26 11:55,2022-11-28 10:00,기타,22OOLU0218E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN PT,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
31284,부산,VRGO3,OOCL LUXEMBOURG,2022,6,최종,외항,입항,"90,021",2022-11-26 00:10,2022-11-26 11:55,2022-11-26 00:10,2022-11-28 09:10,기타,22OOLU0217I,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN PT,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
3915,부산,D5VE2,MSC ARICA,2022,3,최종,외항,출항,"94,017",2022-08-02 20:20,2022-08-04 07:07,2022-08-04 07:00,2022-08-04 14:07,기타,22MSCU0901E,MSN,03,신항 1부두 3선석,SHANGHAI,LAZARO CARDENAS,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
3916,부산,D5VE2,MSC ARICA,2022,3,최종,외항,입항,"94,017",2022-08-02 20:20,2022-08-04 07:07,2022-08-02 20:00,2022-08-03 08:35,기타,22MSCU4246I,MSN,03,신항 1부두 3선석,SHANGHAI,LAZARO CARDENAS,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
25372,부산,D5VE2,MSC ARICA,2022,4,최종,외항,입항,"94,017",2022-11-02 17:00,2022-11-04 00:05,2022-11-02 17:00,2022-11-03 08:47,기타,22MSCU2154I,MSN,01,신항 1부두 1선석,SHANGHAI,HONG KONG,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
25373,부산,D5VE2,MSC ARICA,2022,4,최종,외항,출항,"94,017",2022-11-02 17:00,2022-11-04 00:05,2022-11-04 00:00,2022-11-07 09:24,기타,22MSCU1160E,MSN,01,신항 1부두 1선석,SHANGHAI,HONG KONG,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
10934,부산,D5WM9,MSC IDA II,2022,17,최종,외항,출항,"26,050",2022-09-01 02:58,2022-09-02 02:08,2022-09-02 02:00,2022-09-02 08:51,기타,22MSCU0947E,MSN,01,신항 1부두 1선석,QINGDAO,인천,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
10935,부산,D5WM9,MSC IDA II,2022,17,최종,외항,입항,"26,050",2022-09-01 02:58,2022-09-02 02:08,2022-09-01 03:00,2022-09-01 08:43,기타,22MSCU4263I,MSN,01,신항 1부두 1선석,QINGDAO,인천,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
21407,부산,D5WM9,MSC IDA II,2022,18,최종,외항,입항,"26,050",2022-10-17 21:45,2022-10-18 15:55,2022-10-17 22:00,2022-10-19 08:37,기타,22MSCU4313I,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
21408,부산,D5WM9,MSC IDA II,2022,18,최종,외항,출항,"26,050",2022-10-17 21:45,2022-10-18 15:55,2022-10-18 13:00,2022-10-26 10:55,기타,22MSCU1126E,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
32813,부산,D5WM9,MSC IDA II,2022,19,최종,외항,출항,"26,050",2022-12-02 12:52,2022-12-03 10:51,2022-12-03 11:00,2022-12-05 09:12,기타,22MSCU3005E,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
32814,부산,D5WM9,MSC IDA II,2022,19,최종,외항,입항,"26,050",2022-12-02 12:52,2022-12-03 10:51,2022-12-02 13:00,2022-12-02 14:27,기타,22MSCU4356I,MSN,02,신항 1부두 2선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
21239,부산,CQEE7,MSC BUSAN,2022,1,최종,외항,출항,"89,954",2022-10-17 03:50,2022-10-18 00:40,2022-10-18 01:00,2022-10-18 09:11,기타,22MSCU1182E,MSN,01,신항 1부두 1선석,DALIAN,SHANGHAI,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
21240,부산,CQEE7,MSC BUSAN,2022,1,최종,외항,입항,"89,954",2022-10-17 03:50,2022-10-18 00:40,2022-10-17 04:00,2022-10-17 09:43,기타,22MSCU4338I,MSN,01,신항 1부두 1선석,DALIAN,SHANGHAI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
8330,부산,H3MK,MSC LISA,2022,3,최종,외항,출항,"54,304",2022-08-21 06:50,2022-08-21 15:04,2022-08-21 15:00,2022-08-22 09:29,기타,22MSCU0934E,MSN,02,신항 1부두 2선석,"PORTLAND, OR",QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
8331,부산,H3MK,MSC LISA,2022,3,최종,외항,입항,"54,304",2022-08-21 06:50,2022-08-21 15:04,2022-08-21 07:00,2022-08-22 08:21,기타,22MSCU4272I,MSN,02,신항 1부두 2선석,"PORTLAND, OR",QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
21259,부산,H3MK,MSC LISA,2022,4,최종,외항,입항,"54,304",2022-10-17 07:00,2022-10-22 22:00,2022-10-17 07:00,2022-10-17 09:44,기타,22MSCU2156I,MSN,03,신항 1부두 3선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
21260,부산,H3MK,MSC LISA,2022,4,최종,외항,출항,"54,304",2022-10-17 07:00,2022-10-22 22:00,2022-10-22 22:00,2022-10-24 11:26,기타,22MSCU1122E,MSN,03,신항 1부두 3선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
9852,부산,CQEV8,MSC SARA ELENA,2022,3,최종,외항,출항,"96,331",2022-08-27 16:10,2022-08-29 04:57,2022-08-29 05:00,2022-08-29 16:27,기타,22MSCU0940E,MSN,01,신항 1부두 1선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
9853,부산,CQEV8,MSC SARA ELENA,2022,3,최종,외항,입항,"96,331",2022-08-27 16:10,2022-08-29 04:57,2022-08-27 16:00,2022-08-29 16:05,기타,22MSCU2125I,MSN,01,신항 1부두 1선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
19009,부산,3EGR5,MSC JUDITH,2022,1,최종,외항,출항,"91,023",2022-10-07 21:45,2022-10-09 01:10,2022-10-09 01:00,2022-10-11 09:02,기타,22MSCU1176E,MSN,02,신항 1부두 2선석,NINGBO,QINGDAO,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
19010,부산,3EGR5,MSC JUDITH,2022,1,최종,외항,입항,"91,023",2022-10-07 21:45,2022-10-09 01:10,2022-10-07 22:00,2022-10-11 08:54,기타,22MSCU4335I,MSN,02,신항 1부두 2선석,NINGBO,QINGDAO,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
22149,부산,3EGR5,MSC JUDITH,2022,2,최종,외항,출항,"91,023",2022-10-21 00:55,2022-10-22 02:00,2022-10-22 02:00,2022-10-24 11:24,기타,22MSCU1134E,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
22150,부산,3EGR5,MSC JUDITH,2022,2,최종,외항,입항,"91,023",2022-10-21 00:55,2022-10-22 02:00,2022-10-21 01:00,2022-10-21 15:12,기타,22MSCU2164I,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
24138,부산,V7A5131,MANZANILLO EXPRESS,2022,1,최종,외항,출항,"123,560",2022-10-28 17:59,2022-10-30 07:09,2022-10-30 07:09,2022-10-31 09:29,기타,22HLCU5125E,MSN,03,신항 1부두 3선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
24139,부산,V7A5131,MANZANILLO EXPRESS,2022,1,최종,외항,입항,"123,560",2022-10-28 17:59,2022-10-30 07:09,2022-10-28 17:59,2022-10-31 09:14,기타,22HLCU5125I,MSN,03,신항 1부두 3선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,22.0,1.0,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
10617,부산,D5YT3,MSC SHRISTI,2022,1,최종,외항,입항,"54,519",2022-08-31 02:27,2022-09-01 01:06,2022-08-31 02:00,2022-09-02 08:47,기타,22MSCU1176I,MSN,01,신항 1부두 1선석,RODMAN,NINGBO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
10618,부산,D5YT3,MSC SHRISTI,2022,1,최종,외항,출항,"54,519",2022-08-31 02:27,2022-09-01 01:06,2022-09-01 01:00,2022-09-05 11:36,기타,22MSCU0971E,MSN,01,신항 1부두 1선석,RODMAN,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
41050,부산,D5YT3,MSC SHRISTI,2023,1,최종,외항,출항,"54,519",2023-01-06 10:10,2023-01-07 04:00,2023-01-07 04:00,2023-01-09 09:16,기타,23MSCU9019E,MSN,01,신항 1부두 1선석,CAUCEDO,SHANGHAI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
41051,부산,D5YT3,MSC SHRISTI,2023,1,최종,외항,입항,"54,519",2023-01-06 10:10,2023-01-07 04:00,2023-01-06 10:00,2023-01-09 09:09,기타,23MSCU4024I,MSN,01,신항 1부두 1선석,CAUCEDO,SHANGHAI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
1493,부산,CQZO,MSC DESIREE,2022,3,최종,외항,출항,"97,805",2022-07-23 15:48,2022-07-24 11:53,2022-07-24 12:00,2022-07-25 09:14,기타,22MSCU0629E,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
1494,부산,CQZO,MSC DESIREE,2022,3,최종,외항,입항,"97,805",2022-07-23 15:48,2022-07-24 11:53,2022-07-23 15:00,2022-07-25 09:07,기타,22MSCU2104I,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
34748,부산,H3RF,MSC ORNELLA,2022,1,최종,외항,입항,"54,304",2022-12-10 01:20,2022-12-11 01:26,2022-12-10 01:00,2022-12-12 09:24,기타,22MSCU4387I,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
34749,부산,H3RF,MSC ORNELLA,2022,1,최종,외항,출항,"54,304",2022-12-10 01:20,2022-12-11 01:26,2022-12-11 01:00,2022-12-12 09:53,기타,22MSCU3004E,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
12057,부산,CQEV2,MSC VITA,2022,1,최종,외항,출항,"96,331",2022-09-08 04:00,2022-09-10 05:00,2022-09-10 05:00,2022-09-13 10:15,기타,22MSCU1004E,MSN,02,신항 1부두 2선석,LONGBEACH,YANTIAN PT,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
12058,부산,CQEV2,MSC VITA,2022,1,최종,외항,입항,"96,331",2022-09-08 04:00,2022-09-10 05:00,2022-09-08 04:00,2022-09-08 15:47,기타,22MSCU4279I,MSN,02,신항 1부두 2선석,LONGBEACH,YANTIAN PT,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
18376,부산,A8LG7,MSC EXPRESS III,2022,1,최종,외항,입항,"28,050",2022-10-05 09:30,2022-10-06 02:55,2022-10-05 10:00,2022-10-05 10:23,기타,22MSCU4326I,MSN,01,신항 1부두 1선석,QINGDAO,DALIAN,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
18377,부산,A8LG7,MSC EXPRESS III,2022,1,최종,외항,출항,"28,050",2022-10-05 09:30,2022-10-06 02:55,2022-10-06 03:00,2022-10-06 09:06,기타,22MSCU1175E,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
28098,부산,A8LG7,MSC EXPRESS III,2022,2,최종,외항,출항,"28,050",2022-11-13 14:52,2022-11-14 05:05,2022-11-14 05:00,2022-11-14 08:55,기타,22MSCU2024E,MSN,01,신항 1부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
28099,부산,A8LG7,MSC EXPRESS III,2022,2,최종,외항,입항,"28,050",2022-11-13 14:52,2022-11-14 05:05,2022-11-13 15:00,2022-11-14 08:51,기타,22MSCU4352I,MSN,01,신항 1부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

Empty DataFrame
Columns: [항명, 호출부호, 선명, 입항횟수, 입항횟수.1, 구분, 외내, 입출, 총톤수, 입항일시, 출항일시, CIQ수속일자, 수리일시, 항해구분, MRN 번호, 계선장소, 계선장소.1, 계선장소.2, 차항지, 전출항지, 선박용도, 외항:한국인선원수
내항:해기사선원수, 외항:외국인선원수
내항:보통선원수, 승객, 예선, 도선, 부선호출부호1, 부선호출부호2]
Index: []

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
2635,부산,OYWG2,SOUTHAMPTON EXPRESS,2022,3,최종,외항,입항,"141,328",2022-07-28 08:45,2022-07-30 07:56,2022-07-28 08:45,2022-07-28 10:31,기타,22HLCU4819I,MSN,03,신항 1부두 3선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
2636,부산,OYWG2,SOUTHAMPTON EXPRESS,2022,3,최종,외항,출항,"141,328",2022-07-28 08:45,2022-07-30 07:56,2022-07-30 07:56,2022-08-01 10:08,기타,22HLCU4819E,MSN,03,신항 1부두 3선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
17153,부산,OYWG2,SOUTHAMPTON EXPRESS,2022,4,최종,외항,입항,"141,328",2022-09-30 10:05,2022-10-01 21:57,2022-09-30 10:05,2022-09-30 14:00,기타,22HLCU5037I,MSN,02,신항 1부두 2선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
17154,부산,OYWG2,SOUTHAMPTON EXPRESS,2022,4,최종,외항,출항,"141,328",2022-09-30 10:05,2022-10-01 21:57,2022-10-01 21:57,2022-10-04 08:55,기타,22HLCU5037E,MSN,02,신항 1부두 2선석,QINGDAO,HONG KONG,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
32281,부산,OYWG2,SOUTHAMPTON EXPRESS,2022,5,최종,외항,출항,"141,328",2022-11-30 07:06,2022-12-01 11:10,2022-12-01 11:10,2022-12-01 15:03,기타,22HLCU5226E,MS4,01,신항 4부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
32282,부산,OYWG2,SOUTHAMPTON EXPRESS,2022,5,최종,외항,입항,"141,328",2022-11-30 07:06,2022-12-01 11:10,2022-11-30 07:06,2022-11-30 12:59,기타,22HLCU5226I,MS4,01,신항 4부두 1선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
14088,부산,D5NI7,MSC PERLE,2022,4,최종,외항,입항,"141,754",2022-09-17 00:28,2022-09-21 03:54,2022-09-17 00:00,2022-09-18 20:01,기타,22MSCU3020I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
14089,부산,D5NI7,MSC PERLE,2022,4,최종,외항,출항,"141,754",2022-09-17 00:28,2022-09-21 03:54,2022-09-21 04:00,2022-09-21 08:58,기타,22MSCU1022E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
31974,부산,D5NI7,MSC PERLE,2022,5,최종,외항,출항,"141,754",2022-11-28 17:15,2022-11-29 18:04,2022-11-29 18:00,2022-11-30 09:29,기타,22MSCU2050E,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
31975,부산,D5NI7,MSC PERLE,2022,5,최종,외항,입항,"141,754",2022-11-28 17:15,2022-11-29 18:04,2022-11-28 17:00,2022-11-29 10:05,기타,22MSCU3043I,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
35579,부산,D5NI7,MSC PERLE,2022,6,최종,외항,입항,"141,754",2022-12-13 12:00,2022-12-15 12:00,2022-12-13 11:00,2022-12-13 13:48,기타,22MSCU3063I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
35580,부산,D5NI7,MSC PERLE,2022,6,최종,외항,출항,"141,754",2022-12-13 12:00,2022-12-15 12:00,2022-12-15 12:00,2022-12-15 14:39,기타,22MSCU3027E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
13712,부산,TCA4232,MERSIN EXPRESS,2022,1,최종,외항,입항,"31,425",2022-09-15 16:10,2022-09-16 04:05,2022-09-15 16:10,2022-09-16 10:48,기타,22HLCU5008I,MSN,01,신항 1부두 1선석,CANAL,QINGDAO,풀컨테이너선,NaN,18.0,NaN,Y,Y,NaN,NaN
13713,부산,TCA4232,MERSIN EXPRESS,2022,1,최종,외항,출항,"31,425",2022-09-15 16:10,2022-09-16 04:05,2022-09-16 04:05,2022-09-16 10:52,기타,22HLCU5008E,MSN,01,신항 1부두 1선석,CANAL,QINGDAO,풀컨테이너선,NaN,18.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
7220,부산,BPKC,XIN MEI ZHOU,2022,3,최종,외항,출항,"90,757",2022-08-16 15:42,2022-08-17 17:00,2022-08-17 17:00,2022-08-18 10:31,기타,22COSU0140E,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
7221,부산,BPKC,XIN MEI ZHOU,2022,3,최종,외항,입항,"90,757",2022-08-16 15:42,2022-08-17 17:00,2022-08-16 15:42,2022-08-17 11:03,기타,22COSU0140I,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
22662,부산,5LBU8,MSC RINI III,2022,1,최종,외항,출항,"27,051",2022-10-23 07:00,2022-10-24 01:00,2022-10-24 01:00,2022-10-24 11:27,기타,22MSCU1140E,MSN,03,신항 1부두 3선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
22663,부산,5LBU8,MSC RINI III,2022,1,최종,외항,입항,"27,051",2022-10-23 07:00,2022-10-24 01:00,2022-10-23 07:00,2022-10-24 11:27,기타,22MSCU4328I,MSN,03,신항 1부두 3선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
35010,부산,5LBU8,MSC RINI III,2022,2,최종,외항,출항,"27,051",2022-12-11 03:42,2022-12-11 23:08,2022-12-11 22:00,2022-12-12 09:54,기타,22MSCU3022E,MSN,01,신항 1부두 1선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
35011,부산,5LBU8,MSC RINI III,2022,2,최종,외항,입항,"27,051",2022-12-11 03:42,2022-12-11 23:08,2022-12-11 03:00,2022-12-12 09:43,기타,22MSCU4377I,MSN,01,신항 1부두 1선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
38511,부산,3FDA3,MSC ARIANE,2022,1,최종,외항,출항,"143,521",2022-12-27 04:56,2022-12-28 02:27,2022-12-28 02:00,2022-12-28 09:23,기타,22MSCU3065E,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
38512,부산,3FDA3,MSC ARIANE,2022,1,최종,외항,입항,"143,521",2022-12-27 04:56,2022-12-28 02:27,2022-12-27 05:00,2022-12-27 09:41,기타,22MSCU1267I,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
41154,부산,CQIP2,MSC SHUBA B,2023,1,최종,외항,입항,"113,112",2023-01-06 20:15,2023-01-07 20:28,2023-01-06 20:00,2023-01-09 09:10,기타,23MSCU4004I,MSN,02,신항 1부두 2선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
41155,부산,CQIP2,MSC SHUBA B,2023,1,최종,외항,출항,"113,112",2023-01-06 20:15,2023-01-07 20:28,2023-01-07 20:00,2023-01-09 09:20,기타,23MSCU0014E,MSN,02,신항 1부두 2선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
10843,부산,CQEB7,MSC AURIGA,2022,1,최종,외항,입항,"149,525",2022-08-31 19:08,2022-09-02 18:17,2022-08-31 19:00,2022-09-01 08:42,기타,22MSCU4274I,MSN,03,신항 1부두 3선석,SEATTLE,YANTIAN PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
10844,부산,CQEB7,MSC AURIGA,2022,1,최종,외항,출항,"149,525",2022-08-31 19:08,2022-09-02 18:17,2022-09-02 18:00,2022-09-05 11:37,기타,22MSCU0968E,MSN,03,신항 1부두 3선석,SEATTLE,YANTIAN PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
40514,부산,CQEB7,MSC AURIGA,2023,1,최종,외항,출항,"149,525",2023-01-04 04:48,2023-01-05 06:05,2023-01-05 06:00,2023-01-05 09:02,기타,23MSCU9000E,MSN,03,신항 1부두 3선석,SEATTLE,YANTIAN PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
40515,부산,CQEB7,MSC AURIGA,2023,1,최종,외항,입항,"149,525",2023-01-04 04:48,2023-01-05 06:05,2023-01-04 04:00,2023-01-04 10:20,기타,23MSCU4026I,MSN,03,신항 1부두 3선석,SEATTLE,YANTIAN PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
11405,부산,A8YD3,MSC BARI,2022,2,최종,외항,입항,"153,115",2022-09-02 20:22,2022-09-09 02:56,2022-09-02 20:00,2022-09-05 08:32,기타,22MSCU1144I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
11406,부산,A8YD3,MSC BARI,2022,2,최종,외항,출항,"153,115",2022-09-02 20:22,2022-09-09 02:56,2022-09-09 03:00,2022-09-13 10:02,기타,22MSCU0975E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,30.0,NaN,Y,Y,NaN,NaN
29995,부산,A8YD3,MSC BARI,2022,3,최종,외항,출항,"153,115",2022-11-21 03:00,2022-11-22 11:00,2022-11-22 11:00,2022-11-22 13:12,기타,22MSCU2042E,MSN,03,신항 1부두 3선석,SHANGHAI,MANZANILLO,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN
29996,부산,A8YD3,MSC BARI,2022,3,최종,외항,입항,"153,115",2022-11-21 03:00,2022-11-22 11:00,2022-11-21 03:00,2022-11-22 13:12,기타,22MSCU3042I,MSN,03,신항 1부두 3선석,SHANGHAI,MANZANILLO,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN
33620,부산,A8YD3,MSC BARI,2022,4,최종,외항,입항,"153,115",2022-12-05 15:25,2022-12-07 19:02,2022-12-05 15:00,2022-12-06 10:15,기타,22MSCU3045I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN
33621,부산,A8YD3,MSC BARI,2022,4,최종,외항,출항,"153,115",2022-12-05 15:25,2022-12-07 19:02,2022-12-07 19:00,2022-12-08 08:56,기타,22MSCU2091E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
13378,부산,VRPL2,MSC RENEE,2022,3,최종,외항,출항,"142,740",2022-09-14 00:34,2022-09-21 04:02,2022-09-21 04:00,2022-09-21 09:58,기타,22MSCU1006E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
13379,부산,VRPL2,MSC RENEE,2022,3,최종,외항,입항,"142,740",2022-09-14 00:34,2022-09-21 04:02,2022-09-14 00:00,2022-09-15 15:25,기타,22MSCU1182I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
26423,부산,VRPL2,MSC RENEE,2022,4,최종,외항,입항,"142,740",2022-11-06 22:15,2022-11-07 17:08,2022-11-06 22:00,2022-11-07 09:17,기타,22MSCU4358I,MSN,08,신항 2부두 5선석,NINGBO,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
26424,부산,VRPL2,MSC RENEE,2022,4,최종,외항,출항,"142,740",2022-11-06 22:15,2022-11-07 17:08,2022-11-07 17:00,2022-11-08 09:01,기타,22MSCU2082E,MSN,08,신항 2부두 5선석,NINGBO,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
29084,부산,VRPL2,MSC RENEE,2022,5,최종,외항,출항,"142,740",2022-11-17 12:10,2022-11-18 11:00,2022-11-18 11:00,2022-11-18 11:28,기타,22MSCU2027E,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
29085,부산,VRPL2,MSC RENEE,2022,5,최종,외항,입항,"142,740",2022-11-17 12:10,2022-11-18 11:00,2022-11-17 12:00,2022-11-17 14:24,기타,22MSCU1238I,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
2321,부산,9HA3347,VALOR,2022,3,최종,외항,입항,"95,390",2022-07-27 04:06,2022-07-28 15:03,2022-07-27 04:06,2022-07-27 15:54,기타,22HLCU4826I,MSN,02,신항 1부두 2선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
2322,부산,9HA3347,VALOR,2022,3,최종,외항,출항,"95,390",2022-07-27 04:06,2022-07-28 15:03,2022-07-28 15:03,2022-07-29 09:14,기타,22HLCU4826E,MSN,02,신항 1부두 2선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
5054,부산,9HA3347,VALOR,2022,4,최종,외항,출항,"95,390",2022-08-07 02:00,2022-08-08 18:53,2022-08-08 18:53,2022-08-09 09:51,기타,22HLCU4905E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
5055,부산,9HA3347,VALOR,2022,4,최종,외항,입항,"95,390",2022-08-07 02:00,2022-08-08 18:53,2022-08-07 02:00,2022-08-08 08:54,기타,22HLCU4905I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
7010,부산,V7AG5,VALOR,2022,4,최종,외항,입항,"12,814",2022-08-15 14:36,2022-08-17 08:10,2022-08-15 15:36,2022-08-17 10:19,기타,22VOKRA037I,MK6,02,감천 6부두 2선석,VLADIVOSTOK,울산,케미칼 운반선,NaN,18.0,NaN,Y,Y,NaN,NaN
7011,부산,V7AG5,VALOR,2022,4,최종,외항,출항,"12,814",2022-08-15 14:36,2022-08-17 08:10,2022-08-17 07:10,2022-08-17 10:19,기타,22VOKRD037E,MK6,02,감천 6부두 2선석,VOSTOCHNYY PORT,울산,케미칼 운반선,NaN,18.0,NaN,Y,Y,NaN,NaN
15410,부산,V7AG5,VALOR,2022,5,최종,외항,출항,"12,814",2022-09-23 18:48,2022-09-27 11:06,2022-09-26 10:00,2022-10-04 17:04,기타,22GLKO0105E,WAN,04,남외항 N-4박지,ZHANJIANG,VOSTOCHNYY PORT,케미칼 운반선,NaN,18.0,NaN,N,N,NaN,NaN
15411,부산,V7AG5,VALOR,2022,5,최종,외항,입항,"12,814",2022-09-23 18:48,2022-09-27 11:06,2022-09-23 19:00,2022-09-29 11:34,기타,22GLKO0105I,WAN,04,남외항 N-4박지,ZHANJIANG,VOSTOCHNYY PORT,케미칼 운반선,NaN,18.0,NaN,N,N,NaN,NaN
17965,부산,V7AG5,VALOR,2022,6,최종,외항,입항,"12,814",2022-10-03 15:12,2022-10-05 14:20,2022-10-03 15:00,2022-10-06 12:50,기타,22GLKO0112I,WAN,04,남외항 N-4박지,ZHANJIANG,OCEAN DISTRICT,케미칼 운반선,NaN,18.0,NaN,N,N,NaN,NaN
17966,부산,V7AG5,VALOR,2022,6,최종,외항,출항,"12,814",2022-10-03 15:12,2022-10-05 14:20,2022-10-05 11:00,2022-10-06 12:52,기타,22GLKO0112E,WAN,04,남외항 N-4박지,ZHANJIANG,OCEAN DISTRICT,케미칼 운반선,NaN,18.0,NaN,N,N,NaN,NaN
21907,부산,9HA3347,VALOR,2022,5,최종,외항,출항,"95,390",2022-10-20 01:45,2022-10-20 23:48,2022-10-20 23:48,2022-10-21 10:13,기타,22HLCU5107E,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
21908,부산,9HA3347,VALOR,2022,5,최종,외항,입항,"95,390",2022-10-20 01:45,2022-10-20 23:48,2022-10-20 01:45,2022-10-20 09:20,기타,22HLCU5107I,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
25183,부산,9HA3347,VALOR,2022,6,최종,외항,입항,"95,390",2022-11-01 20:50,2022-11-03 02:55,2022-11-01 20:50,2022-11-03 09:50,기타,22HLCU5118I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
25184,부산,9HA3347,VALOR,2022,6,최종,외항,출항,"95,390",2022-11-01 20:50,2022-11-03 02:55,2022-11-03 02:55,2022-11-03 12:56,기타,22HLCU5118E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
17619,부산,CQZM,MSC ELMA,2022,3,최종,외항,입항,"97,805",2022-10-02 06:10,2022-10-03 18:58,2022-10-02 06:00,2022-10-04 08:52,기타,22MSCU4292I,MSN,01,신항 1부두 1선석,RODMAN,SHANGHAI,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
17620,부산,CQZM,MSC ELMA,2022,3,최종,외항,출항,"97,805",2022-10-02 06:10,2022-10-03 18:58,2022-10-03 19:00,2022-10-04 09:01,기타,22MSCU1069E,MSN,01,신항 1부두 1선석,RODMAN,SHANGHAI,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
17931,부산,D5QH7,MSC ELISA,2022,5,최종,외항,입항,"141,649",2022-10-03 10:45,2022-10-04 23:00,2022-10-03 10:00,2022-10-04 08:53,기타,22MSCU3027I,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN
17932,부산,D5QH7,MSC ELISA,2022,5,최종,외항,출항,"141,649",2022-10-03 10:45,2022-10-04 23:00,2022-10-04 23:00,2022-10-05 08:58,기타,22MSCU1107E,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
26816,부산,CQDE,AMALTHEA,2022,1,최종,외항,입항,"42,609",2022-11-08 14:40,2022-11-09 07:04,2022-11-08 14:40,2022-11-09 09:25,기타,22HLCU5205I,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
26817,부산,CQDE,AMALTHEA,2022,1,최종,외항,출항,"42,609",2022-11-08 14:40,2022-11-09 07:04,2022-11-09 07:04,2022-11-09 09:26,기타,22HLCU5205E,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
17331,부산,HOWD,MSC VANESSA,2022,6,최종,외항,입항,"75,590",2022-10-01 04:10,2022-10-02 03:03,2022-10-01 04:00,2022-10-04 08:52,기타,22MSCU2146I,MSN,06,신항 2부두 3선석,"HOUSTON, TX",YANTIAN PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
17332,부산,HOWD,MSC VANESSA,2022,6,최종,외항,출항,"75,590",2022-10-01 04:10,2022-10-02 03:03,2022-10-02 03:00,2022-10-04 09:00,기타,22MSCU1089E,MSN,06,신항 2부두 3선석,"HOUSTON, TX",YANTIAN PT,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
36858,부산,HOWD,MSC VANESSA,2022,7,최종,외항,입항,"75,590",2022-12-19 08:08,2022-12-20 08:06,2022-12-19 08:00,2022-12-19 10:54,기타,22MSCU2202I,MSN,05,신항 2부두 2선석,XIAMEN,BALBOA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
36859,부산,HOWD,MSC VANESSA,2022,7,최종,외항,출항,"75,590",2022-12-19 08:08,2022-12-20 08:06,2022-12-20 08:00,2022-12-20 09:57,기타,22MSCU3042E,MSN,05,신항 2부두 2선석,XIAMEN,BALBOA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
42116,부산,HOWD,MSC VANESSA,2023,1,최종,외항,출항,"75,590",2023-01-10 21:48,2023-01-11 20:00,2023-01-11 20:00,2023-01-12 09:04,기타,23MSCU9009E,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
42117,부산,HOWD,MSC VANESSA,2023,1,최종,외항,입항,"75,590",2023-01-10 21:48,2023-01-11 20:00,2023-01-10 22:00,2023-01-11 09:03,기타,23MSCU2020I,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
40888,부산,A8HI8,MSC CARPATHIA III,2023,1,최종,외항,입항,"28,596",2023-01-05 16:00,2023-01-06 08:00,2023-01-05 16:00,2023-01-06 11:18,기타,23MSCU4021I,MSN,01,신항 1부두 1선석,인천,SINGAPORE,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
40889,부산,A8HI8,MSC CARPATHIA III,2023,1,최종,외항,출항,"28,596",2023-01-05 16:00,2023-01-06 08:00,2023-01-06 08:00,2023-01-06 11:18,기타,23MSCU9016E,MSN,01,신항 1부두 1선석,인천,SINGAPORE,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
2137,부산,A8LK7,MSC BREMEN,2022,1,최종,외항,입항,"54,605",2022-07-26 10:00,2022-07-26 23:22,2022-07-26 10:00,2022-07-26 13:45,기타,22MSCU2109I,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
2138,부산,A8LK7,MSC BREMEN,2022,1,최종,외항,출항,"54,605",2022-07-26 10:00,2022-07-26 23:22,2022-07-26 23:00,2022-07-27 09:14,기타,22MSCU0686E,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
30333,부산,A8JE8,MSC KYMEA II,2022,5,최종,외항,입항,"18,480",2022-11-22 09:00,2022-11-22 18:00,2022-11-22 09:00,2022-11-23 09:35,기타,22MSCU2181I,MSN,02,신항 1부두 2선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
30334,부산,A8JE8,MSC KYMEA II,2022,5,최종,외항,출항,"18,480",2022-11-22 09:00,2022-11-22 18:00,2022-11-22 18:00,2022-11-23 09:35,기타,22MSCU2086E,MSN,02,신항 1부두 2선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
10779,부산,9V6819,NAVEGANTES EXPRESS,2022,3,최종,외항,입항,"113,828",2022-08-31 14:05,2022-09-02 21:57,2022-08-31 14:05,2022-09-01 08:42,기타,22HLCU4918I,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
10780,부산,9V6819,NAVEGANTES EXPRESS,2022,3,최종,외항,출항,"113,828",2022-08-31 14:05,2022-09-02 21:57,2022-09-02 21:57,2022-09-05 08:33,기타,22HLCU4918E,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
32275,부산,9V6819,NAVEGANTES EXPRESS,2022,4,최종,외항,입항,"113,828",2022-11-30 06:38,2022-12-01 18:00,2022-11-30 06:38,2022-11-30 12:59,기타,22HLCU5224I,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
32276,부산,9V6819,NAVEGANTES EXPRESS,2022,4,최종,외항,출항,"113,828",2022-11-30 06:38,2022-12-01 18:00,2022-12-01 18:00,2022-12-02 09:44,기타,22HLCU5224E,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
11701,부산,5LFC5,CONTI CHIVALRY,2022,3,최종,외항,출항,"90,449",2022-09-07 08:35,2022-09-08 02:28,2022-09-08 02:00,2022-09-13 09:58,기타,22MSCU1000E,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
11702,부산,5LFC5,CONTI CHIVALRY,2022,3,최종,외항,입항,"90,449",2022-09-07 08:35,2022-09-08 02:28,2022-09-07 08:00,2022-09-07 11:27,기타,22MSCU2130I,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
31740,부산,A8ZU8,MSC RAVENNA,2022,3,최종,외항,출항,"153,115",2022-11-27 16:05,2022-11-28 14:55,2022-11-28 15:00,2022-11-28 17:02,기타,22MSCU2056E,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,34.0,NaN,Y,Y,NaN,NaN
31741,부산,A8ZU8,MSC RAVENNA,2022,3,최종,외항,입항,"153,115",2022-11-27 16:05,2022-11-28 14:55,2022-11-27 16:00,2022-11-28 09:09,기타,22MSCU1232I,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,35.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
4802,부산,DFNB2,KUALA LUMPUR EXPRESS,2022,3,최종,외항,출항,"93,811",2022-08-06 02:10,2022-08-07 15:02,2022-08-07 15:02,2022-08-08 09:08,기타,22HLCU4904E,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
4803,부산,DFNB2,KUALA LUMPUR EXPRESS,2022,3,최종,외항,입항,"93,811",2022-08-06 02:10,2022-08-07 15:02,2022-08-06 02:10,2022-08-08 08:54,기타,22HLCU4904I,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
22437,부산,DFNB2,KUALA LUMPUR EXPRESS,2022,4,최종,외항,입항,"93,811",2022-10-22 06:55,2022-10-23 06:59,2022-10-22 06:55,2022-10-24 11:17,기타,22HLCU5114I,MSN,01,신항 1부두 1선석,SINGAPORE,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
22438,부산,DFNB2,KUALA LUMPUR EXPRESS,2022,4,최종,외항,출항,"93,811",2022-10-22 06:55,2022-10-23 06:59,2022-10-23 06:59,2022-10-24 11:17,기타,22HLCU5114E,MSN,01,신항 1부두 1선석,SINGAPORE,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
30664,부산,DFNB2,KUALA LUMPUR EXPRESS,2022,5,최종,외항,입항,"93,811",2022-11-23 15:40,2022-11-24 14:02,2022-11-23 15:40,2022-11-24 10:23,기타,22HLCU5215I,MS5,01,신항 5부두 1선석,MANZANILLO,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
30665,부산,DFNB2,KUALA LUMPUR EXPRESS,2022,5,최종,외항,출항,"93,811",2022-11-23 15:40,2022-11-24 14:02,2022-11-24 14:02,2022-11-25 11:11,기타,22HLCU5215E,MS5,01,신항 5부두 1선석,MANZANILLO,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
33879,부산,5LDV5,MSC EMILY II,2022,1,최종,외항,입항,"16,802",2022-12-06 15:00,2022-12-07 05:00,2022-12-06 15:00,2022-12-06 15:37,기타,22MSCU2182I,MSN,02,신항 1부두 2선석,SINGAPORE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
33880,부산,5LDV5,MSC EMILY II,2022,1,최종,외항,출항,"16,802",2022-12-06 15:00,2022-12-07 05:00,2022-12-07 05:00,2022-12-07 14:10,기타,22MSCU2057E,MSN,02,신항 1부두 2선석,SINGAPORE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
41639,부산,5LDV5,MSC EMILY II,2023,1,최종,외항,출항,"16,802",2023-01-09 03:55,2023-01-09 16:58,2023-01-09 17:00,2023-01-10 09:19,기타,23MSCU0012E,MSN,02,신항 1부두 2선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
41640,부산,5LDV5,MSC EMILY II,2023,1,최종,외항,입항,"16,802",2023-01-09 03:55,2023-01-09 16:58,2023-01-09 03:00,2023-01-09 09:14,기타,23MSCU2012I,MSN,02,신항 1부두 2선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
16965,부산,D5LL2,MSC ISTANBUL,2022,1,최종,외항,출항,"176,490",2022-09-29 17:15,2022-09-30 08:05,2022-09-30 08:00,2022-09-30 09:29,기타,22MSCU1092E,MSN,02,신항 1부두 2선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
16966,부산,D5LL2,MSC ISTANBUL,2022,1,최종,외항,입항,"176,490",2022-09-29 17:15,2022-09-30 08:05,2022-09-29 17:00,2022-09-30 08:28,기타,22MSCU4306I,MSN,02,신항 1부두 2선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
1665,부산,3FIP4,MSC GIANNINA II,2022,3,최종,외항,출항,"18,334",2022-07-24 11:12,2022-07-25 22:10,2022-07-25 22:00,2022-07-26 09:15,기타,22MSCU0650E,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
1666,부산,3FIP4,MSC GIANNINA II,2022,3,최종,외항,입항,"18,334",2022-07-24 11:12,2022-07-25 22:10,2022-07-24 07:00,2022-07-25 15:46,기타,22MSCU4239I,WAN,04,남외항 N-4박지,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
3903,부산,3FIP4,MSC GIANNINA II,2022,4,최종,외항,출항,"18,334",2022-08-02 20:02,2022-08-03 10:47,2022-08-03 11:00,2022-08-03 14:46,기타,22MSCU0915E,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
3904,부산,3FIP4,MSC GIANNINA II,2022,4,최종,외항,입항,"18,334",2022-08-02 20:02,2022-08-03 10:47,2022-08-02 20:00,2022-08-03 08:35,기타,22MSCU4240I,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
6043,부산,3FIP4,MSC GIANNINA II,2022,5,최종,외항,입항,"18,334",2022-08-11 11:36,2022-08-12 03:00,2022-08-11 12:00,2022-08-11 15:12,기타,22MSCU4259I,MSN,02,신항 1부두 2선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
6044,부산,3FIP4,MSC GIANNINA II,2022,5,최종,외항,출항,"18,334",2022-08-11 11:36,2022-08-12 03:00,2022-08-12 03:00,2022-08-12 09:03,기타,22MSCU0929E,MSN,02,신항 1부두 2선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
8158,부산,3FIP4,MSC GIANNINA II,2022,6,최종,외항,입항,"18,334",2022-08-20 12:40,2022-08-21 05:57,2022-08-20 13:00,2022-08-22 08:21,기타,22MSCU4262I,MSN,03,신항 1부두 3선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
8159,부산,3FIP4,MSC GIANNINA II,2022,6,최종,외항,출항,"18,334",2022-08-20 12:40,2022-08-21 05:57,2022-08-21 06:00,2022-08-22 09:28,기타,22MSCU0942E,MSN,03,신항 1부두 3선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
10395,부산,3FIP4,MSC GIANNINA II,2022,7,최종,외항,출항,"18,334",2022-08-30 05:50,2022-08-30 23:51,2022-08-31 00:00,2022-08-31 12:59,기타,22MSCU0952E,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
10396,부산,3FIP4,MSC GIANNINA II,2022,7,최종,외항,입항,"18,334",2022-08-30 05:50,2022-08-30 23:51,2022-08-30 06:00,2022-08-30 13:51,기타,22MSCU4265I,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
12937,부산,3FIP4,MSC GIANNINA II,2022,8,최종,외항,출항,"18,334",2022-09-12 03:00,2022-09-12 22:15,2022-09-12 22:00,2022-09-13 10:05,기타,22MSCU1027E,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
12938,부산,3FIP4,MSC GIANNINA II,2022,8,최종,외항,입항,"18,334",2022-09-12 03:00,2022-09-12 22:15,2022-09-12 03:00,2022-09-13 09:52,기타,22MSCU4284I,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
14897,부산,3FIP4,MSC GIANNINA II,2022,9,최종,외항,입항,"18,334",2022-09-22 08:59,2022-09-23 05:50,2022-09-22 09:00,2022-09-22 13:29,기타,22MSCU4287I,MSN,02,신항 1부두 2선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
14898,부산,3FIP4,MSC GIANNINA II,2022,9,최종,외항,출항,"18,334",2022-09-22 08:59,2022-09-23 05:50,2022-09-23 06:00,2022-09-23 08:56,기타,22MSCU1045E,MSN,02,신항 1부두 2선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
18025,부산,3FIP4,MSC GIANNINA II,2022,10,최종,외항,출항,"18,334",2022-10-03 20:25,2022-10-04 22:07,2022-10-04 22:00,2022-10-05 08:58,기타,22MSCU1088E,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
18026,부산,3FIP4,MSC GIANNINA II,2022,10,최종,외항,입항,"18,334",2022-10-03 20:25,2022-10-04 22:07,2022-10-03 21:00,2022-10-04 08:53,기타,22MSCU4290I,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
20638,부산,3FIP4,MSC GIANNINA II,2022,11,최종,외항,출항,"18,334",2022-10-14 17:10,2022-10-15 06:45,2022-10-15 07:00,2022-10-17 09:48,기타,22MSCU1129E,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
20639,부산,3FIP4,MSC GIANNINA II,2022,11,최종,외항,입항,"18,334",2022-10-14 17:10,2022-10-15 06:45,2022-10-14 17:00,2022-10-17 09:39,기타,22MSCU4312I,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
24230,부산,3FIP4,MSC GIANNINA II,2022,12,최종,외항,입항,"18,334",2022-10-29 02:50,2022-10-29 19:52,2022-10-29 03:00,2022-10-31 09:17,기타,22MSCU4314I,MSN,02,신항 1부두 2선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
24231,부산,3FIP4,MSC GIANNINA II,2022,12,최종,외항,출항,"18,334",2022-10-29 02:50,2022-10-29 19:52,2022-10-29 20:00,2022-10-31 09:42,기타,22MSCU1186E,MSN,02,신항 1부두 2선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
27319,부산,3FIP4,MSC GIANNINA II,2022,13,최종,외항,입항,"18,334",2022-11-10 13:45,2022-11-11 07:54,2022-11-10 14:00,2022-11-10 14:30,기타,22MSCU4346I,MSN,02,신항 1부두 2선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
27320,부산,3FIP4,MSC GIANNINA II,2022,13,최종,외항,출항,"18,334",2022-11-10 13:45,2022-11-11 07:54,2022-11-11 08:00,2022-11-11 08:51,기타,22MSCU2017E,MSN,02,신항 1부두 2선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
30834,부산,3FIP4,MSC GIANNINA II,2022,14,최종,외항,입항,"18,334",2022-11-24 08:50,2022-11-25 13:50,2022-11-24 09:00,2022-11-24 10:03,기타,22MSCU4363I,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
30835,부산,3FIP4,MSC GIANNINA II,2022,14,최종,외항,출항,"18,334",2022-11-24 08:50,2022-11-25 13:50,2022-11-25 14:00,2022-11-25 17:07,기타,22MSCU2052E,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
35008,부산,3FIP4,MSC GIANNINA II,2022,15,최종,외항,출항,"18,334",2022-12-11 03:30,2022-12-12 02:12,2022-12-12 02:00,2022-12-12 09:54,기타,22MSCU3019E,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
35009,부산,3FIP4,MSC GIANNINA II,2022,15,최종,외항,입항,"18,334",2022-12-11 03:30,2022-12-12 02:12,2022-12-11 03:00,2022-12-12 09:43,기타,22MSCU4375I,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
39097,부산,3FIP4,MSC GIANNINA II,2022,16,최종,외항,입항,"18,334",2022-12-29 09:57,2022-12-30 10:00,2022-12-29 10:00,2022-12-29 10:25,기타,22MSCU4382I,MSN,01,신항 1부두 1선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
39098,부산,3FIP4,MSC GIANNINA II,2022,16,최종,외항,출항,"18,334",2022-12-29 09:57,2022-12-30 10:00,2022-12-30 10:00,2022-12-30 14:15,기타,22MSCU3060E,MSN,02,신항 1부두 2선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
42572,부산,3FIP4,MSC GIANNINA II,2023,1,최종,외항,출항,"18,334",2023-01-13 05:00,2023-01-13 19:00,2023-01-13 19:00,NaN,기타,23MSCU0026E,MSN,03,신항 1부두 3선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
42573,부산,3FIP4,MSC GIANNINA II,2023,1,최종,외항,입항,"18,334",2023-01-13 05:00,2023-01-13 19:00,2023-01-13 05:00,NaN,기타,23MSCU4012I,MSN,03,신항 1부두 3선석,VLADIVOSTOK,VLADIVOSTOK,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
606,부산,DSEK9,HEUNG-A ULSAN,2022,55,최종,외항,입항,"4,914",2022-07-19 17:50,2022-07-20 11:40,2022-07-19 17:50,2022-07-21 09:07,기타,22HASL1507I,MBS,01,신선대부두 1선석,마산,HAKATA/FUKUOKA,풀컨테이너선,9.0,7.0,NaN,Y,N,NaN,NaN
607,부산,DSEK9,HEUNG-A ULSAN,2022,55,최종,외항,출항,"4,914",2022-07-19 17:50,2022-07-20 11:40,2022-07-20 11:40,2022-07-21 09:35,기타,22HASL1505E,MSN,03,신항 1부두 3선석,마산,HAKATA/FUKUOKA,풀컨테이너선,9.0,7.0,NaN,Y,N,NaN,NaN
1422,부산,DSEK9,HEUNG-A ULSAN,2022,56,최종,외항,출항,"4,914",2022-07-23 09:25,2022-07-26 03:00,2022-07-26 03:00,2022-07-26 13:48,기타,22HASL1359E,MBS,01,신선대부두 1선석,마산,HOSOSHIMA,풀컨테이너선,9.0,7.0,NaN,Y,N,NaN,NaN
1423,부산,DSEK9,HEUNG-A ULSAN,2022,56,최종,외항,입항,"4,914",2022-07-23 09:25,2022-07-26 03:00,2022-07-23 09:25,2022-07-25 09:03,기타,22HASL1552I,MS6,01,신항 6부두 1선석,마산,HOSOSHIMA,풀컨테이너선,9.0,7.0,NaN,Y,N,NaN,NaN
2475,부산,DSEK9,HEUNG-A ULSAN,2022,57,최종,외항,출항,"4,914",2022-07-27 18:10,2022-07-30 16:15,2022-07-30 16:15,2022-08-01 09:29,기타,22HASL1555E,MSL,01,신항 다목적부두,MOJI/KITAKYUSHU,HAKATA/FUKUOKA,풀컨테이너선,9.0,7.0,NaN,Y,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38996,부산,DSEK9,HEUNG-A ULSAN,2022,96,최종,외항,출항,"4,914",2022-12-29 01:05,2023-01-04 14:15,2023-01-04 14:15,2023-01-05 13:05,기타,23HASL0028E,MS6,01,신항 6부두 1선석,마산,HAKATA/FUKUOKA,풀컨테이너선,9.0,7.0,NaN,N,N,NaN,NaN
41140,부산,DSEK9,HEUNG-A ULSAN,2023,1,최종,외항,입항,"4,914",2023-01-06 18:24,2023-01-08 10:45,2023-01-06 18:24,2023-01-09 09:11,기타,23HASL0045I,WAU,01,신항 U-1 정박지,MOJI/KITAKYUSHU,HAKATA/FUKUOKA,풀컨테이너선,9.0,7.0,NaN,N,N,NaN,NaN
41141,부산,DSEK9,HEUNG-A ULSAN,2023,1,최종,외항,출항,"4,914",2023-01-06 18:24,2023-01-08 10:45,2023-01-08 10:45,2023-01-09 09:17,기타,23HASL0048E,MBS,01,신선대부두 1선석,MOJI/KITAKYUSHU,HAKATA/FUKUOKA,풀컨테이너선,9.0,7.0,NaN,N,N,NaN,NaN
42066,부산,DSEK9,HEUNG-A ULSAN,2023,2,최종,외항,출항,"4,914",2023-01-10 16:45,2023-01-11 12:55,2023-01-11 12:55,2023-01-11 16:28,기타,23HASL0080E,MBS,01,신선대부두 1선석,마산,HAKATA/FUKUOKA,풀컨테이너선,9.0,7.0,NaN,N,N,NaN,NaN
42067,부산,DSEK9,HEUNG-A ULSAN,2023,2,최종,외항,입항,"4,914",2023-01-10 16:45,2023-01-11 12:55,2023-01-10 16:45,2023-01-11 16:27,기타,23HASL0069I,MS6,01,신항 6부두 1선석,마산,HAKATA/FUKUOKA,풀컨테이너선,9.0,7.0,NaN,N,N,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
31130,부산,D5GC9,MSC BHAVYA,2022,2,최종,외항,출항,"54,771",2022-11-25 12:50,2022-11-25 22:00,2022-11-25 22:00,2022-11-28 09:10,기타,22MSCU2049E,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
31131,부산,D5GC9,MSC BHAVYA,2022,2,최종,외항,입항,"54,771",2022-11-25 12:50,2022-11-25 22:00,2022-11-25 13:00,2022-11-25 17:17,기타,22MSCU2195I,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
15966,부산,VRRQ8,SEASPAN HARRIER,2022,3,최종,외항,출항,"113,828",2022-09-25 23:20,2022-09-27 22:00,2022-09-27 21:00,2022-09-28 13:44,기타,22ONEY1152E,MSN,01,신항 1부두 1선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
15967,부산,VRRQ8,SEASPAN HARRIER,2022,3,최종,외항,입항,"113,828",2022-09-25 23:20,2022-09-27 22:00,2022-09-25 23:00,2022-09-26 10:42,기타,22ONEY1151I,MSN,01,신항 1부두 1선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
38619,부산,VRRQ8,SEASPAN HARRIER,2022,4,최종,외항,입항,"113,828",2022-12-27 14:35,2022-12-28 20:10,2022-12-27 15:00,2022-12-28 13:09,기타,22ONEY1521I,MSN,02,신항 1부두 2선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
38620,부산,VRRQ8,SEASPAN HARRIER,2022,4,최종,외항,출항,"113,828",2022-12-27 14:35,2022-12-28 20:10,2022-12-28 18:00,2022-12-29 15:11,기타,22ONEY1522E,MSN,02,신항 1부두 2선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
32712,부산,D5BC5,MSC MEXICO V,2022,1,최종,외항,입항,"53,453",2022-12-02 05:20,2022-12-03 00:00,2022-12-02 05:00,2022-12-02 08:46,기타,22MSCU2192I,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
32713,부산,D5BC5,MSC MEXICO V,2022,1,최종,외항,출항,"53,453",2022-12-02 05:20,2022-12-03 00:00,2022-12-03 00:00,2022-12-05 09:06,기타,22MSCU2032E,MSN,01,신항 1부두 1선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
3605,부산,D5GE9,MSC ROCHELLE,2022,1,최종,외항,입항,"53,324",2022-08-01 09:40,2022-08-02 18:16,2022-08-01 10:00,2022-08-01 10:27,기타,22MSCU1158I,MSN,03,신항 1부두 3선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
3606,부산,D5GE9,MSC ROCHELLE,2022,1,최종,외항,출항,"53,324",2022-08-01 09:40,2022-08-02 18:16,2022-08-02 18:00,2022-08-03 08:37,기타,22MSCU0900E,MSN,03,신항 1부두 3선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
31894,부산,D5GE9,MSC ROCHELLE,2022,2,최종,외항,입항,"53,324",2022-11-28 09:50,2022-11-29 21:56,2022-11-28 10:00,2022-11-28 11:08,기타,22MSCU4343I,MSN,02,신항 1부두 2선석,MANZANILLO,ZHOUSHAN PT,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
31895,부산,D5GE9,MSC ROCHELLE,2022,2,최종,외항,출항,"53,324",2022-11-28 09:50,2022-11-29 21:56,2022-11-29 22:00,2022-11-30 09:29,기타,22MSCU2039E,MSN,02,신항 1부두 2선석,MANZANILLO,ZHOUSHAN PT,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
33680,부산,D5QT7,MSC ANTONIA,2022,1,최종,외항,출항,"75,582",2022-12-05 20:40,2022-12-06 17:03,2022-12-06 17:00,2022-12-07 08:58,기타,22MSCU2100E,MSN,01,신항 1부두 1선석,SHANGHAI,"NAGOYA, AICHI",풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
33681,부산,D5QT7,MSC ANTONIA,2022,1,최종,외항,입항,"75,582",2022-12-05 20:40,2022-12-06 17:03,2022-12-05 21:00,2022-12-07 08:57,기타,22MSCU4394I,MSN,01,신항 1부두 1선석,SHANGHAI,"NAGOYA, AICHI",풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
36221,부산,D5QT7,MSC ANTONIA,2022,2,최종,외항,출항,"75,582",2022-12-16 09:55,2022-12-17 07:03,2022-12-17 07:00,2022-12-19 09:29,기타,22MSCU3046E,MSN,08,신항 2부두 5선석,MOBILE,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
36222,부산,D5QT7,MSC ANTONIA,2022,2,최종,외항,입항,"75,582",2022-12-16 09:55,2022-12-17 07:03,2022-12-16 10:00,2022-12-19 09:16,기타,22MSCU1261I,MSN,08,신항 2부두 5선석,MOBILE,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
16869,부산,VRTG6,SEASPAN OSPREY,2022,3,최종,외항,출항,"113,976",2022-09-29 10:00,2022-09-30 15:15,2022-09-30 15:00,2022-10-04 08:57,기타,22ONEY1156E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
16870,부산,VRTG6,SEASPAN OSPREY,2022,3,최종,외항,입항,"113,976",2022-09-29 10:00,2022-09-30 15:15,2022-09-29 07:00,2022-09-30 09:51,기타,22ONEY1155I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
12811,부산,D5EZ6,MSC PRATITI,2022,2,최종,외항,입항,"53,453",2022-09-11 08:07,2022-09-12 06:00,2022-09-11 08:00,2022-09-13 09:56,기타,22MSCU1157I,MSN,02,신항 1부두 2선석,"CHARLESTON, SC",SHANGHAI,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
12812,부산,D5EZ6,MSC PRATITI,2022,2,최종,외항,출항,"53,453",2022-09-11 08:07,2022-09-12 06:00,2022-09-12 04:00,2022-09-13 10:05,기타,22MSCU0939E,MSN,02,신항 1부두 2선석,"CHARLESTON, SC",SHANGHAI,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
33936,부산,3FZU8,MSC DANIT,2022,2,최종,외항,출항,"153,092",2022-12-06 19:05,2022-12-08 14:08,2022-12-08 14:00,2022-12-09 09:26,기타,22MSCU3008E,MSN,01,신항 1부두 1선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
33937,부산,3FZU8,MSC DANIT,2022,2,최종,외항,입항,"153,092",2022-12-06 19:05,2022-12-08 14:08,2022-12-06 19:00,2022-12-07 08:57,기타,22MSCU1257I,MSN,01,신항 1부두 1선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
40337,부산,3FPK6,MSC MAKOTO II,2023,1,최종,외항,입항,"18,283",2023-01-03 09:08,2023-01-03 13:00,2023-01-03 09:00,2023-01-03 10:16,기타,23MSCU2019I,MSN,02,신항 1부두 2선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
40338,부산,3FPK6,MSC MAKOTO II,2023,1,최종,외항,출항,"18,283",2023-01-03 09:08,2023-01-03 13:00,2023-01-03 13:00,2023-01-03 15:25,기타,23MSCU9006E,MSN,02,신항 1부두 2선석,SHANGHAI,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
4106,부산,5LFN8,MSC TAMPA,2022,2,최종,외항,출항,"53,481",2022-08-03 12:52,2022-08-04 10:00,2022-08-04 10:00,2022-08-04 14:05,기타,22MSCU0902E,MSN,01,신항 1부두 1선석,"CHARLESTON, SC",SHANGHAI,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
4107,부산,5LFN8,MSC TAMPA,2022,2,최종,외항,입항,"53,481",2022-08-03 12:52,2022-08-04 10:00,2022-08-03 13:00,2022-08-03 14:46,기타,22MSCU2111I,MSN,01,신항 1부두 1선석,"CHARLESTON, SC",SHANGHAI,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
17249,부산,BPKD,XIN FEI ZHOU,2022,4,최종,외항,출항,"90,757",2022-09-30 18:55,2022-10-01 15:13,2022-10-01 15:13,2022-10-04 08:55,기타,22COSU0155E,MSN,03,신항 1부두 3선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
17250,부산,BPKD,XIN FEI ZHOU,2022,4,최종,외항,입항,"90,757",2022-09-30 18:55,2022-10-01 15:13,2022-09-30 18:55,2022-10-04 08:46,기타,22COSU0155I,MSN,03,신항 1부두 3선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
2255,부산,D7EW,HMM BLESSING,2022,3,최종,외항,입항,"114,023",2022-07-26 20:20,2022-07-28 06:54,2022-07-26 20:20,2022-07-27 09:06,기타,22HDMUA390I,MSN,03,신항 1부두 3선석,MANZANILLO,SHANGHAI,풀컨테이너선,15.0,8.0,NaN,Y,Y,NaN,NaN
2256,부산,D7EW,HMM BLESSING,2022,3,최종,외항,출항,"114,023",2022-07-26 20:20,2022-07-28 06:54,2022-07-28 06:54,2022-07-28 08:54,기타,22HDMUA409E,MSN,03,신항 1부두 3선석,MANZANILLO,SHANGHAI,풀컨테이너선,15.0,8.0,NaN,Y,Y,NaN,NaN
20150,부산,D7EW,HMM BLESSING,2022,4,최종,외항,출항,"114,023",2022-10-13 03:12,2022-10-14 19:00,2022-10-14 19:00,2022-10-17 09:29,기타,22HDMUA524E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,14.0,8.0,NaN,Y,Y,NaN,NaN
20151,부산,D7EW,HMM BLESSING,2022,4,최종,외항,입항,"114,023",2022-10-13 03:12,2022-10-14 19:00,2022-10-13 03:12,2022-10-13 08:56,기타,22HDMUA507I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,15.0,8.0,NaN,Y,Y,NaN,NaN
40807,부산,D7EW,HMM BLESSING,2023,1,최종,외항,출항,"114,023",2023-01-05 09:05,2023-01-06 21:56,2023-01-06 21:56,2023-01-09 09:16,기타,23HDMUA004E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,16.0,8.0,NaN,Y,Y,NaN,NaN
40808,부산,D7EW,HMM BLESSING,2023,1,최종,외항,입항,"114,023",2023-01-05 09:05,2023-01-06 21:56,2023-01-05 09:05,2023-01-09 09:07,기타,23HDMUA623I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,14.0,8.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
10423,부산,D5SI3,CONTI ANNAPURNA,2022,4,최종,외항,출항,"90,745",2022-08-30 08:15,2022-08-31 12:13,2022-08-31 08:00,2022-09-01 08:37,기타,22ONEY1056E,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
10424,부산,D5SI3,CONTI ANNAPURNA,2022,4,최종,외항,입항,"90,745",2022-08-30 08:15,2022-08-31 12:13,2022-08-30 07:00,2022-08-30 13:50,기타,22ONEY1055I,MSN,02,신항 1부두 2선석,NINGBO,YOKOHAMA,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
20168,부산,3EVX2,MSC ALGHERO,2022,4,최종,외항,입항,"96,375",2022-10-13 06:25,2022-10-14 20:00,2022-10-13 06:00,2022-10-13 08:55,기타,22MSCU2153I,MSN,02,신항 1부두 2선석,SHANGHAI,HONG KONG,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
20169,부산,3EVX2,MSC ALGHERO,2022,4,최종,외항,출항,"96,375",2022-10-13 06:25,2022-10-14 20:00,2022-10-14 20:00,2022-10-17 09:29,기타,22MSCU1117E,MSN,02,신항 1부두 2선석,SHANGHAI,HONG KONG,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
7734,부산,VROD3,SEASPAN BELIEF,2022,4,최종,외항,입항,"113,042",2022-08-18 21:10,2022-08-20 08:58,2022-08-18 21:00,2022-08-22 08:09,기타,22ONEY0999I,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
7735,부산,VROD3,SEASPAN BELIEF,2022,4,최종,외항,출항,"113,042",2022-08-18 21:10,2022-08-20 08:58,2022-08-20 07:00,2022-08-22 09:24,기타,22ONEY1000E,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
30688,부산,VROD3,SEASPAN BELIEF,2022,5,최종,외항,출항,"113,042",2022-11-23 18:08,2022-11-25 01:32,2022-11-25 00:01,2022-11-25 10:13,기타,22ONEY1388E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
30689,부산,VROD3,SEASPAN BELIEF,2022,5,최종,외항,입항,"113,042",2022-11-23 18:08,2022-11-25 01:32,2022-11-23 18:00,2022-11-25 10:11,기타,22ONEY1387I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
24683,부산,5LDZ2,MSC LONG BEACH VI,2022,1,최종,외항,출항,"66,199",2022-10-31 07:10,2022-11-03 13:00,2022-11-03 12:00,2022-11-03 15:44,기타,22MSCU1184E,WAN,05,남외항 N-5박지,SEATTLE,QINGDAO,풀컨테이너선,NaN,23.0,NaN,N,N,NaN,NaN
24684,부산,5LDZ2,MSC LONG BEACH VI,2022,1,최종,외항,입항,"66,199",2022-10-31 07:10,2022-11-03 13:00,2022-10-31 07:00,2022-10-31 09:27,기타,22MSCU2185I,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
37182,부산,5LDZ2,MSC LONG BEACH VI,2022,2,최종,외항,출항,"66,199",2022-12-20 16:00,2022-12-21 11:10,2022-12-21 11:00,2022-12-21 13:19,기타,22MSCU3041E,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
37183,부산,5LDZ2,MSC LONG BEACH VI,2022,2,최종,외항,입항,"66,199",2022-12-20 16:00,2022-12-21 11:10,2022-12-20 16:00,2022-12-20 16:58,기타,22MSCU4408I,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,16.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
27862,부산,A8PA8,MSC AMEERA III,2022,1,최종,외항,입항,"36,007",2022-11-12 12:30,2022-11-13 06:56,2022-11-12 12:00,2022-11-14 08:49,기타,22MSCU3048I,MSN,02,신항 1부두 2선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
27863,부산,A8PA8,MSC AMEERA III,2022,1,최종,외항,출항,"36,007",2022-11-12 12:30,2022-11-13 06:56,2022-11-13 07:00,2022-11-14 08:55,기타,22MSCU2022E,MSN,02,신항 1부두 2선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
34996,부산,A8PA8,MSC AMEERA III,2022,2,최종,외항,출항,"36,007",2022-12-11 02:15,2022-12-12 02:52,2022-12-12 03:00,2022-12-12 09:55,기타,22MSCU3017E,MSN,02,신항 1부두 2선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
34997,부산,A8PA8,MSC AMEERA III,2022,2,최종,외항,입항,"36,007",2022-12-11 02:15,2022-12-12 02:52,2022-12-11 02:00,2022-12-12 09:43,기타,22MSCU3074I,MSN,02,신항 1부두 2선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
36976,부산,A8PA8,MSC AMEERA III,2022,3,최종,외항,출항,"36,007",2022-12-19 18:06,2022-12-20 05:57,2022-12-20 06:00,2022-12-20 09:08,기타,22MSCU3043E,MSN,02,신항 1부두 2선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
36977,부산,A8PA8,MSC AMEERA III,2022,3,최종,외항,입항,"36,007",2022-12-19 18:06,2022-12-20 05:57,2022-12-19 18:00,2022-12-20 09:05,기타,22MSCU3069I,MSN,02,신항 1부두 2선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
42527,부산,A8PA8,MSC AMEERA III,2023,1,최종,외항,출항,"36,007",2023-01-12 21:00,2023-01-13 22:00,2023-01-13 22:00,NaN,기타,23MSCU9026E,MSN,01,신항 1부두 1선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
42528,부산,A8PA8,MSC AMEERA III,2023,1,최종,외항,입항,"36,007",2023-01-12 21:00,2023-01-13 22:00,2023-01-12 21:00,2023-01-13 08:45,기타,23MSCU3010I,MSN,01,신항 1부두 1선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
4460,부산,CQQN,MSC PARIS,2022,1,최종,외항,출항,"89,941",2022-08-04 17:30,2022-08-06 08:52,2022-08-06 09:00,2022-08-08 09:01,기타,22MSCU0905E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,33.0,NaN,Y,Y,NaN,NaN
4461,부산,CQQN,MSC PARIS,2022,1,최종,외항,입항,"89,941",2022-08-04 17:30,2022-08-06 08:52,2022-08-04 18:00,2022-08-05 08:49,기타,22MSCU4250I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
8162,부산,5LEV3,MSC HAILEY ANN III,2022,2,최종,외항,입항,"25,703",2022-08-20 13:00,2022-08-22 03:01,2022-08-20 13:00,2022-08-22 08:14,기타,22MSCU4267I,MSN,03,신항 1부두 3선석,QINGDAO,SINGAPORE,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
8163,부산,5LEV3,MSC HAILEY ANN III,2022,2,최종,외항,출항,"25,703",2022-08-20 13:00,2022-08-22 03:01,2022-08-22 03:00,2022-08-22 09:30,기타,22MSCU0949E,MSN,03,신항 1부두 3선석,VUNG TAU,SINGAPORE,풀컨테이너선,NaN,19.0,NaN,Y,Y,NaN,NaN
41237,부산,5LEV3,MSC HAILEY ANN III,2023,1,최종,외항,입항,"25,703",2023-01-07 07:05,2023-01-08 01:18,2023-01-07 07:00,2023-01-09 09:13,기타,23MSCU4011I,MSN,01,신항 1부두 1선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
41238,부산,5LEV3,MSC HAILEY ANN III,2023,1,최종,외항,출항,"25,703",2023-01-07 07:05,2023-01-08 01:18,2023-01-08 01:00,2023-01-09 09:19,기타,23MSCU0010E,MSN,01,신항 1부두 1선석,QINGDAO,TANJUNG PELEPAS,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
3223,부산,D5KG9,LEO C,2022,1,최종,외항,출항,"75,201",2022-07-30 12:00,2022-07-31 17:00,2022-07-31 17:00,2022-08-01 08:33,기타,22MSCU0696E,MSN,02,신항 1부두 2선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
3224,부산,D5KG9,LEO C,2022,1,최종,외항,입항,"75,201",2022-07-30 12:00,2022-07-31 17:00,2022-07-30 12:00,2022-08-01 08:28,기타,22MSCU1141I,MSN,02,신항 1부두 2선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
21590,부산,D5HF9,MSC PEGASUS,2022,1,최종,외항,입항,"76,199",2022-10-18 18:00,2022-10-20 00:12,2022-10-18 18:00,2022-10-19 08:37,기타,22MSCU4333I,MSN,02,신항 1부두 2선석,"HOUSTON, TX",SHANGHAI,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
21591,부산,D5HF9,MSC PEGASUS,2022,1,최종,외항,출항,"76,199",2022-10-18 18:00,2022-10-20 00:12,2022-10-20 00:00,2022-10-20 09:06,기타,22MSCU1121E,MSN,02,신항 1부두 2선석,"HOUSTON, TX",SHANGHAI,풀컨테이너선,NaN,30.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
6327,부산,VRRQ7,SEASPAN RAPTOR,2022,3,최종,외항,출항,"113,828",2022-08-12 15:57,2022-08-14 06:58,2022-08-14 06:00,2022-08-16 14:52,기타,22ONEY0974E,MSN,02,신항 1부두 2선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
6328,부산,VRRQ7,SEASPAN RAPTOR,2022,3,최종,외항,입항,"113,828",2022-08-12 15:57,2022-08-14 06:58,2022-08-12 16:00,2022-08-16 14:49,기타,22ONEY0973I,MSN,02,신항 1부두 2선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
28048,부산,VRRQ7,SEASPAN RAPTOR,2022,4,최종,외항,입항,"113,828",2022-11-13 10:00,2022-11-15 01:02,2022-11-13 10:00,2022-11-14 17:29,기타,22ONEY1353I,MSN,02,신항 1부두 2선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
28049,부산,VRRQ7,SEASPAN RAPTOR,2022,4,최종,외항,출항,"113,828",2022-11-13 10:00,2022-11-15 01:02,2022-11-15 01:00,2022-11-15 13:35,기타,22ONEY1354E,MSN,02,신항 1부두 2선석,YANGSHAN,SINGAPORE,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
4520,부산,VRZK9,OOCL HAMBURG,2022,4,최종,외항,입항,"89,097",2022-08-04 23:05,2022-08-05 18:28,2022-08-04 23:05,2022-08-08 09:36,기타,22OOLU0133I,MSN,01,신항 1부두 1선석,HONG KONG,XINGANG,풀컨테이너선,NaN,27.0,NaN,N,N,NaN,NaN
4521,부산,VRZK9,OOCL HAMBURG,2022,4,최종,외항,출항,"89,097",2022-08-04 23:05,2022-08-05 18:28,2022-08-05 18:28,2022-08-08 09:36,기타,22OOLU0134E,MSN,01,신항 1부두 1선석,SHANGHAI,XINGANG,풀컨테이너선,NaN,27.0,NaN,N,N,NaN,NaN
16498,부산,VRZK9,OOCL HAMBURG,2022,5,최종,외항,출항,"89,097",2022-09-28 00:00,2022-09-28 21:10,2022-09-28 21:10,2022-09-29 09:59,기타,22OOLU0170E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,28.0,NaN,N,N,NaN,NaN
16499,부산,VRZK9,OOCL HAMBURG,2022,5,최종,외항,입항,"89,097",2022-09-28 00:00,2022-09-28 21:10,2022-09-28 00:00,2022-09-29 09:59,기타,22OOLU0169I,MSN,01,신항 1부두 1선석,HONG KONG,TIANJIN XINGANG PT,풀컨테이너선,NaN,28.0,NaN,N,N,NaN,NaN
29424,부산,VRZK9,OOCL HAMBURG,2022,6,최종,외항,입항,"89,097",2022-11-18 16:06,2022-11-19 08:56,2022-11-18 16:06,2022-11-21 09:40,기타,22OOLU0207I,MSN,01,신항 1부두 1선석,HONG KONG,XINGANG,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN
29425,부산,VRZK9,OOCL HAMBURG,2022,6,최종,외항,출항,"89,097",2022-11-18 16:06,2022-11-19 08:56,2022-11-19 08:56,2022-11-21 09:40,기타,22OOLU0208E,MSN,01,신항 1부두 1선석,SHANGHAI,XINGANG,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN
41459,부산,VRZK9,OOCL HAMBURG,2023,1,최종,외항,출항,"89,097",2023-01-08 03:52,2023-01-09 00:57,2023-01-09 00:57,2023-01-09 15:03,기타,23OOLU0004E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
41460,부산,VRZK9,OOCL HAMBURG,2023,1,최종,외항,입항,"89,097",2023-01-08 03:52,2023-01-09 00:57,2023-01-08 03:52,2023-01-09 15:02,기타,23OOLU0003I,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
15760,부산,D5TM4,MSC ALIYA,2022,2,최종,외항,출항,"140,976",2022-09-24 23:22,2022-09-25 23:00,2022-09-25 23:00,2022-09-26 09:06,기타,22MSCU1038E,MSN,03,신항 1부두 3선석,NINGBO,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
15761,부산,D5TM4,MSC ALIYA,2022,2,최종,외항,입항,"140,976",2022-09-24 23:22,2022-09-25 23:00,2022-09-24 23:00,2022-09-26 09:01,기타,22MSCU1191I,MSN,03,신항 1부두 3선석,NINGBO,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
41170,부산,D5TM4,MSC ALIYA,2023,1,최종,외항,입항,"140,976",2023-01-07 00:15,2023-01-08 20:38,2023-01-06 23:00,2023-01-09 09:10,기타,23MSCU3001I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
41171,부산,D5TM4,MSC ALIYA,2023,1,최종,외항,출항,"140,976",2023-01-07 00:15,2023-01-08 20:38,2023-01-08 20:00,2023-01-09 09:21,기타,23MSCU9010E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
37959,부산,9HA3459,MSC TRIESTE,2022,3,최종,외항,출항,"143,521",2022-12-24 12:14,2022-12-25 22:00,2022-12-25 22:00,2022-12-26 10:37,기타,22MSCU3048E,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
37960,부산,9HA3459,MSC TRIESTE,2022,3,최종,외항,입항,"143,521",2022-12-24 12:14,2022-12-25 22:00,2022-12-24 12:00,2022-12-26 09:55,기타,22MSCU3064I,MSN,02,신항 1부두 2선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
12819,부산,D5QH6,MSC EMMA,2022,3,최종,외항,출항,"141,649",2022-09-11 08:25,2022-09-12 03:06,2022-09-12 03:00,2022-09-13 10:05,기타,22MSCU1011E,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
12820,부산,D5QH6,MSC EMMA,2022,3,최종,외항,입항,"141,649",2022-09-11 08:25,2022-09-12 03:06,2022-09-11 08:00,2022-09-13 09:56,기타,22MSCU3026I,MSN,03,신항 1부두 3선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
17481,부산,D5QH6,MSC EMMA,2022,4,최종,외항,입항,"141,649",2022-10-01 17:00,2022-10-03 08:00,2022-10-01 17:00,2022-10-04 08:46,기타,22MSCU3022I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
17482,부산,D5QH6,MSC EMMA,2022,4,최종,외항,출항,"141,649",2022-10-01 17:00,2022-10-03 08:00,2022-10-03 08:00,2022-10-04 08:56,기타,22MSCU1043E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
36447,부산,D5QH6,MSC EMMA,2022,5,최종,외항,출항,"141,649",2022-12-17 07:00,2022-12-18 06:25,2022-12-18 06:25,2022-12-20 13:26,기타,22MSCU3038E,MSN,02,신항 1부두 2선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
36448,부산,D5QH6,MSC EMMA,2022,5,최종,외항,입항,"141,649",2022-12-17 07:00,2022-12-18 06:25,2022-12-17 07:00,2022-12-20 13:26,기타,22MSCU3060I,MSN,02,신항 1부두 2선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
18547,부산,3FYR9,MSC AGRIGENTO,2022,3,최종,외항,출항,"96,375",2022-10-06 03:10,2022-10-07 20:09,2022-10-07 20:00,2022-10-11 09:01,기타,22MSCU1103E,MSN,02,신항 1부두 2선석,SHANGHAI,HONG KONG,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
18548,부산,3FYR9,MSC AGRIGENTO,2022,3,최종,외항,입항,"96,375",2022-10-06 03:10,2022-10-07 20:09,2022-10-06 03:00,2022-10-06 09:05,기타,22MSCU2152I,MSN,02,신항 1부두 2선석,SHANGHAI,HONG KONG,풀컨테이너선,NaN,32.0,NaN,Y,Y,NaN,NaN
39975,부산,3FYR9,MSC AGRIGENTO,2023,1,최종,외항,입항,"96,375",2023-01-01 15:54,2023-01-02 20:00,2023-01-01 16:00,2023-01-02 09:43,기타,23MSCU2015I,MSN,01,신항 1부두 1선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
39976,부산,3FYR9,MSC AGRIGENTO,2023,1,최종,외항,출항,"96,375",2023-01-01 15:54,2023-01-02 20:00,2023-01-02 20:00,2023-01-03 09:09,기타,23MSCU0086E,MSN,01,신항 1부두 1선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
4918,부산,A8ZV3,MSC RAPALLO,2022,1,최종,외항,출항,"143,521",2022-08-06 11:15,2022-08-08 21:16,2022-08-08 21:00,2022-08-09 09:50,기타,22MSCU0906E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
4919,부산,A8ZV3,MSC RAPALLO,2022,1,최종,외항,입항,"143,521",2022-08-06 11:15,2022-08-08 21:16,2022-08-06 11:00,2022-08-08 15:26,기타,22MSCU3010I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
22215,부산,A8ZV3,MSC RAPALLO,2022,2,최종,외항,출항,"143,521",2022-10-21 08:12,2022-10-22 12:00,2022-10-22 12:00,2022-10-24 11:16,기타,22MSCU1133E,MSN,02,신항 1부두 2선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,30.0,NaN,Y,Y,NaN,NaN
22216,부산,A8ZV3,MSC RAPALLO,2022,2,최종,외항,입항,"143,521",2022-10-21 08:12,2022-10-22 12:00,2022-10-21 08:00,2022-10-21 09:53,기타,22MSCU3032I,MSN,02,신항 1부두 2선석,SHANGHAI,YOKOHAMA,풀컨테이너선,NaN,30.0,NaN,Y,Y,NaN,NaN
27679,부산,A8ZV3,MSC RAPALLO,2022,3,최종,외항,입항,"143,521",2022-11-11 21:05,2022-11-13 11:00,2022-11-11 21:00,2022-11-14 08:48,기타,22MSCU3035I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,30.0,NaN,Y,Y,NaN,NaN
27680,부산,A8ZV3,MSC RAPALLO,2022,3,최종,외항,출항,"143,521",2022-11-11 21:05,2022-11-13 11:00,2022-11-13 11:00,2022-11-14 08:53,기타,22MSCU2011E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,29.0,1.0,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
8990,부산,3EUI7,MSC CAPELLA,2022,3,최종,외항,출항,"141,635",2022-08-24 04:25,2022-08-25 18:00,2022-08-25 18:00,2022-08-26 10:00,기타,22MSCU0936E,MSN,03,신항 1부두 3선석,QINGDAO,BALBOA,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
8991,부산,3EUI7,MSC CAPELLA,2022,3,최종,외항,입항,"141,635",2022-08-24 04:25,2022-08-25 18:00,2022-08-24 04:00,2022-08-24 09:46,기타,22MSCU3011I,MSN,03,신항 1부두 3선석,QINGDAO,BALBOA,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
7260,부산,H3BQ,MSC ELENI,2022,4,최종,외항,입항,"54,881",2022-08-16 18:45,2022-08-18 00:00,2022-08-16 19:00,2022-08-17 08:56,기타,22MSCU1159I,MSN,01,신항 1부두 1선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
7261,부산,H3BQ,MSC ELENI,2022,4,최종,외항,출항,"54,881",2022-08-16 18:45,2022-08-18 00:00,2022-08-18 00:00,2022-08-26 10:55,기타,22MSCU0927E,MSN,01,신항 1부두 1선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
42321,부산,H3BQ,MSC ELENI,2023,1,최종,외항,입항,"54,881",2023-01-11 22:11,2023-01-12 18:48,2023-01-11 22:00,2023-01-12 09:01,기타,23MSCU4003I,MSN,01,신항 1부두 1선석,CAUCEDO,SHANGHAI,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
42322,부산,H3BQ,MSC ELENI,2023,1,최종,외항,출항,"54,881",2023-01-11 22:11,2023-01-12 18:48,2023-01-12 19:00,2023-01-13 09:28,기타,23MSCU0007E,MSN,01,신항 1부두 1선석,RODMAN,SHANGHAI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
5480,부산,DGXS2,RIO DE JANEIRO EXPRESS,2022,1,최종,외항,입항,"123,560",2022-08-09 00:00,2022-08-09 21:21,2022-08-09 00:01,2022-08-09 09:39,기타,22HLCU4907I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
5481,부산,DGXS2,RIO DE JANEIRO EXPRESS,2022,1,최종,외항,출항,"123,560",2022-08-09 00:00,2022-08-09 21:21,2022-08-09 21:21,2022-08-10 10:32,기타,22HLCU4907E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
13778,부산,DGXS2,RIO DE JANEIRO EXPRESS,2022,2,최종,외항,입항,"123,560",2022-09-16 02:03,2022-09-17 00:20,2022-09-16 02:03,2022-09-16 11:22,기타,22HLCU5014I,MS4,01,신항 4부두 1선석,SHANGHAI,LAZARO CARDENAS,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
13779,부산,DGXS2,RIO DE JANEIRO EXPRESS,2022,2,최종,외항,출항,"123,560",2022-09-16 02:03,2022-09-17 00:20,2022-09-17 00:20,2022-09-19 09:28,기타,22HLCU5014E,MS4,01,신항 4부두 1선석,SHANGHAI,LAZARO CARDENAS,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
37111,부산,DGXS2,RIO DE JANEIRO EXPRESS,2022,3,최종,외항,출항,"123,560",2022-12-20 10:20,2022-12-21 18:00,2022-12-21 18:00,2022-12-22 09:25,기타,22HLCU5311E,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
37112,부산,DGXS2,RIO DE JANEIRO EXPRESS,2022,3,최종,외항,입항,"123,560",2022-12-20 10:20,2022-12-21 18:00,2022-12-20 10:20,2022-12-21 11:07,기타,22HLCU5311I,MSN,02,신항 1부두 2선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
3193,부산,OXGL2,NAVIGARE COLLECTOR,2022,3,최종,외항,입항,"112,967",2022-07-30 10:15,2022-08-01 07:31,2022-07-30 10:00,2022-08-01 12:40,기타,22ONEY0919I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
3194,부산,OXGL2,NAVIGARE COLLECTOR,2022,3,최종,외항,출항,"112,967",2022-07-30 10:15,2022-08-01 07:31,2022-08-01 10:00,2022-08-01 16:29,기타,22ONEY0920E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
20780,부산,OXGL2,NAVIGARE COLLECTOR,2022,4,최종,외항,입항,"112,967",2022-10-15 08:58,2022-10-17 02:08,2022-10-15 09:00,2022-10-17 09:37,기타,22ONEY1227I,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
20781,부산,OXGL2,NAVIGARE COLLECTOR,2022,4,최종,외항,출항,"112,967",2022-10-15 08:58,2022-10-17 02:08,2022-10-17 00:01,2022-10-17 13:09,기타,22ONEY1228E,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
41988,부산,OXGL2,NAVIGARE COLLECTOR,2023,1,최종,외항,출항,"112,967",2023-01-10 10:10,2023-01-11 15:00,2023-01-11 12:00,2023-01-12 13:08,기타,23ONEY0038E,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
41989,부산,OXGL2,NAVIGARE COLLECTOR,2023,1,최종,외항,입항,"112,967",2023-01-10 10:10,2023-01-11 15:00,2023-01-10 10:00,2023-01-11 16:27,기타,23ONEY0037I,MSN,03,신항 1부두 3선석,MANZANILLO,NINGBO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
34598,부산,CQZK,MSC CHANNE,2022,3,최종,외항,입항,"96,333",2022-12-09 11:55,2022-12-11 00:08,2022-12-09 12:00,2022-12-09 13:45,기타,22MSCU2212I,MSN,03,신항 1부두 3선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN
34599,부산,CQZK,MSC CHANNE,2022,3,최종,외항,출항,"96,333",2022-12-09 11:55,2022-12-11 00:08,2022-12-11 00:00,2022-12-12 09:53,기타,22MSCU3012E,MSN,03,신항 1부두 3선석,SHANGHAI,SINGAPORE,풀컨테이너선,NaN,29.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
5198,부산,3FQT9,MSC CAMILLE,2022,3,최종,외항,입항,"153,092",2022-08-07 17:20,2022-08-09 21:33,2022-08-07 17:00,2022-08-08 08:53,기타,22MSCU1136I,MSN,01,신항 1부두 1선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
5199,부산,3FQT9,MSC CAMILLE,2022,3,최종,외항,출항,"153,092",2022-08-07 17:20,2022-08-09 21:33,2022-08-09 22:00,2022-08-10 10:30,기타,22MSCU0904E,MSN,01,신항 1부두 1선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
26301,부산,5LFO9,MSC FATMA,2022,1,최종,외항,출항,"150,783",2022-11-06 07:06,2022-11-07 05:22,2022-11-07 05:00,2022-11-07 09:27,기타,22MSCU2007E,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
26302,부산,5LFO9,MSC FATMA,2022,1,최종,외항,입항,"150,783",2022-11-06 07:06,2022-11-07 05:22,2022-11-06 07:00,2022-11-07 09:16,기타,22MSCU1233I,MSN,03,신항 1부두 3선석,NINGBO,TIANJIN XINGANG PT,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
15978,부산,5LDZ3,MSC LOS ANGELES,2022,1,최종,외항,출항,"66,199",2022-09-26 01:10,2022-09-28 10:30,2022-09-28 11:00,2022-09-28 13:02,기타,22MSCU1041E,WAN,05,남외항 N-5박지,RODMAN,NINGBO,풀컨테이너선,NaN,24.0,NaN,N,N,NaN,NaN
15979,부산,5LDZ3,MSC LOS ANGELES,2022,1,최종,외항,입항,"66,199",2022-09-26 01:10,2022-09-28 10:30,2022-09-26 01:00,2022-09-26 09:02,기타,22MSCU1178I,MSN,03,신항 1부두 3선석,CRISTOBAL,NINGBO,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
41623,부산,5LDZ3,MSC LOS ANGELES,2023,1,최종,외항,입항,"66,199",2023-01-09 03:10,2023-01-09 20:48,2023-01-09 03:00,2023-01-09 09:14,기타,23MSCU4002I,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
41624,부산,5LDZ3,MSC LOS ANGELES,2023,1,최종,외항,출항,"66,199",2023-01-09 03:10,2023-01-09 20:48,2023-01-09 21:00,2023-01-10 09:19,기타,23MSCU0001E,MSN,01,신항 1부두 1선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
2579,부산,3E3434,MSC SANTA MARIA,2022,2,최종,외항,입항,"54,809",2022-07-28 05:25,2022-07-29 12:30,2022-07-28 05:00,2022-07-28 08:54,기타,22MSCU4236I,MSN,01,신항 1부두 1선석,"HOUSTON, TX",NINGBO,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
2580,부산,3E3434,MSC SANTA MARIA,2022,2,최종,외항,출항,"54,809",2022-07-28 05:25,2022-07-29 12:30,2022-07-29 13:00,2022-07-29 13:27,기타,22MSCU0692E,WAN,05,남외항 N-5박지,여수,NINGBO,풀컨테이너선,NaN,23.0,NaN,N,N,NaN,NaN
28488,부산,3E3434,MSC SANTA MARIA,2022,3,최종,외항,출항,"54,809",2022-11-15 09:10,2022-11-16 03:07,2022-11-16 03:00,2022-11-16 08:59,기타,22MSCU2084E,MSN,03,신항 1부두 3선석,TOKYO,ENSENADA,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
28489,부산,3E3434,MSC SANTA MARIA,2022,3,최종,외항,입항,"54,809",2022-11-15 09:10,2022-11-16 03:07,2022-11-15 09:00,2022-11-15 10:08,기타,22MSCU4369I,MSN,03,신항 1부두 3선석,TOKYO,ENSENADA,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
31345,부산,3E3434,MSC SANTA MARIA,2022,4,최종,외항,출항,"54,809",2022-11-26 04:50,2022-11-27 00:00,2022-11-27 00:00,2022-11-28 09:11,기타,22MSCU2095E,MSN,02,신항 1부두 2선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
31346,부산,3E3434,MSC SANTA MARIA,2022,4,최종,외항,입항,"54,809",2022-11-26 04:50,2022-11-27 00:00,2022-11-26 05:00,2022-11-28 09:08,기타,22MSCU1223I,MSN,02,신항 1부두 2선석,VUNG TAU,"NAGOYA, AICHI",풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
38756,부산,3E3434,MSC SANTA MARIA,2022,5,최종,외항,입항,"54,809",2022-12-28 02:15,2022-12-28 19:50,2022-12-28 02:00,2022-12-28 09:23,기타,22MSCU3077I,MSN,01,신항 1부두 1선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
38757,부산,3E3434,MSC SANTA MARIA,2022,5,최종,외항,출항,"54,809",2022-12-28 02:15,2022-12-28 19:50,2022-12-28 20:00,2022-12-29 09:02,기타,22MSCU3059E,MSN,01,신항 1부두 1선석,TOKYO,KAOHSIUNG,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
41595,부산,3E3434,MSC SANTA MARIA,2023,1,최종,외항,입항,"54,809",2023-01-08 22:55,2023-01-09 08:55,2023-01-08 23:00,2023-01-09 09:14,기타,23MSCU3013I,MSN,03,신항 1부두 3선석,TANJUNG PELEPAS,"NAGOYA, AICHI",풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
41596,부산,3E3434,MSC SANTA MARIA,2023,1,최종,외항,출항,"54,809",2023-01-08 22:55,2023-01-09 08:55,2023-01-09 09:00,2023-01-09 15:04,기타,23MSCU9012E,MSN,03,신항 1부두 3선석,TANJUNG PELEPAS,"NAGOYA, AICHI",풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
17823,부산,MGGA2,HYUNDAI SATURN,2022,7,최종,외항,출항,"110,632",2022-10-03 00:00,2022-10-04 19:00,2022-10-04 19:00,2022-10-05 08:58,기타,22HDMUA490E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
17824,부산,MGGA2,HYUNDAI SATURN,2022,7,최종,외항,입항,"110,632",2022-10-03 00:00,2022-10-04 19:00,2022-10-03 00:00,2022-10-04 08:48,기타,22HDMUA470I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
38999,부산,MGGA2,HYUNDAI SATURN,2022,8,최종,외항,출항,"110,632",2022-12-29 01:22,2022-12-30 15:10,2022-12-30 15:10,2023-01-02 10:02,기타,22HDMUA634E,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
39000,부산,MGGA2,HYUNDAI SATURN,2022,8,최종,외항,입항,"110,632",2022-12-29 01:22,2022-12-30 15:10,2022-12-29 01:22,2022-12-29 09:00,기타,22HDMUA611I,MSN,02,신항 1부두 2선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
12807,부산,VROK9,OOCL GENOA,2022,3,최종,외항,입항,"91,499",2022-09-11 07:50,2022-09-11 23:58,2022-09-11 08:00,2022-09-13 09:56,기타,22COSU0157I,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
12808,부산,VROK9,OOCL GENOA,2022,3,최종,외항,출항,"91,499",2022-09-11 07:50,2022-09-11 23:58,2022-09-11 22:00,2022-09-13 10:06,기타,22COSU0157E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
24740,부산,VROK9,OOCL GENOA,2022,4,최종,외항,출항,"91,499",2022-10-31 10:00,2022-11-01 04:50,2022-11-01 05:00,2022-11-01 10:50,기타,22COSU0179E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
24741,부산,VROK9,OOCL GENOA,2022,4,최종,외항,입항,"91,499",2022-10-31 10:00,2022-11-01 04:50,2022-10-31 10:00,2022-11-01 10:43,기타,22COSU0179I,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
37677,부산,VROK9,OOCL GENOA,2022,5,최종,외항,입항,"91,499",2022-12-22 13:03,2022-12-23 04:03,2022-12-22 13:00,2022-12-22 17:26,기타,22COSU0207I,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
37678,부산,VROK9,OOCL GENOA,2022,5,최종,외항,출항,"91,499",2022-12-22 13:03,2022-12-23 04:03,2022-12-23 04:00,2022-12-26 10:37,기타,22COSU0207E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
8782,부산,D5HE7,COPIAPO,2022,4,최종,외항,출항,"93,685",2022-08-23 09:36,2022-08-24 19:16,2022-08-24 19:16,2022-08-25 10:24,기타,22HLCU4921E,MSN,02,신항 1부두 2선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,25.0,2.0,Y,Y,NaN,NaN
8783,부산,D5HE7,COPIAPO,2022,4,최종,외항,입항,"93,685",2022-08-23 09:36,2022-08-24 19:16,2022-08-23 09:36,2022-08-23 11:03,기타,22HLCU4921I,MSN,02,신항 1부두 2선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
28090,부산,D5HE7,COPIAPO,2022,5,최종,외항,입항,"93,685",2022-11-13 14:12,2022-11-15 06:57,2022-11-13 14:12,2022-11-14 08:48,기타,22HLCU5210I,MSN,03,신항 1부두 3선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
28091,부산,D5HE7,COPIAPO,2022,5,최종,외항,출항,"93,685",2022-11-13 14:12,2022-11-15 06:57,2022-11-15 06:57,2022-11-15 10:58,기타,22HLCU5210E,MSN,03,신항 1부두 3선석,MANZANILLO,SHANGHAI,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
16508,부산,3EFR7,MSC MADELEINE,2022,2,최종,외항,출항,"107,551",2022-09-28 01:15,2022-09-29 14:00,2022-09-29 14:00,2022-09-29 17:00,기타,22MSCU1050E,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
16509,부산,3EFR7,MSC MADELEINE,2022,2,최종,외항,입항,"107,551",2022-09-28 01:15,2022-09-29 14:00,2022-09-28 01:00,2022-09-28 08:42,기타,22MSCU2144I,MSN,02,신항 1부두 2선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
33274,부산,3EFR7,MSC MADELEINE,2022,3,최종,외항,출항,"107,551",2022-12-04 01:55,2022-12-05 12:56,2022-12-05 13:00,2022-12-06 10:22,기타,22MSCU2065E,MSN,03,신항 1부두 3선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
33275,부산,3EFR7,MSC MADELEINE,2022,3,최종,외항,입항,"107,551",2022-12-04 01:55,2022-12-05 12:56,2022-12-04 02:00,2022-12-05 09:05,기타,22MSCU2193I,MSN,03,신항 1부두 3선석,SEATTLE,QINGDAO,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
34070,부산,A8VP5,MSC PETRA,2022,1,최종,외항,입항,"73,157",2022-12-07 09:10,2022-12-10 19:45,2022-12-07 09:00,2022-12-09 14:49,기타,22MSCU4372I,MSN,02,신항 1부두 2선석,RODMAN,SHANGHAI,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
34071,부산,A8VP5,MSC PETRA,2022,1,최종,외항,출항,"73,157",2022-12-07 09:10,2022-12-10 19:45,2022-12-10 19:00,2022-12-12 09:53,기타,22MSCU2054E,WAN,05,남외항 N-5박지,RODMAN,SHANGHAI,풀컨테이너선,NaN,26.0,NaN,N,N,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
8490,부산,3ELQ8,COSCO ASIA,2022,1,최종,외항,입항,"114,394",2022-08-22 05:10,2022-08-22 17:00,2022-08-22 05:10,2022-08-22 10:34,기타,22COSU0144I,MSN,03,신항 1부두 3선석,LAZARO CARDENAS,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
8491,부산,3ELQ8,COSCO ASIA,2022,1,최종,외항,출항,"114,394",2022-08-22 05:10,2022-08-22 17:00,2022-08-22 17:00,2022-08-23 10:18,기타,22COSU0144E,MSN,03,신항 1부두 3선석,LAZARO CARDENAS,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
26848,부산,3ELQ8,COSCO ASIA,2022,2,최종,외항,출항,"114,394",2022-11-08 17:20,2022-11-09 12:59,2022-11-09 12:59,2022-11-10 14:02,기타,22COSU0183E,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN
26849,부산,3ELQ8,COSCO ASIA,2022,2,최종,외항,입항,"114,394",2022-11-08 17:20,2022-11-09 12:59,2022-11-08 17:20,2022-11-09 13:12,기타,22COSU0183I,MSN,02,신항 1부두 2선석,LAZARO CARDENAS,QINGDAO,풀컨테이너선,NaN,27.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
2023,부산,VRAB8,CSCL ASIA,2022,3,최종,외항,출항,"90,645",2022-07-26 00:20,2022-07-26 16:53,2022-07-26 16:53,2022-07-29 09:23,기타,22COSU0131E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
2024,부산,VRAB8,CSCL ASIA,2022,3,최종,외항,입항,"90,645",2022-07-26 00:20,2022-07-26 16:53,2022-07-26 00:20,2022-07-26 10:24,기타,22COSU0127I,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN
19908,부산,VRAB8,CSCL ASIA,2022,4,최종,외항,출항,"90,645",2022-10-12 06:05,2022-10-13 04:54,2022-10-13 04:54,2022-10-13 09:53,기타,22COSU0166E,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
19909,부산,VRAB8,CSCL ASIA,2022,4,최종,외항,입항,"90,645",2022-10-12 06:05,2022-10-13 04:54,2022-10-12 06:05,2022-10-12 10:21,기타,22COSU0166I,MSN,01,신항 1부두 1선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
39881,부산,VRAB8,CSCL ASIA,2023,1,최종,외항,입항,"90,645",2023-01-01 07:00,2023-01-01 19:50,2023-01-01 07:00,2023-01-02 09:59,기타,23COSU0006I,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
39882,부산,VRAB8,CSCL ASIA,2023,1,최종,외항,출항,"90,645",2023-01-01 07:00,2023-01-01 19:50,2023-01-01 19:50,2023-01-02 13:03,기타,23COSU0006E,MSN,02,신항 1부두 2선석,ENSENADA,QINGDAO,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
1547,부산,D5FL9,MSC SOFIA PAZ,2022,1,최종,외항,입항,"94,930",2022-07-23 20:03,2022-07-25 01:05,2022-07-23 20:00,2022-07-25 09:08,기타,22MSCU4232I,MSN,01,신항 1부두 1선석,"CHARLESTON, SC",SHANGHAI,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
1548,부산,D5FL9,MSC SOFIA PAZ,2022,1,최종,외항,출항,"94,930",2022-07-23 20:03,2022-07-25 01:05,2022-07-25 01:00,2022-07-25 09:15,기타,22MSCU0695E,MSN,01,신항 1부두 1선석,"CHARLESTON, SC",SHANGHAI,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
24513,부산,D5FL9,MSC SOFIA PAZ,2022,2,최종,외항,입항,"94,930",2022-10-30 09:03,2022-10-31 03:20,2022-10-30 09:00,2022-10-31 09:18,기타,22MSCU1213I,MSN,01,신항 1부두 1선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,26.0,NaN,Y,Y,NaN,NaN
24514,부산,D5FL9,MSC SOFIA PAZ,2022,2,최종,외항,출항,"94,930",2022-10-30 09:03,2022-10-31 03:20,2022-10-31 03:00,2022-10-31 09:42,기타,22MSCU2076E,MSN,01,신항 1부두 1선석,광양,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
3809,부산,9V7282,AKA BHUM,2022,5,최종,외항,출항,"66,462",2022-08-02 12:30,2022-08-03 08:05,2022-08-03 07:30,2022-08-03 09:18,기타,22CJBV0040E,MSN,02,신항 1부두 2선석,SHEKOU PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
3810,부산,9V7282,AKA BHUM,2022,5,최종,외항,입항,"66,462",2022-08-02 12:30,2022-08-03 08:05,2022-08-02 13:00,2022-08-02 14:03,기타,22CJBV0039I,MSN,02,신항 1부두 2선석,SHEKOU PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
13240,부산,9V7282,AKA BHUM,2022,6,최종,외항,출항,"66,462",2022-09-13 11:00,2022-09-14 02:58,2022-09-14 02:30,2022-09-14 09:10,기타,22CJBV0046E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
13241,부산,9V7282,AKA BHUM,2022,6,최종,외항,입항,"66,462",2022-09-13 11:00,2022-09-14 02:58,2022-09-13 11:00,2022-09-13 15:41,기타,22CJBV0045I,MSN,01,신항 1부두 1선석,SHEKOU PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
26173,부산,9V7282,AKA BHUM,2022,7,최종,외항,입항,"66,462",2022-11-05 16:30,2022-11-06 05:59,2022-11-05 17:00,2022-11-07 09:15,기타,22CJBV0053I,MSN,02,신항 1부두 2선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
26174,부산,9V7282,AKA BHUM,2022,7,최종,외항,출항,"66,462",2022-11-05 16:30,2022-11-06 05:59,2022-11-06 05:30,2022-11-07 09:27,기타,22CJBV0054E,MSN,02,신항 1부두 2선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
38519,부산,9V7282,AKA BHUM,2022,8,최종,외항,출항,"66,462",2022-12-27 06:55,2022-12-28 00:15,2022-12-28 00:00,2022-12-28 09:23,기타,22CJBV0062E,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
38520,부산,9V7282,AKA BHUM,2022,8,최종,외항,입항,"66,462",2022-12-27 06:55,2022-12-28 00:15,2022-12-27 07:00,2022-12-27 09:41,기타,22CJBV0061I,MSN,01,신항 1부두 1선석,SHANGHAI,TIANJIN XINGANG PT,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
2239,부산,A8HZ5,NAVIOS UTMOST,2022,2,최종,외항,입항,"90,389",2022-07-26 19:02,2022-07-27 20:00,2022-07-26 19:00,2022-07-27 09:13,기타,22MSCU4244I,MSN,01,신항 1부두 1선석,SEATTLE,DA CHAN BAY,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN
2240,부산,A8HZ5,NAVIOS UTMOST,2022,2,최종,외항,출항,"90,389",2022-07-26 19:02,2022-07-27 20:00,2022-07-27 20:00,2022-07-28 08:43,기타,22MSCU0687E,MSN,01,신항 1부두 1선석,LONGBEACH,DA CHAN BAY,풀컨테이너선,NaN,22.0,NaN,Y,Y,NaN,NaN

In [133]:
file_list

['AKADIMOS_9HA5144_2022_3.csv',
 'AKADIMOS_portmis.csv',
 'AKA_BHUM_9V7282_2022_5.csv',
 'AKA_BHUM_9V7282_2022_6.csv',
 'AKA_BHUM_9V7282_2022_7.csv',
 'AKA_BHUM_9V7282_2022_8.csv',
 'AKA_BHUM_9V7282_6.csv',
 'AKA_BHUM_9V7282_7.csv',
 'AKA_BHUM_portmis.csv',
 'AMALTHEA_CQDE_2022_1.csv',
 'AMALTHEA_portmis.csv',
 'CAPE_ARTEMISIO_9HA4529_2022_4.csv',
 'CAPE_ARTEMISIO_portmis.csv',
 'CAUQUENES_D5HF2_2022_3.csv',
 'CAUQUENES_D5HF2_2022_4.csv',
 'CAUQUENES_portmis.csv',
 'CAUTIN_D5HE8_2022_4.csv',
 'CAUTIN_D5HE8_2022_5.csv',
 'CAUTIN_portmis.csv',
 'CISNES_D5HF4_2022_3.csv',
 'CISNES_D5HF4_2022_4.csv',
 'CISNES_portmis.csv',
 'COCHRANE_D5HE9_2022_3.csv',
 'COCHRANE_D5HE9_2022_4.csv',
 'COCHRANE_D5HE9_4.csv',
 'COCHRANE_portmis.csv',
 'COPIAPO_D5HE7_2022_4.csv',
 'COPIAPO_D5HE7_2022_5.csv',
 'COPIAPO_D5HE7_5.csv',
 'COPIAPO_portmis.csv',
 'COSCO_ASIA_3ELQ8_2.csv',
 'COSCO_ASIA_3ELQ8_2022_1.csv',
 'COSCO_ASIA_3ELQ8_2022_2.csv',
 'COSCO_ASIA_portmis.csv',
 'COSCO_FOS_portmis.csv',
 'COSCO_FOS_VRKR6_18.csv',
 'COSCO_FOS_VRKR6_19.csv',
 'COSCO_FOS_VRKR6_20.csv',
 'COSCO_FOS_VRKR6_2022_12.csv',
 'COSCO_FOS_VRKR6_2022_13.csv',
 'COSCO_FOS_VRKR6_2022_14.csv',
 'COSCO_FOS_VRKR6_2022_15.csv',
 'COSCO_FOS_VRKR6_2022_16.csv',
 'COSCO_FOS_VRKR6_2022_17.csv',
 'COSCO_FOS_VRKR6_2022_18.csv',
 'COSCO_FOS_VRKR6_2022_19.csv',
 'COSCO_FOS_VRKR6_2022_20.csv',
 'COSCO_FOS_VRKR6_2022_21.csv',
 'COSCO_FOS_VRKR6_2022_22.csv',
 'COSCO_FOS_VRKR6_2022_23.csv',
 'COSCO_FOS_VRKR6_2022_24.csv',
 'COSCO_FOS_VRKR6_2022_25.csv',
 'COSCO_FOS_VRKR6_2022_26.csv',
 'COSCO_FOS_VRKR6_2022_27.csv',
 'COSCO_FOS_VRKR6_2022_28.csv',
 'COSCO_FOS_VRKR6_2022_29.csv',
 'COSCO_FOS_VRKR6_2022_30.csv',
 'COSCO_FOS_VRKR6_2023_1.csv',
 'COSCO_FOS_VRKR6_2023_2.csv',
 'COSCO_FOS_VRKR6_21.csv',
 'COSCO_FOS_VRKR6_22.csv',
 'COSCO_FOS_VRKR6_23.csv',
 'COSCO_FOS_VRKR6_24.csv',
 'COSCO_FOS_VRKR6_25.csv',
 'COSCO_FOS_VRKR6_26.csv',
 'COSCO_PRINCE_RUPERT_portmis.csv',
 'COSCO_PRINCE_RUPERT_VRID6_2022_3.csv',
 'COSCO_PRINCE_RUPERT_VRID6_2022_4.csv',
 'COSCO_PRINCE_RUPERT_VRID6_2022_5.csv',
 'COSCO_PRINCE_RUPERT_VRID6_4.csv',
 'COSCO_test.csv',
 'COSCO_test2.csv',
 'COYHAIQUE_D5HF5_2022_3.csv',
 'COYHAIQUE_D5HF5_2022_4.csv',
 'COYHAIQUE_D5HF5_4.csv',
 'COYHAIQUE_portmis.csv',
 'CSCL_ASIA_portmis.csv',
 'CSCL_ASIA_VRAB8_2022_3.csv',
 'CSCL_ASIA_VRAB8_2022_4.csv',
 'CSCL_ASIA_VRAB8_2023_1.csv',
 'CSCL_ASIA_VRAB8_4.csv',
 'CSCL_AUTUMN_portmis.csv',
 'CSCL_AUTUMN_VRNA7_2.csv',
 'CSCL_AUTUMN_VRNA7_2022_1.csv',
 'CSCL_AUTUMN_VRNA7_2022_2.csv',
 'CSCL_WINTER_portmis.csv',
 'CSCL_WINTER_VRNA3_2022_2.csv',
 'CSCL_WINTER_VRNA3_2022_3.csv',
 'HENG_HUI_6_BQVX_2022_2.csv',
 'HENG_HUI_6_BQVX_2022_3.csv',
 'HENG_HUI_6_portmis.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_55.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_56.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_57.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_58.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_59.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_60.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_61.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_62.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_63.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_64.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_65.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_66.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_67.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_68.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_69.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_70.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_71.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_72.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_73.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_74.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_75.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_76.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_77.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_78.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_79.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_80.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_81.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_82.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_83.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_84.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_85.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_86.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_87.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_88.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_89.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_90.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_91.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_92.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_93.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_94.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_95.csv',
 'HEUNG-A_ULSAN_DSEK9_2022_96.csv',
 'HEUNG-A_ULSAN_DSEK9_2023_1.csv',
 'HEUNG-A_ULSAN_DSEK9_2023_2.csv',
 'HEUNG-A_ULSAN_DSEK9_68.csv',
 'HEUNG-A_ULSAN_DSEK9_69.csv',
 'HEUNG-A_ULSAN_DSEK9_70.csv',
 'HEUNG-A_ULSAN_DSEK9_71.csv',
 'HEUNG-A_ULSAN_DSEK9_75.csv',
 'HEUNG-A_ULSAN_DSEK9_76.csv',
 'HEUNG-A_ULSAN_DSEK9_77.csv',
 'HEUNG-A_ULSAN_DSEK9_78.csv',
 'HEUNG-A_ULSAN_DSEK9_79.csv',
 'HEUNG-A_ULSAN_DSEK9_80.csv',
 'HEUNG-A_ULSAN_DSEK9_81.csv',
 'HEUNG-A_ULSAN_DSEK9_82.csv',
 'HEUNG-A_ULSAN_DSEK9_83.csv',
 'HEUNG-A_ULSAN_DSEK9_84.csv',
 'HEUNG-A_ULSAN_DSEK9_85.csv',
 'HEUNG-A_ULSAN_DSEK9_86.csv',
 'HEUNG-A_ULSAN_portmis.csv',
 'HMM_BLESSING_D7EW_2022_3.csv',
 'HMM_BLESSING_D7EW_2022_4.csv',
 'HMM_BLESSING_D7EW_2023_1.csv',
 'HMM_BLESSING_D7EW_4.csv',
 'HMM_BLESSING_portmis.csv',
 'HMM_RAON_5LAM9_2.csv',
 'HMM_RAON_5LAM9_2022_1.csv',
 'HMM_RAON_5LAM9_2022_2.csv',
 'HMM_RAON_5LAM9_2022_3.csv',
 'HMM_RAON_portmis.csv',
 'HYUNDAI_SATURN_MGGA2_2022_7.csv',
 'HYUNDAI_SATURN_MGGA2_2022_8.csv',
 'HYUNDAI_SATURN_portmis.csv',
 'KUALA_LUMPUR_EXPRESS_DFNB2_2022_3.csv',
 'KUALA_LUMPUR_EXPRESS_DFNB2_2022_4.csv',
 'KUALA_LUMPUR_EXPRESS_DFNB2_2022_5.csv',
 'KUALA_LUMPUR_EXPRESS_DFNB2_4.csv',
 'KUALA_LUMPUR_EXPRESS_portmis.csv',
 'MANZANILLO_EXPRESS_portmis.csv',
 'MANZANILLO_EXPRESS_V7A5131_2022_1.csv',
 'MERSIN_EXPRESS_portmis.csv',
 'MERSIN_EXPRESS_TCA4232_2022_1.csv',
 'MSC_ABY_5LAK7_2022_1.csv',
 'MSC_ABY_portmis.csv',
 'MSC_AGRIGENTO_3FYR9_2022_3.csv',
 'MSC_AGRIGENTO_3FYR9_2023_1.csv',
 'MSC_AGRIGENTO_portmis.csv',
 'MSC_ALGHERO_3EVX2_2022_4.csv',
 'MSC_ALGHERO_portmis.csv',
 'MSC_ALINA_D5FL8_2022_2.csv',
 'MSC_ALINA_D5FL8_2022_3.csv',
 'MSC_ALINA_D5FL8_3.csv',
 'MSC_ALINA_portmis.csv',
 'MSC_ALIYA_D5TM4_2022_2.csv',
 'MSC_ALIYA_D5TM4_2023_1.csv',
 'MSC_ALIYA_portmis.csv',
 'MSC_AMEERA_III_A8PA8_2022_1.csv',
 'MSC_AMEERA_III_A8PA8_2022_2.csv',
 'MSC_AMEERA_III_A8PA8_2022_3.csv',
 'MSC_AMEERA_III_A8PA8_2023_1.csv',
 'MSC_AMEERA_III_portmis.csv',
 'MSC_ANAHITA_5LBJ2_2022_1.csv',
 'MSC_ANAHITA_portmis.csv',
 'MSC_ANA_CAMILA_III_5LBP2_2.csv',
 'MSC_ANA_CAMILA_III_5LBP2_2022_1.csv',
 'MSC_ANA_CAMILA_III_5LBP2_2022_2.csv',
 'MSC_ANA_CAMILA_III_5LBP2_2022_3.csv',
 'MSC_ANA_CAMILA_III_5LBP2_2022_4.csv',
 'MSC_ANA_CAMILA_III_5LBP2_3.csv',
 'MSC_ANA_CAMILA_III_portmis.csv',
 'MSC_ANDREA_F_D5WP9_2022_2.csv',
 'MSC_ANDREA_F_D5WP9_2022_3.csv',
 'MSC_ANDREA_F_D5WP9_2022_4.csv',
 'MSC_ANDREA_F_D5WP9_2022_5.csv',
 'MSC_ANDREA_F_D5WP9_2022_6.csv',
 'MSC_ANDREA_F_D5WP9_2022_7.csv',
 'MSC_ANDREA_F_D5WP9_2022_8.csv',
 'MSC_ANDREA_F_D5WP9_2022_9.csv',
 'MSC_ANDREA_F_D5WP9_2023_1.csv',
 'MSC_ANDREA_F_D5WP9_4.csv',
 'MSC_ANDREA_F_D5WP9_5.csv',
 'MSC_ANDREA_F_D5WP9_6.csv',
 'MSC_ANDREA_F_D5WP9_7.csv',
 'MSC_ANDREA_F_portmis.csv',
 'MSC_ANTONELLA_CQZF_2022_3.csv',
 'MSC_ANTONELLA_CQZF_2022_4.csv',
 'MSC_ANTONELLA_CQZF_2022_5.csv',
 'MSC_ANTONELLA_CQZF_2022_6.csv',
 'MSC_ANTONELLA_CQZF_5.csv',
 'MSC_ANTONELLA_CQZF_6.csv',
 'MSC_ANTONELLA_portmis.csv',
 'MSC_ANTONIA_D5QT7_2022_1.csv',
 'MSC_ANTONIA_D5QT7_2022_2.csv',
 'MSC_ANTONIA_portmis.csv',
 'MSC_ARIANE_3FDA3_2022_1.csv',
 'MSC_ARIANE_portmis.csv',
 'MSC_ARICA_D5VE2_2022_3.csv',
 'MSC_ARICA_D5VE2_2022_4.csv',
 'MSC_ARICA_D5VE2_4.csv',
 'MSC_ARICA_portmis.csv',
 'MSC_AURIGA_CQEB7_2022_1.csv',
 'MSC_AURIGA_CQEB7_2023_1.csv',
 'MSC_AURIGA_portmis.csv',
 'MSC_BARI_A8YD3_2022_2.csv',
 'MSC_BARI_A8YD3_2022_3.csv',
 'MSC_BARI_A8YD3_2022_4.csv',
 'MSC_BARI_A8YD3_3.csv',
 'MSC_BARI_portmis.csv',
 'MSC_BEIJING_CQEG5_2022_2.csv',
 'MSC_BEIJING_portmis.csv',
 'MSC_BERYL_3EXV8_2022_4.csv',
 'MSC_BERYL_portmis.csv',
 'MSC_BHAVYA_D5GC9_2022_2.csv',
 'MSC_BHAVYA_portmis.csv',
 'MSC_BRUNELLA_CQEU8_2022_1.csv',
 'MSC_BRUNELLA_portmis.csv',
 'MSC_BUSAN_CQEE7_2022_1.csv',
 'MSC_BUSAN_portmis.csv',
 'MSC_CAMILLE_3FQT9_2022_3.csv',
 'MSC_CAMILLE_portmis.csv',
 'MSC_CAPELLA_3EUI7_2022_3.csv',
 'MSC_CAPELLA_portmis.csv',
 'MSC_CARPATHIA_III_A8HI8_2023_1.csv',
 'MSC_CARPATHIA_III_portmis.csv',
 'MSC_CHANNE_CQZK_2022_3.csv',
 'MSC_CHANNE_portmis.csv',
 'MSC_COLETTE_III_5LES9_2023_1.csv',
 'MSC_COLETTE_III_portmis.csv',
 'MSC_CRISTINA_D5BU7_2022_4.csv',
 'MSC_CRISTINA_portmis.csv',
 'MSC_DANIELA_3FIA2_2022_2.csv',
 'MSC_DANIELA_portmis.csv',
 'MSC_DANIT_3FZU8_2022_2.csv',
 'MSC_DANIT_portmis.csv',
 'MSC_DAVAO_III_3EBK6_10.csv',
 'MSC_DAVAO_III_3EBK6_2022_10.csv',
 'MSC_DAVAO_III_3EBK6_2022_11.csv',
 'MSC_DAVAO_III_3EBK6_2022_9.csv',
 'MSC_DAVAO_III_portmis.csv',
 'MSC_ELA_H3MJ_2022_3.csv',
 'MSC_ELA_H3MJ_2023_1.csv',
 'MSC_ELA_portmis.csv',
 'MSC_ELENI_H3BQ_2022_4.csv',
 'MSC_ELENI_H3BQ_2023_1.csv',
 'MSC_ELENI_portmis.csv',
 'MSC_ELISA_D5QH7_2022_5.csv',
 'MSC_ELISA_portmis.csv',
 'MSC_ELISA_XIII_D5QH7_2022_6.csv',
 'MSC_ELISA_XIII_portmis.csv',
 'MSC_ELMA_CQZM_2022_3.csv',
 'MSC_ELMA_portmis.csv',
 'MSC_EMILY_II_5LDV5_2022_1.csv',
 'MSC_EMILY_II_5LDV5_2023_1.csv',
 'MSC_EMILY_II_portmis.csv',
 'MSC_EMMA_D5QH6_2022_3.csv',
 'MSC_EMMA_D5QH6_2022_4.csv',
 'MSC_EMMA_D5QH6_2022_5.csv',
 'MSC_EMMA_D5QH6_4.csv',
 'MSC_EMMA_portmis.csv',
 'MSC_EVA_3EVM7_2022_1.csv',
 'MSC_EVA_portmis.csv',
 'MSC_EXPRESS_III_A8LG7_2.csv',
 'MSC_EXPRESS_III_A8LG7_2022_1.csv',
 'MSC_EXPRESS_III_A8LG7_2022_2.csv',
 'MSC_EXPRESS_III_portmis.csv',
 'MSC_FAIRFIELD_CQRO_2022_2.csv',
 'MSC_FAIRFIELD_portmis.csv',
 'MSC_FATMA_5LFO9_2022_1.csv',
 'MSC_FATMA_portmis.csv',
 'MSC_FELIXSTOWE_3EER9_2022_2.csv',
 'MSC_FELIXSTOWE_3EER9_2022_3.csv',
 'MSC_FELIXSTOWE_3EER9_2023_1.csv',
 'MSC_FELIXSTOWE_portmis.csv',
 'MSC_GIANNINA_II_3FIP4_10.csv',
 'MSC_GIANNINA_II_3FIP4_11.csv',
 'MSC_GIANNINA_II_3FIP4_12.csv',
 'MSC_GIANNINA_II_3FIP4_13.csv',
 'MSC_GIANNINA_II_3FIP4_14.csv',
 'MSC_GIANNINA_II_3FIP4_2022_10.csv',
 'MSC_GIANNINA_II_3FIP4_2022_11.csv',
 'MSC_GIANNINA_II_3FIP4_2022_12.csv',
 'MSC_GIANNINA_II_3FIP4_2022_13.csv',
 'MSC_GIANNINA_II_3FIP4_2022_14.csv',
 'MSC_GIANNINA_II_3FIP4_2022_15.csv',
 'MSC_GIANNINA_II_3FIP4_2022_16.csv',
 'MSC_GIANNINA_II_3FIP4_2022_3.csv',
 'MSC_GIANNINA_II_3FIP4_2022_4.csv',
 'MSC_GIANNINA_II_3FIP4_2022_5.csv',
 'MSC_GIANNINA_II_3FIP4_2022_6.csv',
 'MSC_GIANNINA_II_3FIP4_2022_7.csv',
 'MSC_GIANNINA_II_3FIP4_2022_8.csv',
 'MSC_GIANNINA_II_3FIP4_2022_9.csv',
 'MSC_GIANNINA_II_3FIP4_2023_1.csv',
 'MSC_GIANNINA_II_3FIP4_8.csv',
 'MSC_GIANNINA_II_3FIP4_9.csv',
 'MSC_GIANNINA_II_portmis.csv',
 'MSC_HAILEY_ANN_III_5LEV3_2022_2.csv',
 'MSC_HAILEY_ANN_III_5LEV3_2023_1.csv',
 'MSC_HAILEY_ANN_III_portmis.csv',
 'MSC_HEIDI_3EHC4_2022_1.csv',
 'MSC_HEIDI_portmis.csv',
 'MSC_IDA_II_D5WM9_18.csv',
 'MSC_IDA_II_D5WM9_2022_17.csv',
 'MSC_IDA_II_D5WM9_2022_18.csv',
 'MSC_IDA_II_D5WM9_2022_19.csv',
 'MSC_IDA_II_portmis.csv',
 'MSC_INES_3EFZ3_2022_2.csv',
 'MSC_INES_portmis.csv',
 'MSC_ISTANBUL_D5LL2_2022_1.csv',
 'MSC_ISTANBUL_portmis.csv',
 'MSC_JASMINE_H3OB_2022_1.csv',
 'MSC_JASMINE_portmis.csv',
 'MSC_JASPER_VIII_CQIP9_2022_6.csv',
 'MSC_JASPER_VIII_portmis.csv',
 'MSC_JEWEL_D5TL4_2022_4.csv',
 'MSC_JEWEL_D5TL4_2022_5.csv',
 'MSC_JEWEL_D5TL4_2022_6.csv',
 'MSC_JEWEL_D5TL4_5.csv',
 'MSC_JEWEL_D5TL4_6.csv',
 'MSC_JEWEL_portmis.csv',
 'MSC_JOSSELINE_D5TL3_2022_1.csv',
 'MSC_JOSSELINE_portmis.csv',
 'MSC_JUDITH_3EGR5_2.csv',
 'MSC_JUDITH_3EGR5_2022_1.csv',
 'MSC_JUDITH_3EGR5_2022_2.csv',
 'MSC_JUDITH_portmis.csv',
 'MSC_KALAMATA_VII_portmis.csv',
 'MSC_KALAMATA_VII_VRPE8_2022_5.csv',
 'MSC_KALAMATA_VII_VRPE8_2022_6.csv',
 'MSC_KALAMATA_VII_VRPE8_2022_7.csv',
 'MSC_KANOKO_D5TM3_2022_4.csv',
 'MSC_KANOKO_D5TM3_2022_5.csv',
 'MSC_KANOKO_D5TM3_2023_1.csv',
 'MSC_KANOKO_portmis.csv',
 'MSC_KYMEA_II_A8JE8_2022_5.csv',
 'MSC_KYMEA_II_portmis.csv',
 'MSC_LA_SPEZIA_DIGX2_2.csv',
 'MSC_LA_SPEZIA_DIGX2_2022_1.csv',
 'MSC_LA_SPEZIA_DIGX2_2022_2.csv',
 'MSC_LA_SPEZIA_portmis.csv',
 'MSC_LISA_H3MK_2022_3.csv',
 'MSC_LISA_H3MK_2022_4.csv',
 'MSC_LISA_H3MK_4.csv',
 'MSC_LISA_portmis.csv',
 'MSC_LONG_BEACH_VI_5LDZ2_2022_1.csv',
 'MSC_LONG_BEACH_VI_5LDZ2_2022_2.csv',
 'MSC_LONG_BEACH_VI_portmis.csv',
 'MSC_LUCIANA_3FTY3_2022_3.csv',
 'MSC_LUCIANA_3FTY3_2022_4.csv',
 'MSC_LUCIANA_3FTY3_4.csv',
 'MSC_LUCIANA_portmis.csv',
 'MSC_LUISA_H9XU_2022_4.csv',
 'MSC_LUISA_H9XU_2022_5.csv',
 'MSC_LUISA_H9XU_5.csv',
 'MSC_LUISA_portmis.csv',
 'MSC_MADELEINE_3EFR7_2022_2.csv',
 'MSC_MADELEINE_3EFR7_2022_3.csv',
 'MSC_MADELEINE_portmis.csv',
 'MSC_MAKOTO_II_3FPK6_2023_1.csv',
 'MSC_MAKOTO_II_portmis.csv',
 'MSC_MEXICO_V_D5BC5_2022_1.csv',
 'MSC_MEXICO_V_portmis.csv',
 'MSC_MONTEREY_D5BL4_2022_1.csv',
 'MSC_MONTEREY_D5BL4_2022_2.csv',
 'MSC_MONTEREY_portmis.csv',
 'MSC_MUNDRA_5LCN8_2022_4.csv',
 'MSC_MUNDRA_portmis.csv',
 'MSC_NATASHA_XIII_D5PL3_2022_3.csv',
 'MSC_NATASHA_XIII_portmis.csv',
 'MSC_NERISSA_H3LP_2022_3.csv',
 'MSC_NERISSA_portmis.csv',
 'MSC_NISHA_5LGH6_2022_8.csv',
 'MSC_NISHA_portmis.csv',
 'MSC_NISHA_V_5LGH6_2022_9.csv',
 'MSC_NISHA_V_5LGH6_2023_1.csv',
 'MSC_NISHA_V_portmis.csv',
 'MSC_NOA_D5QT6_2022_2.csv',
 'MSC_NOA_D5QT6_2022_3.csv',
 'MSC_NOA_D5QT6_2022_4.csv',
 'MSC_NOA_D5QT6_4.csv',
 'MSC_NOA_portmis.csv',
 'MSC_ORION_CQEB8_2022_1.csv',
 'MSC_ORION_CQEB8_2022_2.csv',
 'MSC_ORION_CQEB8_2022_3.csv',
 'MSC_ORION_portmis.csv',
 'MSC_ORNELLA_H3RF_2022_1.csv',
 'MSC_ORNELLA_portmis.csv',
 'MSC_PAOLA_D5PE6_2022_1.csv',
 'MSC_PAOLA_D5PE6_2022_2.csv',
 'MSC_PAOLA_portmis.csv',
 'MSC_PARIS_CQQN_2022_1.csv',
 'MSC_PARIS_portmis.csv',
 'MSC_PEGASUS_D5HF9_2022_1.csv',
 'MSC_PEGASUS_portmis.csv',
 'MSC_PERLE_D5NI7_2022_4.csv',
 'MSC_PERLE_D5NI7_2022_5.csv',
 'MSC_PERLE_D5NI7_2022_6.csv',
 'MSC_PERLE_portmis.csv',
 'MSC_PETRA_A8VP5_2022_1.csv',
 'MSC_PETRA_portmis.csv',
 'MSC_PRATITI_D5EZ6_2022_2.csv',
 'MSC_PRATITI_portmis.csv',
 'MSC_RAPALLO_A8ZV3_2.csv',
 'MSC_RAPALLO_A8ZV3_2022_1.csv',
 'MSC_RAPALLO_A8ZV3_2022_2.csv',
 'MSC_RAPALLO_A8ZV3_2022_3.csv',
 'MSC_RAPALLO_A8ZV3_3.csv',
 'MSC_RAPALLO_portmis.csv',
 'MSC_RAVENNA_A8ZU8_2022_3.csv',
 'MSC_RAVENNA_portmis.csv',
 'MSC_RENEE_portmis.csv',
 'MSC_RENEE_VRPL2_2022_3.csv',
 'MSC_RENEE_VRPL2_2022_4.csv',
 'MSC_RENEE_VRPL2_2022_5.csv',
 'MSC_RENEE_VRPL2_4.csv',
 'MSC_RENEE_VRPL2_5.csv',
 'MSC_RINI_III_5LBU8_2022_1.csv',
 'MSC_RINI_III_5LBU8_2022_2.csv',
 'MSC_RINI_III_portmis.csv',
 'MSC_ROCHELLE_D5GE9_2022_1.csv',
 'MSC_ROCHELLE_D5GE9_2022_2.csv',
 'MSC_ROCHELLE_portmis.csv',
 'MSC_RUBY_D5NJ4_2022_5.csv',
 'MSC_RUBY_D5NJ4_2022_6.csv',
 'MSC_RUBY_D5NJ4_2022_7.csv',
 'MSC_RUBY_D5NJ4_6.csv',
 'MSC_RUBY_D5NJ4_7.csv',
 'MSC_RUBY_portmis.csv',
 'MSC_SANTA_MARIA_3E3434_2022_2.csv',
 'MSC_SANTA_MARIA_3E3434_2022_3.csv',
 'MSC_SANTA_MARIA_3E3434_2022_4.csv',
 'MSC_SANTA_MARIA_3E3434_2022_5.csv',
 'MSC_SANTA_MARIA_3E3434_2023_1.csv',
 'MSC_SANTA_MARIA_3E3434_3.csv',
 'MSC_SANTA_MARIA_portmis.csv',
 'MSC_SARA_ELENA_CQEV8_2022_3.csv',
 'MSC_SARA_ELENA_portmis.csv',
 'MSC_SHRISTI_D5YT3_2022_1.csv',
 'MSC_SHRISTI_D5YT3_2023_1.csv',
 'MSC_SHRISTI_portmis.csv',
 'MSC_SHUBA_B_CQIP2_2023_1.csv',
 'MSC_SHUBA_B_portmis.csv',
 'MSC_SILVANA_3EEI3_2022_4.csv',
 'MSC_SILVANA_portmis.csv',
 'MSC_SOFIA_PAZ_D5FL9_2.csv',
 'MSC_SOFIA_PAZ_D5FL9_2022_1.csv',
 'MSC_SOFIA_PAZ_D5FL9_2022_2.csv',
 'MSC_SOFIA_PAZ_portmis.csv',
 'MSC_SONIA_3EUP7_2022_2.csv',
 'MSC_SONIA_portmis.csv',
 'MSC_SOTIRIA_III_5LCO2_2022_1.csv',
 'MSC_SOTIRIA_III_portmis.csv',
 'MSC_TAMPICO_CQMD_2022_2.csv',
 'MSC_TAMPICO_CQMD_2022_3.csv',
 'MSC_TAMPICO_CQMD_3.csv',
 'MSC_TAMPICO_portmis.csv',
 'MSC_TARANTO_A8ZE4_2022_2.csv',
 'MSC_TARANTO_portmis.csv',
 'MSC_TRADER_II_5LBQ9_2022_1.csv',
 'MSC_TRADER_II_portmis.csv',
 'MSC_TRIESTE_9HA3459_2022_3.csv',
 'MSC_TRIESTE_portmis.csv',
 'MSC_VANDYA_3FDW4_2022_1.csv',
 'MSC_VANDYA_3FDW4_2022_2.csv',
 'MSC_VANDYA_portmis.csv',
 'MSC_VANESSA_HOWD_2022_6.csv',
 'MSC_VANESSA_HOWD_2022_7.csv',
 'MSC_VANESSA_HOWD_2023_1.csv',
 'MSC_VANESSA_portmis.csv',
 'MSC_VILDA_X_5LAK5_2022_1.csv',
 'MSC_VILDA_X_portmis.csv',
 'MSC_VIRGO_CQEB9_2022_2.csv',
 'MSC_VIRGO_CQEB9_2022_3.csv',
 'MSC_VIRGO_CQEB9_2022_4.csv',
 'MSC_VIRGO_CQEB9_2023_1.csv',
 'MSC_VIRGO_CQEB9_2023_2.csv',
 'MSC_VIRGO_CQEB9_3.csv',
 'MSC_VIRGO_CQEB9_4.csv',
 'MSC_VIRGO_portmis.csv',
 'MSC_WASHINGTON_5LDP4_2022_3.csv',
 'MSC_WASHINGTON_5LDP4_2022_4.csv',
 'MSC_WASHINGTON_5LDP4_4.csv',
 'MSC_WASHINGTON_portmis.csv',
 'NAVARINO_portmis.csv',
 'NAVARINO_VRQD6_2.csv',
 'NAVARINO_VRQD6_2022_1.csv',
 'NAVARINO_VRQD6_2022_2.csv',
 'NAVARINO_VRQD6_2023_1.csv',
 'NAVEGANTES_EXPRESS_9V6819_2022_3.csv',
 'NAVEGANTES_EXPRESS_9V6819_2022_4.csv',
 'NAVEGANTES_EXPRESS_portmis.csv',
 'NAVIGARE_COLLECTOR_OXGL2_2022_3.csv',
 'NAVIGARE_COLLECTOR_OXGL2_2022_4.csv',
 'NAVIGARE_COLLECTOR_OXGL2_2023_1.csv',
 'NAVIGARE_COLLECTOR_OXGL2_4.csv',
 'NAVIGARE_COLLECTOR_portmis.csv',
 'ONE_AMAZON_portmis.csv',
 'ONE_AMAZON_VRUN4_2022_1.csv',
 'ONE_AMAZON_VRUN4_2022_2.csv',
 'ONE_ORINOCO_portmis.csv',
 'ONE_ORINOCO_VRUN3_2022_1.csv',
 'ONE_ORINOCO_VRUN3_2022_2.csv',
 'OOCL_GENOA_portmis.csv',
 'OOCL_GENOA_VROK9_2022_3.csv',
 'OOCL_GENOA_VROK9_2022_4.csv',
 'OOCL_GENOA_VROK9_2022_5.csv',
 'OOCL_GENOA_VROK9_4.csv',
 'OOCL_HAMBURG_portmis.csv',
 'OOCL_HAMBURG_VRZK9_2022_4.csv',
 'OOCL_HAMBURG_VRZK9_2022_5.csv',
 'OOCL_HAMBURG_VRZK9_2022_6.csv',
 'OOCL_HAMBURG_VRZK9_2023_1.csv',
 'OOCL_HAMBURG_VRZK9_5.csv',
 'OOCL_HAMBURG_VRZK9_6.csv',
 'OOCL_LUXEMBOURG_portmis.csv',
 'OOCL_LUXEMBOURG_VRGO3_2022_4.csv',
 'OOCL_LUXEMBOURG_VRGO3_2022_5.csv',
 'OOCL_LUXEMBOURG_VRGO3_2022_6.csv',
 'OOCL_LUXEMBOURG_VRGO3_5.csv',
 'OOCL_NEW_YORK_portmis.csv',
 'OOCL_NEW_YORK_VRJS2_2.csv',
 'OOCL_NEW_YORK_VRJS2_2022_1.csv',
 'OOCL_NEW_YORK_VRJS2_2022_2.csv',
 'OOCL_NEW_YORK_VRJS2_2022_3.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_38.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_39.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_40.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_41.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_42.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_43.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_44.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_45.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_46.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_47.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_48.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_49.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_50.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_51.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_52.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_53.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_54.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_55.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_56.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_57.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_58.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_59.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_60.csv',
 'PACIFIC_SINGAPORE_9V7740_2022_61.csv',
 'PACIFIC_SINGAPORE_9V7740_2023_1.csv',
 'PACIFIC_SINGAPORE_portmis.csv',
 'previous_ports_coordinates_df.csv',
 'previous_ports_visualization.qgz',
 'RIO_DE_JANEIRO_EXPRESS_DGXS2_2.csv',
 'RIO_DE_JANEIRO_EXPRESS_DGXS2_2022_1.csv',
 'RIO_DE_JANEIRO_EXPRESS_DGXS2_2022_2.csv',
 'RIO_DE_JANEIRO_EXPRESS_DGXS2_2022_3.csv',
 'RIO_DE_JANEIRO_EXPRESS_portmis.csv',
 'SALVADOR_EXPRESS_portmis.csv',
 'SALVADOR_EXPRESS_VRRN7_2022_3.csv',
 'SALVADOR_EXPRESS_VRRN7_2022_4.csv',
 'SALVADOR_EXPRESS_VRRN7_4.csv',
 'SEAMAX_STRATFORD_portmis.csv',
 'SEAMAX_STRATFORD_V7EP2_2022_5.csv',
 'SEAMAX_STRATFORD_V7EP2_2022_6.csv',
 'SEAMAX_STRATFORD_V7EP2_2022_7.csv',
 'SEAMAX_STRATFORD_V7EP2_6.csv',
 'SEASPAN_BEAUTY_portmis.csv',
 'SEASPAN_BEAUTY_VROG7_2022_4.csv',
 'SEASPAN_BEAUTY_VROG7_2022_5.csv',
 'SEASPAN_BEAUTY_VROG7_2022_6.csv',
 'SEASPAN_BEAUTY_VROG7_5.csv',
 'SEASPAN_BELIEF_portmis.csv',
 'SEASPAN_BELIEF_VROD3_2022_4.csv',
 'SEASPAN_BELIEF_VROD3_2022_5.csv',
 'SEASPAN_BELIEF_VROD3_5.csv',
 'SEASPAN_BELLWETHER_portmis.csv',
 'SEASPAN_BELLWETHER_VROG8_2022_4.csv',
 'SEASPAN_BELLWETHER_VROG8_2022_5.csv',
 'SEASPAN_BELLWETHER_VROG8_2022_6.csv',
 'SEASPAN_BELLWETHER_VROG8_5.csv',
 'SEASPAN_BELLWETHER_VROG8_6.csv',
 'SEASPAN_BEYOND_portmis.csv',
 'SEASPAN_BEYOND_VRPN8_2022_4.csv',
 'SEASPAN_BEYOND_VRPN8_2022_5.csv',
 'SEASPAN_BEYOND_VRPN8_2022_6.csv',
 'SEASPAN_BEYOND_VRPN8_5.csv',
 'SEASPAN_BRAVO_portmis.csv',

# 각 선박들 별로 부산 polygon 확인

In [144]:
for i in file_list[:3]:
    if 'upper_china' in i or 'portmis' in i or 'test' in i:
        continue 
    df = pd.read_csv(f"voy_path/{i}")
    if len(df) == 0:
        continue
    df = df.loc[df[['longitude','latitude','time_position_data_received']].drop_duplicates().index]
    df['time_position_data_received'] = pd.to_datetime(df['time_position_data_received'])
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df.sort_values(by="timestamp", ignore_index=True,inplace=True)
    print(i)
    display(df)

AKADIMOS_9HA5144_2022_3.csv

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
0,AKADIMOS,215499000,9706308.0,9288,HKHKG,9140400,141.5711,13.4902,16.9,290.0,2022-09-11 00:10:21.029964,2022-09-10 13:39:31,2022-09-10 09:40:27,under way using engine,2709.886309,8042.979719
1,AKADIMOS,215499000,9706308.0,9288,HKHKG,9140400,133.1867,16.3133,18.0,NaN,2022-09-12 10:23:06.653045,2022-09-11 18:59:19,2022-09-10 09:40:27,under way using engine,2119.497891,6708.438624
2,AKADIMOS,215499000,9706308.0,9288,HKHKG,9150900,119.6501,19.7207,10.0,303.0,2022-09-14 21:35:01.165913,2022-09-14 11:20:12,2022-09-14 11:21:15,under way using engine,1919.934315,4650.832680
3,AKADIMOS,215499000,9706308.0,9288,HKHKG,9150900,118.7239,20.2812,11.7,303.0,2022-09-15 02:06:49.165779,2022-09-14 16:56:52,2022-09-14 04:57:16,under way using engine,1909.546525,4619.020125
4,AKADIMOS,215499000,9706308.0,9288,HKHKG,9150900,118.6643,20.3166,12.1,303.0,2022-09-15 02:36:52.010736,2022-09-14 17:16:54,2022-09-14 05:21:16,under way using engine,1909.143750,4647.113511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3320,AKADIMOS,215499000,9706308.0,9288,KRBNP,12181045,128.8294,35.0773,0.0,90.0,2022-12-18 23:22:11.864978,2022-12-18 14:18:28,2022-12-18 02:21:33.000000,moored,12.009935,NaN
3321,AKADIMOS,215499000,9706308.0,9288,KRBNP,12181045,128.8294,35.0774,0.0,90.0,2022-12-18 23:32:12.413100,2022-12-18 14:27:29,2022-12-18 02:27:35.000000,moored,12.021023,NaN
3322,AKADIMOS,215499000,9706308.0,9288,KRBNP,12181045,128.8294,35.0773,0.0,90.0,2022-12-18 23:37:14.034124,2022-12-18 14:36:33,2022-12-18 02:27:35.000000,moored,12.009935,NaN
3323,AKADIMOS,215499000,9706308.0,9288,KRBNP,12181045,128.8295,35.0773,0.0,90.0,2022-12-18 23:52:13.071206,2022-12-18 14:48:36,2022-12-18 02:51:36.000000,moored,12.010626,NaN
3324,AKADIMOS,215499000,9706308.0,9288,KRBNP,12181045,128.8294,35.0773,0.0,90.0,2022-12-18 23:57:12.945194,2022-12-18 14:54:35,2022-12-18 02:51:36.000000,moored,12.009935,NaN

In [148]:
port_mis_list = []
for i in file_list:
    if 'portmis' in i:
        port_mis_list.append(i)

In [220]:
def processed(df):
    df = df.loc[df[['longitude','latitude','time_position_data_received']].drop_duplicates().index]
    df['time_position_data_received'] = pd.to_datetime(df['time_position_data_received'])
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df.sort_values(by="timestamp", ignore_index=True,inplace=True)
    return df

In [221]:
# 억까 방지
busan_berth = '128.7362432822305,34.91571835540296,5.941836244531453 128.8816505843355,34.93956159255044,9.088787041386029 128.8718190496849,35.09310779849003,8.308118991212194 128.7247817257968,35.08647052441917,-9.228016031556635 128.7362432822305,34.91571835540296,5.941836244531453'
coord_list = busan_berth.split(" ")
coord_list
coord_list2 = []
for i in coord_list:
    temp = i.split(",")[:2]
    temp = list(map(float, temp))
    coord_list2.append(temp)
poly_busan = Polygon(coord_list2)
# if Point(LONGITUDE, LATITUDE).within(poly):

In [222]:
# ATA 확인
def check_ATA(df_test):
    try:
        stop_index = df_test[df_test.apply(lambda row: Point(
            row['longitude'], row['latitude']).within(poly_busan),
                                           axis=1)].index[0] - 1
        return stop_index
    except:
        return None

In [234]:
data_dict= {
    "vessel_name" : [],
    "voyage_name" : [],
    "ATB(port_mis)" : [],
    "ATB(AIS)" : [],
    "waiting_time" : []
}
for i in port_mis_list:
    port_mis_df = pd.read_csv(f"voy_path/{i}")
    vessel_name = i.split('_portmis')[0]
    for idx in port_mis_df.index:
        voyage_name = port_mis_df.loc[idx, "voyage_name"]
        port_in_time = port_mis_df.loc[idx, "port_in_time"]
        df = pd.read_csv(f'voy_path/{vessel_name}_{voyage_name}.csv') 
        if len(df) == 0:
            continue
        df = df.loc[df[['longitude','latitude','time_position_data_received']].drop_duplicates().index]
        df['time_position_data_received'] = pd.to_datetime(df['time_position_data_received'])
        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df.sort_values(by="timestamp", ignore_index=True,inplace=True)
        max_timestamp = pd.to_datetime(port_in_time) + datetime.timedelta(hours=2)
        min_timestamp = pd.to_datetime(port_in_time) - datetime.timedelta(days=4)
        df_2 = df.query('timestamp >= @min_timestamp and timestamp < @max_timestamp')
        df_2.reset_index(inplace=True, drop=True)
        df_2['waiting_time'] = abs(df_2["timestamp"] - pd.to_datetime(port_in_time))
        stop_index = check_ATA(df_2)
        if stop_index == None:
            continue
        df_2 = df_2.loc[stop_index-30:]
        try:
            iiii = df_2[df_2["speed"] < 5].index[0]
        except:
            continue
        data_dict["vessel_name"].append(vessel_name)
        data_dict["voyage_name"].append(voyage_name)
        data_dict["ATB(port_mis)"].append(port_in_time)
        data_dict["ATB(AIS)"].append(df_2.iloc[df_2['waiting_time'].argmin()]["timestamp"])
        data_dict["waiting_time"].append(df_2.loc[iiii,"waiting_time"])
        
display(pd.DataFrame(data_dict))
#         df_2.to_csv('230117_test.csv',header=True, index=False, encoding="utf-8 sig")

,vessel_name,voyage_name,ATB(port_mis),ATB(AIS),waiting_time
0,AKADIMOS,9HA5144_2022_3,2022-12-18 21:10:00,2022-12-18 21:07:06.527387,0 days 00:32:54.574964
1,AKA_BHUM,9V7282_2022_6,2022-09-13 11:00:00,2022-09-13 10:44:15.737640,0 days 23:25:23.149609
2,AKA_BHUM,9V7282_2022_8,2022-12-27 06:55:00,2022-12-27 06:52:01.719709,0 days 01:13:08.703897
3,AMALTHEA,CQDE_2022_1,2022-11-08 14:40:00,2022-11-08 14:38:49.479124,0 days 00:11:15.933230
4,CAUQUENES,D5HF2_2022_3,2022-09-25 17:00:00,2022-09-25 16:56:01.462287,0 days 01:34:06.738383
...,...,...,...,...,...
218,ZHU_CHENG_XIN_ZHOU,BTSJ_2022_42,2022-12-17 04:05:00,2022-12-17 04:07:37.657174,0 days 01:12:33.642229
219,ZHU_CHENG_XIN_ZHOU,BTSJ_2022_43,2022-12-27 00:58:00,2022-12-27 00:56:08.702042,0 days 06:07:46.789281
220,ZHU_CHENG_XIN_ZHOU,BTSJ_2023_2,2023-01-10 23:47:00,2023-01-10 23:43:03.830417,0 days 00:23:59.238621
221,ZIM_CHARLESTON,VRUC3_2022_6,2022-10-26 22:10:00,2022-10-26 22:17:28.628546,0 days 00:27:50.458291
222,ZIM_CHARLESTON,VRUC3_2022_7,2022-12-16 11:25:00,2022-12-16 11:25:05.196430,0 days 01:55:12.574833

In [240]:
pd.DataFrame(data_dict).sort_values(by="waiting_time")

,vessel_name,voyage_name,ATB(port_mis),ATB(AIS),waiting_time
142,MSC_SARA_ELENA,CQEV8_2022_3,2022-08-27 16:10:00,2022-08-27 16:10:53.559000,0 days 00:00:53.559000
167,RIO_DE_JANEIRO_EXPRESS,DGXS2_2022_2,2022-09-16 02:03:00,2022-09-16 02:04:02.897656,0 days 00:01:02.897656
159,ONE_ORINOCO,VRUN3_2022_1,2022-09-17 08:12:00,2022-09-17 08:10:50.709638,0 days 00:01:09.290362
36,HMM_BLESSING,D7EW_2022_4,2022-10-13 03:12:00,2022-10-13 03:09:58.460099,0 days 00:02:01.539901
99,MSC_JUDITH,3EGR5_2022_1,2022-10-07 21:45:00,2022-10-07 21:47:01.936716,0 days 00:02:01.936716
...,...,...,...,...,...
87,MSC_GIANNINA_II,3FIP4_2022_9,2022-09-22 08:59:00,2022-09-22 08:54:55.609955,2 days 03:08:20.802835
52,MSC_ANDREA_F,D5WP9_2022_4,2022-09-15 04:07:00,2022-09-15 04:06:58.664608,2 days 11:43:23.190083
158,ONE_AMAZON,VRUN4_2022_1,2022-09-13 11:35:00,2022-09-13 12:14:16.871193,2 days 13:25:14.801272
81,MSC_EXPRESS_III,A8LG7_2022_1,2022-10-05 09:30:00,2022-10-05 09:41:13.132647,2 days 20:25:38.890562
143,MSC_SILVANA,3EEI3_2022_4,2022-09-21 21:40:00,2022-09-21 21:54:01.313542,3 days 01:56:10.841108

In [250]:
df = pd.DataFrame(data_dict)

In [251]:
df.sort_values(by="waiting_time")["waiting_time"].mean()

Timedelta('0 days 05:36:02.576572928')

In [252]:
df.sort_values(by="waiting_time")["waiting_time"].max()

Timedelta('3 days 01:56:10.841108')