In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import json
import datetime
import warnings

warnings.filterwarnings(action="ignore")
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import bs4
import requests
import time
import math
import random

pd.set_option('display.max_columns', None)

In [2]:
# 저장할 공간
path_master = "항적데이터"

In [3]:
path_list = os.listdir(path_master)
path_list

['AKADIMOS_voyage_df.csv',
 'AKA_BHUM_voyage_df.csv',
 'AMALTHEA_voyage_df.csv',
 'CAPE_ARTEMISIO_voyage_df.csv',
 'CAUQUENES_voyage_df.csv',
 'CAUTIN_voyage_df.csv',
 'CISNES_voyage_df.csv',
 'COCHRANE_voyage_df.csv',
 'COPIAPO_voyage_df.csv',
 'COSCO_ASIA_voyage_df.csv',
 'COSCO_FOS_voyage_df.csv',
 'COSCO_PRINCE_RUPERT_voyage_df.csv',
 'COYHAIQUE_voyage_df.csv',
 'CSCL_ASIA_voyage_df.csv',
 'CSCL_AUTUMN_voyage_df.csv',
 'CSCL_WINTER_voyage_df.csv',
 'filtered_ais.csv',
 'filtered_ais_2.csv',
 'HENG_HUI_6_voyage_df.csv',
 'HEUNG-A_ULSAN_voyage_df.csv',
 'HMM_BLESSING_voyage_df.csv',
 'HMM_RAON_voyage_df.csv',
 'HYUNDAI_SATURN_voyage_df.csv',
 'ITAJAI_EXPRESS_voyage_df.csv',
 'KUALA_LUMPUR_EXPRESS_voyage_df.csv',
 'MANZANILLO_EXPRESS_voyage_df.csv',
 'MERSIN_EXPRESS_voyage_df.csv',
 'MSC_ABY_voyage_df.csv',
 'MSC_AGRIGENTO_voyage_df.csv',
 'MSC_ALGHERO_voyage_df.csv',
 'MSC_ALICE_voyage_df.csv',
 'MSC_ALINA_voyage_df.csv',
 'MSC_ALIYA_voyage_df.csv',
 'MSC_AMEERA_III_voyage_df.csv',
 'MSC_ANAHITA_voyage_df.csv',
 'MSC_ANA_CAMILA_III_voyage_df.csv',
 'MSC_ANDREA_F_voyage_df.csv',
 'MSC_ANTONELLA_voyage_df.csv',
 'MSC_ANTONIA_voyage_df.csv',
 'MSC_ARIANE_voyage_df.csv',
 'MSC_ARICA_voyage_df.csv',
 'MSC_AURIGA_voyage_df.csv',
 'MSC_BARI_voyage_df.csv',
 'MSC_BEIJING_voyage_df.csv',
 'MSC_BERYL_voyage_df.csv',
 'MSC_BHAVYA_voyage_df.csv',
 'MSC_BRUNELLA_voyage_df.csv',
 'MSC_BUSAN_voyage_df.csv',
 'MSC_CAMILLE_voyage_df.csv',
 'MSC_CAPELLA_voyage_df.csv',
 'MSC_CARPATHIA_III_voyage_df.csv',
 'MSC_CHANNE_voyage_df.csv',
 'MSC_COLETTE_III_voyage_df.csv',
 'MSC_CRISTINA_voyage_df.csv',
 'MSC_DANIELA_voyage_df.csv',
 'MSC_DANIT_voyage_df.csv',
 'MSC_DAVAO_III_voyage_df.csv',
 'MSC_ELA_voyage_df.csv',
 'MSC_ELENI_voyage_df.csv',
 'MSC_ELISA_voyage_df.csv',
 'MSC_ELISA_XIII_voyage_df.csv',
 'MSC_ELMA_voyage_df.csv',
 'MSC_EMILY_II_voyage_df.csv',
 'MSC_EMMA_voyage_df.csv',
 'MSC_EVA_voyage_df.csv',
 'MSC_EXPRESS_III_voyage_df.csv',
 'MSC_FAIRFIELD_voyage_df.csv',
 'MSC_FATMA_voyage_df.csv',
 'MSC_FELIXSTOWE_voyage_df.csv',
 'MSC_FIE_X_voyage_df.csv',
 'MSC_GIANNINA_II_voyage_df.csv',
 'MSC_HAILEY_ANN_III_voyage_df.csv',
 'MSC_HEIDI_voyage_df.csv',
 'MSC_IDA_II_voyage_df.csv',
 'MSC_INDIA_voyage_df.csv',
 'MSC_INES_voyage_df.csv',
 'MSC_ISTANBUL_voyage_df.csv',
 'MSC_JASMINE_voyage_df.csv',
 'MSC_JASPER_VIII_voyage_df.csv',
 'MSC_JEWEL_voyage_df.csv',
 'MSC_JOSSELINE_voyage_df.csv',
 'MSC_JUDITH_voyage_df.csv',
 'MSC_KALAMATA_VII_voyage_df.csv',
 'MSC_KANOKO_voyage_df.csv',
 'MSC_KYMEA_II_voyage_df.csv',
 'MSC_LA_SPEZIA_voyage_df.csv',
 'MSC_LISA_voyage_df.csv',
 'MSC_LONG_BEACH_VI_voyage_df.csv',
 'MSC_LUCIANA_voyage_df.csv',
 'MSC_LUISA_voyage_df.csv',
 'MSC_MADELEINE_voyage_df.csv',
 'MSC_MAKOTO_II_voyage_df.csv',
 'MSC_MEXICO_V_voyage_df.csv',
 'MSC_MONTEREY_voyage_df.csv',
 'MSC_MUNDRA_voyage_df.csv',
 'MSC_NATASHA_voyage_df.csv',
 'MSC_NATASHA_XIII_voyage_df.csv',
 'MSC_NERISSA_voyage_df.csv',
 'MSC_NISHA_voyage_df.csv',
 'MSC_NISHA_V_voyage_df.csv',
 'MSC_NOA_voyage_df.csv',
 'MSC_ORION_voyage_df.csv',
 'MSC_ORNELLA_voyage_df.csv',
 'MSC_PAOLA_voyage_df.csv',
 'MSC_PARIS_voyage_df.csv',
 'MSC_PEGASUS_voyage_df.csv',
 'MSC_PERLE_voyage_df.csv',
 'MSC_PETRA_voyage_df.csv',
 'MSC_PRATITI_voyage_df.csv',
 'MSC_QINGDAO_F_voyage_df.csv',
 'MSC_RAPALLO_voyage_df.csv',
 'MSC_RAVENNA_voyage_df.csv',
 'MSC_RENEE_voyage_df.csv',
 'MSC_RINI_III_voyage_df.csv',
 'MSC_ROCHELLE_voyage_df.csv',
 'MSC_RUBY_voyage_df.csv',
 'MSC_SANTA_MARIA_voyage_df.csv',
 'MSC_SARA_ELENA_voyage_df.csv',
 'MSC_SHRISTI_voyage_df.csv',
 'MSC_SHUBA_B_voyage_df.csv',
 'MSC_SILVANA_voyage_df.csv',
 'MSC_SINDY_voyage_df.csv',
 'MSC_SKY_II_voyage_df.csv',
 'MSC_SOFIA_PAZ_voyage_df.csv',
 'MSC_SONIA_voyage_df.csv',
 'MSC_SOTIRIA_III_voyage_df.csv',
 'MSC_TAMPICO_voyage_df.csv',
 'MSC_TARANTO_voyage_df.csv',
 'MSC_TRADER_II_voyage_df.csv',
 'MSC_TRIESTE_voyage_df.csv',
 'MSC_VANDYA_voyage_df.csv',
 'MSC_VANESSA_voyage_df.csv',
 'MSC_VILDA_X_voyage_df.csv',
 'MSC_VIRGO_voyage_df.csv',
 'MSC_WASHINGTON_voyage_df.csv',
 'NAVARINO_voyage_df.csv',
 'NAVEGANTES_EXPRESS_voyage_df.csv',
 'NAVIGARE_COLLECTOR_voyage_df.csv',
 'ONE_AMAZON_voyage_df.csv',
 'ONE_ORINOCO_voyage_df.csv',
 'OOCL_GENOA_voyage_df.csv',
 'OOCL_HAMBURG_voyage_df.csv',
 'OOCL_LUXEMBOURG_voyage_df.csv',
 'OOCL_NEW_YORK_voyage_df.csv',
 'PACIFIC_SINGAPORE_voyage_df.csv',
 'RIO_DE_JANEIRO_EXPRESS_voyage_df.csv',
 'SALVADOR_EXPRESS_voyage_df.csv',
 'SEAMAX_STRATFORD_voyage_df.csv',
 'SEASPAN_BEAUTY_voyage_df.csv',
 'SEASPAN_BELIEF_voyage_df.csv',
 'SEASPAN_BELLWETHER_voyage_df.csv',
 'SEASPAN_BEYOND_voyage_df.csv',
 'SEASPAN_BRAVO_voyage_df.csv',
 'SEASPAN_BREEZE_voyage_df.csv',
 'SEASPAN_BRIGHTNESS_voyage_df.csv',
 'SEASPAN_BRILLIANCE_voyage_df.csv',
 'SEASPAN_FALCON_voyage_df.csv',
 'SEASPAN_HARRIER_voyage_df.csv',
 'SEASPAN_OCEANIA_voyage_df.csv',
 'SEASPAN_OSPREY_voyage_df.csv',
 'SEASPAN_RAPTOR_voyage_df.csv',
 'SINOKOR_NIIGATA_voyage_df.csv',
 'SOUTHAMPTON_EXPRESS_voyage_df.csv',
 'TAYMA_EXPRESS_voyage_df.csv',
 'UMM_SALAL_voyage_df.csv',
 'VALENCE_voyage_df.csv',
 'VALIANT_voyage_df.csv',
 'VALOR_voyage_df.csv',
 'VALUE_voyage_df.csv',
 'VANTAGE_voyage_df.csv',
 'XIN_FEI_ZHOU_voyage_df.csv',
 'XIN_NAN_SHA_voyage_df.csv',
 'XIN_OU_ZHOU_voyage_df.csv',
 'XIN_YA_ZHOU_voyage_df.csv',
 'YM_WELLBEING_voyage_df.csv',
 'ZHU_CHENG_XIN_ZHOU_voyage_df.csv',
 'ZIM_CHARLESTON_voyage_df.csv']

In [4]:
filtered_df=pd.read_csv("항적데이터/filtered_ais_2.csv")
filtered_df

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
0,RIO DE JANEIRO EXPRESS,211111000,9508902.0,0,KRBNP,9150500,-147.2260,43.2993,18.9,293.0,2023-01-14 10:15:42.000000,05:42.0,36:18.0,under way using engine,0.000000,11878.789690
1,UMM SALAL,215237000,9525857.0,13296,CNTAO,9071200,121.0697,35.7353,0.0,173.0,2023-01-14 10:15:42.000000,05:55.0,53:55.0,at anchor,0.000000,NaN
2,KUALA LUMPUR EXPRESS,218284000,9343730.0,8606,CLIQQ,9040500,-70.1564,-20.2053,0.0,209.0,2023-01-14 10:15:42.000000,09:09.0,05:09.0,moored,0.000000,NaN
3,MSC LA SPEZIA,218400000,9461403.0,14736,CAVAN,9100500,-126.0553,48.1417,0.7,248.0,2023-01-14 10:15:42.000000,08:02.0,07:39.0,under way using engine,0.000000,203343.739100
4,NAVIGARE COLLECTOR,219059000,9779771.0,10100,CLVAP,9060400,-72.7564,-34.2232,18.2,19.0,2023-01-14 10:15:42.000000,09:43.0,22:58.0,under way using engine,0.000000,63074.783850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544923,ITAJAI EXPRESS,538009762,9520053.0,13312,YANTIAN,1130900,114.6343,22.3504,6.3,330.0,2023-01-14 01:19:10.336955,2023-01-13 16:09:46.000000,2023-01-13 07:54:29.000000,under way using engine,1966.621201,253.966024
544924,MSC SKY II,636016574,9162277.0,2169,ZHUSHAN SHIPYARD,11041000,122.2400,29.9456,0.0,111.0,2023-01-14 01:19:10.336955,2023-01-13 16:06:50.000000,2023-01-13 04:16:32.000000,moored,832.167765,NaN
544925,MSC RINI III,636021011,9419644.0,2664,PANJANG,1140100,105.3790,-5.6416,14.7,324.0,2023-01-14 01:19:10.336955,2023-01-13 16:17:37.000000,2023-01-13 04:16:00.000000,under way using engine,5139.842319,321.893997
544926,MSC RINI III,636021011,9419644.0,2664,PANJANG,1140100,105.3753,-5.6364,14.7,324.0,2023-01-14 01:19:48.516171,2023-01-13 16:19:07.000000,2023-01-13 04:16:00.000000,under way using engine,5139.511258,321.873263
544927,MSC ARICA,636019582,9619452.0,8886,PWBGA,1190830,76.1878,-8.8997,13.9,50.0,2023-01-14 01:19:48.516171,2023-01-13 16:04:41.000000,2023-01-13 05:51:45.000000,under way using engine,7366.982467,775.941624

In [5]:
filtered_df["vessel_name"].value_counts()

ZHU CHENG XIN ZHOU    16901
COSCO FOS             15257
HEUNG-A ULSAN         13743
MSC GIANNINA II       13511
SINOKOR NIIGATA       13297
                      ...
MSC SKY II               60
MSC CAPELLA              57
UMM SALAL                55
YM WELLBEING             50
MSC BEIJING              49
Name: vessel_name, Length: 197, dtype: int64

In [6]:
port_mis = pd.read_csv("port_mis_processed.csv")
port_mis

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,CIQ수속일자,수리일시,항해구분,MRN 번호,계선장소,계선장소.1,계선장소.2,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
0,부산,VRAD2,OSG ALPHA,2015,8,최종,외항,출항,"7,167",2015-09-24 16:00,2022-08-10 00:00,2015-09-24 19:00,2015-10-06 11:27,기타,15ANJSM0229,WAM,08,M박지 M8 묘지,DALIAN,MAIZURU,풀컨테이너선,NaN,17.0,NaN,N,N,NaN,NaN
1,부산,140025,한림,2015,23,최종,내항,출항,432,2015-09-25 11:40,2022-07-31 00:00,NaN,2015-10-08 10:25,기타,NaN,WAN,01,남외항 N-1박지,온산,제주,석유제품 운반선,5.0,2.0,NaN,N,N,NaN,NaN
2,부산,030968,삼원골드,2017,93,변경,내항,출항,790,2017-11-01 04:50,2023-01-11 23:00,NaN,NaN,기타,NaN,MW5,01,5물량장 1선석,기타항,기타항,석유제품 운반선,4.0,4.0,0.0,N,N,NaN,NaN
3,부산,D9JC,성신티3호,2019,7,최종,내항,출항,106.21,2019-03-21 12:50,2022-11-01 13:35,NaN,2022-11-02 09:45,기타,NaN,*LP,01,대평동호안,기타항,기타항,기타 예선,4.0,0.0,0.0,N,N,NaN,NaN
4,부산,UCXC,CAESAR,2019,2,변경,외항,출항,685,2019-12-29 15:17,2022-12-31 18:00,2022-12-31 18:00,NaN,기타,21TNICD005E,MYQ,01,기타 북항사설조선소,OCEAN DISTRICT,속초,냉동.냉장선,NaN,2.0,NaN,Y,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42633,부산,220031,말리,2023,1,최초,내항,입항,"2,692",2023-01-13 21:00,2023-01-14 05:00,NaN,NaN,기타,NaN,MBE,Q1,감만부두 동측안벽 1 선석,울산,대산,석유제품 운반선,8.0,8.0,0.0,Y,N,NaN,NaN
42634,부산,9HA4999,CMA CGM J ADAMS,2023,1,최종,외항,입항,"141,950",2023-01-13 21:00,2023-01-14 19:00,2023-01-13 21:00,NaN,기타,23CMAL0004I,MS5,04,신항 5부두 4선석,SHEKOU PT,YOKOHAMA,풀컨테이너선,NaN,28.0,NaN,Y,Y,NaN,NaN
42635,부산,A8SI7,ZIM SAN DIEGO,2023,1,최종,외항,입항,"91,158",2023-01-13 21:00,2023-01-14 19:00,2023-01-13 21:00,NaN,기타,23ZIMU0020I,MSN,05,신항 2부두 2선석,"HOUSTON, TX",YANTIAN PT,풀컨테이너선,NaN,20.0,NaN,Y,Y,NaN,NaN
42636,부산,3FNR5,DONG YU,2023,1,변경,외항,입항,"2,962",2023-01-13 23:00,2023-01-14 12:00,2023-01-13 23:30,NaN,기타,23SHSBM011I,WAN,03,남외항 N-3박지,SAKAISENBOKU,RIZHAO PT,일반화물선,NaN,13.0,NaN,N,N,NaN,NaN
42637,부산,9V6220,CAROLINE MAERSK,2023,1,변경,외항,입항,"92,198",2023-01-13 23:00,2023-01-14 21:00,2023-01-13 23:00,NaN,기타,23MAEU0035I,MSN,06,신항 2부두 3선석,YOKOHAMA,QINGDAO,풀컨테이너선,NaN,25.0,NaN,Y,Y,NaN,NaN

In [7]:
port_mis["선명"] = port_mis["선명"].apply(lambda x : x.strip())

In [8]:
port_mis_df = port_mis[[
        "항명", "호출부호", "선명", "입항횟수", "입항횟수.1", "구분", '외내', '입출', '입항일시', '출항일시',
        "계선장소", '계선장소.1', '계선장소.2', '차항지', '전출항지'
    ]]

In [9]:
port_mis_df["입항일시"] = pd.to_datetime(port_mis_df["입항일시"])
port_mis_df["출항일시"] = pd.to_datetime(port_mis_df["출항일시"])

In [11]:
for path in path_list:
    voyage_df = pd.read_csv(path_master + "/" + path)
    voyage_df["vessel_name"] = voyage_df["vessel_name"].apply(lambda x: x.strip())
    vessel_name = voyage_df["vessel_name"].values[0]
    if not len(port_mis_df[port_mis_df["선명"] == vessel_name]) % 2 == 0:
        print(vessel_name)

CAPE ARTEMISIO
MSC ALINA
MSC COLETTE III
MSC JASPER VIII

In [13]:
for path in path_list:
    if path == "filtered_ais.csv" or path == 'filtered_ais_2.csv':
        continue
        
    voyage_df = pd.read_csv(path_master + "/" + path)
    voyage_df["vessel_name"] = voyage_df["vessel_name"].apply(lambda x: x.strip())
    vessel_name = voyage_df["vessel_name"].values[0]
    
    voyage_df["timestamp"] = pd.to_datetime(voyage_df["timestamp"], errors='coerce')
#     voyage_df.dropna(subset=["timestamp"], inplace=True)
#     voyage_df.reset_index(drop=True, inplace=True)
    
    pmis_df = port_mis_df[port_mis_df.선명 == vessel_name]
    if len(pmis_df) == 0:
        print("port mis 데이터 없는 선박 : ",vessel_name)
        continue
    pmis_df.reset_index(inplace=True, drop=True)
    
    port_mis_voy_dict = {
        "voyage_name": [],
        "port_in_time": [],
        "port_out_time": [],
        "next_port": [],
        "previous_port": []
    }
    
    
    
    vessel_name = vessel_name.replace(" ", "_")
    
    # 입항횟수.1 = ser_no임. 
    # ser_no가 같은 것들
    for j in set(pmis_df["입항횟수"]):
        ff = pmis_df[pmis_df["입항횟수"] == j]
        for i in set(ff["입항횟수.1"]):
            d = ff[ff["입항횟수.1"] == i]
            voyage_name = d["호출부호"].values[0] +"_"+ str(d["입항횟수"].values[0]) +  "_" + str(d["입항횟수.1"].values[0])
            port_in_time = d['입항일시'].values[0]
            port_out_time = d['출항일시'].values[0]
            next_port = d['차항지'].values[0]
            previous_port = d['전출항지'].values[0]

            port_mis_voy_dict["voyage_name"].append(voyage_name)
            port_mis_voy_dict["port_in_time"].append(port_in_time)
            port_mis_voy_dict["port_out_time"].append(port_out_time)
            port_mis_voy_dict["next_port"].append(next_port)
            port_mis_voy_dict["previous_port"].append(previous_port)

        
                
    port_mis_voyage_df = pd.DataFrame(port_mis_voy_dict)
    port_mis_voyage_df = port_mis_voyage_df.sort_values(by='port_in_time', ignore_index=True)
    port_mis_voyage_df.to_csv("voy_path/" + vessel_name+ "_portmis" + ".csv",
                  encoding="utf-8 sig",
                  header=True,
                  index=False)
    
    for idx in port_mis_voyage_df.index:
        if idx == 0:
            voyage_name = port_mis_voyage_df.loc[idx, "voyage_name"]
            port_in_time = pd.to_datetime(port_mis_voyage_df.loc[idx, "port_in_time"])
            
            df = voyage_df[(voyage_df["timestamp"] < datetime.datetime.fromtimestamp(port_in_time.timestamp()))]
        else:
            port_in_time = pd.to_datetime(
                port_mis_voyage_df.loc[idx, "port_in_time"])
            prev_out_time = pd.to_datetime(
                port_mis_voyage_df.loc[idx - 1, "port_out_time"])
            #         print(port_in_time)
            voyage_name = port_mis_voyage_df.loc[idx, "voyage_name"]
            df = voyage_df[(voyage_df["timestamp"] < datetime.datetime.
                            fromtimestamp(port_in_time.timestamp()))
                           & (voyage_df["timestamp"] > datetime.datetime.
                              fromtimestamp(prev_out_time.timestamp()))]
        df.to_csv("voy_path/" + vessel_name + "_" + voyage_name +".csv", encoding="utf-8 sig", header=True, index=False)

port mis 데이터 없는 선박 :  ITAJAI EXPRESS
port mis 데이터 없는 선박 :  MSC ALICE
port mis 데이터 없는 선박 :  MSC FIE X
port mis 데이터 없는 선박 :  MSC INDIA
port mis 데이터 없는 선박 :  MSC NATASHA
port mis 데이터 없는 선박 :  MSC QINGDAO F
port mis 데이터 없는 선박 :  MSC SINDY
port mis 데이터 없는 선박 :  MSC SKY II

- 0번 인덱스
    - timestamp가 port_in_time 보다 작은 것들만 확인하여 0번 인덱스의 voyage_name
- n번 ~
    - n번 인덱스의 port_in_time ~ n-1번 인덱스의 port_out_time 사이에 있는 timestamp

In [178]:
d = pd.read_csv(path_master + "/COSCO_FOS_voyage_df.csv").sort_values(by="timestamp")
d["vessel_name"].values[0]

'COSCO FOS'

In [179]:
port_mis_df[port_mis_df.선명 == d["vessel_name"].values[0]]

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
1174,부산,VRKR6,COSCO FOS,2022,12,최종,외항,입항,2022-07-22 06:48:00,2022-07-23 17:56:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN
1175,부산,VRKR6,COSCO FOS,2022,12,최종,외항,출항,2022-07-22 06:48:00,2022-07-23 17:56:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN
3557,부산,VRKR6,COSCO FOS,2022,13,최종,외항,출항,2022-08-01 01:03:00,2022-08-02 17:56:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN
3558,부산,VRKR6,COSCO FOS,2022,13,최종,외항,입항,2022-08-01 01:03:00,2022-08-02 17:56:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN
5700,부산,VRKR6,COSCO FOS,2022,14,최종,외항,출항,2022-08-10 01:54:00,2022-08-11 14:54:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN
5701,부산,VRKR6,COSCO FOS,2022,14,최종,외항,입항,2022-08-10 01:54:00,2022-08-11 14:54:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN
7480,부산,VRKR6,COSCO FOS,2022,15,최종,외항,출항,2022-08-17 19:55:00,2022-08-18 23:55:00,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,DALIAN
7481,부산,VRKR6,COSCO FOS,2022,15,최종,외항,입항,2022-08-17 19:55:00,2022-08-18 23:55:00,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,DALIAN
9142,부산,VRKR6,COSCO FOS,2022,16,최종,외항,출항,2022-08-24 18:42:00,2022-08-26 03:00:00,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,DALIAN
9143,부산,VRKR6,COSCO FOS,2022,16,최종,외항,입항,2022-08-24 18:42:00,2022-08-26 03:00:00,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,DALIAN
10557,부산,VRKR6,COSCO FOS,2022,17,최종,외항,출항,2022-08-30 19:35:00,2022-09-04 11:48:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
10558,부산,VRKR6,COSCO FOS,2022,17,최종,외항,입항,2022-08-30 19:35:00,2022-09-04 11:48:00,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
12817,부산,VRKR6,COSCO FOS,2022,18,최종,외항,출항,2022-09-11 08:23:00,2022-09-15 03:52:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
12818,부산,VRKR6,COSCO FOS,2022,18,최종,외항,입항,2022-09-11 08:23:00,2022-09-15 03:52:00,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
15650,부산,VRKR6,COSCO FOS,2022,19,최종,외항,입항,2022-09-24 14:15:00,2022-09-27 16:40:00,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
15651,부산,VRKR6,COSCO FOS,2022,19,최종,외항,출항,2022-09-24 14:15:00,2022-09-27 16:40:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
18278,부산,VRKR6,COSCO FOS,2022,20,최종,외항,입항,2022-10-04 21:00:00,2022-10-06 19:50:00,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
18279,부산,VRKR6,COSCO FOS,2022,20,최종,외항,출항,2022-10-04 21:00:00,2022-10-06 19:50:00,MBR,E1,신감만부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
19878,부산,VRKR6,COSCO FOS,2022,21,최종,외항,출항,2022-10-12 00:50:00,2022-10-13 20:42:00,MBR,E1,신감만부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
19879,부산,VRKR6,COSCO FOS,2022,21,최종,외항,입항,2022-10-12 00:50:00,2022-10-13 20:42:00,MSN,03,신항 1부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
21839,부산,VRKR6,COSCO FOS,2022,22,최종,외항,입항,2022-10-19 20:05:00,2022-10-23 11:32:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
21840,부산,VRKR6,COSCO FOS,2022,22,최종,외항,출항,2022-10-19 20:05:00,2022-10-23 11:32:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
24048,부산,VRKR6,COSCO FOS,2022,23,최종,외항,출항,2022-10-28 11:42:00,2022-10-30 16:40:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
24049,부산,VRKR6,COSCO FOS,2022,23,최종,외항,입항,2022-10-28 11:42:00,2022-10-30 16:40:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
25936,부산,VRKR6,COSCO FOS,2022,24,최종,외항,입항,2022-11-04 17:50:00,2022-11-08 09:54:00,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
25937,부산,VRKR6,COSCO FOS,2022,24,최종,외항,출항,2022-11-04 17:50:00,2022-11-08 09:54:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
28312,부산,VRKR6,COSCO FOS,2022,25,최종,외항,출항,2022-11-14 16:20:00,2022-11-16 07:55:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
28313,부산,VRKR6,COSCO FOS,2022,25,최종,외항,입항,2022-11-14 16:20:00,2022-11-16 07:55:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
30182,부산,VRKR6,COSCO FOS,2022,26,최종,외항,출항,2022-11-21 17:51:00,2022-11-24 02:08:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
30183,부산,VRKR6,COSCO FOS,2022,26,최종,외항,입항,2022-11-21 17:51:00,2022-11-24 02:08:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
32215,부산,VRKR6,COSCO FOS,2022,27,최종,외항,입항,2022-11-29 20:50:00,2022-12-01 04:42:00,MSN,03,신항 1부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
32216,부산,VRKR6,COSCO FOS,2022,27,최종,외항,출항,2022-11-29 20:50:00,2022-12-01 04:42:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
34527,부산,VRKR6,COSCO FOS,2022,28,최종,외항,출항,2022-12-09 06:45:00,2022-12-10 16:20:00,MBR,E2,신감만부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
34528,부산,VRKR6,COSCO FOS,2022,28,최종,외항,입항,2022-12-09 06:45:00,2022-12-10 16:20:00,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
36301,부산,VRKR6,COSCO FOS,2022,29,최종,외항,입항,2022-12-16 16:50:00,2022-12-18 12:45:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
36302,부산,VRKR6,COSCO FOS,2022,29,최종,외항,출항,2022-12-16 16:50:00,2022-12-18 12:45:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
38348,부산,VRKR6,COSCO FOS,2022,30,최종,외항,입항,2022-12-26 12:48:00,2022-12-28 01:50:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
38349,부산,VRKR6,COSCO FOS,2022,30,최종,외항,출항,2022-12-26 12:48:00,2022-12-28 01:50:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
40241,부산,VRKR6,COSCO FOS,2023,1,최종,외항,입항,2023-01-02 22:05:00,2023-01-04 16:41:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
40242,부산,VRKR6,COSCO FOS,2023,1,최종,외항,출항,2023-01-02 22:05:00,2023-01-04 16:41:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
42034,부산,VRKR6,COSCO FOS,2023,2,최종,외항,출항,2023-01-10 13:54:00,2023-01-12 12:45:00,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
42035,부산,VRKR6,COSCO FOS,2023,2,최종,외항,입항,2023-01-10 13:54:00,2023-01-12 12:45:00,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

In [180]:
d

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
3746,COSCO FOS,477947700,9484302.0,4253,KRBNP,9101100,119.6532,38.6811,13.3,96.0,2022-09-07 16:04:18.655000,2022-09-07 07:03:14,2022-09-07 07:01:11,under way using engine,913.689387,1281.471670
3747,COSCO FOS,477947700,9484302.0,4253,KRBNP,9101100,119.6971,38.6778,13.4,96.0,2022-09-07 16:13:37.571000,2022-09-07 07:12:40,2022-09-07 07:07:09,under way using engine,910.060522,1283.332353
3748,COSCO FOS,477947700,9484302.0,4253,KRBNP,9101100,119.7269,38.6754,13.3,96.0,2022-09-07 16:33:07.365000,2022-09-07 07:18:55,2022-09-07 07:25:08,under way using engine,907.591074,1272.918636
3749,COSCO FOS,477947700,9484302.0,4253,KRBNP,9101100,119.8695,38.6647,13.5,93.0,2022-09-07 16:55:45.254000,2022-09-07 07:49:15,2022-09-07 07:49:07,under way using engine,895.823260,1270.237747
3750,COSCO FOS,477947700,9484302.0,4253,KRBNP,9101100,120.2296,38.6566,13.4,90.0,2022-09-07 18:19:01.967000,2022-09-07 09:05:55,2022-09-07 08:49:04,under way using engine,867.116999,1222.775048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,COSCO FOS,477947700,9484302.0,4253,KRBNP,7210900,128.8295,35.0773,0.0,90.0,2023-01-14 19:43:12.000000,18:19.0,07:06.0,moored,12.010626,NaN
3,COSCO FOS,477947700,9484302.0,4253,KRBNP,7210900,128.8299,35.0774,0.0,91.0,2023-01-14 19:48:06.000000,06:13.0,19:05.0,moored,12.024540,NaN
4,COSCO FOS,477947700,9484302.0,4253,KRBNP,7210900,128.8297,35.0775,0.0,91.0,2023-01-14 19:52:54.000000,15:16.0,13:06.0,moored,12.034199,NaN
5,COSCO FOS,477947700,9484302.0,4253,KRBNP,7210900,128.8298,35.0772,0.0,91.0,2023-01-14 19:58:00.000000,12:18.0,13:07.0,moored,12.001653,NaN
0,COSCO FOS,477947700,9484302.0,4253,KRBNP,7210900,128.8299,35.0770,0.0,91.0,2023-01-14 20:32:12.000000,18:18.0,13:07.0,moored,11.980203,NaN

In [161]:
path

'ZIM_CHARLESTON_voyage_df.csv'

In [136]:
port_mis_voyage_df.sort_values(by="df", ignore_index=)

,voyage_name,port_in_time,port_out_time,next_port,previous_port
0,9HA5144_2022_3,2022-12-18 21:10,2022-12-19 22:00,MANZANILLO,NINGBO

In [139]:
port_mis_df[port_mis_df.선명 == vessel_name]

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
36796,부산,9HA5144,AKADIMOS,2022,3,최종,외항,입항,2022-12-18 21:10,2022-12-19 22:00,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO
36797,부산,9HA5144,AKADIMOS,2022,3,최종,외항,출항,2022-12-18 21:10,2022-12-19 22:00,MSN,01,신항 1부두 1선석,MANZANILLO,NINGBO

In [137]:
voyage_df

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
0,AKADIMOS,215499000,9706308.0,9288,HKHKG,9140400,141.5711,13.4902,16.9,290.0,2022-09-11 00:10:21.029964,2022-09-10 13:39:31,2022-09-10 09:40:27,under way using engine,2709.886309,8042.979719
1,AKADIMOS,215499000,9706308.0,9288,HKHKG,9140400,133.1867,16.3133,18.0,NaN,2022-09-12 10:23:06.653045,2022-09-11 18:59:19,2022-09-10 09:40:27,under way using engine,2119.497891,6708.438624
2,AKADIMOS,215499000,9706308.0,9288,HKHKG,9150900,119.6501,19.7207,10.0,303.0,2022-09-14 21:35:01.165913,2022-09-14 11:20:12,2022-09-14 11:21:15,under way using engine,1919.934315,4650.832680
3,AKADIMOS,215499000,9706308.0,9288,HKHKG,9150900,118.7239,20.2812,11.7,303.0,2022-09-15 02:06:49.165779,2022-09-14 16:56:52,2022-09-14 04:57:16,under way using engine,1909.546525,4619.020125
4,AKADIMOS,215499000,9706308.0,9288,HKHKG,9150900,118.6643,20.3166,12.1,303.0,2022-09-15 02:36:52.010736,2022-09-14 17:16:54,2022-09-14 05:21:16,under way using engine,1909.143750,4647.113511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3820,AKADIMOS,215499000,9706308.0,9288,CN YTN # NO,12080500,114.1328,22.2357,7.6,128.0,2022-12-08 19:15:25.364118,2022-12-08 10:09:12.000000,2022-12-08 10:10:27.000000,under way using engine,2010.468078,225.093895
3821,AKADIMOS,215499000,9706308.0,9288,CN YTN # NO,12080500,114.1432,22.2280,6.9,127.0,2022-12-08 19:20:25.770692,2022-12-08 10:15:31.000000,2022-12-08 10:10:27.000000,under way using engine,2010.387941,238.830749
3822,AKADIMOS,215499000,8657668.0,9288,NAN,12100530,114.1293,22.2460,12.6,315.0,2022-12-10 14:52:03.533426,2022-12-10 05:46:39.000000,2022-12-10 05:51:29.000000,under way using engine,2009.858643,206.062257
3823,AKADIMOS,215499000,8657668.0,9288,NAN,12100530,114.1149,22.2676,12.9,332.0,2022-12-10 14:57:04.241803,2022-12-10 05:53:49.000000,2022-12-10 05:51:29.000000,under way using engine,2009.069339,207.625869
3824,AKADIMOS,215499000,9706308.0,9288,HK HKG #K .,12100530,114.1212,22.3442,0.0,342.0,2022-12-10 17:07:24.139907,2022-12-10 08:06:42.000000,2022-12-10 08:03:40.000000,moored,2002.323485,NaN

이 선박의 port-mis 데이터를 가져와서 몇 번 입항했는지 확인

In [162]:
COSCO_FOD_pmis_df = port_mis[port_mis["호출부호"] == 'VRKR6']
COSCO_FOD_pmis_df.reset_index(inplace=True, drop=True)

In [163]:
ZHU_pmis_df = port_mis[port_mis["호출부호"] == 'BTSJ']
ZHU_pmis_df.reset_index(inplace=True, drop=True)

In [164]:
COSCO_FOS_voyage_df["timestamp"] = COSCO_FOS_voyage_df[
    "timestamp"].apply(lambda x: pd.to_datetime(x) if len(x) == 26 else "")

NameError: name 'COSCO_FOS_voyage_df' is not defined

In [86]:
ZHU_CHENG_XIN_ZHOU_voyage_df["timestamp"] = ZHU_CHENG_XIN_ZHOU_voyage_df[
    "timestamp"].apply(lambda x: pd.to_datetime(x) if len(x) == 26 else "")

In [157]:
COSCO_FOS_voyage_df.drop(COSCO_FOS_voyage_df[
    COSCO_FOS_voyage_df["timestamp"] == ''].index,
                                  inplace=True)

In [88]:
ZHU_CHENG_XIN_ZHOU_voyage_df.drop(ZHU_CHENG_XIN_ZHOU_voyage_df[
    ZHU_CHENG_XIN_ZHOU_voyage_df["timestamp"] == ''].index,
                                  inplace=True)

In [160]:
COSCO_FOD_pmis_df2 = COSCO_FOD_pmis_df[["항명", "호출부호", "선명","입항횟수","입항횟수.1","구분",'외내','입출','입항일시','출항일시',"계선장소",'계선장소.1','계선장소.2','차항지','전출항지']]

voy_dict= {
          "voyage_name": [],
          "port_in_time" : [],
          "port_out_time" : [],
          "next_port" : [],
          "previous_port":[]}

for idx in COSCO_FOD_pmis_df2.index:
    if idx % 2 == 0:
        d = COSCO_FOD_pmis_df2.loc[idx:idx+1,:]
        display(d)
#         vessel_name = d["선명"].values[0]
        voyage_name = d["호출부호"].values[0] + "_" + str(d["입항횟수.1"].values[0])
        port_in_time = d['입항일시'].values[0]
        port_out_time= d['출항일시'].values[0]
        next_port= d['차항지'].values[0]
        previous_port= d['전출항지'].values[0]
        
        voy_dict["voyage_name"].append(voyage_name)
        voy_dict["port_in_time"].append(port_in_time)
        voy_dict["port_out_time"].append(port_out_time)
        voy_dict["next_port"].append(next_port)
        voy_dict["previous_port"].append(previous_port)

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
0,부산,VRKR6,COSCO FOS,2022,12,최종,외항,입항,2022-07-22 06:48,2022-07-23 17:56,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN
1,부산,VRKR6,COSCO FOS,2022,12,최종,외항,출항,2022-07-22 06:48,2022-07-23 17:56,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
2,부산,VRKR6,COSCO FOS,2022,13,최종,외항,입항,2022-08-01 01:03,2022-08-02 17:56,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN
3,부산,VRKR6,COSCO FOS,2022,13,최종,외항,출항,2022-08-01 01:03,2022-08-02 17:56,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
4,부산,VRKR6,COSCO FOS,2022,14,최종,외항,입항,2022-08-10 01:54,2022-08-11 14:54,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN
5,부산,VRKR6,COSCO FOS,2022,14,최종,외항,출항,2022-08-10 01:54,2022-08-11 14:54,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,DALIAN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
6,부산,VRKR6,COSCO FOS,2022,15,최종,외항,입항,2022-08-17 19:55,2022-08-18 23:55,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,DALIAN
7,부산,VRKR6,COSCO FOS,2022,15,최종,외항,출항,2022-08-17 19:55,2022-08-18 23:55,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,DALIAN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
8,부산,VRKR6,COSCO FOS,2022,16,최종,외항,입항,2022-08-24 18:42,2022-08-26 03:00,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,DALIAN
9,부산,VRKR6,COSCO FOS,2022,16,최종,외항,출항,2022-08-24 18:42,2022-08-26 03:00,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,DALIAN

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
10,부산,VRKR6,COSCO FOS,2022,17,최종,외항,입항,2022-08-30 19:35,2022-09-04 11:48,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
11,부산,VRKR6,COSCO FOS,2022,17,최종,외항,출항,2022-08-30 19:35,2022-09-04 11:48,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
12,부산,VRKR6,COSCO FOS,2022,18,최종,외항,입항,2022-09-11 08:23,2022-09-15 03:52,MS6,02,신항 6부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
13,부산,VRKR6,COSCO FOS,2022,18,최종,외항,출항,2022-09-11 08:23,2022-09-15 03:52,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
14,부산,VRKR6,COSCO FOS,2022,19,최종,외항,출항,2022-09-24 14:15,2022-09-27 16:40,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
15,부산,VRKR6,COSCO FOS,2022,19,최종,외항,입항,2022-09-24 14:15,2022-09-27 16:40,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
16,부산,VRKR6,COSCO FOS,2022,20,최종,외항,출항,2022-10-04 21:00,2022-10-06 19:50,MBR,E1,신감만부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
17,부산,VRKR6,COSCO FOS,2022,20,최종,외항,입항,2022-10-04 21:00,2022-10-06 19:50,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
18,부산,VRKR6,COSCO FOS,2022,21,최종,외항,입항,2022-10-12 00:50,2022-10-13 20:42,MSN,03,신항 1부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
19,부산,VRKR6,COSCO FOS,2022,21,최종,외항,출항,2022-10-12 00:50,2022-10-13 20:42,MBR,E1,신감만부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
20,부산,VRKR6,COSCO FOS,2022,22,최종,외항,출항,2022-10-19 20:05,2022-10-23 11:32,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
21,부산,VRKR6,COSCO FOS,2022,22,최종,외항,입항,2022-10-19 20:05,2022-10-23 11:32,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
22,부산,VRKR6,COSCO FOS,2022,23,최종,외항,출항,2022-10-28 11:42,2022-10-30 16:40,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
23,부산,VRKR6,COSCO FOS,2022,23,최종,외항,입항,2022-10-28 11:42,2022-10-30 16:40,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
24,부산,VRKR6,COSCO FOS,2022,24,최종,외항,입항,2022-11-04 17:50,2022-11-08 09:54,MSN,02,신항 1부두 2선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
25,부산,VRKR6,COSCO FOS,2022,24,최종,외항,출항,2022-11-04 17:50,2022-11-08 09:54,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
26,부산,VRKR6,COSCO FOS,2022,25,최종,외항,출항,2022-11-14 16:20,2022-11-16 07:55,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
27,부산,VRKR6,COSCO FOS,2022,25,최종,외항,입항,2022-11-14 16:20,2022-11-16 07:55,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
28,부산,VRKR6,COSCO FOS,2022,26,최종,외항,출항,2022-11-21 17:51,2022-11-24 02:08,MBR,E3,신감만부두 3선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT
29,부산,VRKR6,COSCO FOS,2022,26,최종,외항,입항,2022-11-21 17:51,2022-11-24 02:08,MSN,01,신항 1부두 1선석,TIANJIN XINGANG PT,TIANJIN XINGANG PT

In [67]:
ZHU_pmis_df2 = ZHU_pmis_df[["항명", "호출부호", "선명","입항횟수","입항횟수.1","구분",'외내','입출','입항일시','출항일시',"계선장소",'계선장소.1','계선장소.2','차항지','전출항지']]

voy_dict= {
          "voyage_name": [],
          "port_in_time" : [],
          "port_out_time" : [],
          "next_port" : [],
          "previous_port":[]}

for idx in ZHU_pmis_df2.index:
    if idx % 2 == 0:
        d = ZHU_pmis_df2.loc[idx:idx+1,:]
        display(d)
#         vessel_name = d["선명"].values[0]
        voyage_name = d["호출부호"].values[0] + "_" + str(d["입항횟수.1"].values[0])
        port_in_time = d['입항일시'].values[0]
        port_out_time= d['출항일시'].values[0]
        next_port= d['차항지'].values[0]
        previous_port= d['전출항지'].values[0]
        
        voy_dict["voyage_name"].append(voyage_name)
        voy_dict["port_in_time"].append(port_in_time)
        voy_dict["port_out_time"].append(port_out_time)
        voy_dict["next_port"].append(next_port)
        voy_dict["previous_port"].append(previous_port)

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
0,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,22,최종,외항,출항,2022-07-22 23:40,2022-07-23 21:54,MSN,06,신항 2부두 3선석,OSAKA,HAKATA/FUKUOKA
1,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,22,최종,외항,입항,2022-07-22 23:40,2022-07-23 21:54,MSN,06,신항 2부두 3선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
2,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,23,최종,외항,출항,2022-07-29 11:55,2022-07-30 12:50,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA
3,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,23,최종,외항,입항,2022-07-29 11:55,2022-07-30 12:50,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
4,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,24,최종,외항,출항,2022-08-06 00:02,2022-08-06 22:00,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA
5,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,24,최종,외항,입항,2022-08-06 00:02,2022-08-06 22:00,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
6,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,25,최종,외항,입항,2022-08-12 07:55,2022-08-13 07:00,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA
7,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,25,최종,외항,출항,2022-08-12 07:55,2022-08-13 07:00,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
8,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,26,최종,외항,입항,2022-08-18 01:00,2022-08-18 23:00,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA
9,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,26,최종,외항,출항,2022-08-18 01:00,2022-08-18 23:00,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
10,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,27,최종,외항,출항,2022-08-26 08:30,2022-08-27 00:03,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA
11,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,27,최종,외항,입항,2022-08-26 08:30,2022-08-27 00:03,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
12,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,28,최종,외항,입항,2022-09-01 05:11,2022-09-02 00:53,MSN,06,신항 2부두 3선석,OSAKA,HAKATA/FUKUOKA
13,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,28,최종,외항,출항,2022-09-01 05:11,2022-09-02 00:53,MSN,06,신항 2부두 3선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
14,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,29,최종,외항,입항,2022-09-11 07:05,2022-09-12 03:05,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA
15,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,29,최종,외항,출항,2022-09-11 07:05,2022-09-12 03:05,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
16,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,30,최종,외항,입항,2022-09-16 22:53,2022-09-17 22:52,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA
17,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,30,최종,외항,출항,2022-09-16 22:53,2022-09-17 22:52,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
18,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,31,최종,외항,출항,2022-09-26 22:40,2022-09-28 04:50,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA
19,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,31,최종,외항,입항,2022-09-26 22:40,2022-09-28 04:50,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
20,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,32,최종,외항,출항,2022-10-04 08:50,2022-10-05 08:52,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA
21,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,32,최종,외항,입항,2022-10-04 08:50,2022-10-05 08:52,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
22,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,33,최종,외항,입항,2022-10-11 23:45,2022-10-13 00:12,MSN,07,신항 2부두 4선석,OSAKA,HAKATA/FUKUOKA
23,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,33,최종,외항,출항,2022-10-11 23:45,2022-10-13 00:12,MSN,07,신항 2부두 4선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
24,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,34,최종,외항,입항,2022-10-20 23:31,2022-10-22 05:50,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA
25,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,34,최종,외항,출항,2022-10-20 23:31,2022-10-22 05:50,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
26,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,35,최종,외항,출항,2022-10-27 22:45,2022-10-28 19:03,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA
27,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,35,최종,외항,입항,2022-10-27 22:45,2022-10-28 19:03,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
28,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,36,최종,외항,출항,2022-11-04 14:00,2022-11-05 17:55,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA
29,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,36,최종,외항,입항,2022-11-04 14:00,2022-11-05 17:55,MSN,04,신항 2부두 1선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
30,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,37,최종,외항,출항,2022-11-11 06:54,2022-11-12 09:50,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA
31,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,37,최종,외항,입항,2022-11-11 06:54,2022-11-12 09:50,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,입항일시,출항일시,계선장소,계선장소.1,계선장소.2,차항지,전출항지
32,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,38,최종,외항,입항,2022-11-17 23:56,2022-11-19 13:00,MSN,05,신항 2부두 2선석,OSAKA,HAKATA/FUKUOKA
33,부산,BTSJ,ZHU CHENG XIN ZHOU,2022,38,최종,외항,출항,2022-11-17 23:56,2022-11-19 13:00,MSN,02,신항 1부두 2선석,OSAKA,HAKATA/FUKUOKA

In [161]:
voy_df_test = pd.DataFrame(voy_dict)
voy_df_test

,voyage_name,port_in_time,port_out_time,next_port,previous_port
0,VRKR6_12,2022-07-22 06:48,2022-07-23 17:56,TIANJIN XINGANG PT,DALIAN
1,VRKR6_13,2022-08-01 01:03,2022-08-02 17:56,TIANJIN XINGANG PT,DALIAN
2,VRKR6_14,2022-08-10 01:54,2022-08-11 14:54,TIANJIN XINGANG PT,DALIAN
3,VRKR6_15,2022-08-17 19:55,2022-08-18 23:55,TIANJIN XINGANG PT,DALIAN
4,VRKR6_16,2022-08-24 18:42,2022-08-26 03:00,TIANJIN XINGANG PT,DALIAN
5,VRKR6_17,2022-08-30 19:35,2022-09-04 11:48,TIANJIN XINGANG PT,TIANJIN XINGANG PT
6,VRKR6_18,2022-09-11 08:23,2022-09-15 03:52,TIANJIN XINGANG PT,TIANJIN XINGANG PT
7,VRKR6_19,2022-09-24 14:15,2022-09-27 16:40,TIANJIN XINGANG PT,TIANJIN XINGANG PT
8,VRKR6_20,2022-10-04 21:00,2022-10-06 19:50,TIANJIN XINGANG PT,TIANJIN XINGANG PT
9,VRKR6_21,2022-10-12 00:50,2022-10-13 20:42,TIANJIN XINGANG PT,TIANJIN XINGANG PT
10,VRKR6_22,2022-10-19 20:05,2022-10-23 11:32,TIANJIN XINGANG PT,TIANJIN XINGANG PT
11,VRKR6_23,2022-10-28 11:42,2022-10-30 16:40,TIANJIN XINGANG PT,TIANJIN XINGANG PT
12,VRKR6_24,2022-11-04 17:50,2022-11-08 09:54,TIANJIN XINGANG PT,TIANJIN XINGANG PT
13,VRKR6_25,2022-11-14 16:20,2022-11-16 07:55,TIANJIN XINGANG PT,TIANJIN XINGANG PT
14,VRKR6_26,2022-11-21 17:51,2022-11-24 02:08,TIANJIN XINGANG PT,TIANJIN XINGANG PT

In [69]:
voy_df_test = pd.DataFrame(voy_dict)
voy_df_test

   voyage_name      port_in_time     port_out_time next_port   previous_port
0      BTSJ_22  2022-07-22 23:40  2022-07-23 21:54     OSAKA  HAKATA/FUKUOKA
1      BTSJ_23  2022-07-29 11:55  2022-07-30 12:50     OSAKA  HAKATA/FUKUOKA
2      BTSJ_24  2022-08-06 00:02  2022-08-06 22:00     OSAKA  HAKATA/FUKUOKA
3      BTSJ_25  2022-08-12 07:55  2022-08-13 07:00     OSAKA  HAKATA/FUKUOKA
4      BTSJ_26  2022-08-18 01:00  2022-08-18 23:00     OSAKA  HAKATA/FUKUOKA
5      BTSJ_27  2022-08-26 08:30  2022-08-27 00:03     OSAKA  HAKATA/FUKUOKA
6      BTSJ_28  2022-09-01 05:11  2022-09-02 00:53     OSAKA  HAKATA/FUKUOKA
7      BTSJ_29  2022-09-11 07:05  2022-09-12 03:05     OSAKA  HAKATA/FUKUOKA
8      BTSJ_30  2022-09-16 22:53  2022-09-17 22:52     OSAKA  HAKATA/FUKUOKA
9      BTSJ_31  2022-09-26 22:40  2022-09-28 04:50     OSAKA  HAKATA/FUKUOKA
10     BTSJ_32  2022-10-04 08:50  2022-10-05 08:52     OSAKA  HAKATA/FUKUOKA
11     BTSJ_33  2022-10-11 23:45  2022-10-13 00:12     OSAKA  HAKATA/FUKUOKA
12     BTSJ_34  2022-10-20 23:31  2022-10-22 05:50     OSAKA  HAKATA/FUKUOKA
13     BTSJ_35  2022-10-27 22:45  2022-10-28 19:03     OSAKA  HAKATA/FUKUOKA
14     BTSJ_36  2022-11-04 14:00  2022-11-05 17:55     OSAKA  HAKATA/FUKUOKA
15     BTSJ_37  2022-11-11 06:54  2022-11-12 09:50     OSAKA  HAKATA/FUKUOKA
16     BTSJ_38  2022-11-17 23:56  2022-11-19 13:00     OSAKA  HAKATA/FUKUOKA

In [163]:
for idx in voy_df_test.index:
    if idx == 0:
        port_in_time = pd.to_datetime(
            voy_df_test.loc[idx, "port_in_time"]) + datetime.timedelta(days=1)
        df = COSCO_FOS_voyage_df[
            COSCO_FOS_voyage_df.eta < str(port_in_time)]
        print(port_in_time)
        
        display(df)
    else:
        port_in_time = pd.to_datetime(
            voy_df_test.loc[idx, "port_in_time"])
        prev_out_time = pd.to_datetime(voy_df_test.loc[idx - 1,
                                                       "port_out_time"])
#         print(port_in_time)
        voyage_name = voy_df_test.loc[idx,"voyage_name"]
        df = COSCO_FOS_voyage_df[
            (COSCO_FOS_voyage_df["timestamp"]<
             datetime.datetime.fromtimestamp(port_in_time.timestamp()))
            & (COSCO_FOS_voyage_df["timestamp"] >
               datetime.datetime.fromtimestamp(prev_out_time.timestamp()))]
        if len(df) != 0:
            
            print("전항차 출항시각", prev_out_time)
            print("입항시각" , port_in_time)
            
            display(df.sort_values(by="timestamp"))
            df.to_csv(f"COSCO_FOS_" + voyage_name + ".csv", encoding="utf-8 sig", header=True, index=False)
            print("="*100)

2022-07-23 06:48:00

Empty DataFrame
Columns: [vessel_name, mmsi, imo, CAPACITY, destination, eta, longitude, latitude, speed, heading, timestamp, time_position_data_received, time_voyage_data_received, navigation_info, remained_distance, estimated_fuel_consumption]
Index: []

전항차 출항시각 2022-09-04 11:48:00
입항시각 2022-09-11 08:23:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
3761,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 11:00:00,119.6532,38.6811,13.3,96.0,2022-09-07 16:04:18.655000,2022-09-07 07:03:14,2022-09-07 07:01:11,under way using engine,913.689387,1281.471670
3762,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 11:00:00,119.6971,38.6778,13.4,96.0,2022-09-07 16:13:37.571000,2022-09-07 07:12:40,2022-09-07 07:07:09,under way using engine,910.060522,1283.332353
3763,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 11:00:00,119.7269,38.6754,13.3,96.0,2022-09-07 16:33:07.365000,2022-09-07 07:18:55,2022-09-07 07:25:08,under way using engine,907.591074,1272.918636
3764,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 11:00:00,119.8695,38.6647,13.5,93.0,2022-09-07 16:55:45.254000,2022-09-07 07:49:15,2022-09-07 07:49:07,under way using engine,895.823260,1270.237747
3765,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 11:00:00,120.2296,38.6566,13.4,90.0,2022-09-07 18:19:01.967000,2022-09-07 09:05:55,2022-09-07 08:49:04,under way using engine,867.116999,1222.775048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 10:00:00,127.4207,34.1230,11.8,69.0,2022-09-10 22:09:45.198728,2022-09-10 13:09:19,2022-09-09 02:43:07,under way using engine,158.973966,207.932024
136,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 10:00:00,127.5280,34.1620,11.6,71.0,2022-09-10 22:39:49.271635,2022-09-10 13:39:00,2022-09-10 01:19:06,under way using engine,148.483546,192.789162
137,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 10:00:00,127.6465,34.1893,12.0,81.0,2022-09-10 23:09:55.406167,2022-09-10 14:09:28,2022-09-10 01:19:06,under way using engine,138.055303,181.996885
138,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 10:00:00,127.7650,34.2076,11.9,79.0,2022-09-10 23:39:56.666533,2022-09-10 14:39:27,2022-09-10 02:31:07,under way using engine,128.437050,168.642149
139,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-10 10:00:00,127.8839,34.2265,11.7,79.0,2022-09-11 00:10:21.029964,2022-09-10 15:09:57,2022-09-10 03:07:05,under way using engine,118.996000,155.061292

====================================================================================================
전항차 출항시각 2022-09-15 03:52:00
입항시각 2022-09-24 14:15:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
196,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-16 09:00:00,126.8932,34.1009,14.8,264.0,2022-09-15 13:11:05.089040,2022-09-15 04:10:41,2022-09-15 01:49:09,under way using engine,201.148974,308.353791
197,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-16 09:00:00,126.7566,34.0896,14.8,264.0,2022-09-15 13:41:06.802498,2022-09-15 04:38:28,2022-09-15 01:49:09,under way using engine,212.794824,326.206439
198,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-16 09:00:00,126.5821,34.0827,14.9,282.0,2022-09-15 14:13:32.372663,2022-09-15 05:13:22,2022-09-15 01:49:09,under way using engine,227.446825,350.909370
199,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-16 09:00:00,126.4109,34.1088,14.5,269.0,2022-09-15 14:48:26.388203,2022-09-15 05:47:54,2022-09-15 01:49:09,under way using engine,240.472769,361.727531
200,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-16 09:00:00,126.1510,34.1160,14.2,268.0,2022-09-15 15:41:16.431733,2022-09-15 06:40:48,2022-09-15 01:49:09,under way using engine,262.179588,387.185642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-24 04:00:00,128.8253,35.0774,0.0,90.0,2022-09-24 20:54:06.531567,2022-09-24 11:48:29,2022-09-24 11:37:08,moored,11.998660,NaN
381,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-24 04:00:00,128.8253,35.0773,0.0,91.0,2022-09-24 21:24:09.388973,2022-09-24 12:15:28,2022-09-24 12:19:09,moored,11.987552,NaN
382,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-24 04:00:00,128.8255,35.0775,0.0,90.0,2022-09-24 21:54:12.530030,2022-09-24 12:51:28,2022-09-24 12:49:04,moored,12.010591,NaN
383,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-24 04:00:00,128.8251,35.0775,0.0,91.0,2022-09-24 22:15:29.477878,2022-09-24 13:12:33,2022-09-24 01:07:07,moored,12.008975,NaN
384,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-09-24 04:00:00,128.8254,35.0776,0.0,91.0,2022-09-24 22:38:38.019506,2022-09-24 13:36:26,2022-09-24 01:31:07,moored,12.021284,NaN

====================================================================================================
전항차 출항시각 2022-09-27 16:40:00
입항시각 2022-10-04 21:00:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
440,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-29 01:00:00,125.9787,34.1164,20.0,265.0,2022-09-28 02:34:41.172206,2022-09-27 17:33:59,2022-09-27 01:31:10,under way using engine,276.931761,613.081865
441,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-29 01:00:00,125.7783,34.1131,20.0,291.0,2022-09-28 03:04:43.418897,2022-09-27 18:04:29,2022-09-27 01:31:10,under way using engine,294.364669,651.675487
442,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-29 01:00:00,125.6743,34.2355,19.8,352.0,2022-09-28 03:34:46.226145,2022-09-27 18:34:22,2022-09-27 01:31:10,under way using engine,299.196674,652.772691
443,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-29 01:00:00,125.6468,34.3992,19.4,352.0,2022-09-28 04:04:49.296380,2022-09-27 19:04:34,2022-09-27 01:31:10,under way using engine,296.931314,629.172829
444,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-09-29 01:00:00,125.6274,34.5606,19.4,355.0,2022-09-28 04:34:52.633460,2022-09-27 19:34:41,2022-09-27 07:25:07,under way using engine,295.094039,625.279795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-04 10:00:00,128.8250,35.0774,0.1,91.0,2022-10-04 23:09:58.929655,2022-10-04 14:09:15,2022-10-04 02:07:09,moored,11.997479,957.304365
683,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-04 10:00:00,128.8255,35.0773,0.0,91.0,2022-10-04 23:40:01.478256,2022-10-04 14:36:10,2022-10-04 02:31:07,moored,11.988375,NaN
684,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-04 10:00:00,128.8252,35.0776,0.1,91.0,2022-10-05 02:40:17.931761,2022-10-04 17:36:10,2022-10-04 05:37:08,moored,12.020477,959.139487
685,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-04 10:00:00,128.8251,35.0773,0.1,91.0,2022-10-05 03:40:24.322710,2022-10-04 18:39:15,2022-10-04 06:25:09,moored,11.986756,956.448815
686,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-04 10:00:00,128.8250,35.0772,0.0,91.0,2022-10-05 04:40:30.462938,2022-10-04 19:39:10,2022-10-04 07:37:06,moored,11.975259,NaN

====================================================================================================
전항차 출항시각 2022-10-06 19:50:00
입항시각 2022-10-12 00:50:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
3787,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,126.5569,34.0857,18.2,284.0,2022-10-07 05:15:23.411790,2022-10-06 20:14:41,2022-10-06 05:19:07,under way using engine,229.382632,445.304540
3788,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,126.3742,34.1052,18.2,275.0,2022-10-07 05:45:26.208950,2022-10-06 20:44:58,2022-10-06 05:19:07,under way using engine,243.721951,473.141711
3789,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,126.1908,34.1185,18.3,271.0,2022-10-07 06:15:29.353270,2022-10-06 21:15:10,2022-10-06 05:19:07,under way using engine,258.680077,505.844395
3790,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,126.0054,34.1088,19.1,270.0,2022-10-07 06:45:32.974487,2022-10-06 21:45:00,2022-10-06 05:19:07,under way using engine,274.939813,569.942725
3791,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.8765,34.1077,18.3,272.0,2022-10-07 07:15:35.547602,2022-10-06 22:05:35,2022-10-06 05:19:07,under way using engine,286.078681,559.421888
3792,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.6749,34.1787,17.2,353.0,2022-10-07 07:45:38.800979,2022-10-06 22:45:28,2022-10-06 05:19:07,under way using engine,301.022009,543.703066
3793,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.6478,34.3219,17.9,353.0,2022-10-07 08:15:41.618875,2022-10-06 23:15:05,2022-10-06 05:19:07,under way using engine,298.927097,567.820269
3794,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.6206,34.4722,18.0,356.0,2022-10-07 08:45:45.492968,2022-10-06 23:45:23,2022-10-06 05:19:07,under way using engine,297.531088,569.278024
3795,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.6076,34.6225,17.9,357.0,2022-10-07 09:15:47.711967,2022-10-07 00:15:27,2022-10-06 05:19:07,under way using engine,295.796072,561.872800
3796,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.6021,34.7727,18.1,359.0,2022-10-07 09:45:50.412945,2022-10-07 00:45:34,2022-10-06 05:19:07,under way using engine,294.317752,567.229711
3797,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.5615,34.9192,18.3,351.0,2022-10-07 10:15:53.672366,2022-10-07 01:15:28,2022-10-06 05:19:07,under way using engine,296.993810,580.766233
3798,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.4650,35.0479,18.4,323.0,2022-10-07 10:45:56.412958,2022-10-07 01:45:17,2022-10-06 05:19:07,under way using engine,305.619294,601.998014
3799,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.3542,35.1728,18.4,326.0,2022-10-07 11:15:59.672683,2022-10-07 02:15:16,2022-10-06 05:19:07,under way using engine,316.151915,622.744797
3800,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.2402,35.2970,18.5,321.0,2022-10-07 11:46:03.045517,2022-10-07 02:45:35,2022-10-06 05:19:07,under way using engine,327.497526,649.808343
3801,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,125.1550,35.3924,18.6,322.0,2022-10-07 12:16:06.008512,2022-10-07 03:08:34,2022-10-06 05:19:07,under way using engine,336.320340,672.195633
3802,COSCO FOS,477947700,9484302.0,4253,CN TSN,2022-10-08 05:00:00,122.1616,38.0266,18.3,297.0,2022-10-07 23:47:14.054583,2022-10-07 14:45:03,2022-10-06 05:19:07,under way using engine,685.098339,1339.697894
703,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,127.0174,34.0744,16.7,83.0,2022-10-11 14:57:57.253349,2022-10-11 05:57:23,2022-10-10 03:31:06,under way using engine,192.775945,336.042102
704,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,127.1745,34.0887,17.1,84.0,2022-10-11 15:25:42.017422,2022-10-11 06:25:17,2022-10-10 03:31:06,under way using engine,179.721948,322.302693
705,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,127.3437,34.1041,15.1,84.0,2022-10-11 15:55:45.209277,2022-10-11 06:55:19,2022-10-10 03:31:06,under way using engine,165.932000,259.343351
706,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,127.4956,34.1450,16.0,67.0,2022-10-11 16:25:48.194933,2022-10-11 07:25:13,2022-10-11 07:19:09,under way using engine,151.999443,252.352779
707,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,127.6410,34.1841,14.8,75.0,2022-10-11 16:55:52.046176,2022-10-11 07:55:25,2022-10-11 07:19:09,under way using engine,138.813012,212.795113
708,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,127.7764,34.2161,13.9,75.0,2022-10-11 17:25:53.944409,2022-10-11 08:25:00,2022-10-11 07:19:09,under way using engine,127.025639,184.272877
709,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,127.9164,34.2472,14.1,80.0,2022-10-11 17:55:57.291120,2022-10-11 08:55:47,2022-10-11 08:31:08,under way using engine,115.250518,169.180902
710,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.0521,34.2719,13.5,75.0,2022-10-11 18:26:00.013002,2022-10-11 09:25:43,2022-10-11 09:25:08,under way using engine,104.637651,148.371559
711,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.1771,34.3028,13.5,74.0,2022-10-11 18:56:02.538776,2022-10-11 09:55:12,2022-10-11 09:25:08,under way using engine,94.609803,134.152515
712,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.3099,34.3331,14.0,82.0,2022-10-11 19:26:05.926126,2022-10-11 10:25:27,2022-10-11 09:25:08,under way using engine,84.744270,123.661647
713,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.4398,34.3744,13.6,68.0,2022-10-11 19:56:08.817985,2022-10-11 10:55:34,2022-10-11 10:49:09,under way using engine,74.736824,106.567653
714,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.5312,34.4220,13.1,46.0,2022-10-11 20:26:11.114354,2022-10-11 11:20:05,2022-10-11 11:13:08,under way using engine,66.348282,92.073331
715,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8020,35.0051,10.3,338.0,2022-10-11 23:56:31.510266,2022-10-11 14:49:38,2022-10-11 02:55:06,under way using engine,4.255500,5.345041
716,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8059,35.0713,4.0,81.0,2022-10-12 00:26:34.632211,2022-10-11 15:20:58,2022-10-11 03:13:07,under way using engine,11.375657,23.518002
717,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8208,35.0773,0.0,90.0,2022-10-12 00:56:37.864510,2022-10-11 15:52:39,2022-10-11 03:49:04,under way using engine,11.976341,NaN
718,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8209,35.0773,0.0,91.0,2022-10-12 01:26:40.674468,2022-10-11 16:25:45,2022-10-11 04:07:07,moored,11.976438,NaN
719,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8209,35.0774,0.1,91.0,2022-10-12 01:56:44.413758,2022-10-11 16:43:48,2022-10-11 04:55:07,moored,11.987557,956.512681
720,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8208,35.0774,0.0,91.0,2022-10-12 02:26:46.619121,2022-10-11 17:25:46,2022-10-11 05:25:07,moored,11.987460,NaN
721,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8209,35.0771,0.0,91.0,2022-10-12 02:56:49.723791,2022-10-11 17:55:46,2022-10-11 05:43:10,moored,11.954200,NaN
722,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8210,35.0780,0.1,91.0,2022-10-12 04:31:35.475248,2022-10-11 19:28:46,2022-10-11 07:31:05,moored,12.054373,961.844087
723,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8211,35.0773,0.0,91.0,2022-10-12 04:57:02.100659,2022-10-11 19:52:49,2022-10-11 07:55:04,moored,11.976653,NaN
724,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8210,35.0775,0.0,91.0,2022-10-12 05:57:07.614097,2022-10-11 20:55:46,2022-10-11 08:55:08,moored,11.998779,NaN
725,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8207,35.0773,0.1,91.0,2022-10-12 06:27:10.578635,2022-10-11 21:19:43,2022-10-11 09:19:06,moored,11.976251,955.610569
726,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8210,35.0773,0.1,91.0,2022-10-12 06:57:13.804789,2022-10-11 21:55:40,2022-10-11 09:55:06,moored,11.976542,955.633772
727,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8209,35.0775,0.1,91.0,2022-10-12 07:27:16.672881,2022-10-11 22:25:47,2022-10-11 10:13:04,moored,11.998676,957.399876
728,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-11 03:00:00,128.8208,35.0775,0.2,91.0,2022-10-12 08:27:22.234531,2022-10-11 23:25:48,2022-10-11 11:19:05,moored,11.998579,478.697983

====================================================================================================
전항차 출항시각 2022-10-13 20:42:00
입항시각 2022-10-19 20:05:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
756,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-15 08:00:00,127.0988,34.1146,15.3,262.0,2022-10-14 05:42:32.846953,2022-10-13 20:30:01,2022-10-13 07:31:07,under way using engine,184.049575,291.466099
757,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-15 08:00:00,126.8886,34.0870,15.0,265.0,2022-10-14 06:12:36.266927,2022-10-13 21:11:37,2022-10-13 07:31:07,under way using engine,202.276857,314.098633
758,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-15 08:00:00,126.7330,34.0853,14.9,267.0,2022-10-14 06:42:38.744965,2022-10-13 21:42:24,2022-10-13 07:31:07,under way using engine,214.939424,331.612711
759,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-15 08:00:00,126.5906,34.0849,14.2,282.0,2022-10-14 07:12:42.051489,2022-10-13 22:12:14,2022-10-13 07:31:07,under way using engine,226.636757,334.696148
760,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-15 08:00:00,126.4464,34.1060,14.9,284.0,2022-10-14 07:42:44.680626,2022-10-13 22:42:19,2022-10-13 07:31:07,under way using engine,237.622576,366.608717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-19 10:00:00,128.8297,35.0776,0.0,91.0,2022-10-19 23:13:35.435266,2022-10-19 14:13:00,2022-10-19 02:13:10,moored,12.045285,NaN
824,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-19 10:00:00,128.8295,35.0775,0.0,90.0,2022-10-20 02:20:20.335857,2022-10-19 17:15:59,2022-10-19 05:07:07,moored,12.032800,NaN
825,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-19 10:00:00,128.8297,35.0777,0.1,90.0,2022-10-20 03:36:02.662149,2022-10-19 18:31:05,2022-10-19 06:25:05,moored,12.056371,962.003507
826,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-19 10:00:00,128.8294,35.0777,0.1,90.0,2022-10-20 03:46:08.429078,2022-10-19 18:42:57,2022-10-19 06:37:09,moored,12.054287,961.837215
827,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-19 10:00:00,128.8291,35.0774,0.1,91.0,2022-10-20 04:16:25.321276,2022-10-19 19:16:00,2022-10-19 07:13:07,moored,12.018995,959.021200

====================================================================================================
전항차 출항시각 2022-10-23 11:32:00
입항시각 2022-10-28 11:42:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
1048,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-24 10:30:00,126.4686,34.1041,17.7,286.0,2022-10-23 21:31:35.498957,2022-10-23 12:31:04,2022-10-23 09:31:08,under way using engine,235.852516,441.577157
1049,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-24 10:30:00,126.4381,34.1089,17.4,273.0,2022-10-23 21:36:38.494959,2022-10-23 12:36:23,2022-10-23 09:31:08,under way using engine,238.184921,436.415634
1050,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-24 10:30:00,126.4096,34.1100,17.6,270.0,2022-10-23 21:41:41.162039,2022-10-23 12:41:16,2022-10-23 09:31:08,under way using engine,240.527495,447.093656
1051,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-24 10:30:00,126.3837,34.1103,17.7,270.0,2022-10-23 21:46:43.859572,2022-10-23 12:45:40,2022-10-23 09:31:08,under way using engine,242.692568,454.383511
1052,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-10-24 10:30:00,126.3504,34.1106,17.7,271.0,2022-10-23 21:51:46.488472,2022-10-23 12:51:17,2022-10-23 09:31:08,under way using engine,245.485649,459.612884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-28 01:50:00,128.8280,35.0775,0.1,91.0,2022-10-28 15:11:35.771388,2022-10-28 06:07:58,2022-10-28 06:07:05,under way using engine,12.023183,959.355393
1545,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-28 01:50:00,128.8281,35.0774,0.1,91.0,2022-10-28 15:21:41.415499,2022-10-28 06:19:08,2022-10-28 06:19:07,under way using engine,12.012681,958.517377
1546,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-28 01:50:00,128.8278,35.0776,0.0,91.0,2022-10-28 16:37:24.932444,2022-10-28 07:35:27,2022-10-28 07:31:07,under way using engine,12.033115,NaN
1547,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-28 01:50:00,128.8280,35.0773,0.1,91.0,2022-10-28 18:13:18.843610,2022-10-28 09:09:53,2022-10-28 09:07:06,under way using engine,12.000991,957.584631
1548,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-10-28 01:50:00,128.8279,35.0772,0.0,90.0,2022-10-28 19:34:04.022317,2022-10-28 10:32:25,2022-10-28 10:24:49,under way using engine,11.989307,NaN

====================================================================================================
전항차 출항시각 2022-10-30 16:40:00
입항시각 2022-11-04 17:50:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
1699,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-01 01:00:00,126.4761,34.0970,20.2,282.0,2022-10-31 01:44:32.801828,2022-10-30 16:41:25,2022-10-30 01:55:08,under way using engine,235.557924,529.149365
1700,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-01 01:00:00,126.4315,34.1047,20.2,282.0,2022-10-31 01:49:35.660712,2022-10-30 16:48:08,2022-10-30 01:55:08,under way using engine,238.931185,536.726944
1701,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-01 01:00:00,126.3895,34.1077,20.2,271.0,2022-10-31 01:54:38.504486,2022-10-30 16:54:25,2022-10-30 01:55:08,under way using engine,242.321724,544.343338
1702,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-01 01:00:00,126.3598,34.1082,20.1,271.0,2022-10-31 01:59:42.326869,2022-10-30 16:58:50,2022-10-30 01:55:08,under way using engine,244.800071,545.915560
1703,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-01 01:00:00,126.3213,34.1087,20.2,271.0,2022-10-31 02:04:44.283430,2022-10-30 17:04:31,2022-10-30 01:55:08,under way using engine,248.026798,557.159024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2172,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-04 08:00:00,128.8247,35.0773,0.0,91.0,2022-11-04 20:13:03.886599,2022-11-04 11:09:51,2022-11-04 11:07:05,under way using engine,11.985248,NaN
2173,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-04 08:00:00,128.8246,35.0772,0.0,91.0,2022-11-04 20:18:07.878970,2022-11-04 11:15:24,2022-11-04 11:07:05,under way using engine,11.973778,NaN
2174,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-04 08:00:00,128.8249,35.0774,0.1,91.0,2022-11-04 20:58:30.521894,2022-11-04 11:57:20,2022-11-04 11:49:08,under way using engine,11.997099,957.274033
2175,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-04 08:00:00,128.8249,35.0775,0.0,91.0,2022-11-04 21:03:31.914746,2022-11-04 12:00:35,2022-11-04 12:01:08,under way using engine,12.008209,NaN
2176,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-04 08:00:00,128.8250,35.0771,0.0,91.0,2022-11-04 21:18:40.519903,2022-11-04 12:15:54,2022-11-04 12:13:08,under way using engine,11.964150,NaN

====================================================================================================
전항차 출항시각 2022-11-08 09:54:00
입항시각 2022-11-14 16:20:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
2355,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-09 09:00:00,126.5569,34.0799,18.4,280.0,2022-11-08 18:56:13.959541,2022-11-08 09:55:53,2022-11-08 07:31:08,under way using engine,229.666166,452.388243
2356,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-09 09:00:00,126.5261,34.0849,18.3,285.0,2022-11-08 19:01:17.137621,2022-11-08 10:01:01,2022-11-08 07:31:08,under way using engine,231.973583,453.620310
2357,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-09 09:00:00,126.4980,34.0905,18.5,280.0,2022-11-08 19:06:19.944782,2022-11-08 10:05:41,2022-11-08 07:31:08,under way using engine,234.039994,464.373403
2358,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-09 09:00:00,126.4644,34.0925,18.8,275.0,2022-11-08 19:11:23.235915,2022-11-08 10:11:06,2022-11-08 07:31:08,under way using engine,236.745812,480.132626
2359,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-09 09:00:00,126.4325,34.0943,18.9,275.0,2022-11-08 19:16:26.088005,2022-11-08 10:16:10,2022-11-08 07:31:08,under way using engine,239.327692,488.925120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2838,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-14 05:50:00,128.8127,35.0728,6.0,80.0,2022-11-14 15:45:30.478230,2022-11-14 06:42:40,2022-11-14 06:43:07,under way using engine,11.491783,17.159610
2839,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-14 05:50:00,128.8261,35.0755,1.4,76.0,2022-11-14 16:00:40.036669,2022-11-14 06:58:29,2022-11-14 06:49:08,under way using engine,11.791119,67.307567
2840,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-14 05:50:00,128.8294,35.0774,0.0,90.0,2022-11-14 16:41:02.521600,2022-11-14 07:39:30,2022-11-14 07:37:07,moored,12.021023,NaN
2841,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-14 05:50:00,128.8293,35.0774,0.1,91.0,2022-11-14 17:26:27.030687,2022-11-14 08:24:24,2022-11-14 08:25:09,moored,12.020340,959.128537
2842,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-14 05:50:00,128.8293,35.0775,0.0,91.0,2022-11-14 18:47:12.361130,2022-11-14 09:45:30,2022-11-14 09:37:07,moored,12.031429,NaN

====================================================================================================
전항차 출항시각 2022-11-16 07:55:00
입항시각 2022-11-21 17:51:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
2961,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-17 09:00:00,127.0882,34.1223,16.0,270.0,2022-11-16 16:56:08.041108,2022-11-16 07:55:49,2022-11-16 04:19:07,under way using engine,184.436450,306.205403
2962,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-17 09:00:00,127.0609,34.1211,16.1,267.0,2022-11-16 17:01:11.033821,2022-11-16 08:00:55,2022-11-16 04:19:07,under way using engine,186.658612,312.035073
2963,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-17 09:00:00,126.6711,34.0831,16.1,262.0,2022-11-16 18:16:53.451054,2022-11-16 09:14:25,2022-11-16 04:19:07,under way using engine,220.108466,367.952814
2964,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-17 09:00:00,126.6067,34.0795,16.0,277.0,2022-11-16 18:26:58.801742,2022-11-16 09:26:25,2022-11-16 04:19:07,under way using engine,225.577733,374.509054
2965,COSCO FOS,477947700,9484302.0,4253,CNTSN,2022-11-17 09:00:00,126.5502,34.0820,16.2,280.0,2022-11-16 18:42:07.917210,2022-11-16 09:37:09,2022-11-16 04:19:07,under way using engine,230.117608,387.353392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3489,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-21 08:00:00,128.8286,35.0767,0.9,80.0,2022-11-21 18:05:52.289081,2022-11-21 08:45:01,2022-11-21 08:37:08,under way using engine,11.938104,105.884565
3490,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-21 08:00:00,128.8303,35.0770,0.1,91.0,2022-11-21 20:12:03.039219,2022-11-21 10:46:03,2022-11-21 10:49:07,moored,11.983151,956.161110
3491,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-21 08:00:00,128.8302,35.0772,0.0,91.0,2022-11-21 20:17:05.890117,2022-11-21 10:52:05,2022-11-21 10:55:06,moored,12.004568,NaN
3492,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-21 08:00:00,128.8300,35.0772,0.0,91.0,2022-11-21 20:42:20.130436,2022-11-21 11:15:59,2022-11-21 11:13:06,moored,12.003097,NaN
3493,COSCO FOS,477947700,9484302.0,4253,KRBNP,2022-11-21 08:00:00,128.8300,35.0774,0.2,90.0,2022-11-22 01:14:53.431509,2022-11-21 16:13:17,2022-11-21 04:13:07,moored,12.025264,479.762638

====================================================================================================

In [147]:
for idx in voy_df_test.index:
    if idx == 0:
        port_in_time = pd.to_datetime(
            voy_df_test.loc[idx, "port_in_time"]) + datetime.timedelta(days=1)
        df = ZHU_CHENG_XIN_ZHOU_voyage_df[
            ZHU_CHENG_XIN_ZHOU_voyage_df.eta < str(port_in_time)]
        print(port_in_time)
        
        display(df)
    else:
        port_in_time = pd.to_datetime(
            voy_df_test.loc[idx, "port_in_time"])
        prev_out_time = pd.to_datetime(voy_df_test.loc[idx - 1,
                                                       "port_out_time"])
#         print(port_in_time)
        voyage_name = voy_df_test.loc[idx,"voyage_name"]
        df = ZHU_CHENG_XIN_ZHOU_voyage_df[
            (ZHU_CHENG_XIN_ZHOU_voyage_df["timestamp"]<
             datetime.datetime.fromtimestamp(port_in_time.timestamp()))
            & (ZHU_CHENG_XIN_ZHOU_voyage_df["timestamp"] >
               datetime.datetime.fromtimestamp(prev_out_time.timestamp()))]
        if len(df) != 0:
            
            print("전항차 출항시각", prev_out_time)
            print("입항시각" , port_in_time)
            
            display(df.sort_values(by="timestamp"))
            df.to_csv(f"ZHU_CHENG_XIN_ZHOU_" + voyage_name + ".csv", encoding="utf-8 sig", header=True, index=False)
            print("="*100)

2022-07-23 23:40:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
122,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-07-22 09:00:00,129.176,34.7683,3.6,311.0,2022-07-21 14:53:26.001000,2022-07-21 05:45:43,2022-07-21 05:30:26,under way using engine,39.485762,66.301892

전항차 출항시각 2022-09-02 00:53:00
입항시각 2022-09-11 07:05:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
3896,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPHKT,2022-09-08 01:00:00,131.9043,33.6274,0.5,33.0,2022-09-07 16:04:18.655000,2022-09-07 07:00:59,2022-09-07 06:50:57,under way using engine,320.249767,4863.371058
3897,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPHKT,2022-09-08 01:00:00,131.9063,33.6272,0.4,31.0,2022-09-07 16:13:37.571000,2022-09-07 07:13:03,2022-09-07 07:09:07,under way using engine,320.422954,6082.285479
3898,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPHKT,2022-09-08 01:00:00,131.9090,33.6270,0.4,29.0,2022-09-07 16:33:07.365000,2022-09-07 07:28:47,2022-09-07 07:27:18,under way using engine,320.653051,6086.653202
3899,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPHKT,2022-09-08 01:00:00,131.9118,33.6269,0.4,28.0,2022-09-07 16:55:45.254000,2022-09-07 07:44:26,2022-09-07 07:45:26,under way using engine,320.885986,6091.074782
3900,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPHKT,2022-09-08 01:00:00,131.7962,33.7064,11.9,308.0,2022-09-07 18:19:01.967000,2022-09-07 09:16:34,2022-09-07 09:16:21,under way using engine,307.274795,388.312543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-11 07:00:00,128.8571,34.6294,1.5,324.0,2022-09-10 22:09:45.198728,2022-09-10 13:06:45,2022-09-10 12:46:55,under way using engine,37.984451,192.643228
217,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-11 07:00:00,128.8442,34.6283,1.0,326.0,2022-09-10 22:39:49.271635,2022-09-10 13:37:44,2022-09-10 01:29:39,under way using engine,38.018107,288.821919
218,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-11 07:00:00,128.8413,34.6367,9.2,74.0,2022-09-10 23:09:55.406167,2022-09-10 14:07:55,2022-09-10 01:53:42,under way using engine,37.070562,44.457122
219,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-11 07:00:00,128.9532,34.6528,10.4,82.0,2022-09-10 23:39:56.666533,2022-09-10 14:38:25,2022-09-10 02:29:58,under way using engine,37.282905,45.036088
220,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-11 07:00:00,129.0198,34.6726,7.3,41.0,2022-09-11 00:10:21.029964,2022-09-10 15:00:54,2022-09-10 02:29:58,under way using engine,37.750838,48.152514

====================================================================================================
전항차 출항시각 2022-09-12 03:05:00
입항시각 2022-09-16 22:53:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
224,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-13 02:00:00,130.4693,34.2396,15.3,126.0,2022-09-12 12:23:20.153620,2022-09-12 03:20:29,2022-09-12 03:14:00,under way using engine,171.431587,262.387740
225,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-13 02:00:00,130.8310,34.0290,15.1,130.0,2022-09-12 12:53:18.005781,2022-09-12 03:40:20,2022-09-12 03:44:05,under way using engine,211.935010,320.080484
226,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-13 02:00:00,131.0353,33.9619,13.6,143.0,2022-09-12 14:12:20.105136,2022-09-12 05:06:36,2022-09-12 04:57:11,under way using engine,231.986231,319.101340
227,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-13 02:00:00,131.0731,33.9284,13.1,125.0,2022-09-12 14:23:25.207116,2022-09-12 05:19:21,2022-09-12 05:15:23,under way using engine,236.860617,316.881568
228,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-13 02:00:00,131.2126,33.8524,13.1,101.0,2022-09-12 14:59:52.493160,2022-09-12 05:56:51,2022-09-12 05:51:41,under way using engine,252.237844,337.453834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-16 11:00:00,128.8448,34.9312,9.4,330.0,2022-09-16 21:40:00.296903,2022-09-16 12:32:20,2022-09-16 12:30:41,under way using engine,4.854896,5.816818
335,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-16 11:00:00,128.8005,35.0115,9.2,337.0,2022-09-16 22:09:59.964350,2022-09-16 13:09:42,2022-09-16 01:07:03,under way using engine,4.968600,5.958627
336,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-16 11:00:00,128.8017,35.0725,3.3,73.0,2022-09-16 22:40:02.348138,2022-09-16 13:38:21,2022-09-16 01:31:24,under way using engine,11.555577,27.142740
337,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-16 11:00:00,128.8125,35.0774,0.0,89.0,2022-09-16 23:10:04.762261,2022-09-16 14:00:52,2022-09-16 02:08:56,moored,12.003525,NaN
338,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-16 11:00:00,128.8125,35.0773,0.0,89.0,2022-09-17 03:10:24.808404,2022-09-16 18:04:20,2022-09-16 05:53:12,moored,11.992421,NaN

====================================================================================================
전항차 출항시각 2022-09-17 22:52:00
입항시각 2022-09-26 22:40:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
357,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-23 12:00:00,127.8130,34.3043,16.0,244.0,2022-09-18 08:12:52.073508,2022-09-17 23:12:36,2022-09-17 10:51:37,under way using engine,118.113618,189.651093
358,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-23 12:00:00,127.6683,34.2473,15.9,247.0,2022-09-18 08:42:54.493514,2022-09-17 23:42:18,2022-09-17 10:51:37,under way using engine,132.474063,211.237327
359,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-23 12:00:00,127.5206,34.1938,15.9,245.0,2022-09-18 09:13:03.463442,2022-09-18 00:12:30,2022-09-17 10:51:37,under way using engine,146.901769,234.243116
360,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-23 12:00:00,127.3709,34.1467,15.7,262.0,2022-09-18 09:42:59.911061,2022-09-18 00:42:43,2022-09-17 10:51:37,under way using engine,161.145481,253.435805
361,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-23 12:00:00,127.2168,34.1329,15.8,264.0,2022-09-18 10:13:03.046408,2022-09-18 01:12:13,2022-09-17 10:51:37,under way using engine,173.773577,275.182932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-26 07:00:00,128.9044,34.8507,10.7,326.0,2022-09-26 21:01:52.120982,2022-09-26 11:56:17,2022-09-26 11:56:29,under way using engine,15.323222,18.624699
632,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-26 07:00:00,128.8305,34.9574,12.3,329.0,2022-09-26 21:31:52.808031,2022-09-26 12:28:47,2022-09-26 12:26:38,under way using engine,1.689452,2.172217
633,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-26 07:00:00,128.7847,35.0395,12.5,343.0,2022-09-26 22:01:55.854829,2022-09-26 13:00:49,2022-09-26 12:44:49,under way using engine,8.392250,10.891394
634,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-26 07:00:00,128.8166,35.0774,0.0,89.0,2022-09-26 23:32:03.198813,2022-09-26 14:29:31,2022-09-26 02:25:52,moored,11.989639,NaN
635,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-09-26 07:00:00,128.8165,35.0774,0.0,89.0,2022-09-27 06:02:41.503493,2022-09-26 20:56:07,2022-09-26 08:53:58,moored,11.989839,NaN

====================================================================================================
전항차 출항시각 2022-09-28 04:50:00
입항시각 2022-10-04 08:50:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
650,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-29 04:00:00,130.5040,34.2138,11.1,122.0,2022-09-28 13:57:44.851494,2022-09-28 04:52:07,2022-09-28 04:51:11,under way using engine,175.610971,215.723044
651,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-29 04:00:00,130.6124,34.1486,11.7,128.0,2022-09-28 14:28:52.868645,2022-09-28 05:26:58,2022-09-28 05:15:33,under way using engine,187.855478,235.529769
652,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-29 02:30:00,130.6370,34.1316,10.5,125.0,2022-09-28 14:47:52.289247,2022-09-28 05:35:05,2022-09-28 05:39:32,under way using engine,190.758338,230.862839
653,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-29 02:30:00,130.6642,34.1181,1.2,43.0,2022-09-28 14:57:50.547165,2022-09-28 05:53:39,2022-09-28 05:39:32,under way using engine,193.676988,1226.648937
654,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-09-29 02:30:00,130.6626,34.1141,1.0,98.0,2022-09-28 15:27:53.474561,2022-09-28 06:20:25,2022-09-28 06:22:01,under way using engine,193.770645,1472.067236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-04 11:00:00,128.7884,35.0325,13.0,332.0,2022-10-04 08:08:32.098003,2022-10-03 23:05:27,2022-10-03 11:07:35,under way using engine,7.544335,10.039744
841,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-04 11:00:00,128.8228,35.0728,2.0,327.0,2022-10-04 08:38:36.707444,2022-10-03 23:34:04,2022-10-03 11:31:49,under way using engine,11.479386,43.781727
842,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-04 11:00:00,128.8183,35.0776,0.0,269.0,2022-10-04 09:08:38.486865,2022-10-04 00:05:36,2022-10-04 12:07:41,moored,12.009525,NaN
843,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-04 11:00:00,128.8182,35.0775,0.0,269.0,2022-10-04 09:38:47.862167,2022-10-04 00:35:20,2022-10-04 12:25:51,moored,11.998489,NaN
844,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-04 11:00:00,128.8183,35.0775,0.0,269.0,2022-10-04 12:38:58.111665,2022-10-04 03:38:42,2022-10-04 03:27:42,moored,11.998406,NaN

====================================================================================================
전항차 출항시각 2022-10-05 08:52:00
입항시각 2022-10-11 23:45:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
863,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-08 11:00:00,128.9585,34.7693,1.1,133.0,2022-10-05 18:18:04.394996,2022-10-05 09:11:27,2022-10-05 09:08:41,under way using engine,25.631692,177.054861
864,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-08 11:00:00,128.9504,34.7699,0.8,133.0,2022-10-05 18:48:16.029784,2022-10-05 09:40:11,2022-10-05 09:38:51,under way using engine,25.215327,239.381724
865,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-08 11:00:00,128.9424,34.7706,0.8,117.0,2022-10-05 19:18:36.181967,2022-10-05 10:06:33,2022-10-05 09:38:51,under way using engine,24.808370,235.518286
866,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-08 11:00:00,129.0029,34.8053,0.6,325.0,2022-10-05 20:23:11.426824,2022-10-05 11:13:13,2022-10-05 11:22:01,under way using engine,24.773962,313.534837
867,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-08 11:00:00,128.9990,34.8113,1.0,331.0,2022-10-05 20:48:27.821461,2022-10-05 11:43:23,2022-10-05 11:42:30,under way using engine,24.042035,182.646305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-11 11:00:00,129.0050,34.4259,13.0,340.0,2022-10-11 19:26:05.926126,2022-10-11 10:12:27,2022-10-11 10:24:10,under way using engine,62.791426,83.560690
961,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-11 11:00:00,128.9855,34.5290,12.3,355.0,2022-10-11 19:56:08.817985,2022-10-11 10:42:47,2022-10-11 10:42:08,under way using engine,51.287676,65.943264
962,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-11 11:00:00,128.9866,34.6190,9.6,17.0,2022-10-11 20:26:11.114354,2022-10-11 11:13:08,2022-10-11 11:00:32,under way using engine,41.866354,50.159965
963,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-11 11:00:00,128.8038,35.0773,0.1,86.0,2022-10-11 23:56:31.510266,2022-10-11 14:47:08,2022-10-11 02:55:05,under way using engine,12.060203,915.676061
964,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-11 11:00:00,128.8038,35.0774,0.0,89.0,2022-10-12 00:26:34.632211,2022-10-11 15:20:51,2022-10-11 03:19:19,moored,12.071244,NaN

====================================================================================================
전항차 출항시각 2022-10-13 00:12:00
입항시각 2022-10-20 23:31:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
983,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-15 11:00:00,130.4544,34.2484,11.1,125.0,2022-10-13 09:40:36.959324,2022-10-13 00:39:44,2022-10-13 12:32:40,under way using engine,169.760379,208.536093
984,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-15 11:00:00,130.5460,34.1916,11.1,120.0,2022-10-13 10:10:40.017914,2022-10-13 01:10:14,2022-10-13 01:08:55,under way using engine,180.186568,221.343773
985,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-15 11:00:00,130.6349,34.1366,7.9,109.0,2022-10-13 10:40:42.811808,2022-10-13 01:39:57,2022-10-13 01:33:19,under way using engine,190.315023,235.388977
986,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-15 11:00:00,130.6536,34.1315,0.3,4.0,2022-10-13 11:10:51.637934,2022-10-13 02:08:07,2022-10-13 01:57:41,under way using engine,192.091732,4861.622551
987,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-15 11:00:00,130.6492,34.1290,0.9,332.0,2022-10-13 11:40:48.970967,2022-10-13 02:28:41,2022-10-13 02:34:00,under way using engine,191.876933,1619.390034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-20 10:45:00,128.8120,35.0771,0.3,89.0,2022-10-20 23:27:12.857034,2022-10-20 14:25:34,2022-10-20 02:14:57,under way using engine,11.972706,303.015530
1293,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-20 10:45:00,128.8122,35.0774,0.0,89.0,2022-10-20 23:37:18.735687,2022-10-20 14:34:02,2022-10-20 02:35:49,moored,12.004996,NaN
1294,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-20 10:45:00,128.8123,35.0774,0.0,89.0,2022-10-20 23:42:21.752414,2022-10-20 14:39:22,2022-10-20 02:41:54,moored,12.004498,NaN
1295,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-20 10:45:00,128.8123,35.0773,0.0,89.0,2022-10-21 00:37:53.139710,2022-10-20 15:37:25,2022-10-20 03:36:26,moored,11.993395,NaN
1296,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-20 10:45:00,128.8124,35.0773,0.0,89.0,2022-10-21 00:53:01.017189,2022-10-20 15:49:07,2022-10-20 03:48:33,moored,11.992905,NaN

====================================================================================================
전항차 출항시각 2022-10-22 05:50:00
입항시각 2022-10-27 22:45:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
1350,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-23 05:00:00,130.7627,34.0549,12.5,119.0,2022-10-22 14:54:21.363470,2022-10-22 05:51:17,2022-10-22 05:54:07,under way using engine,205.047472,266.108936
1351,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-23 05:00:00,130.8056,34.0354,12.5,111.0,2022-10-22 15:04:27.019981,2022-10-22 06:02:55,2022-10-22 06:00:18,under way using engine,209.554166,271.957686
1352,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-23 05:00:00,130.8248,34.0284,12.3,112.0,2022-10-22 15:09:30.031396,2022-10-22 06:07:57,2022-10-22 06:06:33,under way using engine,211.474653,271.904088
1353,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-23 05:00:00,130.8302,34.0264,11.2,112.0,2022-10-22 15:14:32.685906,2022-10-22 06:09:31,2022-10-22 06:06:33,under way using engine,212.016595,261.238445
1354,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-23 05:00:00,130.8530,34.0135,8.6,131.0,2022-10-22 15:19:35.640053,2022-10-22 06:18:05,2022-10-22 06:18:31,under way using engine,214.554397,259.534585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-27 10:00:00,128.8078,35.0739,4.6,68.0,2022-10-27 22:27:13.592712,2022-10-27 13:24:44,2022-10-27 01:24:31,under way using engine,11.646066,20.311287
1800,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-27 10:00:00,128.8138,35.0760,2.0,82.0,2022-10-27 22:32:16.302110,2022-10-27 13:31:28,2022-10-27 01:24:31,under way using engine,11.842338,45.166003
1801,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-27 10:00:00,128.8165,35.0773,0.3,88.0,2022-10-27 22:42:22.308292,2022-10-27 13:41:23,2022-10-27 01:36:32,under way using engine,11.978723,303.167799
1802,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-27 10:00:00,128.8166,35.0773,0.0,89.0,2022-10-27 22:52:27.634663,2022-10-27 13:50:38,2022-10-27 01:43:37,moored,11.978522,NaN
1803,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-10-27 10:00:00,128.8167,35.0774,0.0,89.0,2022-10-28 06:16:35.460253,2022-10-27 21:11:52,2022-10-27 09:06:16,moored,11.989445,NaN

====================================================================================================
전항차 출항시각 2022-10-28 19:03:00
입항시각 2022-11-04 14:00:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
1855,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-30 05:00:00,130.7386,34.0765,8.8,112.0,2022-10-29 04:03:50.809631,2022-10-28 19:02:15,2022-10-28 06:53:59,under way using engine,201.921631,243.306716
1856,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-30 05:00:00,130.7658,34.0653,8.8,112.0,2022-10-29 04:13:56.421557,2022-10-28 19:12:26,2022-10-28 07:11:58,under way using engine,204.714057,246.671467
1857,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-30 05:00:00,130.7790,34.0597,8.9,113.0,2022-10-29 04:19:00.252878,2022-10-28 19:17:24,2022-10-28 07:11:58,under way using engine,206.078488,247.929453
1858,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-30 05:00:00,130.7885,34.0557,9.0,113.0,2022-10-29 04:24:02.391251,2022-10-28 19:20:59,2022-10-28 07:11:58,under way using engine,207.058835,248.783864
1859,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-10-30 05:00:00,130.8207,34.0422,9.3,113.0,2022-10-29 04:34:07.913568,2022-10-28 19:32:34,2022-10-28 07:29:17,under way using engine,210.378808,252.150997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2504,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-04 01:00:00,128.8183,35.0773,0.4,271.0,2022-11-04 13:59:33.183462,2022-11-04 04:58:30,2022-11-04 04:56:41,under way using engine,11.976168,227.332255
2505,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-04 01:00:00,128.8181,35.0775,0.0,269.0,2022-11-04 16:25:56.063538,2022-11-04 07:24:49,2022-11-04 07:24:58,moored,11.998579,NaN
2506,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-04 01:00:00,128.8181,35.0774,0.0,269.0,2022-11-04 18:47:16.806349,2022-11-04 09:42:10,2022-11-04 09:44:20,moored,11.987460,NaN
2507,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-04 01:00:00,128.8182,35.0774,0.0,269.0,2022-11-04 18:52:18.020141,2022-11-04 09:51:13,2022-11-04 09:50:22,moored,11.987370,NaN
2508,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-04 01:00:00,128.8182,35.0776,0.0,269.0,2022-11-04 22:04:06.070833,2022-11-04 13:03:43,2022-11-04 12:52:16,moored,12.009608,NaN

====================================================================================================
전항차 출항시각 2022-11-05 17:55:00
입항시각 2022-11-11 06:54:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
2509,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-07 05:00:00,131.2245,33.8430,16.0,112.0,2022-11-06 08:47:49.515772,2022-11-05 23:37:30,2022-11-05 11:44:01,under way using engine,253.713539,407.379358
2510,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-07 05:00:00,131.5847,33.7828,15.4,101.0,2022-11-06 10:44:43.157567,2022-11-06 01:39:40,2022-11-06 01:39:02,under way using engine,286.024124,440.737609
2511,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-07 05:00:00,131.6300,33.7738,15.6,107.0,2022-11-06 10:49:45.613821,2022-11-06 01:48:35,2022-11-06 01:39:02,under way using engine,290.187791,453.268816
2512,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-07 05:00:00,131.7073,33.7502,15.8,122.0,2022-11-06 11:04:54.155885,2022-11-06 02:04:26,2022-11-06 02:03:27,under way using engine,297.729535,471.476089
2513,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-07 05:00:00,131.7099,33.7487,15.8,120.0,2022-11-06 11:09:57.050988,2022-11-06 02:04:58,2022-11-06 02:09:22,under way using engine,298.020028,471.936107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2954,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-11 06:00:00,128.8001,35.0707,3.8,61.0,2022-11-11 06:41:01.091976,2022-11-10 21:36:40,2022-11-10 09:31:15,under way using engine,11.379081,23.461837
2955,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-11 06:00:00,128.8075,35.0743,3.1,62.0,2022-11-11 06:46:03.604314,2022-11-10 21:43:21,2022-11-10 09:31:15,under way using engine,11.692870,29.134746
2956,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-11 06:00:00,128.8118,35.0774,0.1,92.0,2022-11-11 06:56:09.371501,2022-11-10 21:52:59,2022-11-10 09:55:15,under way using engine,12.007054,911.640709
2957,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-11 06:00:00,128.8119,35.0774,0.0,89.0,2022-11-11 07:41:34.983984,2022-11-10 22:37:49,2022-11-10 10:36:22,moored,12.006529,NaN
2958,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-11 06:00:00,128.8118,35.0773,0.0,89.0,2022-11-11 12:59:33.635913,2022-11-11 03:58:10,2022-11-11 03:57:42,moored,11.995953,NaN

====================================================================================================
전항차 출항시각 2022-11-12 09:50:00
입항시각 2022-11-17 23:56:00

,vessel_name,mmsi,imo,CAPACITY,destination,eta,longitude,latitude,speed,heading,timestamp,time_position_data_received,time_voyage_data_received,navigation_info,remained_distance,estimated_fuel_consumption
3021,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-13 05:00:00,130.7776,34.0635,8.2,118.0,2022-11-12 18:50:17.003869,2022-11-12 09:45:46,2022-11-12 09:48:59,under way using engine,205.755989,251.643372
3022,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-13 05:00:00,130.7995,34.0529,8.2,124.0,2022-11-12 18:55:19.038724,2022-11-12 09:54:45,2022-11-12 09:51:27,under way using engine,208.092468,254.500930
3023,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-13 05:00:00,130.8054,34.0494,8.2,118.0,2022-11-12 19:00:22.794884,2022-11-12 09:57:39,2022-11-12 09:51:27,under way using engine,208.757682,255.314499
3024,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-13 05:00:00,130.8142,34.0452,8.2,121.0,2022-11-12 19:05:25.123531,2022-11-12 10:01:17,2022-11-12 09:51:27,under way using engine,209.693344,256.458830
3025,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,JPOSA,2022-11-13 05:00:00,130.8342,34.0323,9.0,137.0,2022-11-12 19:10:28.167013,2022-11-12 10:09:44,2022-11-12 10:06:56,under way using engine,212.006309,254.728318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3447,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-17 10:00:00,128.7836,35.0513,8.8,8.0,2022-11-17 23:08:07.738297,2022-11-17 14:05:24,2022-11-17 02:05:46,under way using engine,9.653543,11.632097
3448,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-17 10:00:00,128.7905,35.0689,5.4,58.0,2022-11-17 23:18:13.383658,2022-11-17 14:13:43,2022-11-17 02:17:55,under way using engine,11.352032,17.423879
3449,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-17 10:00:00,128.8030,35.0730,3.1,69.0,2022-11-17 23:23:16.128957,2022-11-17 14:22:45,2022-11-17 02:17:55,under way using engine,11.594743,28.890245
3450,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-17 10:00:00,128.8074,35.0747,1.8,68.0,2022-11-17 23:33:21.939623,2022-11-17 14:28:44,2022-11-17 02:24:04,under way using engine,11.738003,49.679841
3451,ZHU CHENG XIN ZHOU,413556780,9252993.0,2524,KRBNP,2022-11-17 10:00:00,128.8114,35.0765,0.9,79.0,2022-11-17 23:38:24.666638,2022-11-17 14:36:45,2022-11-17 02:36:06,under way using engine,11.909335,100.511605

====================================================================================================

In [144]:
df.reset_index(inplace=True, drop=True)
df.to_csv("test_ZHU.csv", encoding="utf-8 sig", index=False, header=True)